<!DOCTYPE html>
<html lang="en">

<!-- doccure/patient-profile  30 Nov 2019 04:12:09 GMT -->

<head>
    <meta charset="utf-8">
    <title>Doccure</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="/js/html5shiv.min.js"></script>
			<script src="/js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
                <div id="stylenavbar">
                    <div class="navbar-header">
                        <a id="mobile_btn" href="javascript:void(0);">
                            <span class="bar-icon">
								<span></span>
                            <span></span>
                            <span></span>
                            </span>
                        </a>
                        <a href="/" class="navbar-brand logo">
                            <img src="/img/logo.png" class="img-fluid" alt="Logo">
                        </a>

                    </div>
                    <div class="main-menu-wrapper">
                        <div class="menu-header">
                            <a href="/" class="menu-logo">
                                <img src="/img/logo.png" class="img-fluid" alt="Logo">
                            </a>
                            <a id="menu_close" class="menu-close" href="javascript:void(0);">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                        <ul class="main-nav">
                            <li class="active" style="display: none;">
                                <a href="index" style="font-size: 1.5rem;">Home</a>

                            </li>
                            <li class="mdlist">
                                <a href="/doctors" style="font-size: 1.15rem; margin-top: -5px;font-weight: bold;">Doctors</a>
                                <a href="/doctors" style=" font-size:0.8rem;margin-top: -65px;font-weight: lighter;">Book an appointment</a>
                            </li>

                            <li class="smlist" style="display: none;">
                                <a href="/doctors"><span><i class="fas fa-search" style="margin-right: 15px;"></i></span><b>Doctors</b> - <span>Book an appointment</span></a>
                            </li>
                            <li class="smlist" style="display: none;">
                                <a><span><i class="fas fa-comments" style="margin-right: 15px;"></i></span><b>Consult</b> - <span>Consult with best doctors</span></a>
                            </li>
                            <li class="smlist" style="display: none;">
                                <a><span><i class="fas fa-flask" style="margin-right: 15px;"></i></span><b>Diagonistics</b> - <span>Book tests and checkups</span></a>
                            </li>

                            <li class="mdlist">
                                <a href="#" style="font-size: 1.15rem; margin-top: -5px;font-weight: bold;">Consult</a>
                                <a href="#" style=" font-size:0.8rem;margin-top: -65px;font-weight: lighter;">Consult with best doctors</a>
                            </li>
                            <li class="mdlist">
                                <a href="#" style="font-size: 1.15rem; margin-top: -5px;font-weight: bold;">Diagonistics</a>
                                <a href="#" style=" font-size:0.8rem;margin-top: -65px;font-weight: lighter;">Book tests and checkups</a>
                            </li>




                            <li class="has-submenu" style="display: none;">
                                <a href="#">Pages <i class="fas fa-chevron-down"></i></a>
                                <ul class="submenu">
                                    <li><a href="/voice-call">Voice Call</a></li>
                                    <li><a href="/video-call">Video Call</a></li>
                                    <li><a href="/consult">consult</a></li>
                                    <li><a href="/search">Search Doctors</a></li>
                                    <li><a href="/calendar">Calendar</a></li>
                                    <li><a href="/components">Components</a></li>
                                    <li class="has-submenu">
                                        <a href="invoices">Invoices</a>
                                        <ul class="submenu">
                                            <li><a href="/invoices">Invoices</a></li>
                                            <li><a href="/invoice-view">Invoice View</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/blank-page">Starter Page</a></li>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/register">Register</a></li>
                                    <li><a href="/forgot-password">Forgot Password</a></li>
                                </ul>
                            </li>

                            <%if(locals.user){%>


                                <%}else{%>
                                    <li class="login-link">
                                        <a href="/login">Login / Signup</a>
                                    </li>
                                    <%}%>
                        </ul>
                    </div>
                    <ul class="nav header-navbar-rht">
                        <li class="nav-item contact-item">
                            <div class="header-contact-img">
                                <i class="far fa-hospital"></i>
                            </div>
                            <div class="header-contact-detail">
                                <p class="contact-header">Contact</p>
                                <p class="contact-info-header"> +1 315 369 5943</p>
                            </div>
                        </li>
                        <%if(locals.user){%>

                            <%}else{%>
                                <li class="nav-item">
                                    <a class="nav-link header-login" href="/login">Login </a>
                                </li>
                                <%}%>
                    </ul>
                    <%if(locals.user){%>
                        <ul class="nav user-menu mt-md-3">

                            <!-- Notifications -->
                            <li class="nav-item dropdown noti-dropdown bell">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <i class="far fa-bell" style="color: black; "></i> <span class="badge badge-pill">1</span>
                                </a>
                                <div class="dropdown-menu notifications">
                                    <div class="topnav-dropdown-header">
                                        <span class="notification-title">Notifications</span>
                                        <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                                    </div>
                                    <div class="noti-content">
                                        <ul class="notification-list">
                                            <%if(locals.user.approve == true){%>

                                                <li class="notification-message">
                                                    <a href="#">
                                                        <div class="media">
                                                            <span class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" alt="User Image" src="<%=locals.user.avatar%>">
                                                    </span>
                                                            <div class="media-body">
                                                                <a href="/doctor-terms-and-condition">
                                                                    <p class="noti-details"><span class="noti-title"></span>
                                                                        <%=locals.user.name%> <span class="noti-title"> your documents has been verified.</span>
                                                                    </p>
                                                                </a>
                                                                <p class="noti-time"><span class="notification-time"></span></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="notification-message">
                                                    <a href="#">
                                                        <div class="media">
                                                            <span class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" alt="User Image" src="<%=locals.user.avatar%>">
                                                    </span>
                                                            <div class="media-body">
                                                                <a href="/doctor-terms-and-condition">
                                                                    <p class="noti-details"><span class="noti-title"></span>
                                                                        <%=locals.user.name%> <span class="noti-title"> your documents has been verified.</span>
                                                                    </p>
                                                                </a>
                                                                <p class="noti-time"><span class="notification-time"></span></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="notification-message">
                                                    <a href="#">
                                                        <div class="media">
                                                            <span class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" alt="User Image" src="<%=locals.user.avatar%>">
                                                    </span>
                                                            <div class="media-body">
                                                                <a href="/doctor-terms-and-condition">
                                                                    <p class="noti-details"><span class="noti-title"></span>
                                                                        <%=locals.user.name%> <span class="noti-title"> your documents has been verified.</span>
                                                                    </p>
                                                                </a>
                                                                <p class="noti-time"><span class="notification-time"></span></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <%}%>
                                                    <!-- <li class="notification-message">
                                        <a href="#">
                                            <div class="media">
                                                <span class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" alt="User Image" src="//img/patients/patient1.jpg">
                                                    </span>
                                                <div class="media-body">
                                                    <p class="noti-details"><span class="noti-title">Charlene Reed</span> has booked her appointment to <span class="noti-title">Dr. Ruby Perrin</span></p>
                                                    <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="notification-message">
                                        <a href="#">
                                            <div class="media">
                                                <span class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" alt="User Image" src="//img/patients/patient2.jpg">
                                                    </span>
                                                <div class="media-body">
                                                    <p class="noti-details"><span class="noti-title">Travis Trimble</span> sent a amount of $215 for his <span class="noti-title">appointment</span></p>
                                                    <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="notification-message">
                                        <a href="#">
                                            <div class="media">
                                                <span class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" alt="User Image" src="//img/patients/patient3.jpg">
                                                    </span>
                                                <div class="media-body">
                                                    <p class="noti-details"><span class="noti-title">Carl Kelly</span> send a message <span class="noti-title"> to his doctor</span></p>
                                                    <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li> -->
                                        </ul>
                                    </div>
                                    <div class="topnav-dropdown-footer">
                                        <a href="#">View all Notifications</a>
                                    </div>
                                </div>
                            </li>
                            <!-- /Notifications -->

                            <!-- User Menu -->
                            <%if(locals.user.type == 'Doctor'){%>
                                <li class="nav-item dropdown has-arrow">
                                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                        <span class="user-img"><img class="rounded-circle" src="<%=locals.user.avatar%>" width="31" alt="Ryan Taylor"></span>
                                    </a>
                                    <div class="dropdown-menu profile-drop">
                                        <div class="user-header">
                                            <div class="avatar avatar-sm">
                                                <img src="<%=locals.user.avatar%>" onerror='this.src="/img/doctors/doctor-01.jpg"' alt="User Image" class="avatar-img rounded-circle">
                                            </div>
                                            <div class="user-text">
                                                <h6>Dr.
                                                    <%=locals.user.name%>
                                                </h6>
                                                <p class="text-muted mb-0">Doctor</p>
                                            </div>
                                        </div>
                                        <a class="dropdown-item" href="/doctor-profile-settings">My Profile</a>
                                        <a class="dropdown-item" href="/doctor-dashboard">My Dashboard</a>
                                        <a class="dropdown-item" href="/chat">Messages</a>
                                        <a class="dropdown-item" href="/schedule-timings">Schedule Timing</a>
                                        <a class="dropdown-item" href="/appointments">Appointments</a>
                                        <a class="dropdown-item" href="/my-patients">My Patients</a>
                                        <a class="dropdown-item" href="/invoices">Invoices</a>
                                        <a class="dropdown-item" href="/review">Review</a>


                                        <a class="dropdown-item" href="/settings">Settings</a>
                                        <a class="dropdown-item" href="/user/logout">Logout</a>
                                    </div>
                                </li>
                                <%}%>
                                    <%if(locals.user.type == 'Patient'){%>
                                        <li class="nav-item dropdown has-arrow">
                                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                                <span class="user-img"><img class="rounded-circle" src="<%=locals.user.avatar%> " onerror='this.src="/img/doctors/doctor-01.jpg"' width="31" alt="Ryan Taylor"></span>
                                            </a>
                                            <div class="dropdown-menu profile-drop">
                                                <div class="user-header">
                                                    <div class="avatar avatar-sm">
                                                        <img src="<%=locals.user.avatar%>" alt="User Image" onerror='this.src="/img/doctors/doctor-01.jpg"' class="avatar-img rounded-circle">
                                                    </div>
                                                    <div class="user-text">
                                                        <h6>
                                                            <%=locals.user.name%>
                                                        </h6>
                                                        <p class="text-muted mb-0">Patient</p>
                                                    </div>
                                                </div>

                                                <a class="dropdown-item" href="/profile-settings">My Profile</a>
                                                <a class="dropdown-item" href="/patient-dashboard">My Dashboard</a>
                                                <a class="dropdown-item" href="/prescription">My Prescriptions</a>
                                                <a class="dropdown-item" href="/medical-records">My Medical records</a>
                                                <a class="dropdown-item" href="/my-billing">My Billings</a>
                                                <a class="dropdown-item" href="/favourites">My Favourites</a>
                                                <a class="dropdown-item" href="/other-patients">Other Patient Appointment</a>
                                                <a class="dropdown-item" href="/chat">Messages</a>

                                                <a class="dropdown-item" href="/settings">Settings</a>
                                                <a class="dropdown-item" href="/user/logout">Logout</a>
                                            </div>
                                        </li>
                                        <%}%>

                                            <!-- /User Menu -->

                        </ul>
                        <%}%>

                            <!-- <%if(locals.user){%>
                    <%if(locals.user.type == 'Doctor'){%>
                        <div class="hideinphone" style="margin-left: 25px;">
                            <ul class="main-nav amain-nav">

                                        <li class="has-submenu ahas-submenu">
                                            <a href="#">
                                                <span class="user-img">
                                <img class="rounded-circle" src="<%=locals.user.avatar%>" onerror=this.src="/img/profile.png" width="31" alt="Ryan Taylor">
                            </span>
                                        <i class="fas fa-chevron-down"></i>
                                    </a>

                                    <ul class="submenu asubmenun phoneul">
                                        <li><a href="/doctor-dashboard">My Dashboard</a></li>
                                        <li><a href="/appointments">Appointments</a></li>
                                        <li><a href="/schedule-timings">Schedule Timing</a></li>
                                        <li><a href="/chat-doctor">Chat</a></li>
                                        
                                        <li><a href="/doctor-profile-settings">Profile Settings</a></li>
                                        
                                        <li><a href="/user/logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    <%}%>
                <%if(locals.user.type == 'Patient'){%>
                    <div class="main-menu-wrapper hideinphone" style="margin-left: 25px; display: none;">
                        <ul class="main-nav amain-nav">
                            <li class="has-submenu ahas-submenu">
                                <a href="#">
                                    <span class="user-img">
                        <img class="rounded-circle" src="<%=locals.user.avatar%>" onerror=this.src="//img/profile.png" width="31" alt="Ryan Taylor">
                    </span>
                                    <i class="fas fa-chevron-down"></i>
                                </a>

                                <ul class="submenu asubmenu">
                                    <li><a href="/search">Search Doctor</a></li>
                                    <li><a href="/booking">Booking</a></li>
                                    <li><a href="/checkout">Checkout</a></li>
                                    <li><a href="/booking-success">Booking Success</a></li>
                                    <li><a href="/patient-dashboard">My Dashboard</a></li>
                                    <li><a href="/favourites">My Favourites</a></li>
                                    <li><a href="/chat">Messages</a></li>
                                    <li><a href="/profile-settings">Profile Settings</a></li>
                                    <li><a href="/change-password">Change Password</a></li>
                                    <li><a href="/user/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <%}%>
                <%}%> -->
                </div>
            </nav>
        </header>
        <div class="breadcrumb-bar setting-bread" style="margin-top: 20px;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Profile Settings</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Profile Settings</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <!-- Profile Sidebar -->

                    <!-- /Profile Sidebar -->

                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="card">
                            <div class="card-body">


                                <form action="/admin/updatetest" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="id" value="<%=test._id%>">
                                    <div class="row form-row">
                                       
                                        <div class="col-12 col-md-3">
                                            <div class="form-group">
                                                <label> Test Name</label>
                                                <input type="text" placeholder="Enter The Test Name" name="testname" class="form-control" value="<%=test.testname %> ">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="form-group">
                                                <label> Change Price</label>
                                                <input type="number" placeholder="Enter The Test Price" name="testprice" class="form-control" value="<%=test.testprice%>">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label> Test Description</label>
                                                <textarea placeholder="Enter The Test Description" name="testdescription"  class="form-control" style="height: 70px !important;"><%=test.testdescription%></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label> Fasting required</label></br>
                                                <%if(test.testfast == 'no'){%>
                                                    <input type="checkbox" placeholder="Yes" name="testfast" class="" value="yes" style="margin-right:15px">&nbsp;&nbsp;Yes</br>
                                                    <input type="checkbox" placeholder="No" name="testfast" class="" value="no" checked style="margin-right:15px">&nbsp;&nbsp;No
                                                    <%}else{%>
                                                        <input type="checkbox" placeholder="Yes" name="testfast" class="" checked value="yes" style="margin-right:15px">&nbsp;&nbsp;Yes</br>
                                                        <input type="checkbox" placeholder="No" name="testfast" class="" value="no" style="margin-right:15px">&nbsp;&nbsp;No
                                                        <%}%>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label> Sample type</label>
                                                <input type="text" placeholder="Enter the sample type" value="<%=test.testsample%>" name="testsample" class="form-control">
                                            </div>
                                        </div>







                                        <div class="submit-section" style="margin-top: 30px;">
                                            <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                                        </div>
                                </form>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Header -->

            <!-- Breadcrumb -->

            <!-- /Breadcrumb -->

            <!-- Page Content -->

            <!-- /Page Content -->

            <!-- Footer -->
            <%-include('footer')%>
            <!-- /Footer -->

        </div>
        <!-- /Main Wrapper -->

        <!-- Add Medical Records Modal -->

        <!-- /Add Medical Records Modal -->

        <!-- jQuery -->
        <script src="/js/jquery.min.js"></script>

        <!-- Bootstrap Core JS -->
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <!-- Datetimepicker JS -->
        <script src="/js/moment.min.js"></script>
        <script src="/js/bootstrap-datetimepicker.min.js"></script>

        <!-- Sticky Sidebar JS -->
        <script src="/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
        <script src="/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

        <!-- Custom JS -->
        <script src="/js/script.js"></script>
        <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        $('#blah').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]); // convert to base64 string
                }
            }

            $("#imageUpload").change(function() {
                readURL(this);
            });
        </script>
        <script>
            <%if(flash.success && flash.success.length>0){%>
            new Noty({
                theme: 'metroui ',
                text: '<%=flash.success%>',
                type: 'success',
                layout: 'topRight',
                timeout: 3000
            }).show();
            <%}%>
            <%if(flash.error && flash.error.length>0){%>
            new Noty({
                theme: 'metroui',
                text: '<%=flash.error%>',
                type: 'error',
                layout: 'topRight',
                timeout: 3000
            }).show();
            <%}%>
        </script>

</body>

<!-- doccure/patient-profile  30 Nov 2019 04:12:13 GMT -->

</html>