<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/index by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:20 GMT -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Doccure - Dashboard</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="/css/feathericon.min.css">

    <link rel="stylesheet" href="/plugins/morris/morris.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/style1.css">

    <!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
     <%- include('a-header')%>
        <!-- /Header -->

        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Main</span>
                        </li>
                        <li class="active">
                            <a href="/admin/index"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="/admin/application-request"><i class="fe fe-layout"></i> <span>Application Request</span></a>
                        </li>
                        <li>
                            <a href="/admin/lab-request"><i class="fe fe-layout"></i> <span>Diagonistic/Lab Request</span></a>
                        </li>
                        <li>
                            <a href="/admin/account-change"><i class="fe fe-layout"></i> <span>Account Change Request</span></a>
                        </li>
                        <li>
                            <a href="/admin/premium-doctor"><i class="fe fe-user-plus"></i> <span>Premium Doctors</span></a>
                        </li>
                        <li>
                            <a href="/admin/appointment-list"><i class="fe fe-layout"></i> <span>Appointments</span></a>
                        </li>
                        <li>
                            <a href="/admin/specialities"><i class="fe fe-users"></i> <span>Specialities</span></a>
                        </li>
                        <li>
                            <a href="/admin/a-test"><i class="fe fe-star-o"></i> <span>Test</span></a>
                        </li>
                        <li>
                            <a href="/admin/a-consult"><i class="fe fe-star-o"></i> <span>Consult</span></a>
                        </li>
                        <li>
                            <a href="/admin/doctor-list"><i class="fe fe-user-plus"></i> <span>Doctors</span></a>
                        </li>
                        <li>
                            <a href="/admin/patient-list"><i class="fe fe-user"></i> <span>Patients</span></a>
                        </li>
                        <li>
                            <a href="/admin/staff-list"><i class="fe fe-user"></i> <span>Medical Staffs</span></a>
                        </li>
                        <li>
                            <a href="/admin/reviews"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
                        </li>

                        <li>
                            <a href="/admin/transactions-list"><i class="fe fe-activity"></i> <span>Transactions</span></a>
                        </li>
                        <li>
                            <a href="/admin/settings"><i class="fe fe-vector"></i> <span>Settings</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fe fe-document"></i> <span> Reports</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/admin/invoice-report">Invoice Reports</a></li>
                            </ul>
                        </li>
                        <li class="menu-title">
                            <span>Pages</span>
                        </li>
                        <li>
                            <a href="/admin/profile"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fe fe-document"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/admin/login"> Login </a></li>
                                <li><a href="/admin/register"> Register </a></li>
                                <li><a href="/admin/forgot-password"> Forgot Password </a></li>
                                <li><a href="/admin/lock-screen"> Lock Screen </a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fe fe-warning"></i> <span> Error Pages </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/admin/error-404">404 Error </a></li>
                                <li><a href="/admin/error-500">500 Error </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/admin/blank-page"><i class="fe fe-file"></i> <span>Blank Page</span></a>
                        </li>
                        <li class="menu-title">
                            <span>UI Interface</span>
                        </li>
                        <li>
                            <a href="/admin/components"><i class="fe fe-vector"></i> <span>Components</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fe fe-layout"></i> <span> Forms </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/admin/form-basic-inputs">Basic Inputs </a></li>
                                <li><a href="/admin/form-input-groups">Input Groups </a></li>
                                <li><a href="/admin/form-horizontal">Horizontal Form </a></li>
                                <li><a href="/admin/form-vertical"> Vertical Form </a></li>
                                <li><a href="/admin/form-mask"> Form Mask </a></li>
                                <li><a href="/admin/form-validation"> Form Validation </a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fe fe-table"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/admin/tables-basic">Basic Tables </a></li>
                                <li><a href="/admin/data-tables">Data Table </a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"><i class="fe fe-code"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li class="submenu">
                                    <a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
                                    <ul style="display: none;">
                                        <li><a href="javascript:void(0);"><span>Level 2</span></a></li>
                                        <li class="submenu">
                                            <a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
                                            <ul style="display: none;">
                                                <li><a href="javascript:void(0);">Level 3</a></li>
                                                <li><a href="javascript:void(0);">Level 3</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"> <span>Level 2</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"> <span>Level 1</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Sidebar -->

        <!-- Page Wrapper -->
        <div class="page-wrapper">

            <div class="content container-fluid">

                <!-- Page Header -->
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">Welcome Admin!</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->

                <div class="row">
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="dash-widget-icon text-primary border-primary">
											<i class="fe fe-users"></i>
										</span>
                                    <div class="dash-count">
                                        <h3>
                                            <%=doctors.length%>
                                        </h3>
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6 class="text-muted">Doctors</h6>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-primary w-50"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="dash-widget-icon text-success">
											<i class="fe fe-credit-card"></i>
										</span>
                                    <div class="dash-count">
                                        <h3>
                                            <%=patients.length%>
                                        </h3>
                                    </div>
                                </div>
                                <div class="dash-widget-info">

                                    <h6 class="text-muted">Patients</h6>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-success w-50"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="dash-widget-icon text-danger border-danger">
											<i class="fe fe-money"></i>
										</span>
                                    <div class="dash-count">
                                        <h3><%=staff.count%></h3>
                                    </div>
                                </div>
                                <div class="dash-widget-info">

                                    <h6 class="text-muted">Medical Staff</h6>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-danger w-50"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <%var counts=0;%>
                        <%for(u of patients){%>
                            <%counts = counts + u.doctors.length;%>
                        <%}%>
                        <div class="card">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="dash-widget-icon text-warning border-warning">
											<i class="fe fe-folder"></i>
										</span>
                                    <div class="dash-count">
                                        <h3><%=counts%></h3>
                                    </div>
                                </div>
                                <div class="dash-widget-info">

                                    <h6 class="text-muted">Appointments</h6>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-warning w-50"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-12 col-lg-6">

                    
                        <div class="card card-chart">
                            <div class="card-header">
                                <h4 class="card-title">Revenue</h4>
                            </div>
                            <div class="card-body">
                                <div id="morrisArea"></div>
                            </div>
                        </div>
                      

                    </div>
                    <div class="col-md-12 col-lg-6">

                       
                        <div class="card card-chart">
                            <div class="card-header">
                                <h4 class="card-title">Status</h4>
                            </div>
                            <div class="card-body">
                                <div id="morrisLine"></div>
                            </div>
                        </div>
                       

                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-6 d-flex">

                        <!-- Recent Orders -->
                        <div class="card card-table flex-fill">
                            <div class="card-header">
                                <h4 class="card-title">Doctors List</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th>Doctor Name</th>
                                                <th>Speciality</th>
                                              
                                                <th>Reviews</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(doctor of doctors) {%>
                                                <tr>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="/admin/profile/?id=<%=doctor._id  %>" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="<%=doctor.avatar  %>" onerror='this.src="<%=assetPath('img/profile.png')%>"' alt="User Image"></a>
                                                            <a href="/admin/profile/?id=<%=doctor._id  %>">Dr.<%=doctor.name  %> </a>
                                                        </h2>
                                                    </td>
                                                    <td>Dental</td>
                                                   
                                                    <td>
                                                        <i class="fe fe-star text-warning"></i>
                                                        <i class="fe fe-star text-warning"></i>
                                                        <i class="fe fe-star text-warning"></i>
                                                        <i class="fe fe-star text-warning"></i>
                                                        <i class="fe fe-star-o text-secondary"></i>
                                                    </td>
                                                </tr>
                                                <% } %>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /Recent Orders -->

                    </div>
                    <div class="col-md-6 d-flex">

                        <!-- Feed Activity -->
                        <div class="card  card-table flex-fill">
                            <div class="card-header">
                                <h4 class="card-title">Patients List</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th>Patient Name</th>
                                                <th>Phone</th>
                                                <th>Member Since</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(patient of patients) {%>
                                                <tr>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="/admin/profile/?id=<%=patient._id  %>" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="<%=patient.avatar  %> " onerror='this.src="<%=assetPath('img/profile.png')%>"' alt="User Image"></a>
                                                            <a href="/admin/profile/?id=<%=patient._id  %>">
                                                                <%=patient.name%>
                                                            </a>
                                                        </h2>
                                                    </td>
                                                    <td>
                                                        <%=patient.phone%>
                                                    </td>
                                                   
                                                    <td class="text-right">
                                                        <%=patient.createdAt.toDateString()%>
                                                    </td>
                                                </tr>
                                                <% } %>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /Feed Activity -->

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <!-- Recent Orders -->
                        <div class="card card-table">
                            <div class="card-header">
                                <h4 class="card-title">Appointment List</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th>Doctor Name</th>
                                                <th>Speciality</th>
                                                <th>Patient Name</th>
                                                <th>Apointment Time</th>
                                                <th>Status</th>
                                                <th class="text-right">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%var i1 = 0%>
                                            <%for(u2 of patients1){%>
                                                <%for(u1 of u2.doctors){%>
                                            <tr>
                                               
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href="/admin/profile" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="<%u1.davatar%>" onerror='this.src="<%=assetPath('img/profile.png')%>"' alt="User Image"></a>
                                                        <a href="/admin/profile">Dr. <%=u1.dname%></a>
                                                    </h2>
                                                </td>
                                                <td><%=u1.ddept%></td>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href="/admin/profile" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="<%=u2.avatar%>" onerror='this.src="<%=assetPath('img/profile.png')%>"' alt="User Image"></a>
                                                        <a href="/admin/profile"><%=u2.name%> </a>
                                                    </h2>
                                                </td>
                                                <td><%=u1.date%> <span class="text-primary d-block"><%=u1.time%></span></td>
                                                <td>
                                                    <div class="status-toggle">
                                                        <input type="checkbox" id="status_1" class="check" checked>
                                                        <label for="status_1" class="checktoggle">checkbox</label>
                                                    </div>
                                                </td>
                                                <td class="text-right">
                                                    <%=u1.fee%>
                                                </td>
                                            </tr>
                                            <%i1++%>
                                            <%}%>
                                            <%}%>
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /Recent Orders -->

                    </div>
                </div>

            </div>
        </div>
        <!-- /Page Wrapper -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Slimscroll JS -->
    <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="/plugins/raphael/raphael.min.js"></script>
    <script src="/plugins/morris/morris.min.js"></script>
    <script src="/js/chart.morris.js"></script>

    <!-- Custom JS -->
    <script src="/js/script1.js"></script>

</body>

<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/index by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:34 GMT -->

</html>