<!DOCTYPE html>
<html lang="en">

<!-- AarogyaHub/  30 Nov 2019 04:11:34 GMT -->

<head>
    <link rel="stylesheet" href="<%=assetPath('css/bootstrap.min.css')%>">

	<link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/fontawesome.min.css')%>">
    <link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/all.min.css')%>">
    
	<link rel="stylesheet" href="<%=assetPath('css/style1.css')%>">
	<link rel="stylesheet" href="<%=assetPath('css/style.css')%>">
</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <%-include('header');%>
        <!-- Header -->

        <!-- /Header -->
      
        <section class="laptop-sugar" style="margin-top: 50px;padding-left: 50px;">
           
            <div class="col-md-12 lipid profile" style="margin-bottom: 20px;">
                <div class="col-md-12">
                    
                   
                    <div class="col-md-12" style="min-height: 600px;height:auto; display:inline-flex;margin-top: 20px;position:relative;opacity: 1;">
                        <div class="col-md-7" style="display: inline-flex;width: 100%;margin-bottom: 50px;backdrop-filter: blur(5px);">
                       
                        <div class="col-md-12" style="position: absolute;">
                            <div class="" style="padding: 5px 10px;margin-bottom: 20px;">
                                <span style="font-size:2rem;font-weight: bolder;color:#575557;">All Labs</span>
                            </div>
                            <%for(let u of labs){%>                          
                            <div style="width: 100%;">
                             <label style="width: 100%;position: relative;">
                                 <div id="lab_card" style="width:100%;">
                                     <div class="dis20">
                                         <img src="<%=u.avatar%>">
                                    </div>
                                    <div class="dis75" style="width:50% !important">
                                        <h2 class="dish2"><%=u.name%></h2>
                                        <p class="disp2" style="margin-top:10px !important;"><%=u.contacts.address%></p>
                                        <p class="disp2"><%=u.contacts.city%></p>
                                    </div>
                                    <div class="dis5" style="width: 30% !important;">
                                        <p style="font-weight:bold"><%=u.tests.length%> Tests Available</p>
                                        <a href="/diagonistic/lab-profile/?id=<%=u._id%>" class="btn btn-primary" style="border-radius: 3px !important;width:110px !important;padding:10px 5px !important;min-width: none !important;margin-top: 0px;font-weight: bolder;color:white">View</a> 
                                    </div>
                                   
                                </div>
                            </label>
                        </br>

                            </div>
                            <%}%>   
                        </div>
                    </div>
                    <div class="col-md-5" style="padding-left: 100px;">
                      
                  
                        <div id="select_lab1" style="margin-top: 50px;">
                            <h2 style="color: grey;border-bottom: 1px solid grey;font-size: 1rem;padding-bottom: 10px;">Order Summary</h2>
                            <p style="margin-top: 15px;font-size: 1rem;font-weight: 700;border-bottom: 1px dashed grey;padding-bottom: 10px;" >
                                <i class="fas fa-shopping-cart" style="margin-right: 15px;"></i>
                                <span id="itemcount">
                                <%if(user.cart.tests.length == 1){%>
                                
                                <%=user.cart.tests.length%> Item in Cart.
                                <%}else{%>
                                    <%=user.cart.tests.length%> Items in Cart.
                                <%}%>
                            </span>
                            </p>
                            <%var total = 0;%>
                            <div style="border-bottom: 1px dashed grey;padding-bottom: 10px;" id="cart-box">
                                <%var cns = 0%>
                            <%for(u3 of user.cart.tests){%>
                                <div style="display:inline-flex;width: 100%;" id="cart_item">
                                    <span style="width: 50%;font-weight: bold;font-size: 1.2rem;"><%=u3.testname%></span>
                                    <span style="width: 50%;text-align: right;font-weight: bold;font-size: 1.2rem;" >Rs <%=u3.testprice%></span>
                                    <%total = total + parseInt(u3.testprice)%>
                                </div>
                            <%}%>
                        </div>
                            <div style="display:inline-flex;width: 100%;padding-top: 10px;">
                                <span style="width: 50%;font-weight: bold;font-size: 1.2rem;">Total</span>
                                <span style="width: 50%;text-align: right;font-weight: bold;font-size: 1.2rem;" id="totalp" data-total="<%=total%>">Rs <%=total%></span>
                               
                            </div>
                            <a class="btn btn-primary" href="/diagonistic/cart" style="width: 100%;margin-top:50px;background-color: grey !important;padding:10px !important;color: white;font-weight: bolder;">View Cart</a>
                        </div>

                      
                     
                        
                    </div>
                  

            </div>
          

            <!-- Footer -->
           
                <!-- /Footer -->

    </div>
    </section>
   
    <!-- /Main Wrapper -->
  
    
    <script src="<%=assetPath('js/jquery.min.js')%>"></script>
    <script src="<%=assetPath('js/popper.min.js')%>"></script>

    <script src="<%=assetPath('js/bootstrap.min.js')%>"></script>
   

    <script src="<%=assetPath('plugins/theia-sticky-sidebar/ResizeSensor.js')%>"></script>
    <script src="<%=assetPath('plugins/theia-sticky-sidebar/theia-sticky-sidebar.js')%>"></script>
    <script src="<%=assetPath('js/script.js')%>"></script>
   


    

    <!-- jQuery -->
  



</body>

<!-- AarogyaHub/  30 Nov 2019 04:11:53 GMT -->

</html>