<!DOCTYPE html>
<html lang="en">

<!-- doccure/appointments  30 Nov 2019 04:12:09 GMT -->

<head>
    <meta charset="utf-8">
    <title>Doccure</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        
        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar paddingt" >
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Appointments</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Appointments</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar lscreen">

                        <!-- Profile Sidebar -->
                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content">
                                <div class="profile-info-widget">
                                    <a href="#" class="booking-doc-img">
										<img src="<%=locals.user.avatar%>"onerror='this.src="/img/profile.png"' alt="User Image">
                                    </a>
                                    <div class="profile-det-info">
                                        <h3>Dr.
                                            <%=locals.user.name%>
                                        </h3>

                                        <div class="patient-details">
                                            <h5 class="mb-0">
                                                <%=locals.user.department%>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-widget">
                                <nav class="dashboard-menu">
                                    <ul>
                                        <li>
                                            <a href="/doctor-dashboard">
                                                <i class="fas fa-columns"></i>
                                                <span>Dashboard</span>
                                            </a>
                                        </li>
                                        <li class="active">
                                            <a href="/appointments">
                                                <i class="fas fa-calendar-check"></i>
                                                <span>Appointments</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/my-patients">
                                                <i class="fas fa-user-injured"></i>
                                                <span>My Patients</span>
                                            </a>
                                        </li>

                                      
                                        <li>
                                            <a href="/invoices">
                                                <i class="fas fa-file-invoice"></i>
                                                <span>Invoices</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/reviews">
                                                <i class="fas fa-star"></i>
                                                <span>Reviews</span>
                                            </a>
                                        </li>


                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- /Profile Sidebar -->

                    </div>

                    <div class="col-md-7 col-lg-8 col-xl-9">
                       
                       <div class="appointments">
                        <%if(allpatients.patients == ''){%>
                        <h2 class="text-center" style="margin-top: 100px;"><span style="margin-right: 20px;"><i class="fas fa-folder-open"></i></span><span>No Appointment Available !</span></h2>
                        <%}else{%>
                        <%for(patient of allpatients.patients){%>
                            <div class="appointment-list">
                                <div class="profile-info-widget">
                                    <a href="/patient-profile/?pid=<%=patient.pid._id%>&doctorid=<%=locals.user.id%>" class="booking-doc-img" style="margin-left: auto;margin-right:auto;">
                                        <%if(patient.pid){%>
                                            <img class="avatar-img rounded-circle" src="<%=patient.pid.avatar%>" onerror="this.src='/img/profile.png'" alt="User Image">
                                            <%}else{%>
                                            <img class="avatar-img rounded-circle" src="/img/profile.png" alt="User Image">
                                            <%}%>
                                    </a>
                                    <div class="profile-det-info">
                                        <h3><a href="/patient-profile/?pid=<%=patient.pid._id%>&doctorid=<%=locals.user.id%>"><%=patient.name%></a></h3>
                                        <div class="patient-details">
                                            <%var str2 = patient.date.split('-');%>
                                                                    <%var str = str2[2]+'-'+str2[1]+'-'+str2[0];%>
                                                        <%var str1 = formatDate(str);%>
                                                        <%function formatDate(d){%>
                                                            <%var date = new Date(d);

                                                            if ( isNaN( date .getTime() ) ) 
                                                            {
                                                               return d;
                                                            }
                                                            else
                                                           {
                                                             
                                                             var month = new Array();
                                                             month[0] = "Jan";
                                                             month[1] = "Feb";
                                                             month[2] = "Mar";
                                                             month[3] = "Apr";
                                                             month[4] = "May";
                                                             month[5] = "Jun";
                                                             month[6] = "Jul";
                                                             month[7] = "Aug";
                                                             month[8] = "Sept";
                                                             month[9] = "Oct";
                                                             month[10] = "Nov";
                                                             month[11] = "Dec";
                                                   
                                                             day = date.getDate();
                                                             
                                                             if(day < 10)
                                                             {
                                                                day = "0"+day;
                                                             }
                                                             
                                                             return    day  + " " +month[date.getMonth()] + " " + date.getFullYear();
                                                             }
                                                               %>
                                                        <%}%>
                                            <h5><i class="far fa-clock"></i> <%=str1%>, <%=patient.time%></h5>
                                            <h5><i class="fas fa-map-marker-alt"></i> <%=patient.day%></h5>
                                            <h5><i class="fas fa-envelope"></i> <%=patient.email%></h5>
                                            <h5 class="mb-0"><i class="fas fa-phone"></i>+91 <%=patient.phone%></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="appointment-action">
                                    <%if(patient.cancel == true){%>
                                        <a href="#" class="btn btn-sm bg-danger" style="color: white;">

                                            <i class="fas fa-print"></i> Cancelled
                                        </a>
                                      <%}else{%>
                                     
                                        <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                            <i class="fas fa-check"></i> Accepted
                                        </a>
                                        <%}%>
                                </div>
                            </div>
                            <%}%>
                        <%}%>
                        

                          

                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- Appointment Details Modal -->
    <div class="modal fade custom-modal" id="appt_details">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Appointment Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
                </div>
                <div class="modal-body">
                    <ul class="info-details">
                        <li>
                            <div class="details-header">
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="title">#APT0001</span>
                                        <span class="text">21 Oct 2019 10:00 AM</span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-right">
                                            <button type="button" class="btn bg-success-light btn-sm" id="topup_status">Completed</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="title">Status:</span>
                            <span class="text">Completed</span>
                        </li>
                        <li>
                            <span class="title">Confirm Date:</span>
                            <span class="text">29 Jun 2019</span>
                        </li>
                        <li>
                            <span class="title">Paid Amount</span>
                            <span class="text">$450</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /Appointment Details Modal -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Custom JS -->
    <script src="js/script.js"></script>

</body>

<!-- doccure/appointments  30 Nov 2019 04:12:09 GMT -->

</html>