<!DOCTYPE html>
<html lang="en">

<!-- doccure/booking  30 Nov 2019 04:12:16 GMT -->


<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
   
        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Booking</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Booking</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
<div class="content">
<div class="container">
<form action="/user/book-appointment" method="POST">
<input type="hidden" name="doctorid" value="<%=doctor._id%>">
<div class="row">
<div class="col-12">

<div class="card">
<div class="card-body">
<div class="booking-doc-info">
<a href="/doctor-profile/?id=<%=doctor._id%>" class="booking-doc-img">
<img src="<%=doctor.avatar%>" alt="User Image">
</a>
<div class="booking-info">
<h4>
<a href="/doctor-profile/?id=<%=doctor._id%>">
<%=doctor.name%>
</a>
</h4>
<p class="doc-department">
<% if(doctor.department== "General Physician"){ %>
<img src="<%=assetPath('img/specialities/physical.jfif')%>" class="img-fluid" alt="Speciality">
<% } %>

<% if(doctor.department== "Ophthalmology"){ %>
<img src="<%=assetPath('img/specialities/eye.png')%>" class="img-fluid" alt="Speciality">
<% } %>
<% if(doctor.department== "Dermatology"){ %>
<img src="<%=assetPath('img/specialities/hair.jpg')%>" class="img-fluid" alt="Speciality">
<% } %>
<% if(doctor.department== "Paediatrics"){ %>
<img src="<%=assetPath('img/specialities/child.jpg')%>" class="img-fluid" alt="Speciality">
<% } %>
<% if(doctor.department== "Urology"){ %>
<img src="<%=assetPath('img/specialities/brain.png')%>" class="img-fluid" alt="Speciality">
<% } %>
<% if(doctor.department== "Neurology"){ %>
<img src="<%=assetPath('img/specialities/specialities-03.png')%>" class="img-fluid" alt="Speciality">
<% } %>
<% if(doctor.department== "Orthopedic"){ %>
<img src="<%=assetPath('img/specialities/specialities.png')%>" class="img-fluid" alt="Speciality">
<% } %>
<% if(doctor.department== "Cardiologist"){ %>
<img src="<%=assetPath('img/specialities/heart.jpg')%>" class="img-fluid" alt="Speciality">
<% } %>
<% if(doctor.department== "Dentist"){ %>
<img src="<%=assetPath('img/specialities/teeth.png')%>" class="img-fluid" alt="Speciality">
<% } %>
<%=doctor.department%>

</p>
<%var sum=0,avg,cnt=doctor.reviews.length;%>
                                                        <%for(review of doctor.reviews){%>
                                                            <%sum+=review.rating;%>
                                                        <%}%>
                                                        <%avg=sum/cnt;%>
                                                        <div class="rating">
                                                            <%if(avg>=1){%>
                                                            <i class="fas fa-star filled"></i>
                                                            <%}else{%>
                                                                <i class="fas fa-star"></i>
                                                            <%}%>
                                                            <%if(avg>=2){%>
                                                            <i class="fas fa-star filled"></i>
                                                            <%}else{%>
                                                                <i class="fas fa-star"></i>
                                                            <%}%>
                                                            <%if(avg>=3){%>
                                                            <i class="fas fa-star filled"></i>
                                                            <%}else{%>
                                                                <i class="fas fa-star"></i>
                                                            <%}%>
                                                            <%if(avg>=4){%>
                                                            <i class="fas fa-star filled"></i>
                                                            <%}else{%>
                                                                <i class="fas fa-star"></i>
                                                            <%}%>
                                                            <%if(avg>=5){%>
                                                            <i class="fas fa-star filled"></i>
                                                            <%}else{%>
                                                                <i class="fas fa-star"></i>
                                                            <%}%>
                                                            <span class="d-inline-block average-rating">(<%=doctor.reviews.length%>)</span>
                                                        </div>
<p class="text-muted mb-0"><i class="far fa-money-bill-alt"></i>&nbsp;&nbsp; RS
<%=doctor.booking_fee%>
</p>


<p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i>
<%=doctor.contacts.city%> &nbsp;
<%=doctor.contacts.state%>
</p>
</div>
</div>
</div>
</div>

<!-- Schedule Widget -->
<div class="card booking-schedule schedule-widget">

<!-- Schedule Header -->
<div class="schedule-header">
<div class="row">
<div class=" col-sm-12 col-md-12">

<!-- Day Slot -->
<div class="day-slot">
<ul id="md">
<li class="left-arrow">
<a data-count='0' onclick="prevSlide()" id="prevslide">
<i class="fa fa-chevron-left"></i>
</a>
</li>
<% var today = new Date();%>
<%var k=0%>
<%for(var i=0;i<3;i++){%>
<%var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();
var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
var dayOfWeek = weekday[today.getDay()];

var res = today.setTime(today.getTime() + (1 * 24 * 60 * 60 * 1000));
var date = new Date(res);
today=date;%>

<li id="li0">
<%if(k==0){%>
<span>Today</span>
<span class="slot-date"><%=dd%>-<%=mm%> <small class="slot-year">-<%=yyyy%></small></span>
<%k++;continue;}%>
<%if(k==1){%>
<span>Tomorrow</span>
<span class="slot-date"><%=dd%>-<%=mm%> <small class="slot-year">-<%=yyyy%></small></span>
<%k++;continue;}else{%>
<span><%=dayOfWeek%></span>
<%}%>

<span class="slot-date"><%=dd%>-<%=mm%> <small class="slot-year">-<%=yyyy%></small></span>

</li>
<%}%>

<%for(var i=0;i<3;i++){%>
<%var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();
var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
var dayOfWeek = weekday[today.getDay()];

var res = today.setTime(today.getTime() + (1 * 24 * 60 * 60 * 1000));
var date = new Date(res);
today=date;%>
<li id="li1" style="display: none;">
<span><%=dayOfWeek%></span>
<span class="slot-date"><%=dd%>-<%=mm%> <small class="slot-year">-<%=yyyy%></small></span>
</li>

<%}%>
<%for(var i=0;i<3;i++){%>
<%var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();
var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
var dayOfWeek = weekday[today.getDay()];

var res = today.setTime(today.getTime() + (1 * 24 * 60 * 60 * 1000));
var date = new Date(res);
today=date;%>
<li id="li2" style="display: none;">
<span><%=dayOfWeek%></span>
<span class="slot-date"><%=dd%>-<%=mm%> <small class="slot-year">-<%=yyyy%></small></span>
</li>

<%}%>

<%for(var i=0;i<3;i++){%>
<%var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();
var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
var dayOfWeek = weekday[today.getDay()];

var res = today.setTime(today.getTime() + (1 * 24 * 60 * 60 * 1000));
var date = new Date(res);
today=date;%>
<li id="li3" style="display: none;">
<span><%=dayOfWeek%></span>
<span class="slot-date"><%=dd%>-<%=mm%> <small class="slot-year">-<%=yyyy%></small></span>
</li>

<%}%>
<%for(var i=0;i<3;i++){%>
<%var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();
var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
var dayOfWeek = weekday[today.getDay()];

var res = today.setTime(today.getTime() + (1 * 24 * 60 * 60 * 1000));
var date = new Date(res);
today=date;%>
<li id="li4" style="display: none;">
<span><%=dayOfWeek%></span>
<span class="slot-date"><%=dd%>-<%=mm%> <small class="slot-year">-<%=yyyy%></small></span>
</li>

<%}%>
<%for(var i=0;i<3;i++){%>
<%var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();
var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
var dayOfWeek = weekday[today.getDay()];

var res = today.setTime(today.getTime() + (1 * 24 * 60 * 60 * 1000));
var date = new Date(res);
today=date;%>
<li id="li5" style="display: none;">
<span><%=dayOfWeek%></span>
<span class="slot-date"><%=dd%>-<%=mm%> <small class="slot-year">-<%=yyyy%></small></span>
</li>

<%}%>
<%for(var i=0;i<3;i++){%>
<%var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();
var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
var dayOfWeek = weekday[today.getDay()];

var res = today.setTime(today.getTime() + (1 * 24 * 60 * 60 * 1000));
var date = new Date(res);
today=date;%>
<li id="li6" style="display: none;">
<span><%=dayOfWeek%></span>
<span class="slot-date"><%=dd%>-<%=mm%> <small class="slot-year">-<%=yyyy%></small></span>
</li>

<%}%>
<%for(var i=0;i<3;i++){%>
<%var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();
var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
var dayOfWeek = weekday[today.getDay()];

var res = today.setTime(today.getTime() + (1 * 24 * 60 * 60 * 1000));
var date = new Date(res);
today=date;%>
    <li id="li7" style="display: none;">
        <span><%=dayOfWeek%></span>
        <span class="slot-date"><%=dd%>-<%=mm%> <small class="slot-year">-<%=yyyy%></small></span>
    </li>

    <%}%>
        <%for(var i=0;i<3;i++){%>
            <%var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();
var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
var dayOfWeek = weekday[today.getDay()];

var res = today.setTime(today.getTime() + (1 * 24 * 60 * 60 * 1000));
var date = new Date(res);
today=date;%>
                <li id="li8" style="display: none;">
                    <span><%=dayOfWeek%></span>
                    <span class="slot-date"><%=dd%>-<%=mm%> <small class="slot-year">-<%=yyyy%></small></span>
                </li>

                <%}%>
                    <%for(var i=0;i<3;i++){%>
                        <%var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();
var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
var dayOfWeek = weekday[today.getDay()];

var res = today.setTime(today.getTime() + (1 * 24 * 60 * 60 * 1000));
var date = new Date(res);
today=date;%>
<li id="li9" style="display: none;">
<span><%=dayOfWeek%></span>
<span class="slot-date"><%=dd%>-<%=mm%> <small class="slot-year">-<%=yyyy%></small></span>
</li>

<%}%>




<li class="right-arrow">
<a data-count='0' onclick="nextSlide()" id="nextslide">
<i class="fa fa-chevron-right"></i>
</a>
</li>
</ul>
<ul id="sm">
<li class="left-arrow">
<a data-count='0' onclick="smprevSlide()" id="smprevslide">
<i class="fa fa-chevron-left"></i>
</a>
</li>
<% var today = new Date();%>
<%var k=0%>
<%for(var i=1;i<=30;i++){%>
<%var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();
var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
var dayOfWeek = weekday[today.getDay()];

var res = today.setTime(today.getTime() + (1 * 24 * 60 * 60 * 1000));
var date = new Date(res);
today=date;%>
<%if(k==0){%>
<li id="smli1">

<span>Today</span>
<span class="slot-date"><%=dd%>-<%=mm%> <small class="slot-year">-<%=yyyy%></small></span>
<%k++;continue;%>


</li>
<%}else{%>
<li id="smli<%=i%>" class="displayNone">
<%if(k==1){%>
<span>Tomorrow</span>
<span class="slot-date"><%=dd%>-<%=mm%> <small class="slot-year">-<%=yyyy%></small></span>
<%k++;continue;}else{%>
<span><%=dayOfWeek%></span>
<span class="slot-date"><%=dd%>-<%=mm%> <small class="slot-year">-<%=yyyy%></small></span>
<%}%>


</li>
<%}%>


<%}%>
<li class="right-arrow">
<a data-count='1' onclick="smnextSlide()" id="smnextslide">
<i class="fa fa-chevron-right"></i>
</a>
</li>
</ul>
</div>
<!-- /Day Slot -->

</div>
</div>
</div>
                                <!-- /Schedule Header -->
<%var n1,n2,n3,n4,n5,n6,n7%>
<%var today = new Date();%>
<%for(var i=1;i<=7;i++){%>
<%var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();
var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
var dayOfWeek = weekday[today.getDay()];
if(i == 1)
{
n1=dayOfWeek.toUpperCase();

}
if(i == 2)
{
n2=dayOfWeek.toUpperCase();

}
if(i == 3)
{
n3=dayOfWeek.toUpperCase();

}
if(i == 4)
{
n4=dayOfWeek.toUpperCase();

}
if(i == 5)
{
n5=dayOfWeek.toUpperCase();

}
if(i == 6)
{
n6=dayOfWeek.toUpperCase();

}
if(i == 7)
{
n7=dayOfWeek.toUpperCase();

}

var res = today.setTime(today.getTime() + (1 * 24 * 60 * 60 * 1000));
var date = new Date(res);
today=date;%>

<%}%>
<!-- Schedule Content -->
<div class="schedule-cont">
<div class="row">
<div class="col-md-12">

<!-- Time Slot -->
<div class="time-slot" id="slots">
<ul class="clearfix" style="display: flex;" id="md">
<%var d1,d2,d3,d4,d5,d6,d7,count,t1,t2,t3,t4,t5,t6,t7;%>
<%var x = 0%>
<%for(time of doctor.schedule_time){%>

<%var i = time.day.toUpperCase();%>

<%if(n1 == i){%>
<%d1=time;t1=x++;
}%>

<%if(n2 == i){%>
<%d2=time;t2=x++;}%>

<%if(n3 == i){%>
<%d3=time;t3=x++;}%>

<%if(n4 == i){%>
<%d4=time;t4=x++;}%>

<%if(n5 == i){%>
<%d5=time;t5=x++;}%>

<%if(n6 == i){%>
<%d6=time;t6=x++;}%>
<%if(n7 == i){%>
<%d7=time;t7=x++;}%>
<%}%>

<%var date1,date2,date3;%>
<%var today = new Date();%>
<%for(var i=1;i<=3;i++){%>
<%var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();
var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
var dayOfWeek = weekday[today.getDay()];
if(i==1)
{
    date1 = dd+'-'+mm+'-'+yyyy;
}

if(i==2)
{
    date2 = dd+'-'+mm+'-'+yyyy;
}

if(i==3)
{
    date3 = dd+'-'+mm+'-'+yyyy;
}

var res = today.setTime(today.getTime() + (1 * 24 * 60 * 60 * 1000));
var date = new Date(res);
today=date;%>

<%}%>
<%console.log(date1,date2,date3)%>


<%var z=0;%>
<%if(d1 != undefined){%>
<li id="d1">

<%if(typeof(d1.start) == 'string'){%>
<a class="timing" onclick="showSeats('<%=z%>')">
<span><%=d1.start.toUpperCase()%></span> - <span><%=d1.end.toUpperCase()%></span>
</a>
<div class="col-md-12" id="seats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d1.booked);%>
<%for(var j= 1;j<=d1.available;j++){%>


<%if(j<=color){%>
<a class="timing" style="width: 50px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.6rem;display:block;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d1.id%>" data-booked="<%=d1.booked%>" data-date="<%=date1%>" data-available="<%=d1.available%>" data-slot-index="<%=i%>" data-day-index="<%=t1%>" data-doctor-id="<%=doctor._id%>" style="width: 50px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>


<%}%>
</div>
<%}else{%>
<%for(let i=0;i<d1.start.length;i++){%>
<a class="timing" onclick="showSeats('<%=z%>')">
<span><%=d1.start[i].toUpperCase()%></span> - <span><%=d1.end[i].toUpperCase()%></span>
</a>
<div class="col-md-12" id="seats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d1.booked[i]);%>
<%for(var j= 1;j<=d1.available[i];j++){%>


<%if(j<=color){%>
<a class="timing" style="width: 50px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d1.id%>" data-booked="<%=d1.booked%>" data-date="<%=date1%>" data-available="<%=d1.available%>" data-slot-index="<%=i%>" data-day-index="<%=t1%>" data-doctor-id="<%=doctor._id%>" style="width: 50px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>



<%}%>
</div>
<%}}%>
</li>
<%}else{%>
<li id="d1">
<a class="timing" href="#">
Not Available
</a>
</li>
<%}%>
<%if(d2 != undefined){%>

<li id="d2">
<%if(typeof(d2.start) == 'string'){%>
<a class="timing" onclick="showSeats('<%=z%>')">
<span><%=d2.start.toUpperCase()%></span> - <span><%=d2.end.toUpperCase()%></span>
</a>
<div class="col-md-12" id="seats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d2.booked);%>
<%for(var j= 1;j<=d2.available;j++){%>

<%if(j<=color){%>
<a class="timing" style="width: 50px; color: white; background-color: red; height:40px;margin-left: 5px;cursor:no-drop">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d2.id%>" data-date="<%=date2%>" data-booked="<%=d2.booked%>" data-available="<%=d2.available%>" data-slot-index="<%=i%>" data-day-index="<%=t2%>" data-doctor-id="<%=doctor._id%>" style="width: 50px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>



<%}%>
</div>
<%}else{%>
<%for(let i=0;i<d2.start.length;i++){%>
<a class="timing" onclick="showSeats('<%=z%>')">
<span><%=d2.start[i].toUpperCase()%></span> - <span><%=d2.end[i].toUpperCase()%></span>
</a>
<div class="col-md-12" id="seats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d2.booked[i]);%>
<%for(var j= 1;j<=d2.available[i];j++){%>


<%if(j<=color){%>
<a class="timing" style="width: 50px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d2.id%>" data-booked="<%=d2.booked%>" data-date="<%=date2%>" data-available="<%=d2.available%>" data-slot-index="<%=i%>" data-day-index="<%=t2%>" data-doctor-id="<%=doctor._id%>" style="width: 50px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>


<%}%>
</div>
<%}}%>
</li>
<%}else{%>
<li id="d2">
<a class="timing" href="#">
Not Available
</a>
</li>
<%}%>
<%if(d3 != undefined){%>
<li id="d3">

<%if(typeof(d3.start) == 'string'){%>
<a class="timing" onclick="showSeats('<%=z%>')">
<span><%=d3.start.toUpperCase()%></span> - <span><%=d3.end.toUpperCase()%></span>
</a>
<div class="col-md-12" id="seats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d3.booked);%>
<%for(var j= 1;j<=d3.available;j++){%>


<%if(j<=color){%>
<a class="timing" style="width: 50px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d3.id%>" data-booked="<%=d3.booked%>" data-date="<%=date3%>" data-available="<%=d3.available%>" data-slot-index="<%=i%>" data-day-index="<%=t3%>" data-doctor-id="<%=doctor._id%>" style="width: 50px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>


<%}%>
</div>
<%}else{%>
<%for(let i=0;i<d3.start.length;i++){%>
<a class="timing" onclick="showSeats('<%=z%>')">
<span><%=d3.start[i].toUpperCase()%></span> - <span><%=d3.end[i].toUpperCase()%></span>
</a>
<div class="col-md-12" id="seats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d3.booked[i]);%>
<%for(var j= 1;j<=d3.available[i];j++){%>


<%if(j<=color){%>
<a class="timing" style="width: 50px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d3.id%>" data-booked="<%=d3.booked%>" data-date="<%=date3%>" data-available="<%=d3.available%>" data-slot-index="<%=i%>" data-day-index="<%=t3%>" data-doctor-id="<%=doctor._id%>" style="width: 50px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>


<%}%>
</div>
<%}}%>


</li>

<%}else{%>
<li id="d3">
<a class="timing" href="#">
Not Available
</a>
</li>
<%}%>
<%if(d4 != undefined){%>
<li style="display: none;" id="d4">
<%if(typeof(d4.start) == 'string'){%>
<a class="timing" onclick="showSeats('<%=z%>')">
<span><%=d4.start.toUpperCase()%></span> -
<span><%=d4.end.toUpperCase()%></span>
</a>
<div class="col-md-12" id="seats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d4.booked);%>
<%for(var j= 1;j<=d4.available;j++){%>


<%if(j<=color){%>
<a class="timing" style="width: 50px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d4.id%>" data-booked="<%=d4.booked%>" data-available="<%=d4.available%>" data-slot-index="<%=i%>" data-day-index="<%=t4%>" data-doctor-id="<%=doctor._id%>" style="width: 50px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>


<%}%>
</div>
<%}else{%>
<%for(let i=0;i<d4.start.length;i++){%>
<a class="timing" onclick="showSeats('<%=z%>')">
<span><%=d4.start[i].toUpperCase()%></span>                                                                                                                                                                                                                        - <span><%=d4.end[i].toUpperCase()%></span>
</a>
<div class="col-md-12" id="seats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d4.booked[i]);%>
<%for(var j= 1;j<=d4.available[i];j++){%>


<%if(j<=color){%>
<a class="timing" style="width: 50px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d4.id%>" data-booked="<%=d4.booked%>" data-available="<%=d4.available%>" data-slot-index="<%=i%>" data-day-index="<%=t4%>" data-doctor-id="<%=doctor._id%>" style="width: 50px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>



<%}%>
</div>
<%}}%>
</li>
<%}else{%>
<li style="display: none;" id="d4">
<a class="timing" href="#">
Not Available
</a>
</li>
<%}%>
<%if(d5 != undefined){%>
<li style="display: none;" id="d5">
<%if(typeof(d5.start) == 'string'){%>
<a class="timing" onclick="showSeats('<%=z%>')">
<span><%=d5.start.toUpperCase()%></span>                                                                                                                                                                                                                            - <span><%=d5.end.toUpperCase()%></span>
</a>
<div class="col-md-12" id="seats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d5.booked);%>
<%for(var j= 1;j<=d5.available;j++){%>


<%if(j<=color){%>
<a class="timing" style="width: 50px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d5.id%>" data-booked="<%=d5.booked%>" data-available="<%=d5.available%>" data-slot-index="<%=i%>" data-day-index="<%=t5%>" data-doctor-id="<%=doctor._id%>" style="width: 50px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>



<%}%>
</div>
<%}else{%>
<%for(let i=0;i<d5.start.length;i++){%>
<a class="timing" onclick="showSeats('<%=z%>')">
<span><%=d5.start[i].toUpperCase()%></span>                                                                                                                                                                                                                                    - <span><%=d5.end[i].toUpperCase()%></span>
</a>
<div class="col-md-12" id="seats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d5.booked[i]);%>
<%for(var j= 1;j<=d5.available[i];j++){%>


<%if(j<=color){%>
<a class="timing" style="width: 50px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d5.id%>" data-booked="<%=d5.booked%>" data-available="<%=d5.available%>" data-slot-index="<%=i%>" data-day-index="<%=t5%>" data-doctor-id="<%=doctor._id%>" style="width: 50px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>



<%}%>
</div>
<%}}%>

</li>
<%}else{%>
<li style="display: none;" id="d5">
<a class="timing" href="#">
Not Available
</a>
</li>
<%}%>
<%if(d6 != undefined){%>
<li style="display: none;" id="d6">
<%if(typeof(d6.start) == 'string'){%>
<a class="timing" onclick="showSeats('<%=z%>')">
<span><%=d6.start.toUpperCase()%></span>                                                                                                                                                                                                                                        - <span><%=d6.end.toUpperCase()%></span>
</a>
<div class="col-md-12" id="seats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d6.booked);%>
<%for(var j= 1;j<=d6.available;j++){%>



<%if(j<=color){%>
<a class="timing" style="width: 50px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d6.id%>" data-booked="<%=d6.booked%>" data-available="<%=d6.available%>" data-slot-index="<%=i%>" data-day-index="<%=t6%>" data-doctor-id="<%=doctor._id%>" style="width: 50px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>



<%}%>
</div>
<%}else{%>
<%for(let i=0;i<d6.start.length;i++){%>
<a class="timing" onclick="showSeats('<%=z%>')">
<span><%=d6.start[i].toUpperCase()%></span>                                                                                                                                                                                                                                                - <span><%=d6.end[i].toUpperCase()%></span>
</a>
<div class="col-md-12" id="seats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d6.booked[i]);%>
<%for(var j= 1;j<=d6.available[i];j++){%>


<%if(j<=color){%>
<a class="timing" style="width: 50px; color: white; background-color: red; height:40px;margin-left: 5px;">

    <span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
    <a class="timing" data-id="<%=d6.id%>" data-booked="<%=d6.booked%>" data-available="<%=d6.available%>" data-slot-index="<%=i%>" data-day-index="<%=t6%>" data-doctor-id="<%=doctor._id%>" style="width: 50px; height:40px;margin-left: 5px;" id="checkme">
        <span><%=j%></span>
    </a>
    <%}%>



        <%}%>
</div>
<%}}%>

</li>
<%}else{%>
<li style="display: none;" id="d6">
<a class="timing" href="#">
Not Available
</a>
</li>
<%}%>
<%if(d7 != undefined){%>

<li style="display: none;" id="d7">
<%if(typeof(d7.start) == 'string'){%>
<a class="timing" onclick="showSeats('<%=z%>')">
<span><%=d7.start.toUpperCase()%></span>                                                                                                                                                                                                                                                    - <span><%=d7.end.toUpperCase()%></span>
</a>
<div class="col-md-12" id="seats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d7.booked);%>
<%for(var j= 1;j<=d7.available;j++){%>


<%if(j<=color){%>
    <a class="timing" style="width: 50px; color: white; background-color: red; height:40px;margin-left: 5px;">

        <span style="font-size: 0.5rem;">Booked</span>
    </a>
    <%}else{%>
        <a class="timing" data-id="<%=d7.id%>" data-booked="<%=d7.booked%>" data-available="<%=d7.available%>" data-slot-index="<%=i%>" data-day-index="<%=t7%>" data-doctor-id="<%=doctor._id%>" style="width: 50px; height:40px;margin-left: 5px;" id="checkme">
            <span><%=j%></span>
        </a>
        <%}%>



            <%}%>
</div>
<%}else{%>
<%for(let i=0;i<d7.start.length;i++){%>

<a class="timing" onclick="showSeats('<%=z%>')">

<span><%=d7.start[i].toUpperCase()%></span>                                                                                                                                                                                                                                                            -
<span><%=d7.end[i].toUpperCase()%></span>
</a>
<div class="col-md-12" id="seats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d7.booked[i]);%>
    <%for(var j= 1;j<=d7.available[i];j++){%>


        <%if(j<=color){%>
            <a class="timing" style="width: 50px; color: white; background-color: red; height:40px;margin-left: 5px;">

                <span style="font-size: 0.5rem;">Booked</span>
            </a>
            <%}else{%>
                <a class="timing" data-id="<%=d7.id%>" data-booked="<%=d7.booked%>" data-available="<%=d7.available%>" data-slot-index="<%=i%>" data-day-index="<%=t7%>" data-doctor-id="<%=doctor._id%>" style="width: 50px; height:40px;margin-left: 5px;" id="checkme">
                    <span><%=j%></span>
                </a>
                <%}%>



                    <%}%>
</div>
<%}}%>

</li>
<%}else{%>
<li style="display: none;" id="d7">
<a class="timing" href="#">
Not Available
</a>
</li>
<%}%>
</ul>
<ul class="clearfix" id="sm">
<%var d1,d2,d3,d4,d5,d6,d7,count;%>
<%for(time of doctor.schedule_time){%>

<%var i = time.day.toUpperCase();%>

<%if(n1 == i){%>
<%d1=time;}%>

<%if(n2 == i){%>
<%d2=time;}%>

<%if(n3 == i){%>
<%d3=time;}%>

<%if(n4 == i){%>
<%d4=time;}%>

<%if(n5 == i){%>
<%d5=time;}%>

<%if(n6 == i){%>
<%d6=time;}%>
<%if(n7 == i){%>
<%d7=time;}%>
<%}%>


<%var z=0;%>
<%if(d1 != undefined){%>
<li id="smd1">
<%var booked = d1.booked;%>
<%var available = d1.available;%>
<%var id = d1._id%>
<%var doctor = d1%>

<%if(typeof(d1.start) == 'string'){%>
<a class="timing" onclick="smshowSeats('<%=z%>')">
<span><%=d1.start.toUpperCase()%></span> - <span><%=d1.end.toUpperCase()%></span>
</a>
<div class="col-md-12" id="smseats" style="display:none;flex-direction:row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d1.booked);%>
<%for(var j= 1;j<=d1.available;j++){%>

<%if(j<=color){%>
<a class="timing" data-id="<%=d1.id%>" data-date="<=date1%>" data-booked="<%=d1.booked%>" data-available="<%=d1.available%>" data-slot-index="<%=i%>" data-day-index="<%=t1%>" data-doctor-id="<%=doctor._id%>" style="width: 40px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d1.id%>" data-date="<%=date1%>" data-booked="<%=d1.booked%>" data-available="<%=d1.available%>" data-slot-index="<%=i%>" data-day-index="<%=t1%>" data-doctor-id="<%=doctor._id%>" style="width: 40px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>



<%}%>
</div>
<%}else{%>
<%for(let i=0;i<d1.start.length;i++){%>
<a class="timing" onclick="smshowSeats('<%=z%>')">
<span><%=d1.start[i].toUpperCase()%></span> - <span><%=d1.end[i].toUpperCase()%></span>
</a>
<div class="col-md-12" id="smseats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d1.booked[i]);%>

<%for(var j= 1;j<=d1.available[i];j++){%>


<%if(j<=color){%>
<a class="timing" data-id="<%=d1.id%>" data-booked="<%=d1.booked%>" data-available="<%=d1.available%>" data-slot-index="<%=i%>" data-day-index="<%=t1%>" data-doctor-id="<%=doctor._id%>" style="width: 40px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d1.id%>" data-date="<%=date1%>" data-booked="<%=d1.booked%>" data-available="<%=d1.available%>" data-slot-index="<%=i%>" data-day-index="<%=t1%>" data-doctor-id="<%=doctor._id%>" style="width: 40px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>




<%}%>
</div>
<%}}%>
</li>
<%}else{%>
<li id="smd1" style="display:none;">
<a class="timing" href="#">
Not Available
</a>
</li>
<%}%>
<%if(d2 != undefined){%>

<li id="smd2" style="display:none">

<%if(typeof(d2.start) == 'string'){%>
<a class="timing" onclick="smshowSeats('<%=z%>')">
<span><%=d2.start.toUpperCase()%></span> - <span><%=d2.end.toUpperCase()%></span>
</a>
<div class="col-md-12" id="smseats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d2.booked);%>
<%for(var j= 1;j<=d2.available;j++){%>


<%if(j<=color){%>
<a class="timing" style="width: 40px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d2.id%>" data-booked="<%=d2.booked%>" data-available="<%=d2.available%>" data-slot-index="<%=i%>" data-day-index="<%=t2%>" data-doctor-id="<%=doctor._id%>" style="width: 40px; height:40px;margin-left: 5px !important;" id="checkme">
<span><%=j%></span>
</a>

<%}%>



<%}%>
</div>
<%}else{%>
<%for(let i=0;i<d2.start.length;i++){%>
<a class="timing" onclick="smshowSeats('<%=z%>')">
<span><%=d2.start[i].toUpperCase()%></span> - <span><%=d2.end[i].toUpperCase()%></span>
</a>
<div class="col-md-12" id="smseats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d2.booked[i]);%>
<%for(var j= 1;j<=d2.available[i];j++){%>

<%if(j<=color){%>
<a class="timing" style="width: 40px; color: white; background-color: red; height:40px;margin-left: 5px;" >

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d2.id%>" data-booked="<%=d2.booked%>" data-available="<%=d2.available%>" data-slot-index="<%=i%>" data-day-index="<%=t2%>" data-doctor-id="<%=doctor._id%>" style="width: 40px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>

<%}%>


<%}%>
</div>
<%}}%>
</li>
<%}else{%>
<li id="smd2" style="display:none;">
<a class="timing" href="#">
Not Available
</a>
</li>
<%}%>
<%if(d3 != undefined){%>
<li id="smd3" style="display:none;">

<%if(typeof(d3.start) == 'string'){%>
<a class="timing" onclick="smshowSeats('<%=z%>')">
<span><%=d3.start.toUpperCase()%></span> - <span><%=d3.end.toUpperCase()%></span>
</a>
<div class="col-md-12" id="smseats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d3.booked);%>
<%for(var j= 1;j<=d3.available;j++){%>

<%if(j<=color){%>
<a class="timing" style="width: 40px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d3.id%>" data-booked="<%=d3.booked%>" data-available="<%=d3.available%>" data-slot-index="<%=i%>" data-day-index="<%=t3%>" data-doctor-id="<%=doctor._id%>" style="width: 40px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>




<%}%>
</div>
<%}else{%>
<%for(let i=0;i<d3.start.length;i++){%>
<a class="timing" onclick="smshowSeats('<%=z%>')">
<span><%=d3.start[i].toUpperCase()%></span> - <span><%=d3.end[i].toUpperCase()%></span>
</a>
<div class="col-md-12" id="smseats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d3.booked[i]);%>
<%for(var j= 1;j<=d3.available[i];j++){%>

<%if(j<=color){%>
<a class="timing" style="width: 40px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d3.id%>" data-booked="<%=d3.booked%>" data-available="<%=d3.available%>" data-slot-index="<%=i%>" data-day-index="<%=t3%>" data-doctor-id="<%=doctor._id%>" style="width: 40px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>


<%}%>
</div>
<%}}%>


</li>

<%}else{%>
<li id="smd3" style="display:none;">
<a class="timing" href="#">
Not Available
</a>
</li>
<%}%>
<%if(d4 != undefined){%>
<li  id="smd4" style="display: none;">

<%if(typeof(d4.start) == 'string'){%>
<a class="timing" onclick="smshowSeats('<%=z%>')">
<span><%=d4.start.toUpperCase()%></span> - <span><%=d4.end.toUpperCase()%></span>
</a>
<div class="col-md-12" id="smseats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d4.booked);%>
<%for(var j= 1;j<=d4.available;j++){%>
<%if(j<=color){%>
<a class="timing" style="width: 40px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d4.id%>" data-booked="<%=d4.booked%>" data-available="<%=d4.available%>" data-slot-index="<%=i%>" data-day-index="<%=t4%>" data-doctor-id="<%=doctor._id%>" style="width: 40px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>







<%}%>
</div>
<%}else{%>
<%for(let i=0;i<d4.start.length;i++){%>
<a class="timing" onclick="smshowSeats('<%=z%>')">
<span><%=d4.start[i].toUpperCase()%></span>                                                                                                                                                                                                                - <span><%=d4.end[i].toUpperCase()%></span>
</a>
<div class="col-md-12" id="smseats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d4.booked[i]);%>
<%for(var j= 1;j<=d4.available[i];j++){%>


<%if(j<=color){%>
<a class="timing" style="width: 40px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d4.id%>" data-booked="<%=d4.booked%>" data-available="<%=d4.available%>" data-slot-index="<%=i%>" data-day-index="<%=t4%>" data-doctor-id="<%=doctor._id%>" style="width: 40px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>




<%}%>
</div>
<%}}%>
</li>
<%}else{%>
<li style="display: none;" id="smd4">
<a class="timing" href="#">
Not Available
</a>
</li>
<%}%>
<%if(d5 != undefined){%>

<li style="display: none;" id="smd5">
<%if(typeof(d5.start) == 'string'){%>
<a class="timing" onclick="smshowSeats('<%=z%>')">
<span><%=d5.start.toUpperCase()%></span>                                                                                                                                                                                                                    - <span><%=d5.end.toUpperCase()%></span>
</a>
<div class="col-md-12" id="smseats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d5.booked);%>
<%for(var j= 1;j<=d5.available;j++){%>

<%if(j<=color){%>
<a class="timing" style="width: 40px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d5.id%>" data-booked="<%=d5.booked%>" data-available="<%=d5.available%>" data-slot-index="<%=i%>" data-day-index="<%=t5%>" data-doctor-id="<%=doctor._id%>" style="width: 40px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>




<%}%>
</div>
<%}else{%>
<%for(let i=0;i<d5.start.length;i++){%>
<a class="timing" onclick="smshowSeats('<%=z%>')">
<span><%=d5.start[i].toUpperCase()%></span>                                                                                                                                                                                                                            - <span><%=d5.end[i].toUpperCase()%></span>
</a>
<div class="col-md-12" id="smseats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d5.booked[i]);%>
<%for(var j= 1;j<=d5.available[i];j++){%>


<%if(j<=color){%>
<a class="timing" style="width: 40px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d5.id%>" data-booked="<%=d5.booked%>" data-available="<%=d5.available%>" data-slot-index="<%=i%>" data-day-index="<%=t5%>" data-doctor-id="<%=doctor._id%>" style="width: 40px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>


<%}%>
</div>
<%}}%>

</li>
<%}else{%>
<li style="display: none;" id="smd5">
<a class="timing" href="#">
Not Available
</a>
</li>
<%}%>
<%if(d6 != undefined){%>

<li style="display: none;" id="smd6">
<%if(typeof(d6.start) == 'string'){%>
<a class="timing" onclick="smshowSeats('<%=z%>')">
<span><%=d6.start.toUpperCase()%></span>                                                                                                                                                                                                                                - <span><%=d6.end.toUpperCase()%></span>
</a>
<div class="col-md-12" id="smseats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d6.booked);%>
<%for(var j= 1;j<=d6.available;j++){%>
<%if(j<=color){%>
<a class="timing" style="width: 40px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d6.id%>" data-booked="<%=d6.booked%>" data-available="<%=d6.available%>" data-slot-index="<%=i%>" data-day-index="<%=t6%>" data-doctor-id="<%=doctor._id%>" style="width: 40px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>





<%}%>
</div>
<%}else{%>
<%for(let i=0;i<d6.start.length;i++){%>
<a class="timing" onclick="smshowSeats('<%=z%>')">
<span><%=d6.start[i].toUpperCase()%></span>                                                                                                                                                                                                                                        - <span><%=d6.end[i].toUpperCase()%></span>
</a>
<div class="col-md-12" id="smseats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d6.booked[i]);%>
<%for(var j= 1;j<=d6.available[i];j++){%>


<%if(j<=color){%>
<a class="timing" style="width: 40px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d6.id%>" data-booked="<%=d6.booked%>" data-available="<%=d6.available%>" data-slot-index="<%=i%>" data-day-index="<%=t6%>" data-doctor-id="<%=doctor._id%>" style="width: 40px; height:40px;margin-left: 5px;" id="checkme">
<span><%=j%></span>
</a>
<%}%>



<%}%>
</div>
<%}}%>

</li>
<%}else{%>
<li style="display: none;" id="smd6">
<a class="timing" href="#">
Not Available
</a>
</li>
<%}%>
<%if(d7 != undefined){%>

<li style="display: none;" id="smd7">
<%if(typeof(d7.start) == 'string'){%>
<a class="timing" onclick="smshowSeats('<%=z%>')">
<span><%=d7.start.toUpperCase()%></span>                                                                                                                                                                                                                                            - <span><%=d7.end.toUpperCase()%></span>
</a>
<div class="col-md-12" id="smseats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d7.booked);%>
<%for(var j= 1;j<=d7.available;j++){%>

<%if(j<=color){%>
<a class="timing" style="width: 40px; color: white; background-color: red; height:40px;margin-left: 5px;">

<span style="font-size: 0.5rem;">Booked</span>
</a>
<%}else{%>
<a class="timing" data-id="<%=d7.id%>" data-booked="<%=d7.booked%>" data-available="<%=d7.available%>" data-slot-index="<%=i%>" data-day-index="<%=t7%>" data-doctor-id="<%=doctor._id%>" style="width: 40px; height:40px;margin-left: 5px;" id="checkme">
    <span><%=j%></span>
</a>
<%}%>




    <%}%>
</div>
<%}else{%>
<%for(let i=0;i<d7.start.length;i++){%>

<a class="timing" onclick="smshowSeats('<%=z%>')">

<span><%=d7.start[i].toUpperCase()%></span>                                                                                                                                                                                                                                                    - <span><%=d7.end[i].toUpperCase()%></span>
</a>
<div class="col-md-12" id="smseats" style="display:none;flex-direction: row;flex-wrap: wrap;">
<%z++%>
<%var color = parseInt(d7.booked[i]);%>
<%for(var j= 1;j<=d7.available[i];j++){%>


<%if(j<=color){%>
    <a class="timing" style="width: 40px; color: white; background-color: red; height:40px;margin-left: 5px;">

        <span style="font-size: 0.5rem;">Booked</span>
    </a>
    <%}else{%>
        <a class="timing" data-id="<%=d7.id%>" data-booked="<%=d7.booked%>" data-available="<%=d7.available%>" data-slot-index="<%=i%>" data-day-index="<%=t7%>" data-doctor-id="<%=doctor._id%>" style="width: 40px; height:40px;margin-left: 5px;" id="checkme">
            <span><%=j%></span>
        </a>
        <%}%>




            <%}%>
</div>
<%}}%>

</li>
<%}else{%>
<li style="display: none;" id="smd7">
<a class="timing" href="#">
Not Available
</a>
</li>
<%}%>
</ul>
</div>

<!-- /Time Slot -->

</div>

</div>
</div>
<!-- /Schedule Content -->

</div>
<!-- /Schedule Widget -->

<!-- Submit Section -->
<div class="submit-section proceed-btn text-right">
<button type="submit" id="submit_btn" class="btn btn-primary submit-btn" disabled>Proceed to Pay</button>


</div>
<!-- /Submit Section -->

</div>
</div>
</form>
</div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    


</body>

<!-- doccure/booking  30 Nov 2019 04:12:16 GMT -->

</html>