<!DOCTYPE html>
<html lang="en">

<!-- AarogyaHub/  30 Nov 2019 04:11:34 GMT -->

<head>
    <link rel="stylesheet" href="<%=assetPath('css/bootstrap.min.css')%>">

	<link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/fontawesome.min.css')%>">
    <link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/all.min.css')%>">
    
	<link rel="stylesheet" href="<%=assetPath('css/style1.css')%>">
	<link rel="stylesheet" href="<%=assetPath('css/style.css')%>">
</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <%-include('header');%>
        <!-- Header -->

        <!-- /Header -->
      
        <section class="laptop-sugar" style="margin-top: 50px;padding-left: 50px;">
           
            <div class="col-md-12 lipid profile" style="margin-bottom: 20px;">
                <div class="col-md-12">
                    
                   <%if(lab != undefined){%>
                    <div class="col-md-12" style="min-height: 600px;height:auto; display:inline-flex;margin-top: 20px;position:relative;opacity: 1;">
                        <div class="col-md-7" style="display: inline-flex;width: 100%;margin-bottom: 50px;backdrop-filter: blur(5px);">
                       
                        <div class="col-md-12" style="position: absolute;">
                            <div class="" style="padding: 5px 10px;margin-bottom: 20px;">
                                <span style="font-size:2rem;font-weight: bolder;color:#575557;">Cart</span>
                                <span style="position:absolute;right:10%;font-size:1.1rem;font-weight: bolder;margin-top: 15px;color:#575557"><%=user.cart.tests.length%> tests</span>
                            </div>
                            <div style="width: 100%;">
                             <label style="width: 100%;position: relative;">
                                 <div id="lab_card" style="width:100%;">
                                     <div class="dis20">
                                         <img src="<%=lab.avatar%>">
                                    </div>
                                    <div class="dis75">
                                        <h2 class="dish2"><%=lab.name%></h2>
                                        <p class="disp2" style="margin-top:10px !important;"><%=lab.contacts.address%></p>
                                        <p class="disp2"><%=lab.contacts.city%></p>
                                    </div>
                                    <div class="dis5">
                                        <input type="hidden" name="id" value="<%=lab.id%>">
                                    </div>
                                    <div style="width: 20%;position: absolute;right: 30px;">
                                        <a  class="btn btn-primary" id="switch-lab" style="border-radius: 3px !important;width:110px !important;padding:10px 5px !important;min-width: none !important;margin-top: 20px;font-weight: bolder;color:white">Change Lab</a>
                                    </div>
                                </div>
                            </label>
                        </br>

                            </div>
                            <div>
                               <%var i=0%>
                                <%for(let u of user.cart.tests){%>
                                    <%console.log(u._id)%>
                                    <%var cnt=0%>
                                <div style="display: inline-flex;border:1px solid grey;width: 100%;padding: 15px;border-radius: 5px;margin-bottom: 5px;">
                                    <div style="width: 10%;"><span style="margin-top: 5px;margin-left:15px;color:#478e8e;font-size: 1.5rem;"><i class="fas fa-flask"></i></span></div>
                                    <div style="width: 70%;">
                                        <h2 style="margin-top: 0px;font-weight:bolder;font-size: 1.2rem;"><%=u.testname%></h2>
                                        <h3 style="font-size: 1rem;">Report in 24 hours</h3>
                                      
                                    </div>
                                    <form action="">
                                        <input type="hidden" name="id" id="testname" value="<%=u.testname%>">
                                    <div style="width: 100%;display: inline-flex;padding-top: 15px;">
                                        <h3 style="font-size: 1.2rem;margin-right:15px;">Rs <%=u.testprice%></h3>
                                        <a  class="" id="remove_btn" data-id="<%=u._id%>" style="background-color: none !important;margin-top: 5px;"><i class="fas fa-trash"></i></a>
                                    </div>
                                </form>
                                </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5" style="padding-left: 100px;">
                        
                        <div id="select_lab">
                            <h2 style="color: grey;border-bottom: 1px solid grey;font-size: 1rem;padding-bottom: 10px;">Order Summary</h2>
                            <p style="margin-top: 15px;font-size: 1rem;font-weight: 700;border-bottom: 1px dashed grey;padding-bottom: 10px;" >
                                <i class="fas fa-shopping-cart" style="margin-right: 15px;"></i>
                                <span id="itemcount">
                                <%if(user.cart.tests.length == 1){%>
                                
                                <%=user.cart.tests.length%> Item in Cart.
                                <%}else{%>
                                    <%=user.cart.tests.length%> Items in Cart.
                                <%}%>
                            </span>
                            </p>        
                            <%var total = 0;%>
                                <div style="border-bottom: 1px dashed grey;padding-bottom: 10px;" id="cart-box">
                                   
                                <%for(u3 of user.cart.tests){%>
                                   <%total = total+parseInt(u3.testprice)%>
                                <%}%>  
                                <div style="display:inline-flex;width: 100%;" id="cart_item">
                                    <span style="width: 100%;font-weight: bold;font-size: 1.2rem;">Item Total</span>
                                    <span style="width: 50%;text-align: right;font-weight: bold;font-size: 1.2rem;" >Rs <%=total%></span>
                                    
                                   
                                </div> 
                                <div style="display:inline-flex;width: 100%;" id="cart_item">
                                    <span style="width: 100%;font-weight: bold;font-size: 1.2rem;">Sample Collection Charge</span>
                                    <span style="width: 50%;text-align: right;font-weight: bold;font-size: 1.2rem;" >Free</span>
                                    
                                   
                                </div> 
                                </div>  
                                
                                <div style="display:inline-flex;width: 100%;margin-top: 5px;" id="cart_item">
                                    <span style="width: 100%;font-weight: bold;font-size: 1.2rem;">Order Total</span>
                                    <span style="width: 50%;text-align: right;font-weight: bold;font-size: 1.2rem;" >Rs <%=total%></span>
                                    
                                   
                                </div> 
                                <div style="display:inline-flex;width: 100%;" id="cart_item">
                                    <span style="width: 100%;font-weight: bold;font-size: 1.2rem;">Amount Payable</span>
                                    <span style="width: 50%;text-align: right;font-weight: bold;font-size: 1.2rem;" >Rs <%=total%></span>
                                    
                                   
                                </div> 
                            <a class="btn btn-primary" href="/diagonistic/add-patient" style="width: 100%;background-color: grey !important;padding:10px !important;color: white;font-weight: bolder;margin-top: 15px;">Select Patient Details</a>
                            <p style="margin-top: 20px;">Free E-report will also be sent to your registered email id</p>
                        </div>
                     
                        
                    </div>
                  

            </div>
            <%}else{%>
                <div class="" style="padding: 5px 10px;margin-bottom: 20px;text-align: center;margin-top: 200px;">
                    <span style="font-size:2rem;font-weight: bolder;color:#575557;"><i class="fas fa-shopping-cart" style="margin-right: 15px;"></i>No Items in the cart. Your Cart Is Empty !</span>
                </div>
                <%}%>
          

            <!-- Footer -->
           
                <!-- /Footer -->

    </div>
    </section>
    <%if(lab != undefined){%>
    <div class="col-md-12 _3oqPe displayNone show_all_labs" style="display: inline-flex;">
    
        <div class="col-md-12 jss48" style="overflow-y: auto;">
          
    <div id="" class=""  style="background-color: white;padding:20px;border:1px solid rgb(194, 193, 193);width: 30%;margin-left:50px;margin-top:0px;position: absolute;right:-1%;border-radius:5px;">
        <svg onclick="removeLab()"  viewBox="0 0 24 24" style="height: 50px;cursor:pointer;width:50px;margin-left:-65px;background-color:white;top:10px;position:fixed;padding:10px"><path fill="currentColor" fill-rule="evenodd" d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4l5.6 5.6L5 17.6 6.4 19l5.6-5.6 5.6 5.6 1.4-1.4-5.6-5.6z"></path></svg>
        
        <h2 style="color:#575557;font-size: 1.5rem;padding-bottom: 0px;font-weight: bolder;">Change Lab</h2>
        <label>
            <div id="lab_card" style="border:none">
                <div class="dis20">
                    <img src="<%=lab.avatar%>"></div>
                    <div class="dis75">
                        <h2 class="dish2"><%=lab.name%></h2>
                        <p class="disp2" style="margin-top: 5px !important;"><%=lab.contacts.address%></p>
                        <p class="disp2"><%=lab.contacts.city%></p></div>
                        
                        <div class="dis5">
                            </div></div>
            <div id="mylabcard" style="padding-top: 0px;">
                <%for(let u of user.cart.tests){%>
               <p style="margin-top: -10px ;display: block;"><i class="fas fa-check-circle" style="margin-right: 10px;color:#478e8e"></i><%=u.testname%></p>
               <%}%>
            </div>
          
                        </label></br>
                        <h2 style="color:#575557;font-size: 1.2rem;padding-bottom: 5px;font-weight: bolder;">Selected items are available at below lab</h2>

        <form action="/diagonistic/switch-lab" method="POST">
        <div  style="height: 100vh;">  
            <div id="displayLab" style="height: 90%;overflow-y: auto;">
                <%var cnt = 0%>
                <%for(let u of nlabs){%>
                <label>
                    <div id="lab_card">
                        <div class="dis20">
                            <img src="<%=u.avatar%>">
                        </div>
                        <div class="dis75">
                            <h2 class="dish2"><%=u.name%></h2>
                            <p class="disp1">Rs <%=u.price%></p>
                            <p class="disp2"> <%=u.address%></p>
                            <p class="disp2"><%=u.city%></p>
                        </div>
                        <div class="dis5">
                            <input type="radio" id="rlab" name="index" value="<%=cnt%>" class="disinp">
                            <input type="hidden" name="id" value="<%=u.id%>">
                        </div>
                    </div>
                </label></br>
<%cnt++;%>
                <%}%>
            </div>
            <div style="background-color:white;width: 100%;position:sticky;bottom:5px;height: 10%;">
                <button type="submit" class="btn btn-primary" style="width:100%;font-size:1.3rem;font-weight: bold;color:white;z-index: 1000;">Select Lab</button>
            </div>      
</div>
</form>


    </div>
</div>
</div>
<%}%>
<div class="_3oqPe _3qCnb all_offers displayNone">
    <div class="jss48" aria-hidden="true" style="opacity: 1; transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;"></div>
    <div class="EFTae _1x-xk JLTl2">
        <div tabindex="0" role="button" class="_2tdEn _1pXi6 _1Hsar" style="    --swiper-theme-color: #007aff;
        --swiper-navigation-size: 44px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -webkit-box-direction: normal;
        box-sizing: border-box;
        margin: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        outline: none;
        vertical-align: baseline;
        -webkit-tap-highlight-color: transparent;
        position: absolute;
        z-index: 2;
        display: flex;
        cursor: pointer;
        color: #8897a2;
        right: 0;
        left: auto;
        top: 0;
        padding: 15px;
        background: transparent;
        user-select: none;">
            <svg viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4l5.6 5.6L5 17.6 6.4 19l5.6-5.6 5.6 5.6 1.4-1.4-5.6-5.6z"></path></svg></div>
            <div class="TwIop" style="    --swiper-theme-color: #007aff;
            --swiper-navigation-size: 44px;
            color: #4f585e;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -webkit-box-direction: normal;
            box-sizing: border-box;
            margin: 0;
            border: 0;
            font: inherit;
            outline: none;
            vertical-align: baseline;
            -webkit-tap-highlight-color: transparent;
            font-size: 14px;
            font-weight: 700;
            background: #fff;
            padding: 20px;">Apply Coupon</div><div class="_28z1P"><div class="dqefB"><div class="_329g1" style="    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    color: #4f585e;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    outline: none;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
    background: #f4f7fb;
    padding: 15px 20px;">
                <form class="tUU-v" style="    --swiper-theme-color: #007aff;
                --swiper-navigation-size: 44px;
                color: #4f585e;
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;
                -webkit-box-direction: normal;
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                font-size: 100%;
                font: inherit;
                outline: none;
                vertical-align: baseline;
                -webkit-tap-highlight-color: transparent;
                display: flex;
                border: 1px solid #8897a2;
                border-radius: 6px;
                background: #fff;">
                    <div class="jss24 _22kUX _2tgki" required="">
                        <input autocomplete="off" class="jss34 _9Rsw_ _1srU8" style="    --swiper-theme-color: #007aff;
                        --swiper-navigation-size: 44px;
                        -webkit-font-smoothing: antialiased;
                        -webkit-box-direction: normal;
                        float: left;
                        border-radius: 3px;
                        resize: none;
                        outline: none;
                        font: inherit;
                        width: 100%;
                        margin: 0;
                        display: block;
                        min-width: 0;
                        -webkit-tap-highlight-color: transparent;
                        font-size: 16px!important;
                        font-weight: 600;
                        text-transform: uppercase;
                        background: transparent;
                        color: #4f585e;
                        height: 45px;
                        box-sizing: border-box;
                        border: none;
                        padding: 10px 0 10px 15px;
                        box-shadow: none;" placeholder="Enter Coupon Code" required="" type="text" value=""></div>
                        <button class="_2FE4Z _3W5A_ _2Jc-Z _20Ov3" type="submit" style="    --swiper-theme-color: #007aff;
                        --swiper-navigation-size: 44px;
                        -webkit-font-smoothing: antialiased;
                        -webkit-box-direction: normal;
                        box-sizing: border-box;
                        margin: 0;
                        font: inherit;
                        outline: none;
                        vertical-align: baseline;
                        -webkit-tap-highlight-color: transparent;
                        width: auto;
                        height: 45px;
                        border-radius: 6px;
                        display: flex;
                        -webkit-box-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        align-items: center;
                        align-self: flex-start;
                        justify-self: flex-start;
                        cursor: pointer;
                        user-select: none;
                        flex-shrink: 0;
                        background: transparent;
                        transition: opacity .2s linear;
                        color: #3bb896;
                        text-transform: capitalize;
                        border: 0;
                        padding: 0 20px;
                        font-weight: 700;
                        font-size: 14px;">Apply</button></form></div></div>
                        <div class="v49qG" style="    --swiper-theme-color: #007aff;
                        --swiper-navigation-size: 44px;
                        color: #4f585e;
                        text-rendering: optimizeLegibility;
                        -webkit-font-smoothing: antialiased;
                        -webkit-box-direction: normal;
                        box-sizing: border-box;
                        margin: 0;
                        border: 0;
                        font-size: 100%;
                        font: inherit;
                        outline: none;
                        vertical-align: baseline;
                        -webkit-tap-highlight-color: transparent;
                        overflow-x: auto;
                        padding: 0 20px;"><div><div class="_2ZVBL"><div class="_1G4pJ" style="    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    color: #4f585e;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    outline: none;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;margin-top: 20px !important;"><div class="_2FUWc"><div class="_2Fxo3" style="    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    color: #4f585e;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    margin: 0;
    font-size: 100%;
    font: inherit;
    outline: none;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
    padding: 2px;
    width: 70px;
    height: 40px;
    border: 1px dotted #fc8019;
    border-radius: 6px;"><img src="https://cms-contents.pharmeasy.in/offer/90dddc05abc-paytm-upi.jpg" style="    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    color: #4f585e;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    outline: none;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;" alt="offer img"></div>
        </div>
        <div class="_3xFL5" style="    --swiper-theme-color: #007aff;
        --swiper-navigation-size: 44px;
        color: #4f585e;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -webkit-box-direction: normal;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        outline: none;
        vertical-align: baseline;
        -webkit-tap-highlight-color: transparent;
        font-size: 14px;
        font-weight: 600;
        max-width: 70px;
        text-align: right;">
            No Code Required
        </div>
    </div>
    <div class="_4b1wK" style="    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    color: #4f585e;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    outline: none;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    line-height: 1.5;margin-top: 10px;">Up to Rs.500 cashback on Paytm UPI and Paytm wallet</div>
    <div class="_1w7NV" style="    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    outline: none;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
    color: #8897a2;
    font-size: 12px;
    margin-bottom: 5px;
    line-height: 1.5;">Min Rs.25 and max upto 500 Cashback on a min transaction of Rs.1000.</div>
    <div class="_25rYn"></div></div>
    <div class="_2ZVBL">
        <div class="_1G4pJ">
            <div class="_2FUWc">
                <div class="_2Fxo3">
                    <img src="https://cms-contents.pharmeasy.in/offer/f0013e25c8b-PE.png" alt="offer img">
                </div>
                <div class="_1rBgw">LABTEST5</div>
            </div>
            <button class="_2FE4Z _3W5A_ _2Jc-Z v_2r1" type="submit">Apply</button>
        </div><div class="_4b1wK">Extra 5% off on lab tests/packages</div>
        <div class="_1w7NV">Extra 5% off on PharmEasy lab tests/packages. Minimum order value Rs.299</div>
        <div class="_25rYn"></div></div><div class="_2ZVBL"><div class="_1G4pJ">
            <div class="_2FUWc">
                <div class="_2Fxo3">
                    <img src="https://cms-contents.pharmeasy.in/offer/0f78216bd3c-PE.png" alt="offer img"></div>
                    <div class="_1rBgw">LABTEST15</div>
                </div>
                <button class="_2FE4Z _3W5A_ _2Jc-Z v_2r1" type="submit">Apply</button>
            </div>
            <div class="_4b1wK">Extra 15% off on lab tests/packages</div>
            <div class="_1w7NV">Extra 15% off on PharmEasy lab tests/packages. Minimum order value Rs.1500</div>
            <div class="_25rYn"></div>
        </div>
        <div class="_2ZVBL">
            <div class="_1G4pJ"><div class="_2FUWc"><div class="_2Fxo3"><img src="https://cms-contents.pharmeasy.in/offer/84e082d07d8-PE.png" alt="offer img"></div><div class="_1rBgw">LABTEST10</div></div><button class="_2FE4Z _3W5A_ _2Jc-Z v_2r1" type="submit">Apply</button></div><div class="_4b1wK">Extra 10% off on lab tests/packages</div><div class="_1w7NV">Extra 10% off on PharmEasy lab tests/packages. Minimum order value Rs.899</div><div class="_25rYn"></div></div><div class="_2ZVBL"><div class="_1G4pJ"><div class="_2FUWc"><div class="_2Fxo3"><img src="https://cms-contents.pharmeasy.in/offer/66c681514ce-LOGO-32.png" alt="offer img"></div></div><div class="_3xFL5">No Code Required</div></div><div class="_4b1wK">FLAT Rs.60 Cashback on APB</div><div class="_1w7NV">Flat Rs.60 cashback on a minimum transaction value of Rs.600. or first-time users of Airtel Payments Bank/Airtel Money Wallet on Pharmeasy</div><div class="_25rYn"></div></div></div></div></div></div></div>

<section class="mobile-sugar">
    <div class="col-md-12 lipid profile" style="margin-bottom: 20px;padding-left: 0px !important;padding-right: 0px !important;margin-top: -18px !important;">
        <div class="col-md-12" style="padding-left: 0px !important;padding-right: 0px !important;">
            
           <%if(lab != undefined){%>
            <div class="col-md-12" style="min-height: 600px;height:auto; display:inline-flex;margin-top: 20px;position:relative;opacity: 1;padding-left: 0px !important;padding-right: 0px !important;">
                <div class="col-md-12" style="display: inline-flex;width: 100%;margin-bottom: 50px;backdrop-filter: blur(5px);padding-left: 0px !important;padding-right: 0px !important;">
               
                <div class="col-md-12" style="position: absolute;padding-left: 10px !important;padding-right: 10px !important;">
                    <!-- <div class="" style="padding: 5px 10px;margin-bottom: 20px;">
                        <span style="font-size:2rem;font-weight: bolder;color:#575557;">Cart</span>
                        <span style="position:absolute;right:10%;font-size:1.1rem;font-weight: bolder;margin-top: 15px;color:#575557"><%=user.cart.tests.length%> tests</span>
                    </div> -->
                    <div style="width: 100%;">
                     <label style="width: 100%;position: relative;border:1px solid rgb(228, 223, 223)">
                         <div id="lab_card" style="width:100%;border:none !important">
                             <div class="dis20">
                                 <img src="<%=lab.avatar%>">
                            </div>
                            <div class="dis75">
                                <h2 class="dish2"><%=lab.name%></h2>
                                <p class="disp2" style="margin-top:10px !important;"><%=lab.contacts.address%></p>
                                <p class="disp2"><%=lab.contacts.city%></p>
                            </div>
                            <div class="dis5">
                                <input type="hidden" name="id" value="<%=lab.id%>">
                            </div>
                            
                        </div>
                        <div style="width: 100%;">
                            <a  class="btn btn-primary" id="switch-lab" style="border-radius: 3px !important;width:110px !important;padding:5px 5px !important;min-width: none !important;font-weight: bolder;color:white;margin-top: -15px !important;margin-left: 10px;margin-bottom: 15px;">Change Lab</a>
                        </div>

                    </label>
                </br>

                    </div>
                    <div>
                       <%var i=0%>
                        <%for(let u of user.cart.tests){%>
                            <%console.log(u._id)%>
                            <%var cnt=0%>
                        <div style="display: inline-flex;border:1px solid grey;width: 100%;padding: 15px;border-radius: 5px;margin-bottom: 5px;height: 80px !important;">
                            <div style="width: 10%;margin-right: 15px;"><span style="margin-top: 5px;margin-left:15px;color:#478e8e;font-size: 1.2rem !important;"><i class="fas fa-flask"></i></span></div>
                            <div style="width: 60%;">
                                <h2 style="margin-top: 0px;font-weight:bolder;font-size: 1.1rem !important;"><%=u.testname%></h2>
                                <h3 style="font-size: 0.9rem !important;">Report in 24 hours</h3>
                              
                            </div>
                            
                            <form action="">
                                <input type="hidden" name="id" id="testname" value="<%=u.testname%>">
                            <div style="width: 100%;display: inline-flex;padding-top: 15px;">
                                <h3 style="font-size: 1.1rem;margin-right:15px;">Rs <%=u.testprice%></h3>
                                <a  class="" id="remove_btn" data-id="<%=u._id%>" style="background-color: none !important;margin-top: 5px;"><i class="fas fa-trash"></i></a>
                            </div>
                        </form>
                        </div>
                        
                       
                        <%}%>

                        <p style="margin-top: 20px;color:black;font-weight: 600;">Free E-report will also be sent to your registered email id</p>
                        <div class="_2EKLF _2AEnB" id="offer_div" style="padding-left: 5px !important;padding-right: 5px !important;margin-bottom: 15px;"><button class="_2FE4Z h1H8I _2Jc-Z _3wff3 _3LBfS" type="submit"><div class="FM9l1"><img src="https://assets.pharmeasy.in/web-assets/dist/90a09c2f.svg" alt="*"><span style="margin-left: 10px;">Apply Coupon</span></div><svg viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" fill-rule="evenodd" d="M8 7.4L9.4 6l6 6-6 6L8 16.6l4.6-4.6z"></path></svg></button></div>
                        <div style="display:inline-flex;width: 100%;margin-bottom: 5px;" id="cart_item">
                            <span style="width: 75%;font-weight: 600;font-size: 1rem;">Item Total</span>
                            <span style="width: 25%;font-weight: bold;text-align: right;font-size: 1rem !important;margin-left: 15px;" >Rs <%=total%></span>        
                           
                        </div> 
                        <div style="display:inline-flex;width: 100%;margin-bottom: 5px;border-bottom: 1px dashed rgb(204, 203, 203);" id="cart_item">
                            <span style="width: 75%;font-weight: 600;font-size: 1rem;">Sample Collection Charge</span>
                            <span style="width: 25%;text-align: right;font-weight: bold;font-size: 1rem;" >Free</span>
                            
                           
                        </div> 
              
                        
                        <div style="display:inline-flex;margin-bottom: 5px;width: 100%;margin-top: 5px;border-bottom: 1px dashed rgb(204, 203, 203);" id="cart_item">
                            <span style="width: 100%;font-weight: 600;font-size: 1rem;">Order Total</span>
                            <span style="width: 50%;text-align: right;font-weight: bold;font-size: 1rem;" >Rs <%=total%></span>
                            
                           
                        </div> 
                        <div style="display:inline-flex;margin-bottom: 100px;width: 100%;" id="cart_item">
                            <span style="width: 100%;font-weight: 600;font-size: 1rem;">Amount Payable</span>
                            <span style="width: 50%;text-align: right;font-weight: bold;font-size: 1rem;" >Rs <%=total%></span>
                            
                           
                        </div>
                    </div>
                </div>
            </div>
 
    </div>
    <div class="col-md-12" style="position: fixed;bottom: 5px;width:100%;background-color:white;border-top: 1px solid rgb(173, 172, 172);padding-left: 10px !important;padding-right: 10px !important;">
                
        <div id="select_lab">
            <!-- <h2 style="color: grey;border-bottom: 1px solid grey;font-size: 1rem;padding-bottom: 10px;">Order Summary</h2>
            <p style="margin-top: 15px;font-size: 1rem;font-weight: 700;border-bottom: 1px dashed grey;padding-bottom: 10px;" >
                <i class="fas fa-shopping-cart" style="margin-right: 15px;"></i>
                <span id="itemcount">
                <%if(user.cart.tests.length == 1){%>
                
                <%=user.cart.tests.length%> Item in Cart.
                <%}else{%>
                    <%=user.cart.tests.length%> Items in Cart.
                <%}%>
            </span>
            </p>         -->
            <%var total = 0;%>
                <div style="margin-bottom: 10px;" id="cart-box">
                   
                <%for(u3 of user.cart.tests){%>
                   <%total = total+parseInt(u3.testprice)%>
                <%}%>  
                <div style="display:inline-flex;width: 100%;" id="cart_item">
                    <!-- <span style="width: 100%;font-weight: bold;font-size: 1.2rem;">Item Total</span> -->
                    <span style="width: 15%;font-weight: bold;font-size: 1rem !important;margin-top: 20px !important;margin-right: 15px;margin-left: 15px;" >Rs <%=total%></span>
                    <a class="btn btn-primary" href="/diagonistic/add-patient" style="width: 85%;background-color: #478e8e important;padding:10px !important;color: white;font-weight: bolder;margin-top: 5px;">Select Patient Details</a>

                   
                </div> 
                <!-- <div style="display:inline-flex;width: 100%;" id="cart_item">
                    <span style="width: 100%;font-weight: bold;font-size: 1.2rem;">Sample Collection Charge</span>
                    <span style="width: 50%;text-align: right;font-weight: bold;font-size: 1.2rem;" >Free</span>
                    
                   
                </div>  -->
                </div>  
                
                <!-- <div style="display:inline-flex;width: 100%;margin-top: 5px;" id="cart_item">
                    <span style="width: 100%;font-weight: bold;font-size: 1.2rem;">Order Total</span>
                    <span style="width: 50%;text-align: right;font-weight: bold;font-size: 1.2rem;" >Rs <%=total%></span>
                    
                   
                </div>  -->
                <!-- <div style="display:inline-flex;width: 100%;" id="cart_item">
                    <span style="width: 100%;font-weight: bold;font-size: 1.2rem;">Amount Payable</span>
                    <span style="width: 50%;text-align: right;font-weight: bold;font-size: 1.2rem;" >Rs <%=total%></span>
                    
                   
                </div>  -->
            <!-- <p style="margin-top: 20px;">Free E-report will also be sent to your registered email id</p> -->
        </div>
     
        
    </div>
    <%}else{%>
        <div class="" style="padding: 5px 10px;margin-bottom: 20px;text-align: center;margin-top: 200px;">
            <span style="font-size:2rem;font-weight: bolder;color:#575557;"><i class="fas fa-shopping-cart" style="margin-right: 15px;"></i>No Items in the cart. Your Cart Is Empty !</span>
        </div>
        <%}%>
  

    <!-- Footer -->
   
        <!-- /Footer -->

</div>
</section>
    <!-- /Main Wrapper -->
  
    
    <script src="<%=assetPath('js/jquery.min.js')%>"></script>
    <script src="<%=assetPath('js/popper.min.js')%>"></script>

    <script src="<%=assetPath('js/bootstrap.min.js')%>"></script>
   

    <script src="<%=assetPath('plugins/theia-sticky-sidebar/ResizeSensor.js')%>"></script>
    <script src="<%=assetPath('plugins/theia-sticky-sidebar/theia-sticky-sidebar.js')%>"></script>
    <script src="<%=assetPath('js/script.js')%>"></script>
   
    <script>
         var selectlab = $("#select_lab"); 
         var show_all = $(".show_all_labs");
         var testname = document.querySelectorAll('#testname');
         var selectnew = document.querySelectorAll('#select_new');
        var displaylab = $("#displayLab");


function removeLab()
{
    selectlab.removeClass('displayNone');
    show_all.addClass('displayNone'); 
}
var switchlab = document.getElementById('switch-lab');
switchlab.addEventListener('click',function(e)
{
    e.preventDefault();
    show_all.removeClass('displayNone')
})
var selectnew = document.querySelectorAll('#select_new');
for(let i=0;i<selectnew.length;i++)
{
    selectnew[i].addEventListener('click',function (e) {
    e.preventDefault();
    
    selectlab.addClass('displayNone');
    show_all.removeClass('displayNone');
    
    let tname= testname[i].value;
    let tid = selectnew[i].getAttribute('data-id')
   console.log(tname)

    let url = "http://localhost:4000/diagonistic/select-lab/?testname=" + tname;
    
    $.get(url, function (data) {
       
        console.log(data.doctors);
        $('#displayLab label').html('');
        var cnt =0;
        for (let lab of data.doctors) {
     
            var addlab = '<label><div id="lab_card"><div class="dis20"><img src="'+ lab.avatar +'"></div><div class="dis75"><h2 class="dish2">'+lab.name + '</h2><p class="disp1">Rs '+ lab.price + '</p><p class="disp2"> '  + lab.address + '</p><p class="disp2">' + lab.city + '</p></div><div class="dis5"><input type="radio" id="rlab" name="index" value="'+ cnt + '" class="disinp"><input type="hidden" name="id" value="'+ lab.id + '"><input type="hidden" name="tid" value="'+ tid + '"></div></div></label></br>'
            $('#displayLab').append(addlab);
            cnt++;
        }

        
    });

});
}


    </script>

    <script>
        function show(count) {
            var up = document.querySelectorAll("#up");
            var down = document.querySelectorAll("#down");
            var test = document.getElementById("test");
            var prep = document.getElementById("prep");
            var result = document.getElementById("result");

            if (count == 0) {
                test.classList.toggle('displayNone');
                down[count].classList.toggle('displayNone');
                up[count].classList.toggle('displayNone');

            }
            if (count == 1) {
                prep.classList.toggle('displayNone');
                down[count].classList.toggle('displayNone');
                up[count].classList.toggle('displayNone');
            }
            if (count == 2) {
                result.classList.toggle('displayNone');
                down[count].classList.toggle('displayNone');
                up[count].classList.toggle('displayNone');

            }
        }

        function hide(count) {


            var up = document.querySelectorAll("#up");
            var down = document.querySelectorAll("#down");
            var test = document.getElementById("test");
            var prep = document.getElementById("prep");
            var result = document.getElementById("result");

            if (count == 0) {
                test.classList.add('displayNone');
                up[count].classList.add('displayNone');
                down[count].classList.remove('displayNone');

            }
            if (count == 1) {
                prep.classList.add('displayNone');
                up[count].classList.add('displayNone');
                down[count].classList.remove('displayNone');

            }
            if (count == 2) {
                result.classList.add('displayNone');
                up[count].classList.add('displayNone');
                down[count].classList.remove('displayNone');
            }



        }
    </script>
    <script>
        function changeDiv(count) {
            var div1 = document.getElementById('div1');
            var div2 = document.getElementById('div2');
            var div3 = document.getElementById('div3');
            var div4 = document.getElementById('div4');

            var featured = document.getElementById('featured');
            var diabetes = document.getElementById('Diabetes');
            var women = document.getElementById('women');
            var mens = document.getElementById('mens');


            if (count == 1) {
                div1.classList.remove('displayNone');
                div2.classList.add('displayNone');
                div3.classList.add('displayNone');
                div4.classList.add('displayNone');
                featured.classList.add('active-popular1');
                diabetes.classList.remove('active-popular1');
                women.classList.remove('active-popular1');
                mens.classList.remove('active-popular1');



            }
            if (count == 2) {
                div1.classList.add('displayNone');
                div2.classList.remove('displayNone');
                div3.classList.add('displayNone');
                div4.classList.add('displayNone');
                featured.classList.remove('active-popular1');
                diabetes.classList.add('active-popular1');
                women.classList.remove('active-popular1');
                mens.classList.remove('active-popular1');


            }
            if (count == 3) {
                div1.classList.add('displayNone');
                div2.classList.add('displayNone');
                div3.classList.remove('displayNone');
                div4.classList.add('displayNone');
                featured.classList.remove('active-popular1');
                diabetes.classList.remove('active-popular1');
                women.classList.add('active-popular1');
                mens.classList.remove('active-popular1');


            }
            if (count == 4) {
                div1.classList.add('displayNone');
                div2.classList.add('displayNone');
                div3.classList.add('displayNone');
                div4.classList.remove('displayNone');
                featured.classList.remove('active-popular1');
                diabetes.classList.remove('active-popular1');
                women.classList.remove('active-popular1');
                mens.classList.add('active-popular1');

            }


        }
    </script>

    <!-- jQuery -->
  



</body>

<!-- AarogyaHub/  30 Nov 2019 04:11:53 GMT -->

</html>