<!DOCTYPE html>
<html lang="en">

<!-- doccure/doctor-change-password  30 Nov 2019 04:12:36 GMT -->

<head>
    <meta charset="utf-8">
    <title>Doccure</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="plugins/select2/css/select2.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
    
        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar paddingt" style="padding-top: 40px !important;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Change Bank Details</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Change Bank Details</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar lscreen">

                        <!-- Profile Sidebar -->
                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content">
                                <div class="profile-info-widget">
                                    <a href="#" class="booking-doc-img">
                                        <img src="<%=locals.user.avatar%>" onerror='this.src="/img/profile.png"'  alt="User Image">
                                    </a>
                                    <div class="profile-det-info">
                                        <h3>Dr.
                                            <%=locals.user.name%></h3>

                                        <div class="patient-details">
                                            <h5 class="mb-0">
                                                <%=locals.user.department%>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-widget">
                                <nav class="dashboard-menu">
                                    <ul>
                                       
                                      
                                        <li>
                                            <a href="/schedule-timings">
                                                <i class="fas fa-hourglass-start"></i>
                                                <span>Schedule Timings</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/bank-details">
                                                <i class="fas fa-university"></i>
                                                <span>Add Bank Account</span>
                                            </a>
                                        </li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- /Profile Sidebar -->

                    </div>

                    <div class="col-md-10 col-lg-8 col-xl-9">
                    
                        
                                        <form action="/user/change-bank-account" method="POST">
                                            <!-- Basic Information -->
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4 class="card-title">Bank Details</h4>
                                                    <%if(locals.user.account_change == true){%>
                                                        <div class="alert alert-info alert-dismissible fade show malert" role="alert" style="margin-top: 15px;">
                                                            <strong>Note!</strong> Your request for account change has been done. You will recieve confirmation message once account is been  <a href="#" class="alert-link">changed.</a>
                                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </div>
                                                        <%}%>
                                                    <h5 style="font-size: 0.9rem;font-weight: bold;"><i class="fas fa-exclamation-circle" style="color: red;margin-right: 10px;">
                                                        <span></i>Changing Account details may take few time.If you donot want to continue the transactions in your current account we recommend you to </span>
                                                        <span><a href="/booking-service" id="noa" style="color: blue;display: inline-flex;margin-left: 20px;">disable online booking service. </a></span>
                                                        <span>You can enable it again once you recieve account change confirmation.</span></h5>
                                                    <div class="row form-row">
                                                        <div class="col-sm-12 col-md-6">
                                                            <div class="form-group">
                                                                <label>Bank Name</label>
                                                                <!-- <input type="text" placeholder="Enter the Bank Name" name="bankname" value="<%=locals.user.new_bank.bankname%>" class="form-control"> -->
                                                                <select name="bankname" class="form-control" required>
                                                                    <option selected="selected" value="0">--Select --</option>
                                    
                                    <%if(locals.user.new_bank.bankname == 'ALLAHABAD BANK'){%>
                                    <option value="ALLAHABAD BANK" selected>ALLAHABAD BANK </option>
                                    <%}else{%>
                                    <option value="ALLAHABAD BANK">ALLAHABAD BANK </option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'AP MAHESH CO-OPERATIVE URBAN BANK'){%>
                                    <option value="AP MAHESH CO-OPERATIVE URBAN BANK" selected>AP MAHESH CO-OPERATIVE URBAN BANK </option>
                                    <%}else{%>
                                    <option value="AP MAHESH CO-OPERATIVE URBAN BANK">AP MAHESH CO-OPERATIVE URBAN BANK </option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'ABHYUDAYA CO-OPERATIVE BANK'){%>
                                    <option value="ABHYUDAYA CO-OPERATIVE BANK" selected>ABHYUDAYA CO-OPERATIVE BANK </option>
                                    <%}else{%>
                                    <option value="ABHYUDAYA CO-OPERATIVE BANK">ABHYUDAYA CO-OPERATIVE BANK</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'ADARSH CO-OPERATIVE BANK LIMITED'){%>
                                    <option value="ADARSH CO-OPERATIVE BANK LIMITED" selected>ADARSH CO-OPERATIVE BANK LIMITED </option>
                                    <%}else{%>
                                    <option value="ADARSH CO-OPERATIVE BANK LIMITED">ADARSH CO-OPERATIVE BANK LIMITED </option>
                                    <%}%>
                                        <%if(locals.user.new_bank.bankname == 'AHMEDABAD MERCANTILE CO-OPERATIVE BANK'){%>
                                        <option value="AHMEDABAD MERCANTILE CO-OPERATIVE BANK" selected>AHMEDABAD MERCANTILE CO-OPERATIVE BANK</option>
                                        <%}else{%>
                                        <option value="AHMEDABAD MERCANTILE CO-OPERATIVE BANK"> AHMEDABAD MERCANTILE CO-OPERATIVE BANK </option>
                                        <%}%>
                                        <%if(locals.user.new_bank.bankname == 'AIRTEL PAYMENTS BANK LIMITED'){%>
                                        <option value="AIRTEL PAYMENTS BANK LIMITED" selected>AIRTEL PAYMENTS BANK LIMITED </option>
                                        <%}else{%>
                                        <option value="AIRTEL PAYMENTS BANK LIMITED">AIRTEL PAYMENTS BANK LIMITED </option>
                                        <%}%>
                                        <%if(locals.user.new_bank.bankname == 'ANDHRA BANK STATE CO-OPERATIVE BANK'){%>
                                        <option value="ANDHRA BANK STATE CO-OPERATIVE BANK" selected>ANDHRA BANK STATE CO-OPERATIVE BANK </option>
                                        <%}else{%>
                                        <option value="ANDHRA BANK STATE CO-OPERATIVE BANK">ANDHRA BANK STATE CO-OPERATIVE BANK </option>
                                        <%}%>
                                        <%if(locals.user.new_bank.bankname == 'ANDHRA PRADESH STATE CO-OPERATIVE BANK'){%>
                                        <option value="ANDHRA PRADESH STATE CO-OPERATIVE BANK" selected>ANDHRA PRADESH STATE CO-OPERATIVE BANK </option>
                                        <%}else{%>
                                        <option value="ANDHRA BANK">ANDHRA PRADESH STATE CO-OPERATIVE BANK </option>
                                        <%}%>
                                        <%if(locals.user.new_bank.bankname == 'ANDHRA PRAGATI GRAMEENA BANK'){%>
                                        <option value="ANDHRA PRAGATI GRAMEENA BANK" selected>ANDHRA PRAGATI GRAMEENA BANK </option>
                                        <%}else{%>
                                        <option value="ANDHRA PRAGATI GRAMEENA BANK">ANDHRA PRAGATI GRAMEENA BANK </option>
                                        <%}%>
                                        <%if(locals.user.new_bank.bankname == 'APNA SAHAKARI BANK'){%>
                                        <option value="APNA SAHAKARI BANK" selected>APNA SAHAKARI BANK </option>
                                        <%}else{%>
                                        <option value="APNA SAHAKARI BANK">APNA SAHAKARI BANK </option>
                                        <%}%>
                                        <%if(locals.user.new_bank.bankname == 'ASSAM GRAMIN VIKASH BANK'){%>
                                        <option value="ASSAM GRAMIN VIKASH BANK" selected>ASSAM GRAMIN VIKASH BANK </option>
                                        <%}else{%>
                                        <option value="ASSAM GRAMIN VIKASH BANK">ASSAM GRAMIN VIKASH BANK </option>
                                        <%}%>
                                    
                                        <%if(locals.user.new_bank.bankname == 'AU SMALL FINANCE BANK LIMITED'){%>
                                        <option value="AU SMALL FINANCE BANK LIMITED" selected>AU SMALL FINANCE BANK LIMITED </option>
                                        <%}else{%>
                                        <option value="AU SMALL FINANCE BANK LIMITED">AU SMALL FINANCE BANK LIMITED </option>
                                        <%}%>
                                    
                                    <%if(locals.user.new_bank.bankname == 'ANDHRA BANK'){%>
                                    <option value="ANDHRA BANK" selected>ANDHRA BANK </option>
                                    <%}else{%>
                                    <option value="ANDHRA BANK">ANDHRA BANK </option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'AXIS BANK'){%>
                                    <option value="AXIS BANK" selected>AXIS BANK</option>
                                    <%}else{%>
                                    <option value="AXIS BANK">AXIS BANK</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'BANASKANTHA DISTRICT CENTRAL CO-OP BANK LTD.'){%>
                                        <option value="BANASKANTHA DISTRICT CENTRAL CO-OP BANK LTD." selected>BANASKANTHA DISTRICT CENTRAL CO-OP BANK LTD.</option>
                                        <%}else{%>
                                        <option value="BANASKANTHA DISTRICT CENTRAL CO-OP BANK LTD.">BANASKANTHA DISTRICT CENTRAL CO-OP BANK LTD.</option>
                                        <%}%>
                                        <%if(locals.user.new_bank.bankname == 'BARODA CENTRAL C0-OP BANK LTD'){%>
                                            <option value="BARODA CENTRAL C0-OP BANK LTD" selected>BARODA CENTRAL C0-OP BANK LTD</option>
                                            <%}else{%>
                                            <option value="BARODA CENTRAL C0-OP BANK LTD">BARODA CENTRAL C0-OP BANK LTD</option>
                                            <%}%>
                                            <%if(locals.user.new_bank.bankname == 'BRODA GUJRAT GRAMIN BANK'){%>
                                                <option value="BRODA GUJRAT GRAMIN BANK" selected>BRODA GUJRAT GRAMIN BANK</option>
                                                <%}else{%>
                                                <option value="BRODA GUJRAT GRAMIN BANK">BRODA GUJRAT GRAMIN BANK</option>
                                                <%}%>
                                    
                                    <%if(locals.user.new_bank.bankname == 'BRODA RAJASTHAN KSHETRIYA GRAMIN BANK'){%>
                                    <option value="BRODA RAJASTHAN KSHETRIYA GRAMIN BANK" selected>BRODA RAJASTHAN KSHETRIYA GRAMIN BANK</option>
                                    <%}else{%>
                                    <option value="BRODA RAJASTHAN KSHETRIYA GRAMIN BANK">BRODA RAJASTHAN KSHETRIYA GRAMIN BANK</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'BRODA UP GRAMIN BANK'){%>
                                        <option value="BRODA UP GRAMIN BANK" selected>BRODA UP GRAMIN BANK</option>
                                        <%}else{%>
                                        <option value="BRODA UP GRAMIN BANK">BRODA UP GRAMIN BANK</option>
                                        <%}%>
                                    
                                    <%if(locals.user.new_bank.bankname == 'BANK OF MAHARASHTRA'){%>
                                    <option value="BANK OF MAHARASHTRA" selected>BANK OF MAHARASHTRA</option>
                                    <%}else{%>
                                    <option value="BANK OF MAHARASHTRA">BANK OF MAHARASHTRA</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'BANK OF BARODA'){%>
                                    <option value="BANK OF BARODA" selected>BANK OF BARODA</option>
                                    <%}else{%>
                                    <option value="BANK OF BARODA">BANK OF BARODA</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'BANK OF INDIA'){%>
                                    <option value="BANK OF INDIA" selected>BANK OF INDIA</option>
                                    <%}else{%>
                                    <option value="BANK OF INDIA">BANK OF INDIA</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'BANDHAN BANK'){%>
                                    <option value="BANDHAN BANK" selected>BANDHAN BANK</option>
                                    <%}else{%>
                                    <option value="BANDHAN BANK">BANDHAN BANK</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'BHARATIYA MAHILA BANK LIMITED'){%>
                                    <option value="BHARATIYA MAHILA BANK LIMITED" selected>BHARATIYA MAHILA BANK LIMITED</option>
                                    <%}else{%>
                                    <option value="BHARATIYA MAHILA BANK LIMITED">BHARATIYA MAHILA BANK LIMITED</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'CITIBANK'){%>
                                        <option value="CITIBANK" selected>CITIBANK</option>
                                        <%}else{%>
                                        <option value="CITIBANK">CITIBANK</option>
                                        <%}%>
                                    <%if(locals.user.new_bank.bankname == 'CANARA BANK'){%>
                                    <option value="CANARA BANK" selected>CANARA BANK</option>
                                    <%}else{%>
                                    <option value="CANARA BANK">CANARA BANK</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'CORPORATION BANK'){%>
                                    <option value="CORPORATION BANK" selected>CORPORATION BANK</option>
                                    <%}else{%>
                                    <option value="CORPORATION BANK">CORPORATION BANK</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'CENTRAL BANK OF INDIA'){%>
                                    <option value="CENTRAL BANK OF INDIA" selected>CENTRAL BANK OF INDIA</option>
                                    <%}else{%>
                                    <option value="CENTRAL BANK OF INDIA">CENTRAL BANK OF INDIA</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'DENA BANK'){%>
                                    <option value="DENA BANK" selected>DENA BANK</option>
                                    <%}else{%>
                                    <option value="DENA BANK">DENA BANK</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'FEDERAL BANK LTD'){%>
                                    <option value="FEDERAL BANK LTD" selected>FEDERAL BANK LTD </option>
                                    <%}else{%>
                                    <option value="FEDERAL BANK LTD">FEDERAL BANK LTD </option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'FINO PAYMENT BANK'){%>
                                        <option value="FINO PAYMENT BANK" selected>FINO PAYMENT BANK</option>
                                        <%}else{%>
                                            <option value="FINO PAYMENT BANK">FINO PAYMENT BANK</option>
                                            <%}%>
                                    
                                    <%if(locals.user.new_bank.bankname == 'GRAMIN VIKASH BANK'){%>
                                    <option value="GRAMIN VIKASH BANK" selected>GRAMIN VIKASH BANK</option>
                                    <%}else{%>
                                    <option value="GRAMIN VIKASH BANK">GRAMIN VIKASH BANK</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'HDFC BANK LTD'){%>
                                        <option value="HDFC BANK LTD" selected>HDFC BANK LTD</option>
                                        <%}else{%>
                                            <option value="HDFC BANK LTD">HDFC BANK LTD</option>
                                            <%}%>
                                    <%if(locals.user.new_bank.bankname == 'INDUSIND BANK LTD'){%>
                                        <option value="INDUSIND BANK LTD" selected>INDUSIND BANK LTD</option>
                                        <%}else{%>
                                            <option value="INDUSIND BANK LTD">INDUSIND BANK LTD</option>
                                            <%}%>
                                                                                                                                                                    
                                    <%if(locals.user.new_bank.bankname == 'INDIAN BANK'){%>
                                    <option value="INDIAN BANK" selected>INDIAN BANK</option>
                                    <%}else{%>
                                    <option value="INDIAN BANK">INDIAN BANK</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'INDIAN OVERSEAS BANK'){%>
                                    <option value="INDIAN OVERSEAS BANK" selected>INDIAN OVERSEAS BANK</option>
                                    <%}else{%>
                                    <option value="INDIAN OVERSEAS BANK">INDIAN OVERSEAS BANK</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'ICICI BANK LTD'){%>
                                    <option value="ICICI BANK LTD" selected>ICICI BANK LTD</option>
                                    <%}else{%>
                                    <option value="ICICI BANK LTD">ICICI BANK LTD</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'IDBI BANK LTD'){%>
                                    <option value="IDBI BANK LTD" selected>IDBI BANK LTD</option>
                                    <%}else{%>
                                    <option value="IDBI BANK LTD">IDBI BANK LTD</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'KARNATAKA BANK LTD'){%>
                                    <option value="KARNATAKA BANK LTD" selected>KARNATAKA BANK LTD</option>
                                    <%}else{%>
                                    <option value="KARNATAKA BANK LTD">KARNATAKA BANK LTD</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'KOTAK MAHINDRA BANK'){%>
                                    <option value="KOTAK MAHINDRA BANK" selected>KOTAK MAHINDRA BANK</option>
                                    <%}else{%>
                                    <option value="KOTAK MAHINDRA BANK">KOTAK MAHINDRA BANK</option>
                                    <%}%>
                                    
                                    <%if(locals.user.new_bank.bankname == 'ORIENTAL BANK OF COMMERCE'){%>
                                    <option value="ORIENTAL BANK OF COMMERCE" selected>ORIENTAL BANK OF COMMERCE</option>
                                    <%}else{%>
                                    <option value="ORIENTAL BANK OF COMMERCE">ORIENTAL BANK OF COMMERCE</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'PUNJAB AND SIND BANK'){%>
                                    <option value="PUNJAB AND SIND BANK" selected>PUNJAB AND SIND BANK</option>
                                    <%}else{%>
                                    <option value="PUNJAB AND SIND BANK">PUNJAB AND SIND BANK</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'PUNJAB NATIONAL BANK'){%>
                                    <option value="PUNJAB NATIONAL BANK" selected>PUNJAB NATIONAL BANK</option>
                                    <%}else{%>
                                    <option value="PUNJAB NATIONAL BANK">PUNJAB NATIONAL BANK</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'PAYTM BANK'){%>
                                    <option value="PAYTM BANK" selected>PAYTM BANK</option>
                                    <%}else{%>
                                    <option value="PAYTM BANK">PAYTM BANK</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'RESERVE BANK OF INDIA'){%>
                                    <option value="RESERVE BANK OF INDIA" selected>RESERVE BANK OF INDIA</option>
                                    <%}else{%>
                                    <option value="RESERVE BANK OF INDIA">RESERVE BANK OF INDIA</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'STATE BANK OF INDIA'){%>
                                    
                                    <option value="STATE BANK OF INDIA" selected>STATE BANK OF INDIA</option>
                                    <%}else{%>
                                    <option value="STATE BANK OF INDIA">STATE BANK OF INDIA</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'SOUTH INDIAN BANK'){%>
                                    <option value="SOUTH INDIAN BANK" selected>SOUTH INDIAN BANK</option>
                                    <%}else{%>
                                    <option value="SOUTH INDIAN BANK">SOUTH INDIAN BANK</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'SYNDICATE BANK'){%>
                                    <option value="SYNDICATE BANK" selected>SYNDICATE BANK</option>
                                    <%}else{%>
                                    <option value="SYNDICATE BANK">SYNDICATE BANK</option>
                                    <%}%>                
                                    <%if(locals.user.new_bank.bankname == 'UCO BANK'){%>
                                    <option value="UCO BANK" selected>UCO BANK</option>
                                    <%}else{%>
                                    <option value="UCO BANK">UCO BANK</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'UNION BANK OF INDIA'){%>
                                    <option value="UNION BANK OF INDIA" selected>UNION BANK OF INDIA</option>
                                    <%}else{%>
                                    <option value="UNION BANK OF INDIA">UNION BANK OF INDIA</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'UNITED BANK OF INDIA'){%>
                                    <option value="UNITED BANK OF INDIA" selected>UNITED BANK OF INDIA</option>
                                    <%}else{%>
                                    <option value="UNITED BANK OF INDIA">UNITED BANK OF INDIA</option>
                                    <%}%>  
                                    <%if(locals.user.new_bank.bankname == 'VIJAYA BANK'){%>
                                    <option value="VIJAYA BANK" selected>VIJAYA BANK</option>
                                    <%}else{%>
                                    <option value="VIJAYA BANK">VIJAYA BANK</option>
                                    <%}%>
                                    <%if(locals.user.new_bank.bankname == 'YES BANK LTD'){%>
                                    <option value="YES BANK LTD" selected>YES BANK LTD</option>
                                    <%}else{%>
                                    <option value="YES BANK LTD">YES BANK LTD</option>
                                    <%}%>
                                    
                                                                  
                                                                  </select>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row form-row">
                                                        <div class="col-sm-12 col-md-6">
                                                            <div class="form-group">
                                                                <label>Account Number</label>
                                                                <input type="text" placeholder="Enter your Account Number" name="accountnumber" value="<%=locals.user.new_bank.accountnumber%>" class="form-control" required>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row form-row">
                                                        <div class="col-sm-12 col-md-6">
                                                            <div class="form-group">
                                                                <label>Re-enter Account Number</label>
                                                                <input type="text" placeholder="Enter your Account Number" name="reaccountnumber" value="<%=locals.user.new_bank.accountnumber%>" class="form-control" required>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row form-row">
                                                        <div class="col-sm-12 col-md-6">
                                                            <div class="form-group">
                                                                <label>Account Holder Name</label>
                                                                <input type="text" placeholder="Renter your Account Number" name="accountholdername" value="<%=locals.user.new_bank.accountholdername%>" class="form-control" required>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row form-row">
                                                        <div class="col-sm-12 col-md-6">
                                                            <div class="form-group">
                                                                <label>IFSC Code</label>
                                                                <input type="text" placeholder="Enter IFSCcode" name="ifsccode" value="<%=locals.user.new_bank.ifsccode%>" class="form-control" required>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="submit-section submit-btn-bottom text-left">
                                                        <button type="submit" class="btn btn-primary submit-btn">Request Change</button>
                                                    </div>

                                                </div>

                                            </div>
                                        </form>


                    </div>
                </div>

            </div>
            <!-- /Page Content -->

            <!-- Footer -->
            <%-include('footer');%>
            <!-- /Footer -->

        </div>
        <!-- /Main Wrapper -->

        <!-- jQuery -->
        <script src="js/jquery.min.js"></script>

        <!-- Bootstrap Core JS -->
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

        <!-- Sticky Sidebar JS -->
        <script src="plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
        <script src="plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>
        <!-- <script src="plugins/select2/js/select2.min.js"></script> -->


        <!-- Custom JS -->
        <script src="js/script.js"></script>

        <script>
            document.getElementById("imageUpload").onchange = function() {
                document.getElementById("edit_form").submit();
            };
        </script>
        <script>
            document.getElementById("imageUpload1").onchange = function() {
                document.getElementById("edit_form1").submit();
            };
        </script>

        <script>
            <%if(flash.success && flash.success.length>0){%>
            new Noty({
                theme: 'metroui',
                text: '<%=flash.success%>',
                type: 'success',
                layout: 'topRight',
                timeout: 1500
            }).show();
            <%}%>
            <%if(flash.error && flash.error.length>0){%>
            new Noty({
                theme: 'metroui',
                text: '<%=flash.error%>',
                type: 'error',
                layout: 'topRight',
                timeout: 3000
            }).show();
            <%}%>
        </script>

</body>

<!-- doccure/doctor-change-password  30 Nov 2019 04:12:36 GMT -->

</html>