<!DOCTYPE html>
<html lang="en">

<!-- doccure/change-password  30 Nov 2019 04:12:18 GMT -->

<head>
    <meta charset="utf-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
       
        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Change Password</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                        <!-- Profile Sidebar -->
                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content">
                                <div class="profile-info-widget">
                                    <a href="#" class="booking-doc-img">
											<img src="<%=locals.user.avatar%> " alt="User Image" onerror=this.src="/img/profile.png">
										</a>
                                    <div class="profile-det-info">
                                        <h3>
                                            <%=locals.user.name%>
                                        </h3>

                                        <div class="locals.user-details">
                                            <%if(locals.user.dob){var newDateObject = new Date();
	
													var newObjectCurrentYear = newDateObject.getFullYear();
													
													var userDateObject = locals.user.dob;
													
													var userDateObjectPieces = userDateObject.split("/");
													
													var userObjectYear = userDateObjectPieces[2];
													
													var age = parseInt(newObjectCurrentYear) - parseInt(userObjectYear);
	
													%>
                                                <h style="font-size: 0.85rem;" 5><i class="fas fa-birthday-cake"></i>
                                                    <%=locals.user.dob%> ,
                                                        <%=age%> Years

                                                            </h5>
                                                            <%}%>
                                                                <%if(locals.user.city){%>
                                                                    <h5 style="font-size: 0.85rem;" class="mb-0"><i class="fas fa-map-marker-alt"></i>
                                                                        <%=locals.user.city%>
                                                                            <%=locals.user.state%>
                                                                    </h5>
                                                                    <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-widget">
                                <nav class="dashboard-menu">
                                    <ul>
                                        <li>
                                            <a href="/patient-dashboard">
                                                <i class="fas fa-columns"></i>
                                                <span>Dashboard</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/favourites">
                                                <i class="fas fa-bookmark"></i>
                                                <span>Favourites</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/chat">
                                                <i class="fas fa-comments"></i>
                                                <span>Message</span>
                                                <small class="unread-msg">23</small>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/profile-settings">
                                                <i class="fas fa-user-cog"></i>
                                                <span>Profile Settings</span>
                                            </a>
                                        </li>
                                        <li class="active">
                                            <a href="/change-password">
                                                <i class="fas fa-lock"></i>
                                                <span>Change Password</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/user/logout">
                                                <i class="fas fa-sign-out-alt"></i>
                                                <span>Logout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                        <!-- /Profile Sidebar -->

                    </div>

                    <div class="col-md-7 col-lg-8 col-xl-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-6">

                                        <!-- Change Password Form -->
                                        <form action="/user/change-password" method="POST">
                                            <div class="form-group">
                                                <label>Old Password</label>
                                                <input type="password" name="old" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>New Password</label>
                                                <input type="password" name="password" class="form-control">
                                                <input type="hidden" name="phone" value="<%=locals.user.phone%>">
                                            </div>
                                            <div class="form-group">
                                                <label>Confirm Password</label>
                                                <input type="password" name="confirm" class="form-control">
                                            </div>
                                            <div class="submit-section">
                                                <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                                            </div>
                                        </form>
                                        <!-- /Change Password Form -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Custom JS -->
    <script src="js/script.js"></script>
    <script>
        <%if(flash.success && flash.success.length>0){%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.success%>',
            type: 'success',
            layout: 'topRight',
            timeout: 3000
        }).show();
        <%}%>
        <%if(flash.error && flash.error.length>0){%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.error%>',
            type: 'error',
            layout: 'topRight',
            timeout: 3000
        }).show();
        <%}%>
    </script>

</body>

<!-- doccure/change-password  30 Nov 2019 04:12:18 GMT -->

</html>