<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="<%=assetPath('css/bootstrap.min.css')%>">

	<link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/fontawesome.min.css')%>">
    <link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/all.min.css')%>">
    
	<link rel="stylesheet" href="<%=assetPath('css/style1.css')%>">
	<link rel="stylesheet" href="<%=assetPath('css/style.css')%>">
</head>


<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <%-include('header');%>
        <!-- Header -->
     
        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar lptop">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Tests</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Add Tests</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar lscreen">

                        <!-- Profile Sidebar -->
                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content">
                                <div class="profile-info-widget">
                                    <a href="#" class="booking-doc-img">
										<img src="<%=locals.user.avatar%>" onerror='this.src="<%=assetPath('img/profile.png')%>"' alt="User Image">

                                    </a>
                                    <div class="profile-det-info">
                                        <h3> 
                                            <%=locals.user.name%>
                                        </h3>

                                        <div class="patient-details">
                                            <h5 class="mb-0">
                                                <%=locals.user.department%>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-widget">
                                <nav class="dashboard-menu">
                                   
                                </nav>
                            </div>
                        </div>
                        <!-- /Profile Sidebar -->

                    </div>
                    <div class="col-md-7 col-lg-8 col-xl-9" style="background-color: white;padding: 15px;">
                       <%if(locals.user.tests.length>0){%>
                        <div class="">
                            <div class="row"style="text-align:center;margin-left:30px;" >
                                <h2 style="text-align:center !important;">Recently Added tests</h2>
                            </div>
                            <!-- <h2>Test Added</h2> -->
                            <ul style="list-style: none;width: 100%;">
                               <%var i1 =0%>
                            <%for(t1 of locals.user.tests){%>
                                <form action="/diagonistic/update-test/?id=<%=t1.id%>" method="POST">
                                <li style="border:1px solid grey;padding:5px;display:inline-flex;width:100%;">
                                    <input type="checkbox" class="timing" name="testname" value="<%=t1.testname%>" style="margin-left: 10px;margin-right:10px;margin-top: 5px;" checked ><%=t1.testname%>
                                    <input type="text" name="testprice" class="form-control" value="<%=t1.testprice%>"style="width:30%;margin-left: 10px;">
                                    <input type="hidden" name="index"  value="<%=i1++%>" >
                                    <a href="/diagonistic/delete-test/?id=<%=t1.id%>" class="btn btn-sm bg-danger" style="color: white;margin-left:15px;width:150px !important;padding-top: 10px;font-size: 1rem;;">
                                    <i class="fas fa-trash"></i> 
                                    Delete</a>
                                     <button type="submit" class="btn btn-primary btn-block btn-lg login-btn" style="margin-left: 15px;width:150px !important">Update</a>
                                </li>
                            </form>
                            <%}%>
                           
                       
                        </ul>
                        </div>
                        <%}%>
                        <div class="">
                            <div class="row"style="text-align:center;margin-left:30px;" >
                                <h2 style="text-align:center !important;">Add tests</h2>
                            </div>
                            <ul style="list-style: none;width: 50%;">
                                <form action="/diagonistic/add-test" method="POST">
                            <%for(t of tests){%>
                                <%var flag = false;%>
                                     <%for(t1 of locals.user.tests){%>
                                        <%if(t1.testname == t.testname){%>
                                            <%flag = true;%>
                                        <%}%>
                                        <%}%>
                                        <%if(flag){%>
                                            <li class="displayNone">
                                                <input type="checkbox" name="testname" value="<%=t.testname%>"><%=t.testname%>
                                                <input type="text" name="testprice">
                                            </li>
                                        <%}else{%>
                                            <li style="border:1px solid grey;padding:5px;display:inline-flex;width:100%;">
                                                <input type="checkbox" name="testname" value="<%=t.testname%>" class="" onclick="showprice()"  style="margin-left: 10px;margin-right:10px;margin-top: 5px;"><%=t.testname%>
                                                <input type="text" name="testprice" class="form-control" style="width:50%;margin-left: 15px;">
                                            </li><%}%>
                              
                            <%}%>
                            <button type="submit" class="btn btn-primary submit-btn" style="margin-top: 30px;">Submit</button>
                        </form>
                        </ul>
                        </div>
                   

                    </div>
                
                </div>

            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="<%=assetPath('js/jquery.min.js')%>"></script>
    <script src="<%=assetPath('js/popper.min.js')%>"></script>

    <script src="<%=assetPath('js/bootstrap.min.js')%>"></script>
   

    <script src="<%=assetPath('plugins/theia-sticky-sidebar/ResizeSensor.js')%>"></script>
    <script src="<%=assetPath('plugins/theia-sticky-sidebar/theia-sticky-sidebar.js')%>"></script>
    <script src="<%=assetPath('js/script.js')%>"></script> 

</body>

<!-- doccure/invoices  30 Nov 2019 04:12:14 GMT -->

</html>