<!DOCTYPE html>
<html lang="en">

<!-- doccure/booking  30 Nov 2019 04:12:16 GMT -->
<head>
    <link rel="stylesheet" href="<%=assetPath('css/bootstrap.min.css')%>">
	<link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/fontawesome.min.css')%>">
    <link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/all.min.css')%>">
    
	<link rel="stylesheet" href="<%=assetPath('css/style1.css')%>">
	<link rel="stylesheet" href="<%=assetPath('css/style.css')%>">
</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <%-include('header');%>
        <!-- Header -->

        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar lptop">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li  class="breadcrumb-item"><a href="/">Home</a></li>
                                <li  class="breadcrumb-item active" aria-current="page">Select Doctor</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">All Doctors</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content">
            <div class="container">
               
                    <div class="row">
                       
                        <div class="col-md-12 ">
                            <div class="clinic-booking " style="margin-top: 15px;">
                                <%var i=0,j=0;%>
                                <%for(doc of user1.doctorids){%>
                                    <%if(type == 'booking'){%>
                                <a class="apt-btn tcolor wsm100" href="/staff-booking/?id=<%=doc.doctorid._id%>" style="width: 50%;;">Dr. <%=doc.doctorid.name%></a>
                                <%}%>
                                <%if(type == 'schedule'){%>
                                    <a class="apt-btn tcolor wsm100" href="/staff-schedule-timings/?id=<%=doc.doctorid._id%>" style="width: 50%;">Dr. <%=doc.doctorid.name%></a>
                                    <%}%>
                                    <%if(type == 'tracking'){%>
                                        <a class="apt-btn tcolor wsm100" href="/patient-tracking/?tid=<%=doc.doctorid._id%>" style="width: 50%;">Dr. <%=doc.doctorid.name%></a>
                                        <%}%>
                                        <%if(type == 'bservice'){%>
                                            <a class="apt-btn tcolor wsm100" href="/staff-booking-service/?id=<%=doc.doctorid._id%>" style="width: 50%;">Dr. <%=doc.doctorid.name%></a>
                                            <%}%>
                                            <%if(type == 'oldbooking'){%>
                                                <%if(doc.doctorid.old_flag){%>
                                                <a class="apt-btn tcolor wsm100" href="/staff-old-booking/?id=<%=doc.doctorid._id%>" style="width: 50%;">Dr. <%=doc.doctorid.name%></a>
                                                
                                                <%}else{%>
                                                    <%j++%>
                                                    <%}%>
                                               
                                                <%}%>
                                              
                                <%i++;%>
                                <%}%>
                                <%if(type == 'oldbooking'){%>
                                    <%if(j == user1.doctorids.length){%>
                                        <h2>No doctor has seeing the old patient.</h2>
                                        <%}%>
                                    <%}%>
                            </div>
                        </div>
                    </div>
            
            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
            <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    
    <script src="<%=assetPath('js/jquery.min.js')%>"></script>
    <script src="<%=assetPath('js/popper.min.js')%>"></script>

    <script src="<%=assetPath('js/bootstrap.min.js')%>"></script>
   

    <script src="<%=assetPath('plugins/theia-sticky-sidebar/ResizeSensor.js')%>"></script>
    <script src="<%=assetPath('plugins/theia-sticky-sidebar/theia-sticky-sidebar.js')%>"></script>
    <script src="<%=assetPath('js/script.js')%>"></script>

</body>

<!-- doccure/booking  30 Nov 2019 04:12:16 GMT -->

</html>