<!DOCTYPE html>
<html lang="en">

<!-- doccure/booking-success  30 Nov 2019 04:12:16 GMT -->

<head>
    <link rel="stylesheet" href="<%=assetPath('css/bootstrap.min.css')%>">

	<link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/fontawesome.min.css')%>">
    <link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/all.min.css')%>">
    
	<link rel="stylesheet" href="<%=assetPath('css/style1.css')%>">
	<link rel="stylesheet" href="<%=assetPath('css/style.css')%>">
	<link href="https://www.booknmeet.com/css/style.css" rel="preload" as="style" onload="this.rel = 'stylesheet'">
	<link href="https://www.booknmeet.com/css/icon_fonts/css/all_icons_min.css" rel="preload"  as="style"  onload="this.rel = 'stylesheet'">
    <link href="https://www.booknmeet.com/css/custom.css" rel="preload"  as="style"  onload="this.rel = 'stylesheet'">
   
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <%-include('header');%>
        <!-- Header -->
       
        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar mt-n3">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Terms & Condition</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Online Booking Agreement</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="bg_color_1">
           
			<div class="container mt-5">
                <%if(locals.user.schedule_time == ''){%>  
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <strong>Note!</strong> Please select your schedule time before accepting terms and condition.<a href="#" class="alert-link">.</a>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <%}%>

                    <%if(locals.user.approve != true){%>  
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <strong>Note!</strong> Your document is not verified yet. Please wait for your document to be verified.<a href="#" class="alert-link">.</a>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <%}%>
                   
                <%if(locals.user.bank == '{}'){%>
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <strong>Note!</strong> Please add your bank account before accepting terms and condition.<a href="#" class="alert-link">.</a>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <%}%>
				<div class="main_title">
					<h1>Agreement of Online Booking Services</h1>
					<p>Scheduling automation you and your invitees will actually enjoy. </p>
				</div>
				<div class="row justify-content-between">
					<div class="col-lg-12">
					
						<h6 class="add_bottom_15">Provision of the Services by DOCCURE.</h6>
						<p>Your use of the Services is at your sole risk. The Services are provided on an "as is" and "as available" basis.</p><br>
						<p>DOCCURE reserves the right (but has no obligation) to pre-screen, review, flag, filter, modify, refuse or remove any or all content or user-account from any of the Services / Features at DOCCURE’s sole discretion. 
		You understand that by using the Services/ features YOU may be exposed to content that YOU may find offensive, indecent or objectionable and that, in this respect, YOU use the Services/ features  at your own risk.</p><br>
						<p>DOCCURE doesn't warrant that,</p>
						<ul class="bullets">
						  <li> Services will meet your requirements or expectations.</li>
						  <li>Services will be delivered uninterrupted, timely, secure, or error-free.</li>
						  <li>Results that may be obtained from the use of the Services will be accurate or reliable based on listings. </li>
						  <li>Any errors in the Services will be corrected.</li>
						</ul><br><br>
						<p>You understand and agree that, DOCCURE shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to any loss of profit, loss of goodwill, loss of business reputation, loss of data, or other intangible loss, resulting from: </p>
						<ul class="bullets">
							  <li> the use or the inability to use the Services; </li>
							  <li>any changes which DOCCURE may make to the Services / Features, or any permanent or temporary cessation in the provision of the Services / Listings / Features;</li>
							  <li> unauthorized access to or alteration of your infos or data;  </li>
							  <li>the deletion of, corruption of, or failure to store, any content and other communications data/ info maintained or transmitted by or through the use of the Services/ features; (v) or any other matter relating to the Services/listings/features.</li>
						</ul>
						 <p>
                 Technical support from DOCCURE is provided on a best-effort basis and only by e-mail.<br><br>You understand that DOCCURE can use third parties (e.g., Cloud hosting partners) to provide the necessary resources (e.g., hardware, software, networking, Cloud services, etc.) to run the Services.<br><br>DOCCURE may stop, remove, modify, or add (permanently or temporarily) Services (or features within Services) at DOCCURE’s sole discretion. <br><br>
Any new, changed, or removed features are subject to the Terms of Service. Continued use of the Services after any such changes constitute <strong>YOUR consent</strong> to the changes.                 
                Use of the Services/ FEATURES by YOU.<br>For certain services/ Features, DOCCURE may offer or require YOU to <strong>register</strong> for a user-account. You ensure that all registration information YOU provide will always be valid, correct, and up-to-date. <br>YOU are responsible for maintaining the security of your user-account and password / Log-in credentials. 
User-accounts registered by bots or other automated methods are not permitted.
				
				<br>For certain services, DOCCURE may offer to upload your personal profile photo. You are responsible to NOT upload an abusive photo, to not infringe on any copyrights or trademarks, and to not use a design which other DOCCURE users may deem offensive / objectionable.

				<br>For certain services / features, DOCCURE may offer to define a personal URL (web address). YOU understand that DOCCURE can rename or reject your personal URL, e.g., if you intentionally or unintentionally interfere with other registered users or because your personal URL is deemed offensive.
				<br>You agree that YOU will not impersonate another person.
				<br>YOU agree that you will not engage in any activity that interferes with or disrupts the Services / features (or the servers and networks which are connected to the Services).
				<br>You agree that you will not reproduce, duplicate, copy, sell, trade or resell the Services / features for any purpose without the express written permission by DOCCURE.
				<br>You agree that YOU are solely responsible for (and that DOCCURE has no responsibility to you or to any third party for) any breach of your obligations under the Terms of Service and for the consequences (including any loss or damage which DOCCURE may suffer) of any such breach.
				<br><br>Modifications to the Prices / subscription fees
				<br><br>Prices / subscription fess, of all Services / features  are <strong>subject to change</strong>. If they change / applicable, the changes do not affect running subscriptions but will take effect only for any subsequent subscription period you choose to purchase/ subscribe.
				<br>DOCCURE is not liable to you or to any third party for any price / SUBSCRIPTION FEES change.
                <br><br>**On Every appointment made through DOCCURE there will be a 10% charges deducted as a interest and will be redirected to your account.
                <br>
				
                </p>
                <input type="checkbox" checked onchange="document.getElementById('sendNewSms').disabled = !this.checked;" class="mt-5 mr-2"><b>I Dr.<%=locals.user.name%>  have read and agree to the terms of the DOCCURE Online Booking Agreement.</b>
                <form action="/user/accept-agreement" method="POST">
                    <div class="submit-section text-center" style="margin-bottom: 100px; margin-top: 50px;">
                        <%if(locals.user.schedule_time == '' || locals.user.bank == '{}'|| locals.user.approve != true){%>
                        <input type="submit" id="sendNewSms" disabled value="Continue" style="cursor:no-drop;" class="btn btn-primary submit-btn w-25">
                        <%}else{%>
                            <input type="submit" id="sendNewSms" value="Continue" class="btn btn-primary submit-btn w-25">
                            <%}%>
                        <input type="hidden" name="checked" value="true">
                    </div>
                </form>
                    </div>
                
					
	  
				</div>
				<!--/row-->
				
			</div>
			<!--/container-->
		</div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="<%=assetPath('js/jquery.min.js')%>"></script>
    <script src="<%=assetPath('js/popper.min.js')%>"></script>

    <script src="<%=assetPath('js/bootstrap.min.js')%>"></script>
   

   
    <script src="<%=assetPath('js/script.js')%>"></script>

</body>

<!-- doccure/booking-success  30 Nov 2019 04:12:16 GMT -->

</html>