<!DOCTYPE html>
<html lang="en">

<!-- doccure/register  30 Nov 2019 04:12:20 GMT -->

<head>
    <link rel="stylesheet" href="<%=assetPath('css/bootstrap.min.css')%>">

	<link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/fontawesome.min.css')%>">
    <link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/all.min.css')%>">
    
	<link rel="stylesheet" href="<%=assetPath('css/style1.css')%>">
	<link rel="stylesheet" href="<%=assetPath('css/style.css')%>">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  

</head>

<body class="account-page">

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <%-include('header');%>
        <!-- Header -->
       
        <!-- /Header -->

        <!-- Page Content -->
        <div class="content" style="padding-top: 100px;">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-8 offset-md-2">

                        <!-- Register Content -->
                        <div class="account-content">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-md-7 col-lg-6 login-left">
                                    <img src="<%=assetPath('img/login-banner.png')%>" class="img-fluid" alt="AarogyaHub Register">
                                </div>
                                <div class="col-md-12 col-lg-6 login-right">
                                    <div class="login-header">
                                        <%var type,id;%>
                                        <%if(type == 'email'){%>
                                            <h3>Email Verification </h3>
                                        <%}else{%>
                                            <h3>Number Verification </h3>
                                        <%}%>
                                       
                                    </div>
                                    <div class="col-md-12 col-lg-12" style="margin-left: -15px;margin-bottom: 20px;">
                                        <p style="font-size: 0.8rem;">We have sent you an OTP on</p>
                                        <p style="font-size: 1.1rem; margin-top: -12px;"><%if(type != 'email'){%>
                                            +91
                                        <%}%><%=phone%>
                                        </p>
                                    </div>

                                    <!-- Register Form -->
                                    <form action="/staff-signup-new" method="POST">
                                        <!-- <div class="form-group form-focus">
												<input type="text" class="form-control floating">
												<label class="focus-label">Name</label>
											</div> -->
                                        <div class="form-group">
                                            <label for="text" style="margin-left: 5px; font-weight: bold;">OTP</label>
                                            <input type="text" name="otp" id="text" style="font-size: 0.9rem;" class="form-control floating" placeholder="Please enter here the 6 digit OTP to verify ">
                                            <input type="hidden" name="phone" value="<%=phone%>">
                                            <input type="hidden" name="id" value="<%=id%>">
                                            <input type="hidden" name="type" value="<%=type%>">
                                            <input type="hidden" name="designation" value="<%=designation%>">
                                            
                                        </div>
                                        <!-- <div class="form-group form-focus">
												<input type="password" class="form-control floating">
												<label class="focus-label">Create Password</label>
											</div> -->
                                        <div>
                                        </div>
                                        <button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Continue</button>
                                    </form>
                                  

                                    <div id="call" class="" style="display: inline-flex; margin-top: 30px;">
                                        <%if(type == 'email'){%>
                                            <a href="/staff-login" style=" cursor:pointer;margin-left: 50px;" class="forgot-link">Resend OTP</a>
                                            <%}else{%>
                                        <p style="font-size: 0.7rem;">Still not received OTP?<a onclick="document.getElementById('myform').submit();" style=" cursor:pointer;color: rgb(0, 94, 182);">&nbsp&nbspGet via call</a>
                                        </p>
                                        <a onclick="document.getElementById('myform1').submit();" style=" cursor:pointer;margin-left: 50px;" class="forgot-link">Resend OTP</a>
                                        <%}%>
                                    </div>


                                    <form id="myform" method="POST" action="/verify-doctor-mobile/?service=call">
                                        <input type="hidden" name="phone" value="<%=phone%>">
                                        <input type="hidden" name="id" value="<%=id%>">
                                       
                                    </form>
                                    <form id="myform1" method="POST" action="/verify-doctor-mobile/?service=sms">
                                        <input type="hidden" name="phone" value="<%=phone%>">
                                        <input type="hidden" name="id" value="<%=id%>">
                                       
                                    </form>


                                    <!-- /Register Form -->

                                </div>
                            </div>
                        </div>
                        <!-- /Register Content -->

                    </div>
                </div>

            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="<%=assetPath('js/jquery.min.js')%>"></script>
    <script src="<%=assetPath('js/popper.min.js')%>"></script>

    <script src="<%=assetPath('js/bootstrap.min.js')%>"></script>
   

    
    <script src="<%=assetPath('js/script.js')%>"></script>
    <script>
        <%if(flash.success && flash.success.length>0){%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.success%>',
            type: 'success',
            layout: 'topRight',
            timeout: 3000
        }).show();
        <%}%>
        <%if(flash.error && flash.error.length>0){%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.error%>',
            type: 'error',
            layout: 'topRight',
            timeout: 3000
        }).show();
        <%}%>
    </script>

</body>

<!-- doccure/register  30 Nov 2019 04:12:20 GMT -->

</html>