<!DOCTYPE html>
<html lang="en">

<!-- doccure/doctor-change-password  30 Nov 2019 04:12:36 GMT -->

<head>
    <meta charset="utf-8">
    <title>Doccure</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="css/style1.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
                <div id="stylenavbar">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
								<span></span>
                        <span></span>
                        <span></span>
                        </span>
                    </a>
                    <a href="/" class="navbar-brand logo">
                        <img src="/img/logo.png" class="img-fluid" alt="Logo">
                    </a>

                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="/" class="menu-logo">
                            <img src="/img/logo.png" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li class="active" style="display: none;">
                            <a href="index" style="font-size: 1.5rem;">Home</a>
                            
                        </li>
                        <li class="mdlist">
                            <a href="/doctors" style="font-size: 1.15rem; margin-top: -5px;font-weight: bold;">Doctors</a>
                            <a href="/doctors" style=" font-size:0.8rem;margin-top: -65px;font-weight: lighter;">Book an appointment</a>
                        </li>

                        <li class="smlist" style="display: none;">
                            <a href="/doctors"><span><i class="fas fa-search" style="margin-right: 15px;"></i></span><b>Doctors</b> - <span>Book an appointment</span></a>
                        </li>
                        <li class="smlist" style="display: none;">
                            <a><span><i class="fas fa-comments" style="margin-right: 15px;"></i></span><b>Consult</b> - <span>Consult with best doctors</span></a>
                        </li>
                        <li class="smlist" style="display: none;">
                            <a><span><i class="fas fa-flask" style="margin-right: 15px;"></i></span><b>Diagonistics</b> - <span>Book tests and checkups</span></a>
                        </li>

                        <li class="mdlist">
                            <a href="#" style="font-size: 1.15rem; margin-top: -5px;font-weight: bold;">Consult</a>
                            <a href="#" style=" font-size:0.8rem;margin-top: -65px;font-weight: lighter;">Consult with best doctors</a>
                        </li>
                        <li class="mdlist">
                            <a href="#" style="font-size: 1.15rem; margin-top: -5px;font-weight: bold;">Diagonistics</a>
                            <a href="#" style=" font-size:0.8rem;margin-top: -65px;font-weight: lighter;">Book tests and checkups</a>
                        </li>
                       



                        <li class="has-submenu" style="display: none;">
                            <a href="#">Pages <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="/voice-call">Voice Call</a></li>
                                <li><a href="/video-call">Video Call</a></li>
                                <li><a href="/consult">consult</a></li>
                                <li><a href="/search">Search Doctors</a></li>
                                <li><a href="/calendar">Calendar</a></li>
                                <li><a href="/components">Components</a></li>
                                <li class="has-submenu">
                                    <a href="invoices">Invoices</a>
                                    <ul class="submenu">
                                        <li><a href="/invoices">Invoices</a></li>
                                        <li><a href="/invoice-view">Invoice View</a></li>
                                    </ul>
                                </li>
                                <li><a href="/blank-page">Starter Page</a></li>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/register">Register</a></li>
                                <li><a href="/forgot-password">Forgot Password</a></li>
                            </ul>
                        </li>

                        <%if(locals.user){%>


                            <%}else{%>
                                <li class="login-link">
                                    <a href="/login">Login / Signup</a>
                                </li>
                                <%}%>
                    </ul>
                </div>
                <ul class="nav header-navbar-rht">
                    <li class="nav-item contact-item">
                        <div class="header-contact-img">
                            <i class="far fa-hospital"></i>
                        </div>
                        <div class="header-contact-detail">
                            <p class="contact-header">Contact</p>
                            <p class="contact-info-header"> +1 315 369 5943</p>
                        </div>
                    </li>
                    <%if(locals.user){%>

                        <%}else{%>
                            <li class="nav-item">
                                <a class="nav-link header-login" href="/login">Login </a>
                            </li>
                            <%}%>
                </ul>
                <%if(locals.user){%>
                    <ul class="nav user-menu mt-md-3">

                        <!-- Notifications -->
                        <li class="nav-item dropdown noti-dropdown bell">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <i class="far fa-bell" style="color: black; "></i> <span class="badge badge-pill">1</span>
                            </a>
                            <div class="dropdown-menu notifications">
                                <div class="topnav-dropdown-header">
                                    <span class="notification-title">Notifications</span>
                                    <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                                </div>
                                <div class="noti-content">
                                    <ul class="notification-list">
                                        <%if(locals.user.approve == true){%>

                                            <li class="notification-message">
                                                <a href="#">
                                                    <div class="media">
                                                        <span class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" alt="User Image" src="<%=locals.user.avatar%>">
                                                    </span>
                                                        <div class="media-body">
                                                            <a href="/doctor-terms-and-condition">
                                                                <p class="noti-details"><span class="noti-title"></span><%=locals.user.name%> <span class="noti-title"> your documents has been verified.</span>
                                                                </p>
                                                            </a>
                                                            <p class="noti-time"><span class="notification-time"></span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="notification-message">
                                                <a href="#">
                                                    <div class="media">
                                                        <span class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" alt="User Image" src="<%=locals.user.avatar%>">
                                                    </span>
                                                        <div class="media-body">
                                                            <a href="/doctor-terms-and-condition">
                                                                <p class="noti-details"><span class="noti-title"></span><%=locals.user.name%> <span class="noti-title"> your documents has been verified.</span>
                                                                </p>
                                                            </a>
                                                            <p class="noti-time"><span class="notification-time"></span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="notification-message">
                                                <a href="#">
                                                    <div class="media">
                                                        <span class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" alt="User Image" src="<%=locals.user.avatar%>">
                                                    </span>
                                                        <div class="media-body">
                                                            <a href="/doctor-terms-and-condition">
                                                                <p class="noti-details"><span class="noti-title"></span><%=locals.user.name%> <span class="noti-title"> your documents has been verified.</span>
                                                                </p>
                                                            </a>
                                                            <p class="noti-time"><span class="notification-time"></span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <%}%>
                                                <!-- <li class="notification-message">
                                        <a href="#">
                                            <div class="media">
                                                <span class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" alt="User Image" src="//img/patients/patient1.jpg">
                                                    </span>
                                                <div class="media-body">
                                                    <p class="noti-details"><span class="noti-title">Charlene Reed</span> has booked her appointment to <span class="noti-title">Dr. Ruby Perrin</span></p>
                                                    <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="notification-message">
                                        <a href="#">
                                            <div class="media">
                                                <span class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" alt="User Image" src="//img/patients/patient2.jpg">
                                                    </span>
                                                <div class="media-body">
                                                    <p class="noti-details"><span class="noti-title">Travis Trimble</span> sent a amount of $215 for his <span class="noti-title">appointment</span></p>
                                                    <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="notification-message">
                                        <a href="#">
                                            <div class="media">
                                                <span class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" alt="User Image" src="//img/patients/patient3.jpg">
                                                    </span>
                                                <div class="media-body">
                                                    <p class="noti-details"><span class="noti-title">Carl Kelly</span> send a message <span class="noti-title"> to his doctor</span></p>
                                                    <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li> -->
                                    </ul>
                                </div>
                                <div class="topnav-dropdown-footer">
                                    <a href="#">View all Notifications</a>
                                </div>
                            </div>
                        </li>
                        <!-- /Notifications -->

                        <!-- User Menu -->
                        <%if(locals.user.type == 'Doctor'){%>
                            <li class="nav-item dropdown has-arrow">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <span class="user-img"><img class="rounded-circle" src="<%=locals.user.avatar%>" width="31" alt="Ryan Taylor"></span>
                                </a>
                                <div class="dropdown-menu profile-drop">
                                    <div class="user-header">
                                        <div class="avatar avatar-sm">
                                            <img src="<%=locals.user.avatar%>" onerror='this.src="/img/doctors/doctor-01.jpg"' alt="User Image" class="avatar-img rounded-circle">
                                        </div>
                                        <div class="user-text">
                                            <h6>Dr.
                                                <%=locals.user.name%>
                                            </h6>
                                            <p class="text-muted mb-0">Doctor</p>
                                        </div>
                                    </div>
                                    <a class="dropdown-item" href="/doctor-profile-settings">My Profile</a>
                                    <a class="dropdown-item" href="/doctor-dashboard">My Dashboard</a>
                                    <a class="dropdown-item" href="/chat">Messages</a>
                                    <a class="dropdown-item" href="/schedule-timings">Schedule Timing</a>
                                    <a class="dropdown-item" href="/appointments">Appointments</a>
                                    <a class="dropdown-item" href="/my-patients">My Patients</a>
                                    <a class="dropdown-item" href="/invoices">Invoices</a>
                                    <a class="dropdown-item" href="/review">Review</a>
                                    

                                    <a class="dropdown-item" href="/settings">Settings</a>
                                    <a class="dropdown-item" href="/user/logout">Logout</a>
                                </div>
                            </li>
                            <%}%>
                                <%if(locals.user.type == 'Patient'){%>
                                    <li class="nav-item dropdown has-arrow">
                                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                            <span class="user-img"><img class="rounded-circle" src="<%=locals.user.avatar%> " onerror='this.src="/img/doctors/doctor-01.jpg"' width="31" alt="Ryan Taylor"></span>
                                        </a>
                                        <div class="dropdown-menu profile-drop">
                                            <div class="user-header">
                                                <div class="avatar avatar-sm">
                                                    <img src="<%=locals.user.avatar%>" alt="User Image" onerror='this.src="/img/doctors/doctor-01.jpg"' class="avatar-img rounded-circle">
                                                </div>
                                                <div class="user-text">
                                                    <h6>
                                                        <%=locals.user.name%>
                                                    </h6>
                                                    <p class="text-muted mb-0">Patient</p>
                                                </div>
                                            </div>

                                            <a class="dropdown-item" href="/profile-settings">My Profile</a>
                                            <a class="dropdown-item" href="/patient-dashboard">My Dashboard</a>
                                            <a class="dropdown-item" href="/prescription">My Prescriptions</a>
                                            <a class="dropdown-item" href="/medical-records">My Medical records</a>
                                            <a class="dropdown-item" href="/my-billing">My Billings</a>
                                            <a class="dropdown-item" href="/favourites">My Favourites</a>
                                            <a class="dropdown-item" href="/other-patients">Other Patient Appointment</a>
                                            <a class="dropdown-item" href="/chat">Messages</a>
                                         
                                            <a class="dropdown-item" href="/settings">Settings</a>
                                            <a class="dropdown-item" href="/user/logout">Logout</a>
                                        </div>
                                    </li>
                                    <%}%>

                                        <!-- /User Menu -->

                    </ul>
                    <%}%>

                        <!-- <%if(locals.user){%>
                    <%if(locals.user.type == 'Doctor'){%>
                        <div class="hideinphone" style="margin-left: 25px;">
                            <ul class="main-nav amain-nav">

                                        <li class="has-submenu ahas-submenu">
                                            <a href="#">
                                                <span class="user-img">
                                <img class="rounded-circle" src="<%=locals.user.avatar%>" onerror=this.src="/img/profile.png" width="31" alt="Ryan Taylor">
                            </span>
                                        <i class="fas fa-chevron-down"></i>
                                    </a>

                                    <ul class="submenu asubmenun phoneul">
                                        <li><a href="/doctor-dashboard">My Dashboard</a></li>
                                        <li><a href="/appointments">Appointments</a></li>
                                        <li><a href="/schedule-timings">Schedule Timing</a></li>
                                        <li><a href="/chat-doctor">Chat</a></li>
                                        
                                        <li><a href="/doctor-profile-settings">Profile Settings</a></li>
                                        
                                        <li><a href="/user/logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    <%}%>
                <%if(locals.user.type == 'Patient'){%>
                    <div class="main-menu-wrapper hideinphone" style="margin-left: 25px; display: none;">
                        <ul class="main-nav amain-nav">
                            <li class="has-submenu ahas-submenu">
                                <a href="#">
                                    <span class="user-img">
                        <img class="rounded-circle" src="<%=locals.user.avatar%>" onerror=this.src="//img/profile.png" width="31" alt="Ryan Taylor">
                    </span>
                                    <i class="fas fa-chevron-down"></i>
                                </a>

                                <ul class="submenu asubmenu">
                                    <li><a href="/search">Search Doctor</a></li>
                                    <li><a href="/booking">Booking</a></li>
                                    <li><a href="/checkout">Checkout</a></li>
                                    <li><a href="/booking-success">Booking Success</a></li>
                                    <li><a href="/patient-dashboard">My Dashboard</a></li>
                                    <li><a href="/favourites">My Favourites</a></li>
                                    <li><a href="/chat">Messages</a></li>
                                    <li><a href="/profile-settings">Profile Settings</a></li>
                                    <li><a href="/change-password">Change Password</a></li>
                                    <li><a href="/user/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <%}%>
                <%}%> -->
                </div>
            </nav>
        </header>
        <!-- /Header -->

        <!-- Breadcrumb -->
    
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="col-md-12 col-lg-12 col-xl-12 setting-bread pzero" style="margin-left:-15px;border-left: 0.5px solid lighgrey;margin-top: 20px;">
        <div class="card" style="border-radius: 0;border:0;">
        <div class="card-body" style="padding:0rem;">
        <div class="row position-relative mzero">
            <div class="col-md-12" style="height: 40px;background-color: rgb(248, 248, 248);">
                <p style="margin-top: 10px;margin-left: 150px;font-weight: bold;">Step 3/4</p>
            </div>
            <div class="col-md-12" style="margin-left: -15px;">
            <div class="col-md-8" style="border-top: 5px solid blueviolet;width: 110%;"> 
            </div>
        </div>
        <div class="col-md-6 col-lg-5 m-55 pzero" style="margin-left: 150px;margin-top: 30px;">
            <form action="/user/update-education" method="POST">
                <input type="hidden" name="id" value="<%=locals.user.id%>">
                <h2 style="font-size: 1.5rem;margin-top: 20px;font-weight: 700;">Educational Qualification</h2>
                
                <div class="col-md-10" style="margin-top: 40px;margin-left: -30px;">
                    <div class="col-12 col-md-12">
                        <%if(locals.user.education[0]){%>
                        <div class="form-group">
                            <label style="font-size: 0.85rem;">Degree</label>
                            <input type="text" placeholder="Enter Degree"  name="degree" value="<%=locals.user.education[0].degree%>" class="form-control" required>
                        </div>
                        <%}else{%>
                            <div class="form-group">
                                <label style="font-size: 0.85rem;">Degree</label>
                                <input type="text" placeholder="Enter Degree"  name="degree"  class="form-control" required>
                            </div>  
                        <%}%>
                    </div>
                    <div class="col-12 col-md-12">
                        <%if(locals.user.education[0]){%>
                        <div class="form-group">
                            <label style="font-size: 0.85rem;">College/Institute</label>
                            <input type="text" placeholder="Enter your college"  name="college" value="<%=locals.user.education[0].college%>"  class="form-control" required>
                        </div>
                        <%}else{%>
                            <div class="form-group">
                                <label style="font-size: 0.85rem;">College/Institute</label>
                                <input type="text" placeholder="Enter your college"  name="college"  class="form-control" required>
                            </div>
                        <%}%>
                    </div>
                    <div class="col-12 col-md-12">
                        <%if(locals.user.education[0]){%>
                        <div class="form-group">
                            <label style="font-size: 0.85rem;">Year of completion</label>
                            <input type="text" placeholder="Enter Year of completion" name="yoc" value="<%=locals.user.education[0].yoc%>" class="form-control" required>
                        </div>
                        <%}else{%>
                            <div class="form-group">
                                <label style="font-size: 0.85rem;">Year of completion</label>
                                <input type="text" placeholder="Enter Year of completion" name="yoc"  class="form-control" required>
                            </div>
                      <%}%>
                    </div>
                  
                    <div class="submit-section submit-btn-bottom" style="margin-top: 25px;display: inline-flex;height: 40px;">
                        <a href="/medical-registration" id="submit_button" class="btn btn-primary submit-btn position-absolute" style="color:white;border-radius: 5px;width: 100px;left:8%;margin-top: -5px;">Back</a>
                    </div>
                    <div class="submit-section submit-btn-bottom" style="margin-top: 25px;display: inline-flex;margin-left: 130px;height: 40px;">
                        <button type="submit" id="submit_button" class="btn btn-primary submit-btn position-absolute" style="border-radius: 5px;width: 100px;right:8%;margin-top: -5px;">Next</button>
                    </div>
                </div>
                </form>
        </div>
        <div class="col-md-4">
            <div class="note">
                <i class="fas fa-lightbulb" style="color:#6DBCAE;font-size: 0.8rem;"></i>
                <p style="font-size: 0.8rem; color: #439485;font-weight: 700;">On Doccure, doctors are listed under the relevant specializations based on their academic degrees. Both education and year of experience showcase doctor's expertise and are the among top 3 things that patients consider while making their decision.</p>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        
        <!-- /Page Content -->

        <!-- Footer -->
        <footer class="footer">

            <!-- Footer Top -->
            <div class="footer-top">
                <div class="container-fluid" >
                    <div class="row">
                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="img/footer-logo.png" alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Patients</h2>
                                <ul>
                                    <li><a href="/search"><i class="fas fa-angle-double-right"></i> Search for Doctors</a></li>
                                    <li><a href="/login"><i class="fas fa-angle-double-right"></i> Login</a></li>
                                    <li><a href="/register"><i class="fas fa-angle-double-right"></i> Register</a></li>
                                    <li><a href="/booking"><i class="fas fa-angle-double-right"></i> Booking</a></li>
                                    <li><a href="/patient-dashboard"><i class="fas fa-angle-double-right"></i> Patient Dashboard</a></li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Doctors</h2>
                                <ul>
                                    <li><a href="/appointments"><i class="fas fa-angle-double-right"></i> Appointments</a></li>
                                    <li><a href="/chat"><i class="fas fa-angle-double-right"></i> Chat</a></li>
                                    <li><a href="/login"><i class="fas fa-angle-double-right"></i> Login</a></li>
                                    <li><a href="/doctor-register"><i class="fas fa-angle-double-right"></i> Register</a></li>
                                    <li><a href="/doctor-dashboard"><i class="fas fa-angle-double-right"></i> Doctor Dashboard</a></li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contact Us</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p> 3556 Beech Street, San Francisco,<br> California, CA 94108 </p>
                                    </div>
                                    <p>
                                        <i class="fas fa-phone-alt"></i> +1 315 369 5943
                                    </p>
                                    <p class="mb-0">
                                        <i class="fas fa-envelope"></i> doccure@example.com
                                    </p>
                                </div>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                    </div>
                </div>
            </div>
            <!-- /Footer Top -->

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="container-fluid">

                    <!-- Copyright -->
                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="copyright-text">
                                    <p class="mb-0"><a href="/templateshub.net">Templates Hub</a></p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">

                                <!-- Copyright Menu -->
                                <div class="copyright-menu">
                                    <ul class="policy-menu">
                                        <li><a href="/term-condition">Terms and Conditions</a></li>
                                        <li><a href="/privacy-policy">Policy</a></li>
                                    </ul>
                                </div>
                                <!-- /Copyright Menu -->

                            </div>
                        </div>
                    </div>
                    <!-- /Copyright -->

                </div>
            </div>
            <!-- /Footer Bottom -->

        </footer>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Custom JS -->
    <script src="js/script.js"></script>
    <script>
        <%if(flash.success && flash.success.length>0){%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.success%>',
            type: 'success',
            layout: 'topRight',
            timeout: 1500
        }).show();
        <%}%>
        <%if(flash.error && flash.error.length>0){%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.error%>',
            type: 'error',
            layout: 'topRight',
            timeout: 3000
        }).show();
        <%}%>
    </script>

</body>

<!-- doccure/doctor-change-password  30 Nov 2019 04:12:36 GMT -->

</html>