<!DOCTYPE html>
<html lang="en">

<!-- doccure/favourites  30 Nov 2019 04:12:16 GMT -->

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="css/style1.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
   
        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar setting-bread" style="margin-top: 20px;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Favourites</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Favourites</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar no-show-mobile">
                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content">
                                <div class="profile-info-widget">
                                    <a href="#" class="booking-doc-img">
											<img src="<%=locals.user.avatar%> " alt="User Image" onerror=this.src="/img/profile.png">
										</a>
                                    <div class="profile-det-info">
                                        <h3>
                                            <%=locals.user.name%>
                                        </h3>

                                        <div class="locals.user-details">
                                            <%if(locals.user.dob){var newDateObject = new Date();
	
													var newObjectCurrentYear = newDateObject.getFullYear();
													
													var userDateObject = locals.user.dob;
													
													var userDateObjectPieces = userDateObject.split("/");
													
													var userObjectYear = userDateObjectPieces[2];
													
													var age = parseInt(newObjectCurrentYear) - parseInt(userObjectYear);
	
													%>
                                                <h5 style="font-size: 0.85rem;"><i class="fas fa-birthday-cake"></i>
                                                    <%=locals.user.dob%> ,
                                                        <%=age%> Years

                                                </h5>
                                                <%}%>
                                                    <%if(locals.user.city){%>
                                                        <h5 style="font-size: 0.85rem;" class="mb-0"><i class="fas fa-map-marker-alt"></i>
                                                            <%=locals.user.city%>
                                                                <%=locals.user.state%>
                                                        </h5>
                                                        <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-widget">
                                <nav class="dashboard-menu">
                                    <ul>
                                        <li>
                                            <a href="/my-appointments">
                                                <i class="fas fa-calendar-alt"></i>
                                                <span>My Appointments</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/prescription">
                                                <i class="fas fa-newspaper"></i>
                                                <span>My prescriptions</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/medical-records">
                                                <i class="fas fa-medkit"></i>
                                                <span>My Medical records</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/my-billing">
                                                <i class="fas fa-credit-card"></i>
                                                <span>My Billings</span>
                                            </a>
                                        </li>
                                       
                                        <li class="active">
                                            <a href="/favourites">
                                                <i class="fas fa-bookmark"></i>
                                                <span>Favourites</span>
                                            </a>
                                        </li>
                                       
                                       
                                       
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-7 col-lg-8 col-xl-9">
                        <div class="row row-grid">
                            <%if(doctors.favourites == ''){%>
                                <h2 class="text-center no-file" style="margin-top: 100px;margin-right: auto;margin-left: auto;"><span style="margin-right: 20px;"><i class="fas fa-folder-open"></i></span><span>No Favourites Added Yet !</span></h2>
                                <%}%>
                            <%for(doctor of doctors.favourites){%>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="profile-widget">
                                        <div class="doc-img">
                                            <a href="/doctor-profile/?id=<%=doctor._id%>">
                                                <img class="img-fluid" alt="User Image" src="<%=doctor.avatar%>" style="height:200px;width:100%">
                                            </a>
                                            <a href="javascript:void(0)" class="fav-btn" style="background-color: red;color:white">
                                                <i class="far fa-bookmark"></i>
                                            </a>
                                        </div>
                                        <div class="pro-content">
                                            <h3 class="title">
                                                <a href="/doctor-profile/?id=<%=doctor._id%>">Dr.<%=doctor.name%></a>
                                                <i class="fas fa-check-circle verified"></i>
                                            </h3>
                                            <p class="speciality">
                                                <%=doctor.department%>
                                            </p>
                                            <div class="rating">
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <span class="d-inline-block average-rating">(17)</span>
                                            </div>
                                            <ul class="available-info">
                                                <li>
                                                    <i class="fas fa-map-marker-alt"></i>
                                                    <%=doctor.contacts.city%>
                                                        <%=doctor.contacts.state%>
                                                </li>
                                                <li>
                                                    <i class="far fa-clock"></i> Available on Fri, 22 Mar
                                                </li>
                                                <li>
                                                    <i class="far fa-money-bill-alt"></i>
                                                    <%=doctor.booking_fee%><i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
                                                </li>
                                            </ul>
                                            <div class="row row-sm">
                                                <div class="col-6">
                                                    <a href="doctor-profile/?id=<%=doctor._id%>" class="btn view-btn">View Profile</a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="/booking/?id=<%=doctor._id%>" class="btn book-btn">Book Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Custom JS -->
    <script src="js/script.js"></script>

</body>

<!-- doccure/favourites  30 Nov 2019 04:12:17 GMT -->

</html>