<!DOCTYPE html>
<html lang="en">

<!-- doccure/doctor-change-password  30 Nov 2019 04:12:36 GMT -->

<head>
   
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
      
        <!-- /Header -->

        <!-- Breadcrumb -->
    
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="col-md-12 col-lg-12 col-xl-12 setting-bread pzero" style="margin-left:-15px;border-left: 0.5px solid lighgrey;margin-top: 20px;">
        <div class="card" style="border-radius: 0;border:0;">
        <div class="card-body" style="padding:0rem;">
        <div class="row position-relative mzero">
            <div class="col-md-12" style="height: 40px;background-color: rgb(248, 248, 248);">
                <p style="margin-top: 10px;margin-left: 150px;font-weight: bold;">Step 1/3</p>
            </div>
            <div class="col-md-12" style="margin-left: -15px;">
            <div class="col-md-4" style="border-top: 5px solid blueviolet;width: 110%;"> 
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 m-13 pzero" style="margin-left: 150px;margin-top: 30px;">
            <h2 style="font-size: 1.5rem;margin-top: 20px;font-weight: 700;">Identity Proof</h2>
            <form action="/user/upload-idproof" method="POST" enctype="multipart/form-data" id="edit_form">
                <input type="hidden" name="id" value="<%=locals.user.id%>">
                <!-- Basic Information -->
                <div class="card p-10" style="margin-left: -15px;margin-top: 50px;">
                    <div class="card-body">
                        <h4 class="card-title">Verify Identity Proof</h4>
                        <div class="row form-row">
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label>Identity Proof</label>
                                    <select name="idproofname" class="form-control" required>
            <%if(locals.user.idproofname == 'Aadhaar card'){%><option selected>Aadhaar card</option><%}else{%>
            <option>Aadhaar card</option><%}%>
            <%if(locals.user.idproofname == 'PAN card'){%><option selected>PAN card</option><%}else{%>
            <option>PAN card</option><%}%>
            <%if(locals.user.idproofname == 'Driving license'){%><option selected>Driving license</option><%}else{%>
            <option>Driving license</option><%}%>
            <%if(locals.user.idproofname == 'Birth certificate'){%><option selected>Birth certificate</option><%}else{%>
            <option>Birth certificate</option><%}%>
            <%if(locals.user.idproofname == 'Transfer/School leaving/Matriculation Certificate'){%><option selected>Transfer/School leaving/Matriculation Certificate</option><%}else{%>
            <option>Transfer/School leaving/Matriculation Certificate</option><%}%>
            <%if(locals.user.idproofname == 'Ration card'){%><option selected>Ration card</option><%}else{%>
            <option>Ration card</option><%}%>
            <%if(locals.user.idproofname == 'Indian passport'){%><option selected>Indian passport</option><%}else{%>
            <option>Indian passport</option><%}%>
            </select>
                                </div>
                            </div>
                            <div class="col-md-2 ml-lg-5">
                                <div class="form-group">
                                    <div class="change-avatar">
                                        <div class="profile-img">
                                            <img src="<%=locals.user.idproof%>" id="image" onerror='this.src="<%=assetPath('img/med2.png')%>"' alt="User Image">
                                        </div>
                                        <div class="upload-img">
                                            <div class="change-photo-btn">
                                                <span><i class="fa fa-upload"></i> Upload Photo</span>
                                                <%if(locals.user.idproof){%>
                                                    <input type="file" class="upload" name="avatar" value="<%=locals.user.idproof%>" id="imageUpload">
                                                <%}else{%>
                                                    <input type="file" class="upload" name="avatar" value="<%=locals.user.idproof%>" id="imageUpload" required>
                                                <%}%>
                                                
                                            </div>
                                            <small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p style="font-size: 0.85rem;font-weight: 700;border-bottom:1px solid lightgrey;padding-bottom: 5px;">Please upload your identity proof to ensure the ownership of your profile remains with only you.</p>
                            <p style="font-size: 0.85rem;width: 100%;">Extra proof required to be uploaded</p>
                            <p style="font-size: 0.85rem;width: 100%;margin-top:-5px;">1. Medical Registration proof</p>
                            <p style="font-size: 0.85rem;width: 100%;margin-top:-5px;">2. Clinic Registration proof</p>
                            
                        </div>
                        <div class="submit-section submit-btn-bottom" style="margin-left:-10px;margin-top: 25px;display: inline-flex;height: 40px;">
                            <a href="/steps" id="submit_button" class="btn btn-primary submit-btn position-absolute" style="color:white;border-radius: 5px;width: 100px;left:8%;margin-top: -5px;">Back</a>
                        </div>
                        <div class="submit-section submit-btn-bottom" style="margin-top: 25px;display: inline-flex;height: 40px;">
                            <button type="submit" id="submit_button" class="btn btn-primary submit-btn position-absolute" style="border-radius: 5px;width: 100px;right:8%;margin-top: -5px;">Next</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4" style="margin-left:-50px;">
            <div class="note">
                <i class="fas fa-lightbulb" style="color:#6DBCAE;font-size: 0.8rem;"></i>
                <p style="font-size: 0.8rem; color: #439485;font-weight: 700;">5M patients are looking for doctors on AarogyaHub. Verify your credentials and reach out to them.</p>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
  
    <script>
        document.getElementById("imageUpload").onchange = function () {
        var reader = new FileReader();

        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.getElementById("image").src = e.target.result;
        };

        // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);
};
    </script>
    <script>
        <%if(flash.success && flash.success.length>0){%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.success%>',
            type: 'success',
            layout: 'topRight',
            timeout: 1500
        }).show();
        <%}%>
        <%if(flash.error && flash.error.length>0){%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.error%>',
            type: 'error',
            layout: 'topRight',
            timeout: 3000
        }).show();
        <%}%>
    </script>

</body>

<!-- doccure/doctor-change-password  30 Nov 2019 04:12:36 GMT -->

</html>