<!DOCTYPE html>
<html lang="en">

<!-- doccure/  30 Nov 2019 04:11:34 GMT -->

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Doccure</title>

    <!-- Favicons-->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="plugins/fontawesome/css/fontawesome.min.css">

    <link rel="stylesheet" href="plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/style1.css">
    <link rel="stylesheet" href="/css/style.css">


</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
                <div id="stylenavbar">
                    <div class="navbar-header">
                        <a id="mobile_btn" href="javascript:void(0);">
                            <span class="bar-icon">
								<span></span>
                            <span></span>
                            <span></span>
                            </span>
                        </a>
                        <a href="/" class="navbar-brand logo">
                            <img src="/img/logo.png" class="img-fluid" alt="Logo">
                        </a>

                    </div>
                    <div class="main-menu-wrapper">
                        <div class="menu-header">
                            <a href="/" class="menu-logo">
                                <img src="/img/logo.png" class="img-fluid" alt="Logo">
                            </a>
                            <a id="menu_close" class="menu-close" href="javascript:void(0);">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                        <ul class="main-nav">
                            <li class="active" style="display: none;">
                                <a href="index" style="font-size: 1.5rem;">Home</a>

                            </li>
                            <li class="mdlist">
                                <a href="/doctors" style="font-size: 1.15rem; margin-top: -5px;font-weight: bold;">Doctors</a>
                                <a href="/doctors" style=" font-size:0.8rem;margin-top: -65px;font-weight: lighter;">Book an appointment</a>
                            </li>

                            <li class="smlist" style="display: none;">
                                <a href="/doctors"><span><i class="fas fa-search" style="margin-right: 0.9375rem;"></i></span><b>Doctors</b> - <span>Book an appointment</span></a>
                            </li>
                            <li class="smlist" style="display: none;">
                                <<<<<<< HEAD <a><span><i class="fas fa-comments" style="margin-right: 0.9375rem;"></i></span><b>Consult</b> - <span>Consult with best doctors</span></a>
                            </li>
                            <li class="smlist" style="display: none;">
                                <a><span><i class="fas fa-flask" style="margin-right: 0.9375rem;"></i></span><b>Diagonistics</b> - <span>Book tests and checkups</span></a> =======
                                <a href="/consult"><span><i class="fas fa-comments" style="margin-right: 15px;"></i></span><b>Consult</b> - <span>Consult with best doctors</span></a>
                            </li>
                            <li class="smlist" style="display: none;">
                                <a href="/tests"><span><i class="fas fa-flask" style="margin-right: 15px;"></i></span><b>Diagonistics</b> - <span>Book tests and checkups</span></a> >>>>>>> 007df9989d7505b3f6e9fc94c43b1be4737ab9a8
                            </li>

                            <li class="mdlist">
                                <a href="/consult" style="font-size: 1.15rem; margin-top: -5px;font-weight: bold;">Consult</a>
                                <a href="/consult" style=" font-size:0.8rem;margin-top: -65px;font-weight: lighter;">Consult with best doctors</a>
                            </li>
                            <li class="mdlist">
                                <a href="/test" style="font-size: 1.15rem; margin-top: -5px;font-weight: bold;">Diagonistics</a>
                                <a href="/test" style=" font-size:0.8rem;margin-top: -65px;font-weight: lighter;">Book tests and checkups</a>
                            </li>




                            <li class="has-submenu" style="display: none;">
                                <a href="#">Pages <i class="fas fa-chevron-down"></i></a>
                                <ul class="submenu">
                                    <li><a href="/voice-call">Voice Call</a></li>
                                    <li><a href="/video-call">Video Call</a></li>
                                    <li><a href="/consult">consult</a></li>
                                    <li><a href="/search">Search Doctors</a></li>
                                    <li><a href="/calendar">Calendar</a></li>
                                    <li><a href="/components">Components</a></li>
                                    <li class="has-submenu">
                                        <a href="invoices">Invoices</a>
                                        <ul class="submenu">
                                            <li><a href="/invoices">Invoices</a></li>
                                            <li><a href="/invoice-view">Invoice View</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/blank-page">Starter Page</a></li>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/register">Register</a></li>
                                    <li><a href="/forgot-password">Forgot Password</a></li>
                                </ul>
                            </li>

                            <%if(locals.user){%>


                                <%}else{%>
                                    <li class="login-link">
                                        <a href="/login">Login / Signup</a>
                                    </li>
                                    <%}%>
                        </ul>
                    </div>
                    <ul class="nav header-navbar-rht">
                        <li class="nav-item contact-item">
                            <div class="header-contact-img">
                                <i class="far fa-hospital"></i>
                            </div>
                            <div class="header-contact-detail">
                                <p class="contact-header">Contact</p>
                                <p class="contact-info-header"> +1 315 369 5943</p>
                            </div>
                        </li>
                        <%if(locals.user){%>

                            <%}else{%>
                                <li class="nav-item">
                                    <a class="nav-link header-login" href="/login">Login </a>
                                </li>
                                <%}%>
                    </ul>
                    <%if(locals.user){%>
                        <ul class="nav user-menu mt-md-3">

                            <!-- Notifications -->
                            <li class="nav-item dropdown noti-dropdown bell">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <i class="far fa-bell" style="color: black; "></i> <span class="badge badge-pill">1</span>
                                </a>
                                <div class="dropdown-menu notifications">
                                    <div class="topnav-dropdown-header">
                                        <span class="notification-title">Notifications</span>
                                        <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                                    </div>
                                    <div class="noti-content" style="padding-top:10px ;">
                                        <ul class="notification-list">
                                            <%if(locals.user.approve1 == true && locals.user.approve2 == true){%>

                                                <li class="notification-message">
                                                    <a href="#">
                                                        <div class="media">
                                                            <span class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" alt="User Image" src="<%=locals.user.avatar%>">
                                                    </span>
                                                            <div class="media-body chng">
                                                                <a href="/doctor-terms-and-condition">
                                                                    <p class="noti-details"><span class="noti-title"></span>
                                                                        <%=locals.user.name%> <span class="noti-title"> your documents has been verified.</span>
                                                                    </p>
                                                                </a>
                                                                <p class="noti-time chng-time"><span class="notification-time">6 mins ago</span></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <%}%>
                                                    <%for(let i = patient.notification.length-1;i>=0;i--){%>
                                                        <li class="notification-message">
                                                            <a href="/doctor-profile/?id=<%=patient.notification[i].did._id%>">
                                                                <div class="media">
                                                                    <span class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" alt="User Image" src="<%=patient.notification[i].did.avatar%>">
                                                    </span>
                                                                    <div class="media-body">
                                                                        <p class="noti-details"><span class="noti-title"><%=patient.notification[i].message%></p>
                                                        
                                                       
                                                    <p class="noti-time"><span class="notification-time"><%=patient.notification[i].createdAt.toLocaleTimeString()%></span></p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <%}%>

                                        </ul>
                                    </div>
                                    <div class="topnav-dropdown-footer">
                                        <a href="#">View all Notifications</a>
                                    </div>
                                </div>
                            </li>
                            <!-- /Notifications -->

                            <!-- User Menu -->
                            <%if(locals.user.type == 'Doctor'){%>
                                <li class="nav-item dropdown has-arrow">
                                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                        <span class="user-img"><img class="rounded-circle" src="<%=locals.user.avatar%>" onerror='this.src="/img/profile.png"' width="31" alt="Ryan Taylor"></span>
                                    </a>
                                    <div class="dropdown-menu profile-drop">
                                        <div class="user-header">
                                            <div class="avatar avatar-sm">
                                                <img src="<%=locals.user.avatar%>" onerror='this.src="/img/doctors/doctor-01.jpg"' alt="User Image" class="avatar-img rounded-circle">
                                            </div>
                                            <div class="user-text">
                                                <h6>Dr.
                                                    <%=locals.user.name%>
                                                </h6>
                                                <p class="text-muted mb-0">Doctor</p>
                                            </div>
                                        </div>
                                        <a class="dropdown-item" href="/doctor-profile-settings">My Profile</a>
                                        <a class="dropdown-item" href="/doctor-dashboard">My Dashboard</a>
                                        <a class="dropdown-item" href="/chat">Messages</a>
                                        <a class="dropdown-item" href="/schedule-timings">Schedule Timing</a>
                                        <a class="dropdown-item" href="/appointments">Appointments</a>
                                        <a class="dropdown-item" href="/my-patients">My Patients</a>
                                        <a class="dropdown-item" href="/invoices">Invoices</a>
                                        <a class="dropdown-item" href="/reviews">Review</a>
                                        <a class="dropdown-item" href="/bank-details">Bank Account</a>

                                        <a class="dropdown-item" href="/settings">Settings</a>
                                        <a class="dropdown-item" href="/user/logout">Logout</a>
                                    </div>
                                </li>
                                <%}%>
                                    <%if(locals.user.type == 'Patient'){%>
                                        <li class="nav-item dropdown has-arrow">
                                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                                <span class="user-img"><img class="rounded-circle" src="<%=locals.user.avatar%> " onerror='this.src="/img/doctors/doctor-01.jpg"' width="31" alt="Ryan Taylor"></span>
                                            </a>
                                            <div class="dropdown-menu profile-drop">
                                                <div class="user-header">
                                                    <div class="avatar avatar-sm">
                                                        <img src="<%=locals.user.avatar%>" alt="User Image" onerror='this.src="/img/doctors/doctor-01.jpg"' class="avatar-img rounded-circle">
                                                    </div>
                                                    <div class="user-text">
                                                        <h6>
                                                            <%=locals.user.name%>
                                                        </h6>
                                                        <p class="text-muted mb-0">Patient</p>
                                                    </div>
                                                </div>

                                            <a class="dropdown-item" href="/profile-settings">My Profile</a>
                                            <a class="dropdown-item" href="/patient-dashboard">My Appointments</a>
                                            <a class="dropdown-item" href="/prescription">My Prescriptions</a>
                                            <a class="dropdown-item" href="/medical-records">My Medical records</a>
                                            <a class="dropdown-item" href="/my-billing">My Billings</a>
                                            <a class="dropdown-item" href="/favourites">My Favourites</a>
                                            
                                         
                                            <a class="dropdown-item" href="/settings">Settings</a>
                                            <a class="dropdown-item" href="/user/logout">Logout</a>
                                        </div>
                                    </li>
                                    <%}%>
                                    <%if(locals.user.type == 'Staff'){%>
                                        <li class="nav-item dropdown has-arrow">
                                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                                <span class="user-img"><img class="rounded-circle" src="<%=locals.user.avatar%>" onerror='this.src="/img/profile.png"' width="31" alt="Ryan Taylor"></span>
                                            </a>
                                            <div class="dropdown-menu profile-drop">
                                                <div class="user-header">
                                                    <div class="avatar avatar-sm">
                                                        <img src="<%=locals.user.avatar%>" onerror='this.src="/img/profile.png"' alt="User Image" class="avatar-img rounded-circle">
                                                    </div>
                                                    <div class="user-text">
                                                        <h6>
                                                            <%=locals.user.name%>
                                                        </h6>
                                                        <p class="text-muted mb-0">Medical Staff</p>
                                                    </div>
                                                </div>
                                                <a class="dropdown-item" href="/staff-profile">My Profile</a>
                                                <a class="dropdown-item" href="/staff-dashboard">My Dashboard</a>
                                                <a class="dropdown-item" href="/staff-schedule-timings">Schedule Timing</a>
                                                <a class="dropdown-item" href="/staff-booking/?id=<%=locals.user.doctorid%>">Book Appointment</a>
                                                <a class="dropdown-item" href="/patient-tracking">Track Patient</a>
                                                <a class="dropdown-item" href="/settings">Settings</a>
                                                <a class="dropdown-item" href="/user/logout">Logout</a>
                                            </div>
                                        </li>
                                        <%}%>
                                           
                                                    <!-- /User Menu -->

                        </ul>
                        <%}%>

                            <!-- <%if(locals.user){%>
                    <%if(locals.user.type == 'Doctor'){%>
                        <div class="hideinphone" style="margin-left: 25px;">
                            <ul class="main-nav amain-nav">

                                        <li class="has-submenu ahas-submenu">
                                            <a href="#">
                                                <span class="user-img">
                                <img class="rounded-circle" src="<%=locals.user.avatar%>" onerror=this.src="/img/profile.png" width="31" alt="Ryan Taylor">
                            </span>
                                        <i class="fas fa-chevron-down"></i>
                                    </a>

                                    <ul class="submenu asubmenun phoneul">
                                        <li><a href="/doctor-dashboard">My Dashboard</a></li>
                                        <li><a href="/appointments">Appointments</a></li>
                                        <li><a href="/schedule-timings">Schedule Timing</a></li>
                                        <li><a href="/chat-doctor">Chat</a></li>
                                        
                                        <li><a href="/doctor-profile-settings">Profile Settings</a></li>
                                        
                                        <li><a href="/user/logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    <%}%>
                <%if(locals.user.type == 'Patient'){%>
                    <div class="main-menu-wrapper hideinphone" style="margin-left: 25px; display: none;">
                        <ul class="main-nav amain-nav">
                            <li class="has-submenu ahas-submenu">
                                <a href="#">
                                    <span class="user-img">
                        <img class="rounded-circle" src="<%=locals.user.avatar%>" onerror=this.src="/img/profile.png" width="31" alt="Ryan Taylor">
                    </span>
                                    <i class="fas fa-chevron-down"></i>
                                </a>

                                <ul class="submenu asubmenu">
                                    <li><a href="/search">Search Doctor</a></li>
                                    <li><a href="/booking">Booking</a></li>
                                    <li><a href="/checkout">Checkout</a></li>
                                    <li><a href="/booking-success">Booking Success</a></li>
                                    <li><a href="/patient-dashboard">My Dashboard</a></li>
                                    <li><a href="/favourites">My Favourites</a></li>
                                    <li><a href="/chat">Messages</a></li>
                                    <li><a href="/profile-settings">Profile Settings</a></li>
                                    <li><a href="/change-password">Change Password</a></li>
                                    <li><a href="/user/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <%}%>
                <%}%> -->
                </div>
            </nav>
        </header>
        <!-- /Header -->

        <!-- Home Banner -->
        <section class="section section-search" style="margin-top: 20px;">
            <div id="popup1" class="overlay">
                <div class="popup">
                    <form action="/user/update-type" method="POST">
                        <div class="col-12 col-md-12" style="margin-left: -0.9375rem;margin-top:20px;margin-bottom: 20px;">
                            <div class="form-">
                                <label style="color: rgb(138, 138, 138);">Are you a ?</label>
                                <%if(locals.user){%>
                                    <input type="hidden" name="user" value="<%=locals.user.id%>">
                                    <%}%>
                                        <select name="type" class="form-control select1">
                                <option value="Doctor">Doctor</option>
                                <option value="Patient">Patient</option>
                            </select>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Sumbit</button>
                    </form>
                </div>
            </div>
            <div class="container-fluid">
                <div class="banner-wrapper">
                    <div class="banner-header text-center">
                        <h1>Search Doctor, Make an Appointment</h1>
                        <p>Discover the best doctors, clinic & hospital the city nearest to you.</p>
                    </div>

                    <!-- Search -->
                    <div class="search-box">
                        <form action="templateshub.net">
                            <div class="form- search-location">
                                <input type="text" class="form-control" placeholder="Search Location">
                                <span class="form-text">Based on your Location</span>
                            </div>
                            <div class="form- search-info">
                                <input type="text" class="form-control" placeholder="Search Doctors, Clinics, Hospitals, Diseases Etc">
                                <span class="form-text">Ex : Dental or Sugar Check up etc</span>
                            </div>
                            <button type="submit" class="btn btn-primary search-btn"><i class="fas fa-search"></i> <span>Search</span></button>
                        </form>
                    </div>
                    <!-- /Search -->

                </div>
            </div>
        </section>
        <!-- / Banner -->

        <!-- Clinic and Specialities -->
        <section class="section section-specialities">
            <div class="container-fluid">
                <div class="section-header text-center">
                    <h2>Clinic and Specialities</h2>
                    <p class="sub-title">
                        Start your care now by choosing from our top specialities</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-11">
                        <!-- Slider -->
                        <div class="specialities-slider slider">
                            <a href="/specialist/?dep=General Physician">
                                <div class="speicality-item text-center">
                                    <div class="speicality-img">
                                        <img src="/img/specialities/physical.jfif" style="border-radius: 50%;" class="img-fluid" alt="Speciality">
                                        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                    </div>
                                    <p>General Physician</p>
                                    <p style="font-size: 0.7rem; font-weight: bold; margin-top: 0px;color: black;">Common health issues</p>
                                </div>
                            </a>
                            <a href="/specialist/?dep=Ophthalmology">
                                <div class="speicality-item text-center">
                                    <div class="speicality-img">
                                        <img src="/img/specialities/eye.png" style="border-radius: 50%;" class="img-fluid" alt="Speciality">
                                        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                    </div>
                                    <p>Ophthalmology</p>
                                    <p style="font-size: 0.7rem; font-weight: bold; margin-top: 0px;color: black;">For Eye Care</p>
                                </div>
                            </a>
                            <a href="/specialist/?dep=Dermatology">
                                <div class="speicality-item text-center">
                                    <div class="speicality-img">
                                        <img src="/img/specialities/hair.jpg" style="border-radius: 50%;" class="img-fluid" alt="Speciality">
                                        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                    </div>
                                    <p>Dermatology</p>
                                    <p style="font-size: 0.7rem; font-weight: bold; margin-top: 0px;color: black;">Common hair issues</p>
                                </div>
                            </a>
                            <a href="/specialist/?dep=Paediatrics">
                                <div class="speicality-item text-center">
                                    <div class="speicality-img">
                                        <img src="/img/specialities/child.png" style="border-radius: 50%;" class="img-fluid" alt="Speciality">
                                        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                    </div>
                                    <p>Paediatrics</p>
                                    <p style="font-size: 0.7rem; font-weight: bold; margin-top: 0px;color: black;">Children health care</p>
                                </div>
                            </a>

                            <!-- Slider Item -->
                            <a href="/specialist/?dep=Urology">
                                <div class="speicality-item text-center">
                                    <div class="speicality-img">
                                        <img src="/img/specialities/urology.png" style="border-radius: 50%;" class="img-fluid" alt="Speciality">
                                        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                    </div>
                                    <p>Urology</p>
                                    <p style="font-size: 0.7rem; font-weight: bold; margin-top: 0px;color: black;">Disorders of urinary tract</p>
                                </div>
                            </a>
                            <!-- /Slider Item -->

                            <!-- Slider Item -->
                            <a href="/specialist/?dep=Neurology">
                                <div class="speicality-item text-center">
                                    <div class="speicality-img">
                                        <img src="/img/specialities/brain.png" style="border-radius: 50%;" class="img-fluid" alt="Speciality">
                                        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                    </div>
                                    <p>Neurology</p>
                                    <p style="font-size: 0.7rem; font-weight: bold; margin-top: 0px;color: black;">Disorder of nervous system</p>
                                </div>
                            </a>
                            <!-- /Slider Item -->

                            <!-- Slider Item -->
                            <a href="/specialist/?dep=Orthopedic">
                                <div class="speicality-item text-center">
                                    <div class="speicality-img">
                                        <img src="/img/specialities/bone.jpg" style="border-radius: 50%;" class="img-fluid" alt="Speciality">
                                        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                    </div>
                                    <p>Orthopedic</p>
                                    <p style="font-size: 0.7rem; font-weight: bold; margin-top: 0px;color: black;">Management of bone pain</p>
                                </div>
                            </a>
                            <!-- /Slider Item -->

                            <!-- Slider Item -->
                            <a href="/specialist/?dep=Cardiologist">
                                <div class="speicality-item text-center">
                                    <div class="speicality-img">
                                        <img src="/img/specialities/heart.jpg" style="border-radius: 50%;" class="img-fluid" alt="Speciality">
                                        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                    </div>
                                    <p>Cardiologist</p>
                                    <p style="font-size: 0.7rem; font-weight: bold; margin-top: 0px;color: black;">Heart and blood pressure</p>
                                </div>
                            </a>
                            <!-- /Slider Item -->

                            <!-- Slider Item -->
                            <a href="/specialist/?dep=Dentist">
                                <div class="speicality-item text-center">
                                    <div class="speicality-img">
                                        <img src="/img/specialities/teeth.png" style="border-radius: 50%;" class="img-fluid" alt="Speciality">
                                        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                    </div>
                                    <p>Dentist</p>
                                    <p style="font-size: 0.7rem; font-weight: bold; margin-top: 0px;color: black;">Tooth pain and other issues</p>
                                </div>
                            </a>
                            <!-- /Slider Item -->

                        </div>
                        <!-- /Slider -->

                    </div>
                </div>
            </div>
        </section>
        <section class="laptop-index">
            <section class="section section-doctor" id="inclinic">
                <div class="container-fluid">
                    <div class="section-header text-center">
                        <h3 style="font-size: 25px; font-family: Camphor,Helvetica,Arial,sans-serif!important;margin-block-start: 0.83em;margin-block-end: 0.83em;margin-inline-start: 0px; ">Book an appointment for an in-clinic consultation

                        </h3>
                        <p style="font-style: bold;display: block; margin-top:-10px;color: #414146;position: relative;-webkit-font-smoothing: antialiased;text-size-adjust: 100%; ">
                            Find experienced doctors across all specialties</p>
                    </div>
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="doctor-slider slider">

                                <div class="">
                                    <div class="card">
                                        <div class="card-img-top card-img-top-250">
                                            <img class="img-fluid" src="http://i.imgur.com/EW5FgJM.png" alt="Carousel 1">
                                        </div>
                                        <div class="card-block p-t-2">
                                            <h2 class=" text-wide p-b-2" style="line-height: 1.5;font-size:16px ;margin-bottom: 10px;"><a href>Dentist</a>
                                            </h2>
                                            <p style="font-size:0.9375rem;font-family: Camphor,Helvetica,Arial,sans-serif!important;box-sizing: border-box;">
                                                <a href>Teeth Trouble?Schedule a dental checkup.</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="card">
                                        <div class="card-img-top card-img-top-250">
                                            <img class="img-fluid" src="http://i.imgur.com/Hw7sWGU.png" alt="Carousel 2">
                                        </div>
                                        <div class="card-block p-t-2" style="padding: 0.9375rem;">
                                            <h2 class=" text-wide p-b-2" style="line-height: 1.5;font-size:16px ;margin-bottom: 10px;"><a href>Dietitian/Nutrition</a>
                                                <p style="font-size:0.9375rem;font-family: Camphor,Helvetica,Arial,sans-serif!important;box-sizing: border-box;">
                                                    <a href>Get guidance on eating right, weight management and sports nutrition.</a>
                                                </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="card">
                                        <div class="card-img-top card-img-top-250" style="padding: 0.9375rem;">
                                            <img class="img-fluid" src="http://i.imgur.com/g27lAMl.png" alt="Carousel 3">
                                        </div>
                                        <div class="card-block p-t-2" style="padding: 0.9375rem;">
                                            <h2 class=" text-wide p-b-2" style="line-height: 1.5;font-size:16px ;margin-bottom: 10px;"><a href>Women Pregnancy</a>
                                                <p style="font-size:0.9375rem;font-family: Camphor,Helvetica,Arial,sans-serif!important;box-sizing: border-box;">
                                                    <a href>Explore for women’s health, pregnancy and infertility treatments</a>
                                                </p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>




            <!-- Clinic and Specialities -->


            <!-- Popular Section -->
            <section class="section section-doctor" style="background-color: white;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="section-header ">
                                <h2>Book Our Doctor</h2>
                                <p>Find experienced doctors across all specialties</p>
                            </div>
                            <div class="about-content">
                                <p>As COVID infection rates continued to climb in parts of the country, it became clear for the whole nation, that there would be no immediate return to normal. Treatment on appointment, once a nice-to-have option, is now
                                    a critical tool to maintain efficient, safe operations, avoding risks to come in contact with any one and save your valuable time and efforts.</p>
                                <a href="javascript:;">Read More..</a>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="doctor-slider slider">
                                <%for(doctor of doctors){%>
                                    <div class="profile-widget">
                                        <div class="doc-img">
                                            <a href="/doctor-profile/?id=<%=doctor._id%>">
                                        <img class="img-fluid" alt="User Image" src="<%=doctor.avatar%>" style="height: 200px; width: 150%;">
                                    </a>
                                            <a href="javascript:void(0)" class="fav-btn">
                                                <i class="far fa-bookmark"></i>
                                            </a>
                                        </div>
                                        <div class="pro-content">
                                            <h3 class="title">
                                                <a href="/doctor-profile/?id=<%=doctor._id%>">
                                                    <%=doctor.name%>
                                                </a>
                                                <i class="fas fa-check-circle verified"></i>
                                            </h3>
                                            <p class="speciality">
                                                <%=doctor.department%>
                                            </p>
                                            <div class="rating">
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star"></i>
                                                <span class="d-inline-block average-rating">(49)</span>
                                            </div>
                                            <ul class="available-info">
                                                <li>
                                                    <i class="fas fa-map-marker-alt"></i>
                                                    <%=doctor.contacts.city%>
                                                        <%=doctor.contacts.state%>
                                                </li>
                                                <li>
                                                    <i class="far fa-clock"></i> Available on Fri, 22 Mar
                                                </li>
                                                <li>
                                                    <i class="far fa-money-bill-alt"></i>
                                                    <%=doctor.booking_fee%>
                                                        <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
                                                </li>
                                            </ul>
                                            <div class="row row-sm">
                                                <div class="col-6">
                                                    <a href="/doctor-profile/?id=<%=doctor._id%>" class="btn view-btn">View Profile</a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="/booking" class="btn book-btn">Book Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                        <!-- /Doctor Widget -->

                                        <!-- Doctor Widget -->

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /Popular Section -->

            <!-- Availabe Features -->
            <section class="section section-features">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5 features-img">
                            <img src="/img/features/feature.png" class="img-fluid" alt="Feature">
                        </div>
                        <div class="col-md-7">
                            <div class="section-header">
                                <h2 class="mt-4" style="margin: 0;font-weight: 700;font-size: 32px;font-family: Camphor,Helvetica,Arial,sans-serif!important;"> Download the Doccure app</h2>
                                <div class="u-t-c--black_1 u-font--14 u-margin--20__top">
                                    <h3 style="font-family: Camphor,Helvetica,Arial,sans-serif!important; margin-top: 20px;">Access video consultation with India’s top doctors on the Doccure app.<br> Connect with doctors online, available 24/7, from the comfort of your<br> home.</h3>


                                    <!-- <h4>Book appointments </h4> -->
                                    <ul class="list-item">
                                        <li style="font-size: 20px;margin: 0.9375rem;">
                                            </i>Book appointments</li>
                                        <li style="font-size: 20px;margin: 0.9375rem;">Consult doctors online</li>
                                        <li style="font-size: 20px;margin: 0.9375rem;">Store health records</li>
                                        <li style="font-size: 20px;margin: 0.9375rem;">Read health tips</li>


                                    </ul>
                                    <div>
                                        <p style="margin-top: 50px;font-weight: 700;font-size: 16px;line-height: 1.5; font-family:Camphor,Helvetica,Arial,sans-serif!important;">Get the link to download the app</p>

                                    </div>
                                    <div class="col-md-12" style="margin-top: 20px; margin-bottom: 20px;">
                                        <div class="col-md-8">
                                            <div class="col-md-1" style="border:1px solid lightgrey; padding: 12.8px;font-size: 1.3rem;font-weight: bold;margin-right: -0.9375rem;">
                                                +91
                                            </div>
                                            <div class="form-group col-md-8">
                                                <input type="Number" placeholder="Enter your Mobile Number" class="form-control" style="border-top-left-radius:0 ;border-bottom-left-radius:0;">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3" id="sum_phone" style="margin-left:-170px ;">

                                            <a href="#"><button type="submit" class="form-control" style="border-radius:20px; background-color: #fff; border-color: #dddddd;color:#2c2929;">Send SMS</button></a>

                                        </div>
                                    </div>
                                </div>

                                <!-- <p>Doccure is a new era online platform which gives you ease from booking an appointment to tracking it. </p> -->
                            </div>

                            <div class="row text-center" style="padding-right: 20px; padding-left: 50px !important;">


                                <p>
                                    <!-- <a href="#" class="btn btn-store">
                                    <span class="fa fa-apple fa-3x pull-left"></span>
                                    <span class="btn-label">Download on the</span>
                                    <span class="btn-caption">App Store</span>
                                </a> -->
                                    <a href="#" class="btn btn-store">
                                        <span class="fa fa-android fa-3x pull-left"></span>
                                        <span class="btn-label">Download on the</span>
                                        <span class="btn-caption">Google Play</span>
                                    </a>


                                </p>
                                <style>
                                    .btn-store {
                                        color: #2c2929;
                                        min-width: 254px;
                                        padding: 12px 20px !important;
                                        border-color: #dddddd !important;
                                    }
                                    
                                    .btn-store:focus,
                                    .btn-store:hover {
                                        color: #ffffff !important;
                                        background-color: #072135;
                                        border-color: #0a1014 !important;
                                    }
                                    
                                    .btn-store .btn-label,
                                    .btn-store .btn-caption {
                                        display: block;
                                        text-align: left;
                                        line-height: 1;
                                    }
                                    
                                    .btn-store .btn-caption {
                                        font-size: 24px;
                                    }
                                </style>
                            </div>


                            <!-- <div class="features-slider slider">
                            Slider Item
                            <div class="feature-item text-center">
                                <img src="/img/features/feature-01.jpg" class="img-fluid" alt="Feature">
                                <p>Patient Ward</p>
                            </div>
                          
                        </div> -->
                        </div>
                    </div>
                </div>
            </section>

            <!-- Availabe Features -->

            <!-- Footer -->

        </section>
        <section class="mobile-index">
            <section>
                <div class=" col-sm-12 index-content">
                    <div class="col-sm-12 index-first" style="background-color: navy; margin-bottom: 10px; position: relative; height: 200px; border: 1px solid black; border-radius: 3px;">
                        <div class="say-doubts" style="position: absolute;">
                            <h4>Goodbye doubts</h4>
                        </div>
                        <div class="say-hello" style="position: absolute;">
                            <h3 style="text-decoration: underline;">Say Hello Doctor.</h3>
                        </div>
                        <div class="off" style="position: absolute; bottom: 17px; color: white;">
                            <p style="line-height: 1.125rem;"><span style="font-size: 1.25rem; font-weight: 600;">10% Off</span><span style="margin-left: 2px;">+
                        </span> <span>10% Cashback <br>on First Booking</span></p>

                        </div>
                    </div>
                </div>
            </section>
            <section class="health-concerns" style="margin-bottom: 20px;">
                <div class="concerns">

                    <div class="common-consult" style="height:250px;width:100%;display: inline-flex;overflow-x: auto;padding-left: 0.9375rem;flex-wrap: wrap;flex-direction: column;">

                        <div class="img-cough-cold" style="width:180px;margin-right: 10px;border-radius: 10px;background-color: rgb(247 244 244);">
                            <div style="height: 50%;">
                                <img src="/img/patients/patient1.jpg" style="height: 135px;width: 100%;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                            </div>
                            <div style="height: 40%;padding: 5px;position: relative;">
                                <h4 style="font-weight: bold;text-align: center;margin-top: 21px;">Cough & Cold?</h4>
                                <p style="text-align:center;font-family: ui-serif;font-weight: 800;color: #616161">₹ 299</p>
                                <a href="/" style="font-size: 0.8rem;color:#455A64;font-weight:bold;position:absolute;bottom:-13px;left: 51px;">Consult Now
                                </a>

                            </div>

                        </div>
                        <div class="img-cough-cold" style="width:180px;margin-right: 10px;border-radius: 10px;background-color: rgb(247 244 244);">
                            <div style="height: 50%;">
                                <img src="/img/patients/patient2.jpg" style="height: 135px;width: 100%;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                            </div>
                            <div style="height: 40%;padding: 5px;position: relative;">
                                <h4 style="font-weight: bold;text-align: center;margin-top: 21px;">Cough & Cold?</h4>
                                <p style="text-align:center;font-family: ui-serif;font-weight: 800;color: #616161">₹ 299</p>
                                <a style="font-size: 0.8rem;color:#455A64;font-weight:bold;position:absolute;bottom:-13px;left: 51px;">Consult Now</a>

                            </div>

                        </div>
                        <div class="img-cough-cold" style="width:180px;margin-right: 10px;border-radius: 10px;background-color: rgb(247 244 244);">
                            <div style="height: 50%;">
                                <img src="/img/patients/patient3.jpg" style="height: 135px;width: 100%;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                            </div>
                            <div style="height: 40%;padding: 5px;position: relative;">
                                <h4 style="font-weight: bold;text-align: center;margin-top: 21px;">Cough & Cold?</h4>
                                <p style="text-align:center;font-family: ui-serif;font-weight: 800;color: #616161">₹ 299</p>
                                <a style="font-size: 0.8rem;color:#455A64;font-weight:bold;position:absolute;bottom:-13px;left: 51px;">Consult Now</a>

                            </div>

                        </div>
                        <div class="img-cough-cold" style="width:180px;margin-right: 10px;border-radius: 10px;background-color: rgb(247 244 244);">
                            <div style="height: 50%;">
                                <img src="/img/patients/patient4.jpg" style="height: 135px;width: 100%;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                            </div>
                            <div style="height: 40%;padding: 5px;position: relative;">
                                <h4 style="font-weight: bold;text-align: center;margin-top: 21px;">Cough & Cold?</h4>
                                <p style="text-align:center;font-family: ui-serif;font-weight: 800;color: #616161">₹ 299</p>
                                <a style="font-size: 0.8rem;color:#455A64;font-weight:bold;position:absolute;bottom:-13px;left: 51px;">Consult Now</a>

                            </div>

                        </div>
                        <div class="img-cough-cold" style="width:180px;margin-right: 10px;border-radius: 10px;background-color: rgb(247 244 244);">
                            <div style="height: 50%;">
                                <img src="/img/patients/patient5.jpg" style="height: 135px;width: 100%;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                            </div>
                            <div style="height: 40%;padding: 5px;position: relative;">
                                <h4 style="font-weight: bold;text-align: center;margin-top: 21px;">Cough & Cold?</h4>
                                <p style="text-align:center;font-family: ui-serif;font-weight: 800;color: #616161">₹ 299</p>
                                <a style="font-size: 0.8rem;color:#455A64;font-weight:bold;position:absolute;bottom:-13px;left: 51px;">Consult Now</a>

                            </div>

                        </div>


                    </div>


                </div>

            </section>
            <section class="health-concerns" style="margin-bottom: 20px;">
                <div class="concerns" style="margin-top: -14px;">
                    <h3 style="font-weight: 700; margin-left: 13px;
                    margin-bottom: 15px;
                    font-size: 1.375rem;">Book Our Doctors</h3>

                    <div class="common-consult" style="height:250px;width:100%;display: inline-flex;overflow-x: auto;padding-left: 0.9375rem;flex-wrap: wrap;flex-direction: column;">
                        <%console.log(doctors)%>
                            <% var count=1 %>
                                <%for(let i=0; i<doctors.length;i++){%>
                                    <% if(count=>10) {%>
                                        <% break;} %>
                                            <%count++%>
                                                <div class="img-cough-cold" style="width:180px;margin-right: 10px; border-radius: 10px;background-color: rgb(247 244 244);">
                                                    <div style="height: 40%;">
                                                        <img src="<%=doctors[i].avatar%>" style="height: 135px;width: 100%;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                                                    </div>
                                                    <div style="height: 60%;padding: 5px;position: relative;margin-top: 12px;
                                    ">
                                                        <h4 style="font-weight: bold;margin-top: 29px;">
                                                            Dr.
                                                            <%=doctors[i].name%>
                                                        </h4>
                                                        <h4 style="font-weight: 600;margin-top: -5px;
                                        font-size: 13px;">
                                                            General Physician
                                                        </h4>
                                                        <p style="font-family: ui-serif;font-weight: 800;color: #616161; position: absolute;    top: 70px;
                                        margin-left: 2px; ">₹
                                                            <%=doctors[i].booking_fee%>
                                                        </p>
                                                        <div style="position: absolute; display: inline-flex;">


                                                            <div style="border-radius: 2px;
                                            background-color: skyblue;margin-top: 17px;width: 80px;">
                                                                <a href="/" style="font-size: 13px;
                                                font-weight: 800;
                                                color: white; text-align: center;margin-left: 4px;">View Profile</a>
                                                            </div>
                                                            <div style="border-radius: 2px;width: 75px;
                                            background-color: skyblue;margin-top: 17px;margin-left: 18px;">
                                                                <a href="/" style="font-size: 13px;
                                                font-weight: 800;
                                                color: white;text-align:center;margin-left: 9px;">Book Now</a>
                                                            </div>
                                                        </div>


                                                    </div>

                                                </div>
                                                <%}%>


                    </div>


                </div>

            </section>

            <section>
                <div>
                    <div class="head">
                        <h3 style="font-weight: 800;    margin-bottom: 16px;
                margin-left: 7px;">
                            Top Specialities
                        </h3>
                    </div>

                    <div class="top-specilities" style="height: 500px;">
                        <div class="col-sm-12 upper" style="height: 25%; padding-left: 2px; display: inline-flex; margin-left: -6px;">
                            <div class="col-sm-4 atom" style="border-radius: 5px; height: 100%; margin-left: 5px; width: 80%;">
                                <div style="height: 70%; border-radius: 10px;">
                                    <img src="/img/patients/health1.jfif" style="height: 100%;border-radius: 10px;">
                                </div>
                                <div>
                                    <h3 style="font-size: 0.9375rem;
                                        padding-top: 5px;
                                        line-height: 1rem;
                                        font-family: system-ui;">
                                        Covid-19 Expert
                                    </h3>

                                </div>

                            </div>
                            <div class="col-sm-4 atom" style="border-radius: 5px; height: 100%; margin-left: 5px;">
                                <div style="height: 70%; border-radius: 10px;">
                                    <img src="/img/patients/health1.jfif" style="height: 100%;border-radius: 10px;">
                                </div>
                                <div>
                                    <h3 style="font-size: 0.9375rem;
                                    padding-top: 5px;
                                    line-height: 1rem;
                                    font-family: system-ui;">
                                        Pregnancy
                                    </h3>

                                </div>

                            </div>
                            <div class="col-sm-4 atom" style="border-radius: 5px; height: 100%; margin-left: 5px;">
                                <div style="height: 70%; border-radius: 10px;">
                                    <img src="/img/patients/health1.jfif" style="height: 100%;border-radius: 10px;">
                                </div>
                                <div>
                                    <h3 style="font-size: 0.9375rem;
                                        padding-top: 5px;
                                        line-height: 1rem;
                                        font-family: system-ui;">
                                        Bone Expert
                                    </h3>

                                </div>

                            </div>
                        </div>


                        <div class="col-sm-12 upper" style="height: 25%; padding-left: 2px; display: inline-flex; margin-top: 20px; margin-left: -8px;">
                            <div class="col-sm-4 atom" style="border-radius: 5px; height: 100%; margin-left: 5px; width: 80%;">
                                <div style="height: 70%; border-radius: 10px;">
                                    <img src="/img/patients/health1.jfif" style="height: 100%;border-radius: 10px;">
                                </div>
                                <div>
                                    <h3 style="font-size: 0.9375rem;
                                    padding-top: 5px;
                                    line-height: 1rem;
                                    font-family: system-ui;">
                                        Ear & Nose Expert
                                    </h3>

                                </div>

                            </div>
                            <div class="col-sm-4 atom" style="border-radius: 5px; height: 100%; margin-left: 5px;">
                                <div style="height: 70%; border-radius: 10px;">
                                    <img src="/img/patients/health1.jfif" style="height: 100%;border-radius: 10px;">
                                </div>
                                <div>
                                    <h3 style="font-size: 0.9375rem;
                                    padding-top: 5px;
                                    line-height: 1rem;
                                    font-family: system-ui;">
                                        Physician Expert
                                    </h3>

                                </div>

                            </div>
                            <div class="col-sm-4 atom" style="border-radius: 5px; height: 100%; margin-left: 5px;">
                                <div style="height: 70%; border-radius: 10px;">
                                    <p style="padding: 11px;
                            height: 100%;
                            border-radius: 10px;
                            border: 2px solid #126a78;
                            font-size: 0.9375rem;
                            line-height: 1.0625rem;
                            padding-top: 24px;
                            margin-left: -6px;
                            ">
                                        <span style="font-weight: 700;color: #12444c">See More Specialities</span>
                                    </p>
                                </div>
                                <div>
                                    <h3 style="font-size: 0.9375rem;
                                padding-top: 5px;
                                line-height: 1rem;
                                font-family: system-ui;">
                                        Explore More Expert
                                    </h3>

                                </div>

                            </div>
                        </div>



                    </div>
                </div>

            </section>


        </section>

        <footer class="footer">

            <!-- Footer Top -->
            <div class="footer-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="/img/footer-logo.png" alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Patients</h2>
                                <ul>
                                    <li><a href="/search"><i class="fas fa-angle-double-right"></i> Search for Doctors</a></li>
                                    <li><a href="/login"><i class="fas fa-angle-double-right"></i> Login</a></li>
                                    <li><a href="/register"><i class="fas fa-angle-double-right"></i> Register</a></li>
                                    <li><a href="/booking"><i class="fas fa-angle-double-right"></i> Booking</a></li>
                                    <li><a href="/patient-dashboard"><i class="fas fa-angle-double-right"></i> Patient Dashboard</a></li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Doctors</h2>
                                <ul>
                                    <li><a href="/appointments"><i class="fas fa-angle-double-right"></i> Appointments</a></li>
                                    <li><a href="/chat"><i class="fas fa-angle-double-right"></i> Chat</a></li>
                                    <li><a href="/login"><i class="fas fa-angle-double-right"></i> Login</a></li>
                                    <li><a href="/staff-login-page"><i class="fas fa-angle-double-right"></i> Staff Login</a></li>
                                    <li><a href="/doctor-register"><i class="fas fa-angle-double-right"></i> Register</a></li>
                                    <li><a href="/doctor-dashboard"><i class="fas fa-angle-double-right"></i> Doctor Dashboard</a></li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contact Us</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p> 3556 Beech Street, San Francisco,<br> California, CA 94158 </p>
                                    </div>
                                    <p>
                                        <i class="fas fa-phone-alt"></i> +1 315 369 5943
                                    </p>
                                    <p class="mb-0">
                                        <i class="fas fa-envelope"></i> doccure@example.com
                                    </p>
                                </div>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                    </div>
                </div>
            </div>
            <!-- /Footer Top -->

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="container-fluid">

                    <!-- Copyright -->
                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="copyright-text">
                                    <p class="mb-0"><a href="templateshub.net">Templates Hub</a></p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">

                                <!-- Copyright Menu -->
                                <div class="copyright-menu">
                                    <ul class="policy-menu">
                                        <li><a href="/term-condition">Terms and Conditions</a></li>
                                        <li><a href="/privacy-policy">Policy</a></li>
                                    </ul>
                                </div>
                                <!-- /Copyright Menu -->

                            </div>
                        </div>
                    </div>
                    <!-- /Copyright -->

                </div>
            </div>
            <!-- /Footer Bottom -->

        </footer>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Slick JS -->
    <script src="/js/slick.js"></script>

    <!-- Custom JS -->
    <script src="/js/script1.js"></script>
    <script src="/js/script.js"></script>



</body>

<!-- doccure/  30 Nov 2019 04:11:53 GMT -->

</html>