<!DOCTYPE html>
<html lang="en">

<!-- doccure/invoices  30 Nov 2019 04:12:14 GMT -->

<head>
    <meta charset="utf-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="/js/html5shiv.min.js"></script>
			<script src="/js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
     
        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar paddingt">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Invoices</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Invoices</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar lscreen">

                        <!-- Profile Sidebar -->
                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content">
                                <div class="profile-info-widget">
                                    <a href="#" class="booking-doc-img">
										<img src="<%=locals.user.avatar%>"onerror='this.src="/img/profile.png"' alt="User Image">

                                    </a>
                                    <div class="profile-det-info">
                                        <h3>Dr.
                                            <%=locals.user.name%>
                                        </h3>

                                        <div class="patient-details">
                                            <h5 class="mb-0">
                                                <%=locals.user.department%>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-widget">
                                <nav class="dashboard-menu">
                                    <ul>
                                        <li>
                                            <a href="/doctor-dashboard">
                                                <i class="fas fa-columns"></i>
                                                <span>Dashboard</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/appointments">
                                                <i class="fas fa-calendar-check"></i>
                                                <span>Appointments</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/my-patients">
                                                <i class="fas fa-user-injured"></i>
                                                <span>My Patients</span>
                                            </a>
                                        </li>

                                      
                                        <li class="active">
                                            <a href="/invoices">
                                                <i class="fas fa-file-invoice"></i>
                                                <span>Invoices</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/reviews">
                                                <i class="fas fa-star"></i>
                                                <span>Reviews</span>
                                            </a>
                                        </li>


                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- /Profile Sidebar -->

                    </div>
                    <div class="col-md-7 col-lg-8 col-xl-9">
                        <%if(allpatients.patients == ''){%>
                            <h2 class="text-center no-file" style="margin-top: 100px;"><span style="margin-right: 20px;"><i class="fas fa-folder-open"></i></span><span>No Invoices Available !</span></h2>
                            <%}else{%>

                     <div class="card card-table">
                            <div class="card-body">

                               
                                <div class="table-responsive">
                                    <table class="table table-hover table-center mb-0 stable">
                                        <thead class="sthead">
                                            <tr class="str">
                                                <th class="sth">Invoice No</th>
                                                <th class="sth">Patient</th>
                                                <th class="sth">Amount</th>
                                                <th class="sth">Paid On</th>
                                                <th class="sth"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="stbody">
                                            <%var c=0;%>
                                            <%for(patients of allpatients.patients){%>
                                                <%if(patients.cancel == true){%>
                                                    <%continue;%>
                                                    <%}%>
                                            <tr class="str">
                                                <td class="std3">
                                                    <a href="/invoice-view">#INV-00<%=++c%></a>
                                                </td>
                                                <td class="std3">
                                                    <h2 class="table-avatar">
                                                        <a href="/patient-profile/?pid=<%=patients.pid._id%>&doctorid=<%=locals.user.id%>" class="avatar avatar-sm mr-2">
                                                            <img class="avatar-img rounded-circle" src="<%=patients.pid.avatar%>" onerror='this.src="/img/profile.png"' alt="User Image">
                                                        </a>
                                                        <a href="/patient-profile/?pid=<%=patients.pid._id%>&doctorid=<%=locals.user.id%>"><%=patients.name%> <span>#PT00<%=c%></span></a>
                                                    </h2>
                                                </td>
                                                <td class="std3">Rs <%=patients.fee%></td>
                                                <td class="std3"><%=patients.createdAt.toDateString()%></td>
                                                
                                            </tr>
                                            <%}%>
                                          
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>

            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Custom JS -->
    <script src="/js/script.js"></script>

</body>

<!-- doccure/invoices  30 Nov 2019 04:12:14 GMT -->

</html>