<!DOCTYPE html>
<html lang="en">

<!-- AarogyaHub/  30 Nov 2019 04:11:34 GMT -->

<head>
    <link rel="stylesheet" href="<%=assetPath('css/bootstrap.min.css')%>">

	<link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/fontawesome.min.css')%>">
    <link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/all.min.css')%>">
    
	<link rel="stylesheet" href="<%=assetPath('css/style1.css')%>">
	<link rel="stylesheet" href="<%=assetPath('css/style.css')%>">
</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <%-include('header');%>
        <!-- Header -->

        <!-- /Header -->
      
        <section class="laptop-sugar" style="margin-top: 70px;">
            <div class="search-box lscreen" style="margin-left:70px;">
                <form action="/user/search-doctor" method="POST">
                    <div class="form- search-location">
    
                        <input type="text" name="location" id="searchkey" class="form-control searchul" onfocus="document.getElementById('searchul').classList.toggle('displayNone');" placeholder="Search Location">
                        <ul style="list-style: none;margin-left: 0px;width:280px;border:1px solid rgb(184, 181, 181);width: 100%;" class="displayNone position-absolute" id="searchul">
                            <li style="background-color:white;border-bottom:1px solid rgb(184, 181, 181);padding:8px;margin-left: -40px;"><a style="font-size: 1rem;font-weight: bold;cursor: pointer;" id="locationsearch"><i class="fas fa-map-marker-alt" style="margin-right: 10px;margin-left: 10px;color:rgb(0, 174, 255);"></i>Get My Location</a></li>
                            <li style="background-color:white;border-bottom:1px solid rgb(184, 181, 181);padding:8px;margin-left: -40px;"><a style="cursor: pointer;" onclick="updatesearch('Dumka');"><i class="fas fa-search" style="margin-right: 10px;margin-left: 10px;"></i>Dumka</a></li>
                            <li style="background-color:white;border-bottom:1px solid rgb(184, 181, 181);padding:8px;margin-left: -40px;"><a style="cursor: pointer;" onclick="updatesearch('Deoghar');"><i class="fas fa-search" style="margin-right: 10px;margin-left: 10px;"></i>Deoghar</a></li>
    
                        </ul>
    
    
                    </div>
    
                    <div class="form- search-info msearch">
                        <!-- <span class="form-text" style="margin-top: -20px;">Ex : Dental or Sugar Check up etc</span> -->
                        <input type="text" name="keyword" id="searchkd" class="form-control" placeholder="Search Doctors, Clinics, Hospitals, Diseases Etc">
                        <table class="table table-striped position-absolute" style="margin-top: 3px;">
    
                            <tbody id="myTable" style="  border:1px solid rgb(184, 181, 181);">
    
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary search-btn m20" style="background-color:#478e8e !important;border: none;"><i class="fas fa-search"></i> <span>Search</span></button>
                </form>
            </div>
            <div class="search-box sscreen">
                <form action="/user/search-doctor" method="POST">
                    <div class="form-search-location">
                        
                        <input type="text" name="location"  class="form-control searchul" onfocus="showsearch()"   placeholder="Search Location">
                      
                        
                        
                    </div>
    
                    <div class="form-search-info msearch">
                       
                        <input type="text" name="keyword" onfocus="showsearch()" class="form-control" placeholder="Search Test, Health Packages, Labs">
                        <!-- <span class="form-text">Ex : Dental or Sugar Check up etc</span> -->
                       
                    </div>
                    <!-- <button type="submit" class="btn btn-primary search-btn m20" style="background-color:#478e8e !important;border: none;"><i class="fas fa-search"></i> <span>Search</span></button> -->
                </form>
            </div>
             <div class="displayNone filter_box" id="filter_box" style="overflow-y:auto;margin-top:60px;border-top-left-radius:5px;border-top-right-radius:5px;border:1px solid #dee2e6;bottom: -540px;z-index:500;background-color: white; position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            visibility: visible;
    opacity: 1;">
                    <div id="header_filter" style="padding:10px ;">
    
                        <i class="fas fa-times" style="font-size: 2rem;color:grey;" id="close_btn"></i>
                        <h5 class="text-center" style="margin-top: -25px;font-weight: bold;font-size: 1.2rem;">Search</h5>
                    </div>
                    <div class="card search-filter" style="display: block;">
    
                        <form action="/user/filter" method="POST">
                            <div class="card-body">
    
    
                                <div class="filter-widget">
                                   
                                    <input type="text" name="location" id="searchkey1" class="form-control"  placeholder="Search Location" style="margin-bottom: 5px;">
                                    <input type="text" name="keyword" id="searchkd1" class="form-control" placeholder="Search Test, Health Packages, Labs">
                                   
                                </div>
                                <div class="filter-widget">
                                    <ul style="list-style: none;width:100%;margin-top: 00px;border:1px solid rgb(224, 221, 221);width: 87%;background-color: rgba(255, 255, 255, 0.692);" class="position-absolute" id="searchul1">
                                        <li style="border-bottom:1px solid rgb(184, 181, 181);padding:8px;margin-left: -40px;"><a style="font-size: 1rem;font-weight: bold;cursor: pointer;" id="locationsearch1"><i class="fas fa-map-marker-alt" style="margin-right: 10px;margin-left: 10px;color:rgb(0, 174, 255);"></i>Get My Location</a></li>
                                        <li style="border-bottom:1px solid rgb(184, 181, 181);padding:8px;margin-left: -40px;"><a style="cursor: pointer;" onclick="updatesearch1('Dumka');"><i class="fas fa-search" style="margin-right: 10px;margin-left: 10px;"></i>Dumka</a></li>
                                        <!-- <li style="border-bottom:1px solid rgb(184, 181, 181);padding:8px;margin-left: -40px;"><a style="cursor: pointer;" onclick="updatesearch1('Deoghar');"><i class="fas fa-search" style="margin-right: 10px;margin-left: 10px;"></i>Deoghar</a></li> -->
        
                                        </ul>
                                        <table class="table table-striped position-absolute" style="margin-left: -20px;">
    
                                            <tbody id="myTable1">
                                                
                                            </tbody>
                                        </table>
                                </div>
                                <!-- <div class="btn-search">
                                    <button type="submit" class="btn btn-block tcolor">Search</button>
                                </div> -->
    
                            </div>
                        </form>
                    </div>
    
                </div>
            <div class="col-md-12 lipid profile" style="margin-bottom:0px;">
                <div class="col-md-12">
                    
                   
                    <div class="col-md-12" style="min-height: 600px;height:auto; display:inline-flex;margin-top: 20px;position:relative;">
                        <div class="col-md-8" style="display: inline-flex;width: 100%;margin-bottom: 0px;">
                        <div class="col-md-4" style=" height:35%; left: 20px;">
                            <a href="/"><img src="<%=lab.avatar%>" style="width: 100%;height: 250px;"></a>

                        </div>
                        <div class="col-md-8" style="height: 100%; left: 20px">
                            <div class="lip-heading">
                                <h2><%=lab.name%></h2>
                                <p><%=lab.contacts.address%>, <%=lab.contacts.city%></p>
                            </div>
                            <!-- <div class="certi" style="display: inline-flex;">
                                <div class="certi-logo" style="margin-left: -4px;">
                                    <img src="<%=assetPath('img/patients/certi2.png')%>" style="height: 37px;">
                                </div>
                                <div class="certi-heading">
                                    <h4 style="font-weight: 800; margin-top: 11px; margin-left: 6px;">Certified Labs</h4>
                                </div>
                            </div>
                            <div class="lip-sec" style="margin-left: -42px;">
                                <ul class="lip-ul" style="list-style:none">
                                    <li><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> <span style="line-height: 30px; margin-left:10px;">Free Home Sample Pickup
                            </span</li>
                            <li><span><i class="fa fa-check-circle" aria-hidden="true"></i></span><span style="line-height: 30px; margin-left:10px;"> E-Reports on next day
                            </span</li>
                            <li><span><i class="fa fa-check-circle" aria-hidden="true"></i></span><span style="line-height: 30px; margin-left:10px;"> 100% Secured with Accuracy
                            </span</li>                    
                        </ul>
                    </div> -->
                    <!-- <div class=" col-md-12 lip-block" style="height: 60px;position: relative; display: inline-flex; border-top: 1px solid black; border-bottom: 1px solid black;">
                        <div class="lips-price" style="margin-left: -7px;" >
                            <h3 style="margin-top: 13px;margin-left: 0px;">₹ 400</h3>
                            <p style="margin-top:-12px; margin-left:-2px"><span style="margin-left: 2px; color: #558B2F">+</span><span style="color: #558B2F">10% Health Cashback*</span> </p>
                            </div>
                            <div class="lip-add" style="border: 1px solid black; height: 39px;width: 109px;left: 303px;
                    margin-top: 13px;
                    border-radius: 3px;position: absolute;">
                                <h4 style="text-align: center; padding-top: 7px;">Add Cart</h4>

                            </div>
                            <div class="lip-add" style="border: 1px solid #fff; position: absolute; height: 39px;width: 116px; left: 422px;
                    margin-top: 13px;
                    border-radius: 3px;
                    background-color: #4DD0E1">
                                <h4 style="text-align: center; padding-top: 7px;color: white;
                        font-weight: 800; color: #fff; cursor: pointer;">Book Now</h4>

                            </div>
                        </div> -->
                        <div class="col-md-12 first-img" style="margin-top: 20px; display: inline-flex;">
                            <div class="imgs">
                                <img src="<%=assetPath('img/patients/first1.jfif')%>" style="height: 45px; width: 40px;">
                            </div>
                            <div class="imgs-heading" style="margin-left: 15px;">
                                <h4 style="font-weight: 800;"> Home sample collection for FREE</h4>
                                <p style="font-weight: 400;line-height: 17px;
                        margin-top: -6px;">A certified professional will collect your sample from a location of your preference.</p>
                            </div>
                        </div>

                        <div class="col-md-12 first-img" style="margin-top: 20px; display: inline-flex;">
                            <div class="imgs">
                                <img src="<%=assetPath('img/patients/e12.png')%>" style="height: 45px; width: 40px;">
                            </div>
                            <div class="imgs-heading" style="margin-left: 15px;">
                                <h4 style="font-weight: 800;">
                                    Digital reports</h4>
                                <p style="font-weight: 400;line-height: 17px;
                        margin-top: -6px;">Access your reports anytime on your AarogyaHub account. We will email you a copy.</p>
                            </div>
                        </div>
                        <div class="col-md-12 first-img" style="margin-top: 20px; display: inline-flex;">
                            <div class="imgs">
                                <img src="<%=assetPath('img/patients/offer.jpg')%>" style="height: 45px; width: 40px;">
                            </div>
                            <div class="imgs-heading" style="margin-left: 15px;">
                                <h4 style="font-weight: 800;">
                                    Offers and affordable prices</h4>
                                <p style="font-weight: 400;line-height: 17px;
                        margin-top: -6px;">Get great discounts and offers on tests and packages</p>
                            </div>
                        </div>



                        </div>
                       
                    </div>
                    <div class="col-md-4" >
                <div class="col-md-12" style="height: 100%; position:relative;margin-bottom: 50px;">
                    <%if(user.cart.tests.length == 0){%>
                        <div id="select_lab">
                            <h2 style="color: grey;border-bottom: 1px solid grey;font-size: 1rem;padding-bottom: 10px;">Order Summary</h2>
                            <p style="margin-top: 15px;font-size: 1.2rem;font-weight: bolder;">Please select a test to proceed</p>
                            <a class="btn btn-primary" style="width: 100%;background-color: grey !important;padding:10px !important;color: white;font-weight: bolder;">View Cart</a>
                        </div>
                        <%}%>
                        <div id="select_lab" class="displayNone">
                            <h2 style="color: grey;border-bottom: 1px solid grey;font-size: 1rem;padding-bottom: 10px;">Order Summary</h2>
                            <p style="margin-top: 15px;font-size: 1.2rem;font-weight: bolder;">Please select a test to proceed</p>
                            <a class="btn btn-primary" style="width: 100%;background-color: grey !important;padding:10px !important;color: white;font-weight: bolder;">View Cart</a>
                        </div>
                        <div id="select_lab1">
                            <h2 style="color: grey;border-bottom: 1px solid grey;font-size: 1rem;padding-bottom: 10px;">Order Summary</h2>
                            <p style="margin-top: 15px;font-size: 1rem;font-weight: 700;border-bottom: 1px dashed grey;padding-bottom: 10px;" >
                                <i class="fas fa-shopping-cart" style="margin-right: 15px;"></i>
                                <span id="itemcount">
                                <%if(user.cart.tests.length == 1){%>
                                
                                <%=user.cart.tests.length%> Item in Cart.
                                <%}else{%>
                                    <%=user.cart.tests.length%> Items in Cart.
                                <%}%>
                            </span>
                            </p>
                            <%var total = 0;%>
                            <div style="border-bottom: 1px dashed grey;padding-bottom: 10px;" id="cart-box">
                                <%var cns = 0%>
                            <%for(u3 of user.cart.tests){%>
                                <div style="display:inline-flex;width: 100%;" id="cart_item">
                                    <span style="width: 50%;font-weight: bold;font-size: 1.2rem;"><%=u3.testname%></span>
                                    <span style="width: 50%;text-align: right;font-weight: bold;font-size: 1.2rem;" >Rs <%=u3.testprice%></span>
                                    <%total = total + parseInt(u3.testprice)%>
                                </div>
                            <%}%>
                        </div>
                            <div style="display:inline-flex;width: 100%;padding-top: 10px;">
                                <span style="width: 50%;font-weight: bold;font-size: 1.2rem;">Total</span>
                                <span style="width: 50%;text-align: right;font-weight: bold;font-size: 1.2rem;" id="totalp" data-total="<%=total%>">Rs <%=total%></span>
                               
                            </div>
                            <a class="btn btn-primary" href="/diagonistic/cart" style="width: 100%;margin-top:50px;background-color: grey !important;padding:10px !important;color: white;font-weight: bolder;">View Cart</a>
                        </div>
                </div> 
            </div>
          
               

            </div>
            <div class="col-md-11" style="margin-left: 30px;margin-top: -170px;">
                <div class="" style="border:3px solid #478e8e;padding: 5px 10px;margin-bottom: 20px;">
                    <span style="font-size:2rem;font-weight: bolder;color:#e36d25;">Available Tests</span>
                    <span style="position:absolute;right:10%;font-size:1.5rem;font-weight: bolder;"><%=lab.tests.length%> Tests</span>
                </div>
                <div>
                    <%var j=0%>
                    <%for(let u of lab.tests){%>
                    <div style="display: inline-flex;border:1px solid grey;width: 100%;padding: 15px;border-radius: 5px;margin-bottom: 5px;">
                        <div style="width: 10%;"><span style="margin-top: 5px;margin-left:15px;color:#478e8e;font-size: 1.5rem;"><i class="fas fa-flask"></i></span></div>
                        <div style="width: 70%;">
                            <h2 style="margin-top: 0px;font-weight:bolder;font-size: 1.2rem;"><%=u.testname%></h2>
                            <h3 style="font-size: 1rem;">Rs <%=u.testprice%></h3>
                        </div>
                        <%var flag1 = false;%>
                        <%for(let u2 of user.cart.tests){%>
                                        
                            <%if(u2.testname.trim()  == u.testname.trim() && u2.labid == lab.id){%>
                                <%flag1 = true;%>
                                <%}%>
                                <%}%>
                                <%if(flag1){%>         
                                    <div style="width: 20%;position: absolute;right: 30px;">
                                        <a  class="btn btn-primary displayNone" id="select_new" data-count="<%=j%>" data-name="<%=u.testname%>" data-lid="<%=lab._id%>" style="border-radius: 3px !important;width:110px !important;padding:10px 5px !important;min-width: none !important;margin-top: 10px;font-weight: bolder;color:white">Select</a>
                                    </div>
                                    <div style="width: 20%;position: absolute;right: 30px;">
                                        <a href="" class="btn btn-primary" id="remove_item" data-count="<%=j%>" data-name="<%=u.testname%>"  style="border-radius: 3px !important;width:110px !important;padding:10px 5px !important;min-width: none !important;margin-top: 10px;font-weight: bolder;color:white;background-color: red;">
                                            <i class="fas fa-trash" style="margin-right: 5px;"></i>Remove</a>
                                    </div>
                                    <%}else{%>
                                        <div style="width: 20%;position: absolute;right: 30px;">
                                            <a class="btn btn-primary" id="select_new" data-count="<%=j%>" data-name="<%=u.testname%>" data-lid="<%=lab._id%>" style="border-radius: 3px !important;width:110px !important;padding:10px 5px !important;min-width: none !important;margin-top: 10px;font-weight: bolder;color:white">Select</a>
                                        </div>
                                        <div style="width: 20%;position: absolute;right: 30px;">
                                            <a href="" class="btn btn-primary displayNone" id="remove_item" data-name="<%=u.testname%>" data-name="<%=u.testname%>"  style="border-radius: 3px !important;width:110px !important;padding:10px 5px !important;min-width: none !important;margin-top: 10px;font-weight: bolder;color:white;background-color: red;">
                                                <i class="fas fa-trash" style="margin-right: 5px;"></i>Remove</a>
                                        </div>
                                        <%}%>
                    </div>
                    <%j++;%>
                    <%}%>
                </div>
            </div>
         

            <!-- Footer -->
           
                <!-- /Footer -->

    </div>
    </section>
    <div class="col-md-12 _3oqPe show_all_labs" style="display: inline-flex;">
    
        <div class="col-md-12 jss48" style="overflow-y: auto;">
          
    <div id="" class=""  style="background-color: white;padding:20px;border:1px solid rgb(194, 193, 193);width: 30%;margin-left:50px;margin-top:0px;position: absolute;right:-1%;border-radius:5px;">
        <svg onclick="removeLab()"  viewBox="0 0 24 24" style="height: 50px;cursor:pointer;width:50px;margin-left:-65px;background-color:white;top:10px;position:fixed;padding:10px"><path fill="currentColor" fill-rule="evenodd" d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4l5.6 5.6L5 17.6 6.4 19l5.6-5.6 5.6 5.6 1.4-1.4-5.6-5.6z"></path></svg>
        <div id="displayMyLab" style="height: 20%;overflow-y: auto;display: inline-flex;">
            <i class="fas fa-shopping-cart" style="margin-right: 15px;width: 5%;margin-top: 5px;"></i>
            <h2 style="color:#575557;font-size: 1.1rem;padding-bottom: 0px;font-weight: bolder;width: 95%;">  You have 2 items in your cart from <%=lab.name%></h2>
        
          </div>
        
        <form action="/" method="POST">
        <div  style="height: 100vh;">  
            <div id="displayLab" style="height:100vh;overflow-y: auto;position: relative;">
            <p style="font-size: 1rem;margin-top: 30px;margin-left: 20px;">Your cart will be emptied. Do you wish to continue with the lab Himalay Center?</p></div>
            <div style="background-color:white;width: 100%;top:200px;position:absolute;padding-left: 20px;">
                <button type="submit" id="confirm_address_button" class="btn btn-primary" style="width: 100px;margin-right: 20px;">Yes</button>
                <a id="close_empty_option" class="btn btn-primary" style="width: 100px;color: white;">No</button>
            </div>   
        </div>   
</div>

    </div>
</div>

  
    <!-- /Main Wrapper -->
    <section class="mobile-sugar">
        <div class=" Sugar" style="height: 200px; margin-top:3px;background-size: cover; position: relative; margin-bottom: 31px;background-image:linear-gradient(transparent,95%,white) ,url('/img/patients/v4.jpg');">

            <div class="pric-health" style="    
            margin-top: -3px;
            margin-left: -17px;
            font-family: unset;
            font-weight: 700;
            height: 23px;
            width: 61px;
            position: absolute;
            left: 0.875rem;
            border-radius: 5px;
            bottom: -15px;
            left: 28px;
            ">
                <p class="price-healths" style="color:grey;text-decoration: line-through;"> ₹ 300</p>
            </div>
            <div class="pric-health" style="    
            margin-top: -3px;
            margin-left: -17px;
            font-family: unset;
            font-weight: 700;
            height: 23px;
            width: 61px;
            position: absolute;
            left: 0.875rem;
            border-radius: 5px;
            bottom: -15px;
            left: 91px;
            background-color: #B94085;">
                <p class="price-healths"> ₹ 200</p>
            </div>

        </div>
        <div class="Pregnancy" style="margin-bottom: 17px;">
            <h3 style="margin-left: 8px;
            font-weight: 700;">Diabetes Test</h3>
        </div>
        <div class="col-sm-12 test-type" style="display: inline-flex;">
            <div class="col-sm-4" style="display:inline-flex">
                <div class="col-sm-2" style="height: 54px;
                width: 54px; border-radius: 7px; background-image: url('/img/patients/p3.png'); background-size: cover; background-color:#a93e65;">

                </div>
                <div class="col-sm-1" style="width: 117px; margin-left: -4px;">
                    <p style="line-height: 17px;"><span style="font-weight: 800;
                        font-size: 19px;
                        margin-left: 1px;">3</span><span style="margin-left: 3px;">Test Included</span></p>
                </div>

            </div>
            <div class="col-sm-4" style="display:inline-flex; margin-left: -70px;">
                <div class="col-sm-2" style="height: 54px;
                width: 54px; border-radius: 7px; background-image: url('/img/patients/p5.jpg'); background-size: cover; background-color:#a93e65;">

                </div>
                <div class="col-sm-1" style="width: 100px;">
                    <p style="line-height: 17px;"><span style="font-weight: 800;
                        font-size: 19px;
                        margin-left: 1px;">100+</span><span style="margin-left: 3px;">Booked in 10 Last Days </span></p>
                </div>

            </div>


        </div>
        <div style="margin-left: 3px; margin-top: 12px;">
            <h3 style="font-weight: 600; margin-left: 7px;"> This package covers</h3>
            <ul style="font-family: system-ui;
            font-weight: 500;">
                <li>Measurment:Complete Blood Count</li>
                <li>A1C Test</li>
                <li>Glucose levels in Body</li>
            </ul>
        </div>

        <div style="background-color: #EEEEEE;">
            <div class="col-sm-12">
                <h3 style="text-align: center;
                padding-top: 15px;
                font-size: 1.125rem;
            ">Why should you choose this Package?</h3>
            </div>



            <div class="col-sm-12" style="display: inline-flex; height: 200px;margin-top: 15px;">

                <div class="col-sm-6">
                    <img src="<%=assetPath('img/patients/v2.jpg')%>" style="height: 70px; width: 70px; border-radius: 0.6rem;;">
                    <p style="font-size: 0.875rem;
                    margin-top: 8px;">if your a male or female above 40 years of age.</p>
                </div>
                <div class="col-sm-6">
                    <img src="<%=assetPath('img/patients/v3.jpg')%>" style="height:70px; width:70px; border-radius: 0.6rem;;">
                    <p style="font-size: 0.875rem;
                    margin-top: 8px;"> To help evaluate lifestyle changes and health risks.</p>
                </div>

            </div>


        </div>
        <div class="col-md-12">
            <div class="col-sm-12 last" style="border: 1px solid #BDBDBD;
            margin-bottom: 8px;
            border-radius: 0.6rem;;
            margin-top: 16px;">
                <div style="display: inline-flex;margin-top: 18px;height: auto;">
                    <div class=" col-sm-4 ">
                        <img src="<%=assetPath('img/patients/l3.png')%> " style="height: 43px; border-radius: 0.6rem;; width:42px;margin-left: 13px; ">
                        <p style="font-size: 0.6rem;; font-weight:600;text-align: center;">Sample Pickup at home</p>
                    </div>
                    <div class="col-sm-4 ">
                        <img src="<%=assetPath('img/patients/l1.jpg ')%>" style="height: 43px; border-radius: 0.6rem;; width:42px;margin-left: 13px; ">
                        <p style="font-size: 0.6rem;; font-weight:600;text-align: center;">Online reports in 24-48 hours</p>
                    </div>
                    <div class="col-sm-4 ">
                        <img src="<%=assetPath('img/patients/l2.png ')%>" style="height: 43px; border-radius: 0.6rem;; width:42px;margin-left: 13px; ">
                        <p style="font-size: 0.6rem;; font-weight:600;text-align: center;">Reports analysis by top doctors</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 text-center position-sticky" style="bottom:0px">
            <a class="btn" style="text-align: center;padding: 8px;background-color: #FF5722;margin-top: 18px; border-radius:27px;color:white;margin-bottom: 20px;width:186px; ">
               Book Now
            </a>

        </div>

    </section>
    <%-include('footer');%>
    <script src="<%=assetPath('js/jquery.min.js')%>"></script>
    <script src="<%=assetPath('js/popper.min.js')%>"></script>

    <script src="<%=assetPath('js/bootstrap.min.js')%>"></script>
   

    <script src="<%=assetPath('plugins/theia-sticky-sidebar/ResizeSensor.js')%>"></script>
    <script src="<%=assetPath('plugins/theia-sticky-sidebar/theia-sticky-sidebar.js')%>"></script>
    <script src="<%=assetPath('js/script.js')%>"></script>

    <script>
         var removeitem = document.querySelectorAll('#remove_item');
         var selectnew = document.querySelectorAll('#select_new');
            
             
             let itemid,itemname,lid;
         for(let i=0;i<removeitem.length;i++)
         {
            removeitem[i].addEventListener('click',function(e)
             {
                e.preventDefault();
                removeitem[i].classList.add('displayNone')
                selectnew[i].classList.remove('displayNone');
                 itemname = removeitem[i].getAttribute('data-name');
               
                 
                 let url = "http://localhost:4000/diagonistic/remove-cart-item1/?name=" + itemname;
    
    $.get(url, function (data) {
       
        console.log(data);
                 var itemlength =  data.count ; 
         
                 var totalp = document.getElementById('totalp')
                 var selectlab1 = document.getElementById('select_lab1')
                 var selectlab = document.getElementById('select_lab')
                 totalprice = totalp.getAttribute('data-total');
                 var newtotal = parseInt(totalprice) - parseInt(data.price);
                 totalp.setAttribute('data-total',newtotal)
                 var cart_item = document.querySelectorAll('#cart_item');
                 cart_item[data.count].parentNode.removeChild(cart_item[data.count]);
                //  itemno.classList.add('displayNone');
               
                 console.log(totalprice,data.price,newtotal)
                 if(newtotal == 0)
                 {
                    selectlab1.classList.add('displayNone');
                    selectlab.classList.remove('displayNone')
                 }

                 else{
                    document.getElementById('totalp').innerHTML = 'Rs '+newtotal; 
                 }
                var itemcount = document.getElementById('itemcount');
      
      if(data.length == 1)
      {
          if(itemcount != null)
          document.getElementById('itemcount').innerText = data.length + ' Item in Cart'
      }

      else
      {
          if(itemcount != null)
          document.getElementById('itemcount').innerText = data.length + ' Items in Cart'
      }
               
        
    });

});
         }
         
         for(let i=0;i<selectnew.length;i++)
         {
            selectnew[i].addEventListener('click',function(e)
             {
                e.preventDefault();
                removeitem[i].classList.remove('displayNone');
                selectnew[i].classList.add('displayNone');
                itemname = selectnew[i].getAttribute('data-name');
                lid = selectnew[i].getAttribute('data-lid');
                 let url = "http://localhost:4000/diagonistic/add-cart-item1/?name="+itemname + '&lid='+ lid 
    
    $.get(url, function (data) {
       
        console.log(data);
        if(data.flag){
            if(data.flag == 'true')
            {
                console.log('Cart Removed')
            }
        }else{
            var itemcount = document.getElementById('itemcount');
        if(data.length == 1)
        {
            if(itemcount != null)
            document.getElementById('itemcount').innerText = data.length + ' Item in Cart'
        }

        else
        {
            if(itemcount != null)
            document.getElementById('itemcount').innerText = data.length + ' Items in Cart'
        }
        var ind = parseInt(data.length)-1;
        var cartBox = $('#cart-box');
        var str =  '<div style="display:inline-flex;width: 100%;"id="cart_item"><span style="width: 50%;font-weight: bold;font-size: 1.2rem;">'+data.testname+'</span><span style="width: 50%;text-align: right;font-weight: bold;font-size: 1.2rem;" >Rs '+data.testprice+'</span> </div>'
        cartBox.append(str);
        var selectlab = $("#select_lab"); 
         var selectlab1 = $("#select_lab1");
        var displaylab = $("#displayLab");
        selectlab.addClass('displayNone');
        selectlab1.removeClass('displayNone');
        var totalp = document.getElementById('totalp')
        totalprice = totalp.getAttribute('data-total');
        var newtotal = parseInt(totalprice) + parseInt(data.testprice);
        console.log(newtotal)
        totalp.setAttribute('data-total',newtotal)
        document.getElementById('totalp').innerHTML = 'Rs '+newtotal; 
        }
        
   
        
    });
             });
} 
            
          
           
        </script>
    <script>
        function show(count) {
            var up = document.querySelectorAll("#up");
            var down = document.querySelectorAll("#down");
            var test = document.getElementById("test");
            var prep = document.getElementById("prep");
            var result = document.getElementById("result");

            if (count == 0) {
                test.classList.toggle('displayNone');
                down[count].classList.toggle('displayNone');
                up[count].classList.toggle('displayNone');

            }
            if (count == 1) {
                prep.classList.toggle('displayNone');
                down[count].classList.toggle('displayNone');
                up[count].classList.toggle('displayNone');
            }
            if (count == 2) {
                result.classList.toggle('displayNone');
                down[count].classList.toggle('displayNone');
                up[count].classList.toggle('displayNone');

            }
        }

        function hide(count) {


            var up = document.querySelectorAll("#up");
            var down = document.querySelectorAll("#down");
            var test = document.getElementById("test");
            var prep = document.getElementById("prep");
            var result = document.getElementById("result");

            if (count == 0) {
                test.classList.add('displayNone');
                up[count].classList.add('displayNone');
                down[count].classList.remove('displayNone');

            }
            if (count == 1) {
                prep.classList.add('displayNone');
                up[count].classList.add('displayNone');
                down[count].classList.remove('displayNone');

            }
            if (count == 2) {
                result.classList.add('displayNone');
                up[count].classList.add('displayNone');
                down[count].classList.remove('displayNone');
            }



        }
    </script>
    <script>
        function changeDiv(count) {
            var div1 = document.getElementById('div1');
            var div2 = document.getElementById('div2');
            var div3 = document.getElementById('div3');
            var div4 = document.getElementById('div4');

            var featured = document.getElementById('featured');
            var diabetes = document.getElementById('Diabetes');
            var women = document.getElementById('women');
            var mens = document.getElementById('mens');


            if (count == 1) {
                div1.classList.remove('displayNone');
                div2.classList.add('displayNone');
                div3.classList.add('displayNone');
                div4.classList.add('displayNone');
                featured.classList.add('active-popular1');
                diabetes.classList.remove('active-popular1');
                women.classList.remove('active-popular1');
                mens.classList.remove('active-popular1');



            }
            if (count == 2) {
                div1.classList.add('displayNone');
                div2.classList.remove('displayNone');
                div3.classList.add('displayNone');
                div4.classList.add('displayNone');
                featured.classList.remove('active-popular1');
                diabetes.classList.add('active-popular1');
                women.classList.remove('active-popular1');
                mens.classList.remove('active-popular1');


            }
            if (count == 3) {
                div1.classList.add('displayNone');
                div2.classList.add('displayNone');
                div3.classList.remove('displayNone');
                div4.classList.add('displayNone');
                featured.classList.remove('active-popular1');
                diabetes.classList.remove('active-popular1');
                women.classList.add('active-popular1');
                mens.classList.remove('active-popular1');


            }
            if (count == 4) {
                div1.classList.add('displayNone');
                div2.classList.add('displayNone');
                div3.classList.add('displayNone');
                div4.classList.remove('displayNone');
                featured.classList.remove('active-popular1');
                diabetes.classList.remove('active-popular1');
                women.classList.remove('active-popular1');
                mens.classList.add('active-popular1');

            }


        }
    </script>

    <!-- jQuery -->
  



</body>

<!-- AarogyaHub/  30 Nov 2019 04:11:53 GMT -->

</html>