<!DOCTYPE html>
<html lang="en">

<!-- AarogyaHub/login  30 Nov 2019 04:12:20 GMT -->

<head>
    <link rel="stylesheet" href="<%=assetPath('css/bootstrap.min.css')%>">

	<link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/fontawesome.min.css')%>">
    <link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/all.min.css')%>">
    
	<link rel="stylesheet" href="<%=assetPath('css/style1.css')%>">
	<link rel="stylesheet" href="<%=assetPath('css/style.css')%>">
    <link rel="stylesheet" type="text/css" href="https:/cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

</head>

<body class="account-page">
    

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <%-include('header');%>

        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid" style="margin-top: 70px;">
                <div class="row">
                    <div class="col-md-8 offset-md-2">

                        <!-- Login Tab Content -->
                        <div class="account-content">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-md-7 col-lg-6 login-left">
                                    <img src="<%=assetPath('img/login-banner.png')%>" class="img-fluid" alt="AarogyaHub Login">
                                </div>
                                <%var booked,id,doctorid,available,slotindex,dayindex,flag,type,date;%>
                                <div class="col-md-12 col-lg-6 login-right" style="padding-left:0px;padding-right:0px;">
                                    <div class="login-header" style="display: inline-flex; width: 100%;padding:0px 100px;border-bottom:1px solid rgba(128, 128, 128, 0.452);margin-bottom: 40px;;">
                                        <a style="border-bottom: 2px solid #478e8e;font-weight:bold;font-size:1.1rem;color:#478e8e" href="/login">Login</a>
                                        <%if(type=='booking'){%>
                                        <a style="font-size:1rem;margin-left:50px;color:black;" href="/register/?doctorid=<%=doctorid%>&id=<%=id%>&booked=<%=booked%>&available=<%=available%>&slotindex=<%=slotindex%>&dayindex=<%=dayindex%>&flag=<%=flag%>&date=<%=date%>&type=<%=type%>">Register</a>
                                        <%}else{%>
                                            <a style="font-size:1rem;margin-left:50px;color:black;" href="/register">Register</a>
                                        <%}%>
                                        <!-- <a class="btn btn-primary btn-block login-btn" href="/staff-login-page" style="width: 120px;color:white"> Staff Login</a> -->
                                    </div>
                                   
                                    <div style="padding-left: 15px;padding-right: 15px;">
                                        <form action="/user/check-two-factor" method="POST">
                                            <input type="hidden" name="doctorid" value="<%=doctorid%>">
                                            <input type="hidden" name="id" value="<%=id%>">
                                            <input type="hidden" name="booked" value="<%=booked%>">
                                            <input type="hidden" name="available" value="<%=available%>">
                                            <input type="hidden" name="slotindex" value="<%=slotindex%>">
                                            <input type="hidden" name="dayindex" value="<%=dayindex%>">
                                            <input type="hidden" name="flag" value="<%=flag%>">
                                            <input type="hidden" name="date" value="<%=date%>">
                                            <input type="hidden" name="type1" value="<%=type%>">
                                            <div class="form-group form-focus">
                                                <input type="text" name="phone" class="form-control floating" required>
                                                <label class="focus-label">Mobile number</label>
                                            </div>
                                            <div class="form-group form-focus">
                                                <input type="password" name="password" class="form-control floating" required>
                                                <label class="focus-label">Password</label>
                                            </div>
                                            <div class="text-right">
                                                <a class="forgot-link" href="/forgot-password">Forgot Password ?</a>
                                            </div>
                                            <button class="btn btn-primary btn-block btn-lg login-btn  " style="background-color: #478e8e !important; border: none !important;" type="submit">Login</button>
                                            
                                            <div class="login-or">
                                                <span class="or-line"></span>
                                                <span class="span-or">or</span>
                                            </div>
                                            <div class="row form-row social-login" style="margin-top:15px;margin-bottom: 15px;">
                                                <!-- <div class="col-6">
                                                    <a href="/user/auth/facebook" class="btn btn-facebook btn-block"><i class="fab fa-facebook-f mr-1"></i> Login</a>
                                                </div> -->
                                               <%if(type=='booking'){%>
                                                <div class="col-12">
                                                    <a href="/user/auth/google/?doctorid=<%=doctorid%>&id=<%=id%>&booked=<%=booked%>&available=<%=available%>&slotindex=<%=slotindex%>&dayindex=<%=dayindex%>&flag=<%=flag%>&date=<%=date%>&type=<%=type%>" class="btn btn-google btn-block"><i class="fab fa-google mr-1"></i> Login</a>
                                                </div>
                                                <%}else{%>
                                                    <div class="col-12">
                                                    <a href="/user/auth/google" class="btn btn-google btn-block"><i class="fab fa-google mr-1"></i> Login</a>
                                                </div>
                                                    <%}%>
                                            </div>
                                            <!-- <a class="btn btn-primary btn-block btn-lg login-btn" href="/register" style="background-color: #478e8e !important; border: none !important;">Sign Up</a> -->
                                            <%if(type=='booking'){%>
                                            <div class="text-center dont-have">Don’t have an account? <a href="/register/?doctorid=<%=doctorid%>&id=<%=id%>&booked=<%=booked%>&available=<%=available%>&slotindex=<%=slotindex%>&dayindex=<%=dayindex%>&flag=<%=flag%>&date=<%=date%>&type=<%=type%>">Register</a></div>
                                            <%}else{%>
                                                <div class="text-center dont-have">Don’t have an account? <a href="/register">Register</a></div>
                                                <%}%>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                      
                        <!-- /Login Tab Content -->

                    </div>
                </div>

            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
            <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="<%=assetPath('js/jquery.min.js')%>"></script>
    <script src="<%=assetPath('js/popper.min.js')%>"></script>

    <script src="<%=assetPath('js/bootstrap.min.js')%>"></script>
   

   
    <script src="<%=assetPath('js/script.js')%>"></script>
    <script>
        <%if(flash.success && flash.success.length>0){%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.success%>',
            type: 'success',
            layout: 'topRight',
            timeout: 1500
        }).show();
        <%}%>
        <%if(flash.error && flash.error.length>0){%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.error%>',
            type: 'error',
            layout: 'topRight',
            timeout: 3000
        }).show();
        <%}%>
    </script>

</body>

<!-- AarogyaHub/login  30 Nov 2019 04:12:20 GMT -->

</html>