<!DOCTYPE html>
<html lang="en">

<!-- doccure/locals.user-dashboard  30 Nov 2019 04:12:16 GMT -->
<head>
    <link rel="stylesheet" href="<%=assetPath('css/bootstrap.min.css')%>">

	<link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/fontawesome.min.css')%>">
    <link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/all.min.css')%>">
    
	<link rel="stylesheet" href="<%=assetPath('css/style1.css')%>">
	<link rel="stylesheet" href="<%=assetPath('css/style.css')%>">
</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <%-include('header');%>
        <!-- Header -->
     
        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar setting-bread" style="margin-top: 20px;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">My Medical Records</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Medical Record</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">

                    <!-- Profile Sidebar -->
                    <div class="col-md-4 col-lg-3 col-xl-2 theiaStickySidebar no-show-mobile">
                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content">
                                <div class="profile-info-widget">
                                    <a href="#" class="booking-doc-img">
                                        <img src="<%=locals.user.avatar%> " alt="User Image" onerror='this.src="<%=assetPath('img/profile.png')%>"'>
                                    </a>
                                    <div class="profile-det-info">
                                        <h3>
                                            <%=locals.user.name%>
                                        </h3>
                                       
                                        <div class="locals.user-details">
                                            <%if(locals.user.dob){var newDateObject = new Date();

                                                var newObjectCurrentYear = newDateObject.getFullYear();
                                                
                                                var userDateObject = locals.user.dob;
                                                
                                                var userDateObjectPieces = userDateObject.split("/");
                                                
                                                var userObjectYear = userDateObjectPieces[2];
                                                
                                                var age = parseInt(newObjectCurrentYear) - parseInt(userObjectYear);

                                                %>
                                            <h5 style="font-size: 0.85rem;"><i class="fas fa-birthday-cake"></i>
                                                <%=locals.user.dob%> , <%=age%> Years

                                            </h5>
                                            <%}%>
                                            <%if(locals.user.city){%>
                                            <h5 class="mb-0" style="font-size: 0.85rem;"><i class="fas fa-map-marker-alt"></i>
                                                <%=locals.user.city%> 
                                                    <%=locals.user.state%>
                                            </h5>
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-widget">
                                <nav class="dashboard-menu">
                                    <ul>
                                        <li>
                                            <a href="/my-appointments">
                                                <i class="fas fa-calendar-alt"></i>
                                                <span>My Appointments</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/my-orders">
                                                <i class="fas fa-truck"></i>
                                                <span>My Orders</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/prescription">
                                                <i class="fas fa-newspaper"></i>
                                                <span>My prescriptions</span>
                                            </a>
                                        </li>
                                        <li class="active">
                                            <a href="/medical-records">
                                                <i class="fas fa-medkit"></i>
                                                <span>My Medical records</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/my-billing">
                                                <i class="fas fa-credit-card"></i>
                                                <span>My Billings</span>
                                            </a>
                                        </li>
                                       
                                        <li>
                                            <a href="/favourites">
                                                <i class="fas fa-bookmark"></i>
                                                <span>Favourites</span>
                                            </a>
                                        </li>
                                       
                                       
                                       
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                    <!-- / Profile Sidebar -->

                    <div class="col-md-8 col-lg-9 col-xl-10" style="min-height: 400px;">
                        <%if(locals.user.booked_test_user.length == 0){%>
                            <h2 class="text-center no-file" style="margin-top: 100px;"><span style="margin-right: 20px;"><i class="fas fa-folder-open"></i></span><span>No Medical Records Available !</span></h2>
                            <%}else{%>
                        <div class="card">
                            <div class="card-body pt-0">

                                <!-- Tab Menu -->
                                <nav class="user-tabs mb-4">
                                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                                        <li class="nav-item">
                                            <a class="nav-link active pall-10 " href="#pat_medical_records" data-toggle="tab"><span class="med-records">Medical Records</span></a>
                                        </li>
                                        
                                    </ul>
                                </nav>
                                <!-- /Tab Menu -->

                                <!-- Tab Content -->
                                <div class="tab-content pt-0">

                                    <!-- Appointment Tab -->
                                   
                                    <!-- /Appointment Tab -->

                                    <!-- Prescription Tab -->
                
                                    <!-- /Prescription Tab -->

                                    <!-- Medical Records Tab -->
                                    <div id="pat_medical_records show active" class="tab-content">
                                        
                                        <div class="card card-table mb-0" id="mml">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>Order Id</th>
                                                                <th>Description</th>
                                                                <th>Report For</th>
                                                                <th>Report By</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <%var d=0;%>
                                                            <%var cnt=-1%>
                                                            <%for (u of tests.booked_test_user){%>  
                                                                <%cnt++%>
                                                         <%if(u.my_reports.length>0){%>
                                                            <%d++;%>
                                                            <tr>
                                                                <td><a href="javascript:void(0);">#MR-0010</a></td>
                                                               
                                                                <td>Reports of <%var c = u.tests.length;%>
                                                                    <%for (u1 of u.tests){c--;%>
                                                                        <%if(c==0){%>
                                                                            <span><%=u1.testname%></span>
                                                                            <%}else{%>
                                                                                <span><%=u1.testname%>, </span>
                                                                                <%}%>
                                                                                <%}%></td>
                                                               
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                       
                                                                        <a href="/doctor-profile"> <%=u.user.name%> <span> <%=u.address.street%></span></a>
                                                                    </h2>
                                                                   
                                                                </td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a href="/doctor-profile" class="avatar avatar-sm mr-2">
                                                                            <img class="avatar-img rounded-circle" src="<%=u.labid.avatar%>" alt="User Image">
                                                                        </a>
                                                                        <a href="/doctor-profile"><%=u.labid.name%> <span><%=u.labid.contacts.address%></span></a>
                                                                    </h2>
                                                                </td>
                                                                <td class="text-right">
                                                                    <div class="table-action">
                                                                        <a href="/diagonistic/see-reports/?index=<%=cnt%>" class="btn btn-sm bg-info-light">
                                                                            <i class="far fa-eye"></i> View
                                                                        </a>
                                                                       
                                                                    </div>
                                                                </td>
                                                          
                                                            </tr>
                                                            <%}%>
                                                            <%}%>
                                                        </tbody>
                                                    </table>
                                                    <%if(d==0){%>
                                                        <h2 class="text-center no-file" style="margin-top: 100px;"><span style="margin-right: 20px;"><i class="fas fa-folder-open"></i></span><span>No Medical Records Available !</span></h2>

                                                    <%}%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="displaynone" id="oml">ppp</div>
                                    </div>
                                    <!-- /Medical Records Tab -->

                                    <!-- Billing Tab -->
                                   
                                    <!-- /Billing Tab -->

                                </div>
                                <!-- Tab Content -->

                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>

            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="<%=assetPath('js/jquery.min.js')%>"></script>
    <script src="<%=assetPath('js/popper.min.js')%>"></script>

    <script src="<%=assetPath('js/bootstrap.min.js')%>"></script>
   

    <script src="<%=assetPath('plugins/theia-sticky-sidebar/ResizeSensor.js')%>"></script>
    <script src="<%=assetPath('plugins/theia-sticky-sidebar/theia-sticky-sidebar.js')%>"></script>
    <script src="<%=assetPath('js/script.js')%>"></script>
    <script>
        var mmbtn = document.getElementById('mmbtn');
        var ombtn = document.getElementById('ombtn');
        var mml = document.getElementById('mml');
        var oml = document.getElementById('oml'); 
        ombtn.addEventListener('click',function()
        {
            mml.classList.add('displayNone');
            oml.classList.remove('displayNone');

        })
        mmbtn.addEventListener('click',function()
        {
            oml.classList.add('displayNone');
            mml.classList.remove('displayNone');

        })
    </script>

</body>

<!-- doccure/locals.user-dashboard  30 Nov 2019 04:12:16 GMT -->

</html>