<!DOCTYPE html>
<html lang="en">

<!-- doccure/doctor-change-password  30 Nov 2019 04:12:36 GMT -->

<head>
    
    <!-- Favicons -->
    <link rel="stylesheet" href="<%=assetPath('css/bootstrap.min.css')%>">

	<link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/fontawesome.min.css')%>">
    <link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/all.min.css')%>">
    
	<link rel="stylesheet" href="<%=assetPath('css/style1.css')%>">
	<link rel="stylesheet" href="<%=assetPath('css/style.css')%>">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <%-include('header');%>
        <!-- Header -->
      
        <!-- /Header -->

        <!-- Breadcrumb -->
    
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="col-md-12 col-lg-12 col-xl-12  setting-bread pzero" style="margin-left:-15px;border-left: 0.5px solid lighgrey;margin-top: 20px;">
        <div class="card" style="border-radius: 0;border:0;">
        <div class="card-body" style="padding:0rem;">
        <div class="row position-relative mzero">
            <div class="col-md-12" style="height: 40px;background-color: rgb(248, 248, 248);">
                <p style="margin-top: 10px;margin-left: 150px;font-weight: bold;">Step 2/4</p>
            </div>
            <div class="col-md-12 col-sm-12" style="margin-left: -15px;">
            <div class="col-md-5 col-sm-1" style="border-top: 5px solid blueviolet;width: 110%;"> 
            </div>
        </div>
        <div class="col-md-6 col-lg-5 m-55 pzero" style="margin-left: 150px;margin-top: 30px;">
            <form action="/user/update-medical-registration" method="POST">
                <input type="hidden" name="id" value="<%=locals.user.id%>">
               
                <h2 style="font-size: 1.5rem;margin-top: 20px;font-weight: 700;">Medical Registration</h2>
                
                <div class="col-md-10" style="margin-top: 40px;margin-left: -30px;">
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label style="font-size: 0.85rem;">Registration Number</label>
                            <input type="text" name="registration" placeholder="Enter Registration Number" value="<%=locals.user.registrations.registration%>"  class="form-control" required>
                        </div>
                    </div>
                    <%if(locals.user.registrations.regCouncil){%>
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label style="font-size: 0.85rem;">Your Selected Registration Council</label>
                            <input type="text" name="regCouncil" placeholder="Enter Registration Council" value="<%=locals.user.registrations.regCouncil%>" class="form-control" required readonly>
                        </div>
                    </div>
                    <%}%>
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label style="font-size: 0.9rem!important;margin-left: 5px;">Registration Council <span class="text-danger"></span></label>
                            <select name="regCouncil" class="form-control select" required >
                               
                                <option value="Andhra Pradesh Medical Council">Andhra Pradesh Medical Council</option>
                                <option value="Arunachal Pradesh Medical Council">Arunachal Pradesh Medical Council</option>
                                <option value="Assam Medical Council">Assam Medical Council</option>
                                <option value="Bhopal Medical Council">Bhopal Medical Council</option>
                                <option value="Bihar Medical Council">Bihar Medical Council</option>
                                <option value="Bombay Medical Council">Bombay Medical Council</option>
                                <option value="Chandigarh Medical Council">Chandigarh Medical Council</option>
                                <option value="Chattisgarh Medical Council">Chattisgarh Medical Council</option>
                                <option value="Delhi Medical Council">Delhi Medical Council</option>
                                <option value="Goa Medical Council">Goa Medical Council</option>
                                <option value="Gujarat Medical Council">Gujarat Medical Council</option>
                                <option value="Haryana Medical Council">Haryana Medical Council</option>
                                <option value="Himanchal Pradesh Medical Council">Himanchal Pradesh Medical Council</option>
                                <option value="Hyderabad Medical Council">Hyderabad Medical Council</option>
                                <option value="Jammu & Kashmir Medical Council">Jammu & Kashmir Medical Council</option>
                                <option value="Jharkhand Medical Council">Jharkhand Medical Council</option>
                                <option value="Karnataka Medical Council">Karnataka Medical Council</option>
                                <option value="Madhya Pradesh Medical Council">Madhya Pradesh Medical Council</option>
                                <option value="Madras Medical Council">Madras Medical Council</option>
                                <option value="Mahakoshal Medical Council">Mahakoshal Medical Council</option>
                                <option value="Maharashtra Medical Council">Maharashtra Medical Council</option>
                                <option value="Manipur Medical Council">Manipur Medical Council</option>
                                <option value="Medical Council of India">Medical Council of India</option>
                                <option value="Medical Council of Tanganyika">Medical Council of Tanganyika</option>
                                <option value="Mizoram Medical Council">Mizoram Medical Council</option>
                                <option value="Mysore Medical Council">Mysore Medical Council</option>
                                <option value="Nagaland Medical Council">Nagaland Medical Council</option>
                                <option value="Orissa Council of Medical Registration">Orissa Council of Medical Registration</option>
                                <option value="Pondicherry Medical Council">Pondicherry Medical Council</option>
                                <option value="Punjab Medical Council">Punjab Medical Council</option>
                                <option value="Rajasthan Medical Council">Rajasthan Medical Council</option>
                                <option value="Sikkim Medical Council">Sikkim Medical Council</option>
                                <option value="Tamil Nadu Medical Council">Tamil Nadu Medical Council</option>
                                <option value="Telangana State Medical Council">Telangana State Medical Council</option>
                                <option value="Travancore Cochin Medical Council, Trivandrum">Travancore Cochin Medical Council, Trivandrum</option>
                                <option value="Tripura State Medical Council">Tripura State Medical Council</option>
                                <option value="Uttar Pradesh Medical Council">Uttar Pradesh Medical Council</option>
                                <option value="Uttarakhand Medical Council">Uttarakhand Medical Council</option>
                                <option value="Vidharba Medical Council">Vidharba Medical Council</option>
                                <option value="West Bengal Medical Council">West Bengal Medical Council</option>


                                </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label style="font-size: 0.85rem;">Registration Year</label>
                            <input type="text" name="regYear" placeholder="Enter Registration Year" value="<%=locals.user.registrations.regYear%>"  class="form-control" required>
                        </div>
                    </div>
                  
                    <div class="submit-section submit-btn-bottom" style="margin-top: 25px;display: inline-flex;height: 40px;">
                        <a href="/profile-info" id="submit_button" class="btn btn-primary submit-btn position-absolute" style="color:white;border-radius: 5px;width: 100px;left:8%;margin-top: -5px;">Back</a>
                    </div>
                    <div class="submit-section submit-btn-bottom" style="margin-top: 25px;display: inline-flex;margin-left: 130px;height: 40px;">
                        <button type="submit" id="submit_button" class="btn btn-primary submit-btn position-absolute" style="border-radius: 5px;width: 100px;right:8%;margin-top: -5px;">Next</button>
                    </div>
                </div>
                </form>
        </div>
        <div class="col-md-4">
            <div class="note">
                <i class="fas fa-lightbulb" style="color:#6DBCAE;font-size: 0.8rem;"></i>
                <p style="font-size: 0.8rem; color: #439485;font-weight: 700;">This information help us perform critical checks to enure that only licensed and genuine medical practitioners are listed on AarogyaHub. Your profile will gwt a "Verified" badge on verification. Doctors with verified profiles gets 95% more patients views on AarogyaHub. </p>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="<%=assetPath('js/jquery.min.js')%>"></script>
    <script src="<%=assetPath('js/popper.min.js')%>"></script>

    <script src="<%=assetPath('js/bootstrap.min.js')%>"></script>
   

    <script src="<%=assetPath('plugins/theia-sticky-sidebar/ResizeSensor.js')%>"></script>
    <script src="<%=assetPath('plugins/theia-sticky-sidebar/theia-sticky-sidebar.js')%>"></script>
    <script src="<%=assetPath('js/script.js')%>"></script>
    <script>
        <%if(flash.success && flash.success.length>0){%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.success%>',
            type: 'success',
            layout: 'topRight',
            timeout: 1500
        }).show();
        <%}%>
        <%if(flash.error && flash.error.length>0){%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.error%>',
            type: 'error',
            layout: 'topRight',
            timeout: 3000
        }).show();
        <%}%>
    </script>

</body>

<!-- doccure/doctor-change-password  30 Nov 2019 04:12:36 GMT -->

</html>