<!DOCTYPE html>
<html lang="en">

<!-- doccure/locals.user-dashboard  30 Nov 2019 04:12:16 GMT -->



<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
      
        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar setting-bread" style="margin-top: 20px;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">My Appointments</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Appointments</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">

                    <!-- Profile Sidebar -->
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar no-show-mobile">
                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content">
                                <div class="profile-info-widget">
                                    <a href="#" class="booking-doc-img">
                                        <img src="<%=locals.user.avatar%> " alt="User Image"onerror='this.src="<%=assetPath('img/profile.png')%>"'>
                                    </a>
                                    <div class="profile-det-info">
                                        <h3>
                                            <%=locals.user.name%>
                                        </h3>
                                       
                                        <div class="locals.user-details">
                                            <%if(locals.user.dob){var newDateObject = new Date();

                                                var newObjectCurrentYear = newDateObject.getFullYear();
                                                
                                                var userDateObject = locals.user.dob;
                                                
                                                var userDateObjectPieces = userDateObject.split("/");
                                                
                                                var userObjectYear = userDateObjectPieces[2];
                                                
                                                var age = parseInt(newObjectCurrentYear) - parseInt(userObjectYear);

                                                %>
                                            <h5 style="font-size: 0.85rem;"><i class="fas fa-birthday-cake"></i>
                                                <%=locals.user.dob%> , <%=age%> Years

                                            </h5>
                                            <%}%>
                                            <%if(locals.user.city){%>
                                            <h5 class="mb-0" style="font-size: 0.85rem;"><i class="fas fa-map-marker-alt"></i>
                                                <%=locals.user.city%> 
                                                    <%=locals.user.state%>
                                            </h5>
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-widget">
                                <nav class="dashboard-menu">
                                    <ul>
                                       
                                        <li class="active">
                                            <a href="/my-appointments">
                                                <i class="fas fa-calendar-alt"></i>
                                                <span>My Appointments</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/prescription">
                                                <i class="fas fa-newspaper"></i>
                                                <span>My prescriptions</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/medical-records">
                                                <i class="fas fa-medkit"></i>
                                                <span>My Medical records</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/my-billing">
                                                <i class="fas fa-credit-card"></i>
                                                <span>My Billings</span>
                                            </a>
                                        </li>
                                      
                                        <li>
                                            <a href="/favourites">
                                                <i class="fas fa-bookmark"></i>
                                                <span>Favourites</span>
                                            </a>
                                        </li>
                                       
                                       
                                       
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                    <!-- / Profile Sidebar -->

                    <div class="col-md-7 col-lg-8 col-xl-9">
                         <%if(alldoctors.doctors == ''){%>
                        <h2 class="text-center no-file" style="margin-top: 100px;"><span style="margin-right: 20px;"><i class="fas fa-folder-open"></i></span><span>No Appointment Available !</span></h2>
                        <%}else{%>
                        <div class="card">
                            <div class="card-body pt-0 plr0">
                                <div class="alert alert-danger alert-dismissible fade show malert" role="alert" style="margin-top: 15px;margin-left:0px!important;">
                                    <strong>Note!</strong> For appointment cancellation. Go to  <a href="/my-billing" class="alert-link">my billings </a>section.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                            </div>

                                <!-- Tab Menu -->
                                <nav class="user-tabs mb-4" style="height: 100px!important;">
                                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified" style="height: 100px !important;padding:0px !important;">
                                        <li class="nav-item">
                                            <a class="nav-link active pall-10" href="#pat_appointments" data-toggle="tab">My Appointments</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link pall-10" href="#pat_other_appointments" data-toggle="tab">Other Patient Appointments</a>
                                        </li>
                                       
                                    </ul>
                                </nav>
                               
                                <!-- /Tab Menu -->

                                <!-- Tab Content -->
                                <div class="tab-content pt-0">

                                    <!-- Appointment Tab -->
                                    <div id="pat_appointments" class="tab-pane fade show active">
                                        <div class="card card-table mb-0">
                                           
                                            <div class="card-body sscreen" style="margin-top: 0px;">
                                                <%for(let i= alldoctors.doctors.length-1; i>=0 ;i--){%>
                                                    <%if(alldoctors.doctors[i].type == 'other'){continue;%>
                                                        <%}%>
                                                <div class="card-contents" style="height: 200px;width:100%;border:1px solid lightgrey;border-radius:5px;padding: 8px;margin-bottom: 3px;">
                                                    <div class="top-part" style="height: 130px;display:flex;flex-direction: row;">
                                                        <div class="top-img" style="width: 25%;height:100%;padding-top:5px;padding-left: 4px;">
                                                            <img src="<%=alldoctors.doctors[i].davatar%>"style="height:50px;width:50px;border-radius:50%;">
                                                        </div>
                                                        <div class="top-content" style="width: 75%;height:100%;padding:5px;">
                                                            <h5 style="font-weight: bold;font-size: 1rem;">Dr. <%=alldoctors.doctors[i].dname%>, <%=alldoctors.doctors[i].ddept%></h5>
                                                            <%var str2 = alldoctors.doctors[i].date.split('-');%>
                                                                <%var str3 = formatDate(alldoctors.doctors[i].createdAt);%>
                                                                    <%var str = str2[2]+'-'+str2[1]+'-'+str2[0];%>
                                                        <%var str1 = formatDate(str);%>
                                                        <%function formatDate(d){%>
                                                            <%var date = new Date(d);

                                                            if ( isNaN( date .getTime() ) ) 
                                                            {
                                                               return d;
                                                            }
                                                            else
                                                           {
                                                             
                                                             var month = new Array();
                                                             month[0] = "Jan";
                                                             month[1] = "Feb";
                                                             month[2] = "Mar";
                                                             month[3] = "Apr";
                                                             month[4] = "May";
                                                             month[5] = "Jun";
                                                             month[6] = "Jul";
                                                             month[7] = "Aug";
                                                             month[8] = "Sept";
                                                             month[9] = "Oct";
                                                             month[10] = "Nov";
                                                             month[11] = "Dec";
                                                   
                                                             day = date.getDate();
                                                             
                                                             if(day < 10)
                                                             {
                                                                day = "0"+day;
                                                             }
                                                             
                                                             return    day  + " " +month[date.getMonth()] + " " + date.getFullYear();
                                                             }
                                                               %>
                                                        <%}%>

                                                        <%var x1 = alldoctors.doctors[i].createdAt.toLocaleTimeString().slice(0,4);%>
                                                        <%var x2 = alldoctors.doctors[i].createdAt.toLocaleTimeString().slice(7,11);%>
                                                                
                                                            <h5 style="font-weight: 0.8rem;font-weight: 500;"><%=str1%>, <%=alldoctors.doctors[i].time%> </h5>
                                                            <h5 style="font-weight: 0.9rem;font-weight: 700;"><%=alldoctors.doctors[i].cname%></h5>
                                                            <%if(alldoctors.doctors[i].cancel == true){%>
                                                                <h5><span class="badge badge-pill bg-danger-light">Cancelled</span></h5>
                                                              <%}else{%>
                                                                <h5><span class="badge badge-pill bg-success-light">Confirm</span></h5>
                                                                <%}%>
                                                            

                                                        </div>
                                                    </div>
                                                    <%var today = new Date();%>
                                                    <%var dd = String(today.getDate()).padStart(2, '0');
                                                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                    var yyyy = today.getFullYear();
                                                    var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                    var dayOfWeek = weekday[today.getDay()];%>
                                                    <%var str1 = dd+'-'+mm+'-'+yyyy;%>
                                                     <div class="bottom-part" style="height: 50px;display: flex;justify-content: space-around;">
                                                        <%if(alldoctors.doctors[i].did != null){%>
                                                        <a  href="/booking/?id=<%=alldoctors.doctors[i].did._id%>" style="padding: 10px;border-radius: 5px;border:1px solid grey;top:0px;left:40px;font-size:0.9rem;font-weight: bold;height: 45px;background-color: #15558d;color:white">Book Again</a>
                                                        <%}%>
                                                        <a href="/appointment-detail/?index=<%=i%>" class="btn btn-sm bg-info-light" style="padding: 10px;border-radius: 5px;border:1px solid grey;top:0px;right:30px;width:90px;font-size:0.9rem;font-weight: bold;height: 45px;text-align: center6;">
                                                            <i class="far fa-eye"></i> View
                                                        </a>
                                                        <% var tdate = new Date();%>
                                                        <%var stra = alldoctors.doctors[i].date.split('-');%>
                                                        <%var strb = stra[2]+'-'+stra[1]+'-'+stra[0];%>      
                                                        <%var bdate = new Date(strb)%>
                                                        <%if(bdate > tdate){%>
                                                            <td class="text-center"> <a href="" style="padding:8px;border:1px solid grey;border-radius: 5px;background-color:#15558d;color:white;text-align: center;width:120px;height:45px;display: block;"><span><i class="fas fa-share" aria-hidden="true" style="margin-right: 8px;"></i></span>Upcoming</a></td>
                                                            <%}else{%>

                                                                <%if(alldoctors.doctors[i].did != null){%>
                                                       <%if(alldoctors.doctors[i].did.staff_id){%>
                                                        <%if(str1 == alldoctors.doctors[i].date){%>
                                                        <a href="/patient-tracking/?id=<%=alldoctors.doctors[i].dsid%>&slotindex=<%=alldoctors.doctors[i].slotindex%>" style="padding:5px;padding-top:10px;border:1px solid grey;border-radius: 5px;background-color: #C71585;height: 45px;color:white;text-align: center;width:100px;display: block;"><span><i class="fas fa-user-md" style="margin-right: 8px;"></i></span>Track</a>
                                                      
                                                        <%}else{%>
                                                            <a href="" style="padding:5px;padding-top:10px;border:1px solid grey;border-radius: 5px;background-color:forestgreen;color:white;text-align: center;width:100px;display: block;height: 45px;"><span><i class="fas fa-child" aria-hidden="true" style="margin-right: 8px;"></i></span>Visited</a>
                                                        <%}%>
                                                        <%}else{%>
                                                            <%if(str1 != alldoctors.doctors[i].date){%>
                                                                    <a href="" style="padding:5px;padding-top:10px;border:1px solid grey;border-radius: 5px;background-color:forestgreen;color:white;text-align: center;width:100px;display: block;height: 45px;"><span><i class="fas fa-child" aria-hidden="true" style="margin-right: 8px;"></i></span>Visited</a>
                                                                <%}%>
                                                                <%}%>
                                                        
                                                        <%}%>
                                                        <%}%>
                                                    </div>
                                                </div>
                                                <%}%>
                                            </div>
                                            <div class="card-body lscreen">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>Doctor</th>
                                                                <th>Appt Date</th>
                                                                <th>Booking Date</th>
                                                                <th>Amount</th>
                                                            
                                                                <th>Status</th>
                                                                <th>Book</th>
                                                                <th>Track Appointment</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <%for(let i= alldoctors.doctors.length-1; i>=0 ;i--){%>
                                                                <%if(alldoctors.doctors[i].type == 'other'){continue;%>
                                                                    <%}%>
                                                            <tr>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <%if(alldoctors.doctors[i].did){%>
                                                                        <a href="/doctor-profile/?id=<%=alldoctors.doctors[i].did._id%>" class="avatar avatar-sm mr-2">
                                                                            <%}else{%>
                                                                                <a href="/doctor-profile/?id=<%=alldoctors.doctors[i].did%>" class="avatar avatar-sm mr-2">
                                                                                    <%}%>
                                                                            <img class="avatar-img rounded-circle" src="<%=alldoctors.doctors[i].davatar%>" alt="User Image">
                                                                        </a>
                                                                        <%if(alldoctors.doctors[i].did){%>
                                                                        <a href="/doctor-profile/?id=<%=alldoctors.doctors[i].did._id%>"><%=alldoctors.doctors[i].dname%> <span><%=alldoctors.doctors[i].ddept%></span></a>
                                                                        <%}else{%>
                                                                            <a href="/doctor-profile/?id=<%=alldoctors.doctors[i].did%>"><%=alldoctors.doctors[i].dname%> <span><%=alldoctors.doctors[i].ddept%></span></a>
                                                                            <%}%>  
                                                                    </h2>
                                                                </td>
                                                                <%var str2 = alldoctors.doctors[i].date.split('-');%>
                                                                <%var str3 = formatDate(alldoctors.doctors[i].createdAt);%>
                                                                    <%var str = str2[2]+'-'+str2[1]+'-'+str2[0];%>
                                                        <%var str1 = formatDate(str);%>
                                                        <%function formatDate(d){%>
                                                            <%var date = new Date(d);

                                                            if ( isNaN( date .getTime() ) ) 
                                                            {
                                                               return d;
                                                            }
                                                            else
                                                           {
                                                             
                                                             var month = new Array();
                                                             month[0] = "Jan";
                                                             month[1] = "Feb";
                                                             month[2] = "Mar";
                                                             month[3] = "Apr";
                                                             month[4] = "May";
                                                             month[5] = "Jun";
                                                             month[6] = "Jul";
                                                             month[7] = "Aug";
                                                             month[8] = "Sept";
                                                             month[9] = "Oct";
                                                             month[10] = "Nov";
                                                             month[11] = "Dec";
                                                   
                                                             day = date.getDate();
                                                             
                                                             if(day < 10)
                                                             {
                                                                day = "0"+day;
                                                             }
                                                             
                                                             return    day  + " " +month[date.getMonth()] + " " + date.getFullYear();
                                                             }
                                                               %>
                                                        <%}%>

                                                        <%var x1 = alldoctors.doctors[i].createdAt.toLocaleTimeString().slice(0,4);%>
                                                        <%var x2 = alldoctors.doctors[i].createdAt.toLocaleTimeString().slice(7,11);%>
                                                                
                                                                <td><%=str1%> <span class="d-block text-info"></span><%=alldoctors.doctors[i].time%></td>
                                                                <td><%=str3%> <span class="d-block text-info"></span><%=x1%><%=x2%></td>
                                                                <%if(alldoctors.doctors[i].old_flag == true){%>
                                                                    <td>Free</td>
                                                                <%}else{%>
                                                                <td>Rs<%=alldoctors.doctors[i].fee%></td>
                                                                <%}%>
                                                                <%if(alldoctors.doctors[i].cancel == true){%>
                                                                    <td><span class="badge badge-pill bg-danger-light">Cancelled</span></td>
                                                                  <%}else{%>
                                                                    <td><span class="badge badge-pill bg-success-light">Confirm</span></td>
                                                                    <%}%>
                                                                    
                                                                    <td>
                                                                        <%if(alldoctors.doctors[i].did && !alldoctors.doctors[i].old_flag){%>
                                                                            <%if(alldoctors.doctors[i].did.staff_id != undefined){%>
                                                                            <%if(alldoctors.doctors[i].did.staff_id.oldp){%>
                                                                                <%var count = alldoctors.doctors[i].did.staff_id.oldp.dcount%>
                                                                                <%var str21 = alldoctors.doctors[i].date.split('-');%>
                                                                                <%var str22 = str21[2]+'-'+str21[1]+'-'+str21[0];%>
                                                                                <% var todays = new Date(str22);%>
                                                                                <%for(let i=0;i<count+1;i++){%>
                                                                                            <%var dd = String(todays.getDate()).padStart(2, '0');
                            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                            var yyyy = todays.getFullYear();
                            var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                            var dayOfWeek = weekday[todays.getDay()];
                            
                            var res = todays.setTime(todays.getTime() + (1 * 24 * 60 * 60 * 1000));
                            var date = new Date(res);
                            todays=date;%>
                            
                                                                                    <%}%>
                                                                                    
                                                                    <%var cdate = new Date();%>
                                                                    <%console.log(cdate,todays)%>
                                                                    <%if(cdate>todays){%>
                                                                        <a  href="/booking/?id=<%=alldoctors.doctors[i].did._id%>" style="padding: 10px;border-radius: 5px;border:1px solid grey;top:0px;left:40px;font-size:0.9rem;font-weight: bold;height: 45px;background-color: #15558d;color:white">Book Again</a>
                                                            <%}else{%>
                                                                <a  href="/old-booking/?id=<%=alldoctors.doctors[i].did._id%>&type=own" style="padding: 10px;border-radius: 5px;border:1px solid grey;top:0px;left:40px;font-size:0.9rem;font-weight: bold;height: 45px;background-color: #15558d;color:white">Consult free</a>
                                                            <%}%>
                                                                                    <%}%>
                                                                                    <%}%>

                                                                                   
                                                                            <%}else{%>
                                                                                <%if(alldoctors.doctors[i].did != null){%>
                                                                                <a  href="/booking/?id=<%=alldoctors.doctors[i].did._id%>" style="padding: 10px;border-radius: 5px;border:1px solid grey;top:0px;left:40px;font-size:0.9rem;font-weight: bold;height: 45px;background-color: #15558d;color:white">Book Again</a>
                                                                                <%}%>
                                                                                <%}%>
                                                                    </td>
                                                              
                                                                    
                                                                <%var today = new Date();%>
                                                                <%var dd = String(today.getDate()).padStart(2, '0');
                                                                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                                var yyyy = today.getFullYear();
                                                                var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                                var dayOfWeek = weekday[today.getDay()];%>
                                                                <%var str1 = dd+'-'+mm+'-'+yyyy;%>
                                                                <% var tdate = new Date();%>
                                                                <%var stra = alldoctors.doctors[i].date.split('-');%>
                                                                <%var strb = stra[2]+'-'+stra[1]+'-'+stra[0];%>      
                                                                <%var bdate = new Date(strb)%>
                                                                <%if(bdate > tdate){%>
                                                                    <td class="text-center"> <a href="" style="padding:8px;border:1px solid grey;border-radius: 5px;background-color:#15558d;color:white;text-align: center;width:120px;display: block;"><span><i class="fas fa-share" aria-hidden="true" style="margin-right: 8px;"></i></span>Upcoming</a></td>
                                                                    <%}else{%>

                                                            
                                                                <%if(str1 == alldoctors.doctors[i].date){%>
                                                                    <%if(alldoctors.doctors[i].did.staff_id){%>
                                                                <td class="text-center"><a href="/patient-tracking/?id=<%=alldoctors.doctors[i].dsid%>&slotindex=<%=alldoctors.doctors[i].slotindex%>" style="padding:8px;border:1px solid grey;border-radius: 5px;background-color: #C71585;color:white;text-align: center;width:120px;display: block;"><span><i class="fas fa-user-md" style="margin-right: 8px;"></i></span>Track</a></td>
                                                                <%}else{%>
                                                                    <td class="text-center"><a style="padding:8px;border:1px solid grey;border-radius: 5px;background-color: #C71585;color:white;text-align: center;width:120px;display: block;"><span><i class="fas fa-user-md" style="margin-right: 8px;"></i></span>No Track</a></td>
                                                                    <%}%>
                                                                <%}else{%>
                                                                    <td class="text-center"><a href="" style="padding:8px;border:1px solid grey;border-radius: 5px;background-color:forestgreen;color:white;text-align: center;width:120px;display: block;"><span><i class="fas fa-child" aria-hidden="true" style="margin-right: 8px;"></i></span>Visited</a></td>
                                                                <%}%>
                                                                <%}%>
                                                                
                                                            </tr>
                                                            <%}%>
                                                            
                   
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Appointment Tab -->
                                    <div id="pat_other_appointments" class="tab-pane fade">
                                        
                                        <div class="card card-table mb-0">
                                            <div class="card-body sscreen" style="margin-top: 0px;">
                                                <%for(let i= alldoctors.doctors.length-1; i>=0 ;i--){%>
                                                    <%if(alldoctors.doctors[i].type == 'own'){continue;%>
                                                        <%}%>
                                                <div class="card-contents" style="height: 200px;width:100%;border:1px solid lightgrey;border-radius:5px;padding: 8px;margin-bottom: 3px;">
                                                    <div class="top-part" style="height: 130px;display:flex;flex-direction: row;">
                                                        <div class="top-img" style="width: 25%;height:100%;padding-top:5px;padding-left: 4px;">
                                                            <img src="<%=alldoctors.doctors[i].davatar%>"style="height:50px;width:50px;border-radius:50%;">
                                                        </div>
                                                        <div class="top-content" style="width: 75%;height:100%;padding:5px;">
                                                            <h5 style="font-weight: bold;font-size: 1rem;">Dr. <%=alldoctors.doctors[i].dname%>, <%=alldoctors.doctors[i].ddept%></h5>
                                                            <%var str2 = alldoctors.doctors[i].date.split('-');%>
                                                                    <%var str = str2[2]+'-'+str2[1]+'-'+str2[0];%>
                                                        <%var str1 = formatDate(str);%>
                                                        <%function formatDate(d){%>
                                                            <%var date = new Date(d);

                                                            if ( isNaN( date .getTime() ) ) 
                                                            {
                                                               return d;
                                                            }
                                                            else
                                                           {
                                                             
                                                             var month = new Array();
                                                             month[0] = "Jan";
                                                             month[1] = "Feb";
                                                             month[2] = "Mar";
                                                             month[3] = "Apr";
                                                             month[4] = "May";
                                                             month[5] = "Jun";
                                                             month[6] = "Jul";
                                                             month[7] = "Aug";
                                                             month[8] = "Sept";
                                                             month[9] = "Oct";
                                                             month[10] = "Nov";
                                                             month[11] = "Dec";
                                                   
                                                             day = date.getDate();
                                                             
                                                             if(day < 10)
                                                             {
                                                                day = "0"+day;
                                                             }
                                                             
                                                             return    day  + " " +month[date.getMonth()] + " " + date.getFullYear();
                                                             }
                                                               %>
                                                        <%}%>
                                                        <%var x1 = alldoctors.doctors[i].createdAt.toLocaleTimeString().slice(0,4);%>
                                                        <%var x2 = alldoctors.doctors[i].createdAt.toLocaleTimeString().slice(7,11);%>
                                                            <h5 style="font-weight: 0.8rem;font-weight: 500;"><%=str1%>, <%=alldoctors.doctors[i].time%> </h5>
                                                            <h5 style="font-weight: 0.9rem;font-weight: 700;"><%=alldoctors.doctors[i].cname%></h5>
                                                            <%if(alldoctors.doctors[i].cancel == true){%>
                                                                <h5><span class="badge badge-pill bg-danger-light">Cancelled</span></h5>
                                                              <%}else{%>
                                                                <h5><span class="badge badge-pill bg-success-light">Confirm</span></h5>
                                                                <%}%>
                                                            

                                                        </div>
                                                    </div>
                                                    <%var today = new Date();%>
                                                    <%var dd = String(today.getDate()).padStart(2, '0');
                                                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                    var yyyy = today.getFullYear();
                                                    var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                    var dayOfWeek = weekday[today.getDay()];%>
                                                    <%var str1 = dd+'-'+mm+'-'+yyyy;%>
                                                     <div class="bottom-part" style="height: 50px;display: flex;justify-content: space-around;">
                                                            <%if(alldoctors.doctors[i].did != null){%>
                                                        <a  href="/booking/?id=<%=alldoctors.doctors[i].did._id%>" style="padding: 10px;border-radius: 5px;border:1px solid grey;top:0px;left:40px;font-size:0.9rem;font-weight: bold;height: 45px;background-color: #15558d;color:white">Book Again</a>
                                                        <%}%>
                                                        <a href="/appointment-detail/?index=<%=i%>" class="btn btn-sm bg-info-light" style="padding: 10px;border-radius: 5px;border:1px solid grey;top:0px;right:30px;width:90px;font-size:0.9rem;font-weight: bold;height: 45px;text-align: center6;">
                                                            <i class="far fa-eye"></i> View
                                                        </a>

                                                        <% var tdate = new Date();%>
                                                                <%var stra = alldoctors.doctors[i].date.split('-');%>
                                                                <%var strb = stra[2]+'-'+stra[1]+'-'+stra[0];%>      
                                                                <%var bdate = new Date(strb)%>
                                                                <%if(bdate > tdate){%>
                                                                    <td class="text-center"> <a href="" style="padding:8px;border:1px solid grey;border-radius: 5px;background-color:#15558d;color:white;text-align: center;width:120px;display: block;height:45px"><span><i class="fas fa-share" aria-hidden="true" style="margin-right: 8px;"></i></span>Upcoming</a></td>
                                                                    <%}else{%>

                                                       
                                                        <%if(str1 == alldoctors.doctors[i].date){%>
                                                        <a href="/patient-tracking/?id=<%=alldoctors.doctors[i].dsid%>&slotindex=<%=alldoctors.doctors[i].slotindex%>" style="padding:5px;padding-top:10px;border:1px solid grey;border-radius: 5px;background-color: #C71585;height: 45px;color:white;text-align: center;width:100px;display: block;"><span><i class="fas fa-user-md" style="margin-right: 8px;"></i></span>Track</a>
                                                        <%}else{%>
                                                            <a href="" style="padding:5px;padding-top:10px;border:1px solid grey;border-radius: 5px;background-color:forestgreen;color:white;text-align: center;width:100px;display: block;height: 45px;"><span><i class="fas fa-child" aria-hidden="true" style="margin-right: 8px;"></i></span>Visited</a>
                                                        <%}%>
                                                        <%}%>
                                                    </div>
                                                </div>
                                                <%}%>
                                            </div>
                                            <div class="card-body lscreen">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>Doctor</th>
                                                                <th>Appt Date</th>
                                                                <th>Booking Date</th>
                                                                <th>Amount</th>
                                                          
                                                                <th>Status</th>
                                                                <th>Book</th>
                                                                <th>Track Appointment</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <%var ss1=0;%>
                                                            <%for(let i= alldoctors.doctors.length-1; i>=0 ;i--){%>
                                                                <%if(alldoctors.doctors[i].type == 'own'){continue;%>
                                                                    <%}%>
                                                            <tr>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <%if(alldoctors.doctors[i].did){%>
                                                                            <a href="/doctor-profile/?id=<%=alldoctors.doctors[i].did._id%>" class="avatar avatar-sm mr-2">
                                                                                <%}else{%>
                                                                                    <a href="/doctor-profile/?id=<%=alldoctors.doctors[i].did%>" class="avatar avatar-sm mr-2">
                                                                                        <%}%>                                                                            
                                                                                        <img class="avatar-img rounded-circle" src="<%=alldoctors.doctors[i].davatar%>" alt="User Image">
                                                                        </a>
                                                                        <%if(alldoctors.doctors[i].did){%>
                                                                            <a href="/doctor-profile/?id=<%=alldoctors.doctors[i].did._id%>"><%=alldoctors.doctors[i].dname%> <span><%=alldoctors.doctors[i].ddept%></span></a>
                                                                            <%}else{%>
                                                                                <a href="/doctor-profile/?id=<%=alldoctors.doctors[i].did%>"><%=alldoctors.doctors[i].dname%> <span><%=alldoctors.doctors[i].ddept%></span></a>
                                                                                <%}%>                                                                      </h2>
                                                                </td>
                                                                <%var str2 = alldoctors.doctors[i].date.split('-');%>
                                                                <%var str3 = formatDate(alldoctors.doctors[i].createdAt);%>
                                                                    <%var str = str2[2]+'-'+str2[1]+'-'+str2[0];%>
                                                        <%var str1 = formatDate(str);%>
                                                        <%function formatDate(d){%>
                                                            <%var date = new Date(d);

                                                            if ( isNaN( date .getTime() ) ) 
                                                            {
                                                               return d;
                                                            }
                                                            else
                                                           {
                                                             
                                                             var month = new Array();
                                                             month[0] = "Jan";
                                                             month[1] = "Feb";
                                                             month[2] = "Mar";
                                                             month[3] = "Apr";
                                                             month[4] = "May";
                                                             month[5] = "Jun";
                                                             month[6] = "Jul";
                                                             month[7] = "Aug";
                                                             month[8] = "Sept";
                                                             month[9] = "Oct";
                                                             month[10] = "Nov";
                                                             month[11] = "Dec";
                                                   
                                                             day = date.getDate();
                                                             
                                                             if(day < 10)
                                                             {
                                                                day = "0"+day;
                                                             }
                                                             
                                                             return    day  + " " +month[date.getMonth()] + " " + date.getFullYear();
                                                             }
                                                               %>
                                                        <%}%>

                                                        <%var x1 = alldoctors.doctors[i].createdAt.toLocaleTimeString().slice(0,4);%>
                                                        <%var x2 = alldoctors.doctors[i].createdAt.toLocaleTimeString().slice(7,11);%>
                                                                
                                                                <td><%=str1%> <span class="d-block text-info"></span><%=alldoctors.doctors[i].time%></td>
                                                                <td><%=str3%> <span class="d-block text-info"></span><%=x1%><%=x2%></td>
                                                                <%if(alldoctors.doctors[i].old_flag == true){%>
                                                                    <td>Free</td>
                                                                <%}else{%>
                                                                <td>Rs<%=alldoctors.doctors[i].fee%></td>
                                                              
                                                                <%}%>
                                                                
                                                                <%if(alldoctors.doctors[i].cancel == true){%>
                                                                    <td><span class="badge badge-pill bg-danger-light">Cancelled</span></td>
                                                                  <%}else{%>
                                                                    <td><span class="badge badge-pill bg-success-light">Confirm</span></td>
                                                                    <%}%>
                                                                    <td>
                                                                        <%if(alldoctors.doctors[i].did && !alldoctors.doctors[i].old_flag){%>
                                                                            <%if(alldoctors.doctors[i].did.staff_id.oldp.dcount){%>
                                                                                <%var count = alldoctors.doctors[i].did.staff_id.oldp.dcount%>
                                                                                <%var str21 = alldoctors.doctors[i].date.split('-');%>
                                                                                <%var str22 = str21[2]+'-'+str21[1]+'-'+str21[0];%>
                                                                                <% var todays = new Date(str22);%>
                                                                                <%for(let i=0;i<count+1;i++){%>
                                                                                            <%var dd = String(todays.getDate()).padStart(2, '0');
                            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                            var yyyy = todays.getFullYear();
                            var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                            var dayOfWeek = weekday[todays.getDay()];
                            
                            var res = todays.setTime(todays.getTime() + (1 * 24 * 60 * 60 * 1000));
                            var date = new Date(res);
                            todays=date;%>
                            
                                                                                    <%}%>
                                                                                    
                                                                    <%var cdate = new Date();%>
                                                                    <%console.log(cdate,todays)%>
                                                                    <%if(cdate>todays){%>
                                                                        <a  href="/booking/?id=<%=alldoctors.doctors[i].did._id%>" style="padding: 10px;border-radius: 5px;border:1px solid grey;top:0px;left:40px;font-size:0.9rem;font-weight: bold;height: 45px;background-color: #15558d;color:white">Book Again</a>
                                                            <%}else{%>
                                                                <a  href="/old-booking/?id=<%=alldoctors.doctors[i].did._id%>&type=other&n=<%=ss1%>" style="padding: 10px;border-radius: 5px;border:1px solid grey;top:0px;left:40px;font-size:0.9rem;font-weight: bold;height: 45px;background-color: #15558d;color:white">Consult free</a>
                                                            <%}%>
                                                                                    <%}%>

                                                                                   
                                                                            <%}else{%>
                                                                                <%if(alldoctors.doctors[i].did != null){%>
                                                                                <a  href="/booking/?id=<%=alldoctors.doctors[i].did._id%>" style="padding: 10px;border-radius: 5px;border:1px solid grey;top:0px;left:40px;font-size:0.9rem;font-weight: bold;height: 45px;background-color: #15558d;color:white">Book Again</a>
                                                                                <%}%>
                                                                                <%}%>
                                                                    </td>
                                                                    <%var today = new Date();%>
                                                                <%var dd = String(today.getDate()).padStart(2, '0');
                                                                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                                var yyyy = today.getFullYear();
                                                                var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                                var dayOfWeek = weekday[today.getDay()];%>
                                                                <%var str1 = dd+'-'+mm+'-'+yyyy;%>
                                                                <% var tdate = new Date();%>
                                                                <%var stra = alldoctors.doctors[i].date.split('-');%>
                                                                <%var strb = stra[2]+'-'+stra[1]+'-'+stra[0];%>      
                                                                <%var bdate = new Date(strb)%>
                                                                <%if(bdate > tdate){%>
                                                                    <td class="text-center"> <a href="" style="padding:8px;border:1px solid grey;border-radius: 5px;background-color:#15558d;color:white;text-align: center;width:120px;display: block;"><span><i class="fas fa-share" aria-hidden="true" style="margin-right: 8px;"></i></span>Upcoming</a></td>
                                                                    <%}else{%>
                                                                       
                                                                    <%if(str1 == alldoctors.doctors[i].date){%>
                                                                        <td class="text-center"><a href="/patient-tracking/?id=<%=alldoctors.doctors[i].dsid%>&slotindex=<%=alldoctors.doctors[i].slotindex%>" style="padding:8px;border:1px solid grey;border-radius: 5px;background-color: #C71585;color:white;text-align: center;width:120px;display: block;"><span><i class="fas fa-user-md" style="margin-right: 8px;"></i></span>Track</a></td>
                                                                        <%}else{%>
                                                                            <td class="text-center"><a href="" style="padding:8px;border:1px solid grey;border-radius: 5px;background-color:forestgreen;color:white;text-align: center;width:120px;display: block;"><span><i class="fas fa-child" aria-hidden="true" style="margin-right: 8px;"></i></span>Visited</a></td>
                                                                        <%}%>
                                                                        <%}%>
                                                                        <%if(alldoctors.doctors[i].old_flag != true){%>
                                                                            <%ss1++%>
                                                                            <%}%>

                                                            </tr>
                                                            <%}%>
                                                           
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Prescription Tab -->
                                    
                                   
                                    <!-- /Prescription Tab -->

                                    <!-- Medical Records Tab -->
                                  
                                    <!-- /Medical Records Tab -->

                                    <!-- Billing Tab -->
                                 
                                    <!-- /Billing Tab -->

                                </div>
                                <!-- Tab Content -->

                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>

            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- <script>
        var oabtn = document.getElementById('oabtn');
        var mabtn = document.getElementById('mabtn');
        var oal = document.getElementById('oal');
        var mal = document.getElementById('mal'); 
      
        
        oabtn.addEventListener('click',function()
        {
            oabtn.classList.add('new_tab2');
            mabtn.classList.remove('new_tab2');
            mal.classList.add('displayNone');
            oal.classList.remove('displayNone');

        })
        mabtn.addEventListener('click',function()
        {
            mabtn.classList.add('new_tab2');
            oabtn.classList.remove('new_tab2');
            oal.classList.add('displayNone');
            mal.classList.remove('displayNone');

        })
       
        
    </script> -->

</body>

<!-- doccure/locals.user-dashboard  30 Nov 2019 04:12:16 GMT -->

</html>