<!DOCTYPE html>
<html lang="en">

<!-- doccure/locals.user-dashboard  30 Nov 2019 04:12:16 GMT -->

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/style1.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="/js/html5shiv.min.js"></script>
			<script src="/js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
    
        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar setting-bread" style="margin-top: 20px;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Dashboard</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">

                    <!-- Profile Sidebar -->
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar no-show-mobile">
                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content">
                                <div class="profile-info-widget">
                                    <a href="#" class="booking-doc-img">
                                        <img src="<%=locals.user.avatar%> " alt="User Image" onerror=this.src="/img/profile.png">
                                    </a>
                                    <div class="profile-det-info">
                                        <h3>
                                            <%=locals.user.name%>
                                        </h3>
                                       
                                        <div class="locals.user-details">
                                            <%if(locals.user.dob){var newDateObject = new Date();

                                                var newObjectCurrentYear = newDateObject.getFullYear();
                                                
                                                var userDateObject = locals.user.dob;
                                                
                                                var userDateObjectPieces = userDateObject.split("/");
                                                
                                                var userObjectYear = userDateObjectPieces[2];
                                                
                                                var age = parseInt(newObjectCurrentYear) - parseInt(userObjectYear);

                                                %>
                                            <h5 style="font-size: 0.85rem;"><i class="fas fa-birthday-cake"></i>
                                                <%=locals.user.dob%> , <%=age%> Years

                                            </h5>
                                            <%}%>
                                            <%if(locals.user.city){%>
                                            <h5 class="mb-0" style="font-size: 0.85rem;"><i class="fas fa-map-marker-alt"></i>
                                                <%=locals.user.city%> 
                                                    <%=locals.user.state%>
                                            </h5>
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-widget">
                                <nav class="dashboard-menu">
                                    <ul>
                                        <li>
                                            <a href="/my-appointments">
                                                <i class="fas fa-calendar-alt"></i>
                                                <span>My Appointments</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/prescription">
                                                <i class="fas fa-newspaper"></i>
                                                <span>My prescriptions</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/medical-records">
                                                <i class="fas fa-medkit"></i>
                                                <span>My Medical records</span>
                                            </a>
                                        </li>
                                        <li class="active">
                                            <a href="/my-billing">
                                                <i class="fas fa-credit-card"></i>
                                                <span>My Billings</span>
                                            </a>
                                        </li>
                                        
                                        <li>
                                            <a href="/favourites">
                                                <i class="fas fa-bookmark"></i>
                                                <span>Favourites</span>
                                            </a>
                                        </li>
                                       
                                       
                                       
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                    <!-- / Profile Sidebar -->

                    <div class="col-md-7 col-lg-8 col-xl-9 plr0">
                       
                          
                          <!-- Modal -->
                          
                        <!-- <div id="popup2" class="overlay">
                            <div class="popup">
                                <form action="/user/payments/refund" method="POST">
                                    <div class="col-12 col-md-12" style="margin-left: -15px;margin-top:20px;margin-bottom: 20px;">
                                        <div class="form-group">
                                            <label style="color: rgb(138, 138, 138);">Do you really want to cancel the appointment?</label></br>
                                                <input type="hidden" name="id" value="" id="input">
                                                <input type="hidden" name="doctorid" value="" id="input">
                                                <input type="hidden" name="slotindex" value="" id="input">
                                                <input type="hidden" name="dayindex" value="" id="input">
                                                <input type="hidden" name="index" value="" id="input">
                                                <input type="hidden" name="bid" value="" id="input">
                                                <input type="hidden" name="time" value="" id="input">
                                                <input type="hidden" name="date" value="" id="input">
                                                <input type="hidden" name="phone" value="" id="input">
                                                <input type="hidden" name="email" value="" id="input">
                                                <input type="hidden" name="payment_id" value="" id="input">
                                                <input type="hidden" name="fee" value="">
                                                    <input type="radio" name="flag" value="yes" style="margin-right: 10px;">Yes</br>
                                                    <input type="radio" name="flag" value="no" style="margin-right: 10px;">No
                                        </select>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Continue</button>
                                </form>
                            </div>
                        </div>
                       -->
                        <%if(alldoctors.doctors == ''){%>
                            <h2 class="text-center no-file" style="margin-top: 100px;"><span style="margin-right: 20px;"><i class="fas fa-folder-open"></i></span><span>No Billings Available !</span></h2>
                            <%}else{%>
                        <div class="card">
                            <div class="card-body pt-0 plr0">

                                <!-- Tab Menu -->
                                <nav class="user-tabs mb-4">
                                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                                        <li class="nav-item">
                                            <a class="nav-link active pall-10" href="#pat_billing" data-toggle="tab">My Billings</a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- /Tab Menu -->

                                <!-- Tab Content -->
                                <div class="tab-content pt-0">

                                    <!-- Appointment Tab -->
                                   
                                    <!-- /Appointment Tab -->

                                    <!-- Prescription Tab -->
                
                                    <!-- /Prescription Tab -->

                                    <!-- Medical Records Tab -->
                                  
                                    <!-- /Medical Records Tab -->

                                    <!-- Billing Tab -->
                                    <div id="pat_billing show active" class="tab-content">
                                        <div class="card-body sscreen" style="margin-top: -30px;">
                                            <%var c=1%>
                                            <%for(let i= alldoctors.doctors.length-1; i>=0 ;i--){%>
                                                <div id="popup1" class="overlay">
                                                    <div class="popup">
                                                        <form action="/user/payments/<%=alldoctors.payments[i].payment_id%>/refund" method="POST">
                                                            <div class="col-12 col-md-12" style="margin-left: -15px;margin-top:20px;margin-bottom: 20px;">
                                                                <div class="form-group">
                                                                    <label style="color: rgb(138, 138, 138);">Do you really want to cancel the appointment?</label></br>
                                                                        <input type="hidden" name="id" value="<%=alldoctors.payments[i].payment_id%>">
                                                                        <input type="hidden" name="doctorid" value="<%=alldoctors.doctors[i].did._id%>">
                                                                        <input type="hidden" name="slotindex" value="<%=alldoctors.doctors[i].slotindex%>">
                                                                        <input type="hidden" name="dayindex" value="<%=alldoctors.doctors[i].dayindex%>">
                                                                        <input type="hidden" name="index" value="<%=i%>">
                                                                        <input type="hidden" name="bid" value="<%=alldoctors.doctors[i]._id%>">
                                                                        <input type="hidden" name="time" value="<%=alldoctors.doctors[i].time%>">
                                                                        <input type="hidden" name="date" value="<%=alldoctors.doctors[i].date%>">
                                                                        <input type="hidden" name="phone" value="<%=alldoctors.doctors[i].phone%>">
                                                                        <input type="hidden" name="email" value="<%=alldoctors.doctors[i].email%>">
                                                                        <input type="hidden" name="fee" value="<%=alldoctors.doctors[i].fee%>">
                                                                            <input type="radio" name="flag" value="yes" style="margin-right: 10px;">Yes</br>
                                                                            <input type="radio" name="flag" value="no" style="margin-right: 10px;">No
                                                                </select>
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Continue</button>
                                                        </form>
                                                    </div>
                                                </div>
                                                
                                            <div class="card-contents" style="height: 200px;width:100%;border:1px solid lightgrey;border-radius:5px;padding: 8px;margin-bottom: 3px;">
                                                <div class="head-part" style="height: 40px;border-bottom: 1px solid lightgrey;">
                                                    <h2 style="text-align: center;">
                                                        #INV-000<%=c++%>
                                                    </h2>
                                                </div>
                                                <div class="top-part" style="height: 110px;display:flex;flex-direction: row;">
                                                    <div class="top-img" style="width: 25%;height:100%;padding-top:10px;padding-left: 4px;">
                                                        <img src="<%=alldoctors.doctors[i].did.avatar%>"style="height:50px;width:50px;border-radius:50%;">
                                                    </div>
                                                    <div class="top-content" style="width: 75%;height:100%;padding:10px;">
                                                        <h5 style="font-weight: bold;font-size: 1rem;">Dr. <%=alldoctors.doctors[i].did.name%>, <%=alldoctors.doctors[i].did.department%></h5>
                                                        <%var str2 = alldoctors.doctors[i].date.split('-');%>
                                                        <%var str = str2[2]+'-'+str2[1]+'-'+str2[0];%>
                                            <%var str1 = formatDate(str);%>
                                            <%function formatDate(d){%>
                                                <%var date = new Date(d);

                                                if ( isNaN( date .getTime() ) ) 
                                                {
                                                   return d;
                                                }
                                                else
                                               {
                                                 
                                                 var month = new Array();
                                                 month[0] = "Jan";
                                                 month[1] = "Feb";
                                                 month[2] = "Mar";
                                                 month[3] = "Apr";
                                                 month[4] = "May";
                                                 month[5] = "Jun";
                                                 month[6] = "Jul";
                                                 month[7] = "Aug";
                                                 month[8] = "Sept";
                                                 month[9] = "Oct";
                                                 month[10] = "Nov";
                                                 month[11] = "Dec";
                                       
                                                 day = date.getDate();
                                                 
                                                 if(day < 10)
                                                 {
                                                    day = "0"+day;
                                                 }
                                                 
                                                 return    day  + " " +month[date.getMonth()] + " " + date.getFullYear();
                                                 }
                                                   %>
                                            <%}%>
                                            <%var x1 = alldoctors.doctors[i].createdAt.toLocaleTimeString().slice(0,4);%>
                                            <%var x2 = alldoctors.doctors[i].createdAt.toLocaleTimeString().slice(7,11);%>
                                                        <h5 style="font-weight: 0.8rem;font-weight: 500;"><%=str1%>, <%=x1%><%=x2%> </h5>
                                                        <h5 style="font-size: 1rem;font-weight: 700;">Rs <%=alldoctors.doctors[i].fee%>
                                                            
                                                            <%if(alldoctors.doctors[i].cancel == true){%>
                                                                <span class="badge badge-pill bg-danger-light" style="margin-left: 20px;">Cancelled</span>
                                                              <%}else{%>
                                                                <span class="badge badge-pill bg-success-light" style="margin-left: 20px;">Confirm</span>
                                                                <%}%>
                                                        </h5>
                                                        
                                                        

                                                    </div>
                                                </div>
                                                <div class="bottom-part table-action" >
                                                    <% var tdate = new Date();%>
                                                    <%var stra = alldoctors.doctors[i].date.split('-');%>
                                                    <%var strb = stra[2]+'-'+stra[1]+'-'+stra[0];%>      
                                                    <%var bdate = new Date(strb)%>
                                                    <%if(bdate > tdate){%>
                                                    <%if(alldoctors.doctors[i].cancel == true){%>
                                                        <a href="#" class="btn btn-sm bg-danger" style="color: white;width: 100%;">

                                                            <i class="fas fa-print"></i> Cancellled
                                                        </a>
                                                      <%}else{%>
                                                     
                                                          <a href="#popup1" class="btn btn-sm bg-danger-light" style="width: 100%;">

                                                            <i class="fas fa-print"></i> Cancel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </a>
                                                        <%}%>
                                                        <%}else{%>
                                                            <div class="table-action">
                                                 
                                                            <h5><span class="btn btn-sm bg-success-light" style="padding:5px 15px;width: 100%;">
                                                                <i class="fas fa-check-circle" style="margin-right: 5px;"></i>Confirm</span></h5>
                                                                </div>
                                                        <%}%>
                                                                                                </div>
                                            </div>
                                            <%}%>
                                        </div>
                                        <div class="card card-table mb-0 lscreen">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>Invoice No</th>
                                                                <th>Doctor</th>
                                                                <th>Amount</th>
                                                                <th>Paid On</th>
                                                                <th>Appointment Date</th>
                                                                <th class="text-center">Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <%var c=0;%>
                                                            <%for(let i= alldoctors.doctors.length-1; i>=0 ;i--){%>
                                                                
                                                                <%c++;%>

                                                              
                                                            <tr>
                                                                <td>
                                                                    <a href="/invoice-view">#INV-000<%=c%></a>
                                                                </td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a href="/doctor-profile/?id=<%=alldoctors.doctors[i].did._id%>" class="avatar avatar-sm mr-2">
                                                                            <img class="avatar-img rounded-circle" src="<%=alldoctors.doctors[i].did.avatar%>" alt="User Image">
                                                                        </a>
                                                                        <a href="/doctor-profile/?id=<%=alldoctors.doctors[i].did._id%>"><%=alldoctors.doctors[i].did.name%><span><%=alldoctors.doctors[i].did.department%></span></a>
                                                                    </h2>
                                                                </td>
                                                                <td>Rs<%=alldoctors.doctors[i].fee%></td>
                                                                <%var str2 = alldoctors.doctors[i].date.split('-');%>
                                                                
                                                                <%var str = str2[2]+'-'+str2[1]+'-'+str2[0];%>
                                                                <%var str3 = formatDate(str);%>
                                                    <%var str1 = formatDate(alldoctors.doctors[i].createdAt);%>
                                                    <%function formatDate(d){%>
                                                        <%var date = new Date(d);

                                                        if ( isNaN( date .getTime() ) ) 
                                                        {
                                                           return d;
                                                        }
                                                        else
                                                       {
                                                         
                                                         var month = new Array();
                                                         month[0] = "Jan";
                                                         month[1] = "Feb";
                                                         month[2] = "Mar";
                                                         month[3] = "Apr";
                                                         month[4] = "May";
                                                         month[5] = "Jun";
                                                         month[6] = "Jul";
                                                         month[7] = "Aug";
                                                         month[8] = "Sept";
                                                         month[9] = "Oct";
                                                         month[10] = "Nov";
                                                         month[11] = "Dec";
                                               
                                                         day = date.getDate();
                                                         
                                                         if(day < 10)
                                                         {
                                                            day = "0"+day;
                                                         }
                                                         
                                                         return    day  + " " +month[date.getMonth()] + " " + date.getFullYear();
                                                         }
                                                           %>
                                                    <%}%>
                                                    <%var x1 = alldoctors.doctors[i].createdAt.toLocaleTimeString().slice(0,4);%>
                                                    <%var x2 = alldoctors.doctors[i].createdAt.toLocaleTimeString().slice(7,11);%>
                                                                <td><%=str1%><span class="d-block text-info"></span><%=x1%><%=x2%></td>
                                                                <td><%=str3%> <span class="d-block text-info"></span><%=alldoctors.doctors[i].time%></td>
                                                                <td class="text-right">
                                                                    <% var tdate = new Date();%>
                                                                    <%var stra = alldoctors.doctors[i].date.split('-');%>
                                                                    <%var strb = stra[2]+'-'+stra[1]+'-'+stra[0];%>      
                                                                    <%var bdate = new Date(strb)%>
                                                                    <%if(bdate > tdate){%>
                                                                    
                                                                    <div class="table-action">
                                                               
                                                                      <%if(alldoctors.doctors[i].cancel == true){%>
                                                                        <a href="#" class="btn btn-sm bg-danger" style="color: white;">

                                                                            <i class="fas fa-print"></i> Cancellled
                                                                        </a>
                                                                        
                                                                      <%}else{%>
                                                                        
                                                                     
                                                                          <a data-target="#" id="popbtn" class="btn btn-sm bg-danger-light" data-0 ="<%=alldoctors.payments[i].payment_id%>" data-1="<%=alldoctors.doctors[i].did._id%>" data-2="<%=alldoctors.doctors[i].slotindex%>" data-3="<%=alldoctors.doctors[i].dayindex%>" data-4="<%=i%>" data-5="<%=alldoctors.doctors[i]._id%>" data-6="<%=alldoctors.doctors[i].time%>"data-7="<%=alldoctors.doctors[i].date%>"data-8="<%=alldoctors.doctors[i].phone%>" data-9="<%=alldoctors.doctors[i].email%>" data-10="<%=alldoctors.doctors[i].fee%>" >

                                                                            <i class="fas fa-print"></i> Cancel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                        </a>
                                                                        <%}%>
                                                                       
                                                                
                                                                    </div>
                                                                    <%}else{%>
                                                                        <div class="table-action">
                                                             
                                                                        <h5><span class="btn btn-sm bg-success-light" style="padding:5px 15px;">
                                                                            <i class="fas fa-check-circle" style="margin-right: 5px;"></i>Confirm</span></h5>
                                                                            </div>
                                                                    <%}%>
                                                                </td>
                                                            </tr>
                                                            <%}%>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <!-- /Billing Tab -->

                                </div>
                                <!-- Tab Content -->

                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>

            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Custom JS -->
    <script src="/js/script.js"></script>
    <script> 
     $(document).on('shown.bs.modal', '#popup2' , function(e) {

       var values = document.querySelectorAll('#input');
       var popbtn = document.querySelectorAll('#popbtn');
       for(let i=0;i<values.length;i++)
       {
        
           values[i].value = popbtn.data(i);
       }

       

        
    });</script>
  

</body>

<!-- doccure/locals.user-dashboard  30 Nov 2019 04:12:16 GMT -->

</html>