<!DOCTYPE html>
<html lang="en">

<!-- doccure/doctor-change-password  30 Nov 2019 04:12:36 GMT -->

<head>
    <link rel="stylesheet" href="<%=assetPath('css/bootstrap.min.css')%>">

	<link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/fontawesome.min.css')%>">
    <link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/all.min.css')%>">
    
	<link rel="stylesheet" href="<%=assetPath('css/style1.css')%>">
	<link rel="stylesheet" href="<%=assetPath('css/style.css')%>">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
      
        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar setting-bread" style="margin-top: 20px;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="/settings">Settings</a></li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Notification Settings</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="container settings-header col-md-12" style="width:95.5%;height:60px;border-bottom:0.5px solid lightgrey;background-color: white;margin-top: 10px;margin-bottom: -30px;border-radius: 0;">
            <h3 style="font-size: 1rem;font-weight: bold;"><a href="/settings">Settings</a></h3>
        </div>
        <div class="content">
           
            <div class="container-fluid">

                <div class="row">
                    
                    <div class="col-md-2 settings pass-setting" style="background-color: white;margin-left: 15px;border-right: 1px solid lightgray;">
                        <ul style="list-style: none;margin-left: -40px;margin-top: 5px;">
                           
                            <%if(locals.user.service != 'google'){%>
                                <li><a href="/doctor-change-password">Change Password</a></li>
                                <%}%>     
                                <%if(locals.user.type != 'Staff'){%>
                                    <li><a href="/notification-settings"><b>Notification Settings</b></a></li>
                                    <%}%>                       
                                <%if(locals.user.type == 'Doctor'){%>
                                <li><a href="/booking-service">Booking Service</a></li>
                            <%}%>
                            <li><a href="/delete-account">Delete Account</a></li>
                            <li><a href="/user/logout" style="color: red;">Logout</a></li>
                        </ul>
                    </div>
                    <div class="col-md-10 col-lg-10 col-xl-10 settings-content change-pass-content" style="margin-left:-20px;border-left: 0.5px solid lighgrey;">
                        <div class="card change-pass-card" style="border-radius: 0;order:0;">
                            <div class="card-body" style="padding: 2.2rem;">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <h3 style="font-size: 0.9rem; font-weight: bold;border-bottom: 1px solid grey;padding-bottom: 10px;">Email Settings</h3>
                                        <p style="margin-top: 30px;font-size: 0.9rem;margin-bottom: 30px;">You are currently receiving all promotional communications on <b><%=locals.user.email%> </b></p>
                                        <!-- Change Password Form -->
                                        <form action="/user/manage-notification" method="POST">
                                            <%if(locals.user.nots_settings){%>
                                                <%if(!locals.user.nots_settings.email){%>
                                                    <div class="col-md-3 nots-span" style="display: inline-flex;">
                                                        <span style="margin-right: 15px;">
                                                           
                                                            <input type="checkbox" onchange="disableOthers(this);" class="form-check cb"></span>
                                                        <span><b><p style="margin-top: -5px;">I want to receive:</p></b>
                                                            <p style="margin-top: -10px; font-size: 0.8rem;">You can disable these at any time</p></span>
                                                        
                                                    </div>
                                                    <div class="col-md-5 nots-span" style="display: inline-flex; flex-direction: column;">
                                                        <div style="display:inline-flex; margin-bottom: 30px;">
                                                     <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="1" ></span>
                                                        <span><b><p style="margin-top: -5px;">Announcements</p></b>
                                                            <p style="margin-top: -10px; font-size: 0.8rem;">Most important updates on new and exciting products. Sent around once in a month.</p></span></br>
                                                            </div>
                                                            <div style="display:inline-flex;margin-bottom: 30px;">
                                                            <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="2" ></span>
                                                            <span><b><p style="margin-top: -5px;">Savings</p></b>
                                                                <p style="margin-top: -10px; font-size: 0.8rem;">Get exclusive discounts and offers to save money on your healthcare bill. Sent usually once in 15 days.</p></span>
                                                            </div>
                                                            <div style="display:inline-flex;margin-bottom: 30px;">
                                                                <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="3" ></span>
                                                                <span><b><p style="margin-top: -5px;">Feedback</p></b>
                                                                    <p style="margin-top: -10px; font-size: 0.8rem;">Get beta invitations, surveys and feedback forms, for sharing your suggestions. Sent once in a month.</p></span>
                                                                </div>
                                                        
                                                    </div>
                                                    <div class="col-md-3 nots-span" style="display: inline-flex; flex-direction: column;">
                                                        <div style="display:inline-flex; margin-bottom: 30px;">
                                                     <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="4" ></span>
                                                        <span><b><p style="margin-top: -5px;">Health Tips</p></b>
                                                            <p style="margin-top: -10px; font-size: 0.8rem;">Get the most insightful health tips and articles from verified doctors. Sent 1-2 times per week.</p></span></br>
                                                            </div>
                                                            <div style="display:inline-flex;margin-bottom: 30px;">
                                                            <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="5" ></span>
                                                            <span><b><p style="margin-top: -5px;">Informational</p></b>
                                                                <p style="margin-top: -10px; font-size: 0.8rem;">Get to know what's the latest through our newsletters, product updates and more! Sent once in a week.</p></span>
                                                            </div>
                                                            
                                                        
                                                    </div>
                                                    <%}else{%>
                                                        <%if(typeof(locals.user.nots_settings.email) == 'string'){%>
                                                            <div class="col-md-3 nots-span" style="display: inline-flex;">
                                                                <span style="margin-right: 15px;">
                                                                   
                                                                    <input type="checkbox" onchange="disableOthers(this);" checked class="form-check cb"></span>
                                                                <span><b><p style="margin-top: -5px;">I want to receive:</p></b>
                                                                    <p style="margin-top: -10px; font-size: 0.8rem;">You can disable these at any time</p></span>
                                                                
                                                            </div>
                                                            <div class="col-md-5 nots-span" style="display: inline-flex; flex-direction: column;">
                                                                <div style="display:inline-flex; margin-bottom: 30px;">
                                                                    <%if(locals.user.nots_settings.email == '1'){%>
                                                             <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="1" checked ></span>
                                                             <%}else{%>
                                                                <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="1" ></span>
                                                                <%}%>
                                                             <span><b><p style="margin-top: -5px;">Announcements</p></b>
                                                                    <p style="margin-top: -10px; font-size: 0.8rem;">Most important updates on new and exciting products. Sent around once in a month.</p></span></br>
                                                                    </div>
                                                                    <div style="display:inline-flex;margin-bottom: 30px;">
                                                                        <%if(locals.user.nots_settings.email == '2'){%>
                                                                    <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="2" checked ></span>
                                                                    <%}else{%>
                                                                        <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="2" ></span>
                                                                        <%}%>

                                                                    <span><b><p style="margin-top: -5px;">Savings</p></b>
                                                                        <p style="margin-top: -10px; font-size: 0.8rem;">Get exclusive discounts and offers to save money on your healthcare bill. Sent usually once in 15 days.</p></span>
                                                                    </div>
                                                                    <div style="display:inline-flex;margin-bottom: 30px;">
                                                                        <%if(locals.user.nots_settings.email == '3'){%>
                                                                        <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="3" checked ></span>
                                                                        <%}else{%>
                                                                            <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="3" ></span>
                                                                        <%}%>
                                                                        <span><b><p style="margin-top: -5px;">Feedback</p></b>
                                                                            <p style="margin-top: -10px; font-size: 0.8rem;">Get beta invitations, surveys and feedback forms, for sharing your suggestions. Sent once in a month.</p></span>
                                                                        </div>
                                                                
                                                            </div>
                                                            <div class="col-md-3 nots-span" style="display: inline-flex; flex-direction: column;">
                                                                <div style="display:inline-flex; margin-bottom: 30px;">
                                                                    <%if(locals.user.nots_settings.email == '4'){%>
                                                             <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="4" checked ></span>
                                                             <%}else{%>
                                                                <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="4" ></span>
                                                                <%}%>
                                                             <span><b><p style="margin-top: -5px;">Health Tips</p></b>
                                                                    <p style="margin-top: -10px; font-size: 0.8rem;">Get the most insightful health tips and articles from verified doctors. Sent 1-2 times per week.</p></span></br>
                                                                    </div>
                                                                    <div style="display:inline-flex;margin-bottom: 30px;">
                                                                        <%if(locals.user.nots_settings.email == '5'){%>
                                                                    <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="5" checked ></span>
                                                                    <%}else{%>
                                                                        <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="5" ></span>
                                                                        <%}%>
                                                                    <span><b><p style="margin-top: -5px;">Informational</p></b>
                                                                        <p style="margin-top: -10px; font-size: 0.8rem;">Get to know what's the latest through our newsletters, product updates and more! Sent once in a week.</p></span>
                                                                    </div>
                                                                    
                                                                
                                                            </div>
                                                        <%}else{%>
                                                            <div class="col-md-3 nots-span" style="display: inline-flex;">
                                                                <span style="margin-right: 15px;">
                                                                   
                                                                    <input type="checkbox" onchange="disableOthers(this);" checked class="form-check cb"></span>
                                                                <span><b><p style="margin-top: -5px;">I want to receive:</p></b>
                                                                    <p style="margin-top: -10px; font-size: 0.8rem;">You can disable these at any time</p></span>
                                                                
                                                            </div>
                                                            <div class="col-md-5 nots-span" style="display: inline-flex; flex-direction: column;">
                                                                <div style="display:inline-flex; margin-bottom: 30px;">
                                                                    <%var flag1 = false,flag2=false,flag3=false,flag4=false,flag5=false;%>
                                                                    <%for(let i=0;i<locals.user.nots_settings.email.length;i++){%>
                                                                        <%if(locals.user.nots_settings.email[i]=='1'){%>
                                                                            <%flag1=true;%>
                                                                           
                                                                        <%}%>
                                                                        <%if(locals.user.nots_settings.email[i]=='2'){%>
                                                                            <%flag2=true;%>
                                                                        <%}%>
                                                                        <%if(locals.user.nots_settings.email[i]=='3'){%>
                                                                            <%flag3=true;%>
                                                                        <%}%>
                                                                        <%if(locals.user.nots_settings.email[i]=='4'){%>
                                                                            <%flag4=true;%>
                                                                        <%}%>
                                                                        <%if(locals.user.nots_settings.email[i]=='5'){%>
                                                                            <%flag5=true;%>
                                                                        <%}%>
                                                                       <%}%>

                                                                       <%if(flag1){%>
                                                             <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="1" checked ></span>
                                                             <%}else{%>
                                                                <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="1" ></span>
                                                                <%}%>
                                                             <span><b><p style="margin-top: -5px;">Announcements</p></b>
                                                                    <p style="margin-top: -10px; font-size: 0.8rem;">Most important updates on new and exciting products. Sent around once in a month.</p></span></br>
                                                                    </div>
                                                                    <div style="display:inline-flex;margin-bottom: 30px;">
                                                                        <%if(flag2){%>
                                                                    <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="2" checked></span>
                                                                    <%}else{%>
                                                                        <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="2" ></span>
                                                                        <%}%>
                                                                    <span><b><p style="margin-top: -5px;">Savings</p></b>
                                                                        <p style="margin-top: -10px; font-size: 0.8rem;">Get exclusive discounts and offers to save money on your healthcare bill. Sent usually once in 15 days.</p></span>
                                                                    </div>
                                                                    <div style="display:inline-flex;margin-bottom: 30px;">
                                                                        <%if(flag3){%>
                                                                        <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="3" checked ></span>
                                                                        <%}else{%>
                                                                            <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="3" ></span>
                                                                            <%}%>
                                                                        <span><b><p style="margin-top: -5px;">Feedback</p></b>
                                                                            <p style="margin-top: -10px; font-size: 0.8rem;">Get beta invitations, surveys and feedback forms, for sharing your suggestions. Sent once in a month.</p></span>
                                                                        </div>
                                                                
                                                            </div>
                                                            <div class="col-md-3 nots-span" style="display: inline-flex; flex-direction: column;">
                                                                <div style="display:inline-flex; margin-bottom: 30px;">
                                                                    <%if(flag4){%>
                                                             <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="4" checked ></span>
                                                             <%}else{%>
                                                                <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="4" ></span>
                                                                <%}%>
                                                             <span><b><p style="margin-top: -5px;">Health Tips</p></b>
                                                                    <p style="margin-top: -10px; font-size: 0.8rem;">Get the most insightful health tips and articles from verified doctors. Sent 1-2 times per week.</p></span></br>
                                                                    </div>
                                                                    <div style="display:inline-flex;margin-bottom: 30px;">
                                                                        <%if(flag5){%>
                                                                    <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="5" checked ></span>
                                                                    <%}else{%>
                                                                        <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="5" ></span>
                                                                        <%}%>
                                                                    <span><b><p style="margin-top: -5px;">Informational</p></b>
                                                                        <p style="margin-top: -10px; font-size: 0.8rem;">Get to know what's the latest through our newsletters, product updates and more! Sent once in a week.</p></span>
                                                                    </div>
                                                                    
                                                                
                                                            </div>
                                                            <%}%>
                                                        
                                                        
                                                        <%}%>

                                            <%}else{%>
                                            <div class="col-md-3 nots-span" style="display: inline-flex;">
                                                <span style="margin-right: 15px;">
                                                   
                                                    <input type="checkbox" onchange="disableOthers(this);" class="form-check cb" checked></span>
                                                <span><b><p style="margin-top: -5px;">I want to receive:</p></b>
                                                    <p style="margin-top: -10px; font-size: 0.8rem;">You can disable these at any time</p></span>
                                                
                                            </div>
                                            <div class="col-md-5 nots-span" style="display: inline-flex; flex-direction: column;">
                                                <div style="display:inline-flex; margin-bottom: 30px;">
                                             <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="1" checked></span>
                                                <span><b><p style="margin-top: -5px;">Announcements</p></b>
                                                    <p style="margin-top: -10px; font-size: 0.8rem;">Most important updates on new and exciting products. Sent around once in a month.</p></span></br>
                                                    </div>
                                                    <div style="display:inline-flex;margin-bottom: 30px;">
                                                    <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="2" checked></span>
                                                    <span><b><p style="margin-top: -5px;">Savings</p></b>
                                                        <p style="margin-top: -10px; font-size: 0.8rem;">Get exclusive discounts and offers to save money on your healthcare bill. Sent usually once in 15 days.</p></span>
                                                    </div>
                                                    <div style="display:inline-flex;margin-bottom: 30px;">
                                                        <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="3" checked></span>
                                                        <span><b><p style="margin-top: -5px;">Feedback</p></b>
                                                            <p style="margin-top: -10px; font-size: 0.8rem;">Get beta invitations, surveys and feedback forms, for sharing your suggestions. Sent once in a month.</p></span>
                                                        </div>
                                                
                                            </div>
                                            <div class="col-md-3 nots-span" style="display: inline-flex; flex-direction: column;">
                                                <div style="display:inline-flex; margin-bottom: 30px;">
                                             <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="4" checked></span>
                                                <span><b><p style="margin-top: -5px;">Health Tips</p></b>
                                                    <p style="margin-top: -10px; font-size: 0.8rem;">Get the most insightful health tips and articles from verified doctors. Sent 1-2 times per week.</p></span></br>
                                                    </div>
                                                    <div style="display:inline-flex;margin-bottom: 30px;">
                                                    <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb" name="email" value="5" checked></span>
                                                    <span><b><p style="margin-top: -5px;">Informational</p></b>
                                                        <p style="margin-top: -10px; font-size: 0.8rem;">Get to know what's the latest through our newsletters, product updates and more! Sent once in a week.</p></span>
                                                    </div>
                                                    
                                                
                                            </div>
                                            <%}%>
                                           
                                        <!-- /Change Password Form -->

                                    </div>

                                    <div class="col-md-12 col-lg-12"style="border-bottom: 1px solid grey;">
                                        <h3 style="font-size: 0.9rem; font-weight: bold;border-bottom: 1px solid grey;padding-bottom: 10px;">SMS Settings</h3>
                                        <p style="margin-top: 30px;font-size: 0.9rem;margin-bottom: 30px;">You are currently receiving all promotional communications on <b>+91<%=locals.user.phone%> </b></p>
                                        <!-- Change Password Form -->
                                        <%if(locals.user.nots_settings){%>
                                            <%if(!locals.user.nots_settings.phone){%>
                                            <div class="col-md-3 nots-span" style="display: inline-flex;">
                                                <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" onchange="disableOther(this);" ></span>
                                                <span><b><p style="margin-top: -5px;">I want to receive:</p></b>
                                                    <p style="margin-top: -10px; font-size: 0.8rem;">You can disable these at any time</p></span>
                                                
                                            </div>
                                            <div class="col-md-5 nots-span" style="display: inline-flex; flex-direction: column;">
                                                <div style="display:inline-flex; margin-bottom: 30px;">
                                             <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="1" ></span>
                                                <span><b><p style="margin-top: -5px;">Announcements</p></b>
                                                    <p style="margin-top: -10px; font-size: 0.8rem;">Most important updates on new and exciting products. Sent around once in a month.</p></span></br>
                                                    </div>
                                                    <div style="display:inline-flex;margin-bottom: 30px;">
                                                    <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="2" ></span>
                                                    <span><b><p style="margin-top: -5px;">Savings</p></b>
                                                        <p style="margin-top: -10px; font-size: 0.8rem;">Get exclusive discounts and offers to save money on your healthcare bill. Sent usually once in 15 days.</p></span>
                                                    </div>
                                                    <div style="display:inline-flex;margin-bottom: 30px;">
                                                        <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="3" ></span>
                                                        <span><b><p style="margin-top: -5px;">Feedback</p></b>
                                                            <p style="margin-top: -10px; font-size: 0.8rem;">Get beta invitations, surveys and feedback forms, for sharing your suggestions. Sent once in a month.</p></span>
                                                        </div>
                                                
                                            </div>
                                            <div class="col-md-3 nots-span" style="display: inline-flex; flex-direction: column;">
                                                <div style="display:inline-flex; margin-bottom: 30px;">
                                             <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="4" ></span>
                                                <span><b><p style="margin-top: -5px;">Health Tips</p></b>
                                                    <p style="margin-top: -10px; font-size: 0.8rem;">Get the most insightful health tips and articles from verified doctors. Sent 1-2 times per week.</p></span></br>
                                                    </div>
                                                    <div style="display:inline-flex;margin-bottom: 30px;">
                                                    <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="5"></span>
                                                    <span><b><p style="margin-top: -5px;">Informational</p></b>
                                                        <p style="margin-top: -10px; font-size: 0.8rem;">Get to know what's the latest through our newsletters, product updates and more! Sent once in a week.</p></span>
                                                    </div>
                                                    
                                                
                                            </div>
                                            <%}else{%>
                                                <%if(typeof(locals.user.nots_settings.phone) == 'string'){%>
                                                    <div class="col-md-3 nots-span" style="display: inline-flex;">
                                                        <span style="margin-right: 15px;">
                                                           
                                                            <input type="checkbox" onchange="disableOther(this);" checked class="form-check cb"></span>
                                                        <span><b><p style="margin-top: -5px;">I want to receive:</p></b>
                                                            <p style="margin-top: -10px; font-size: 0.8rem;">You can disable these at any time</p></span>
                                                        
                                                    </div>
                                                    <div class="col-md-5 nots-span" style="display: inline-flex; flex-direction: column;">
                                                        <div style="display:inline-flex; margin-bottom: 30px;">
                                                            <%if(locals.user.nots_settings.phone == '1'){%>
                                                     <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="1" checked ></span>
                                                     <%}else{%>
                                                        <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="1" ></span>
                                                        <%}%>
                                                     <span><b><p style="margin-top: -5px;">Announcements</p></b>
                                                            <p style="margin-top: -10px; font-size: 0.8rem;">Most important updates on new and exciting products. Sent around once in a month.</p></span></br>
                                                            </div>
                                                            <div style="display:inline-flex;margin-bottom: 30px;">
                                                                <%if(locals.user.nots_settings.phone == '2'){%>
                                                            <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="2" checked ></span>
                                                            <%}else{%>
                                                                <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="2" ></span>
                                                                <%}%>

                                                            <span><b><p style="margin-top: -5px;">Savings</p></b>
                                                                <p style="margin-top: -10px; font-size: 0.8rem;">Get exclusive discounts and offers to save money on your healthcare bill. Sent usually once in 15 days.</p></span>
                                                            </div>
                                                            <div style="display:inline-flex;margin-bottom: 30px;">
                                                                <%if(locals.user.nots_settings.phone == '3'){%>
                                                                <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="3" checked ></span>
                                                                <%}else{%>
                                                                    <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="3" ></span>
                                                                <%}%>
                                                                <span><b><p style="margin-top: -5px;">Feedback</p></b>
                                                                    <p style="margin-top: -10px; font-size: 0.8rem;">Get beta invitations, surveys and feedback forms, for sharing your suggestions. Sent once in a month.</p></span>
                                                                </div>
                                                        
                                                    </div>
                                                    <div class="col-md-3 nots-span" style="display: inline-flex; flex-direction: column;">
                                                        <div style="display:inline-flex; margin-bottom: 30px;">
                                                            <%if(locals.user.nots_settings.phone == '4'){%>
                                                     <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="4" checked ></span>
                                                     <%}else{%>
                                                        <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="4" ></span>
                                                        <%}%>
                                                     <span><b><p style="margin-top: -5px;">Health Tips</p></b>
                                                            <p style="margin-top: -10px; font-size: 0.8rem;">Get the most insightful health tips and articles from verified doctors. Sent 1-2 times per week.</p></span></br>
                                                            </div>
                                                            <div style="display:inline-flex;margin-bottom: 30px;">
                                                                <%if(locals.user.nots_settings.phone == '5'){%>
                                                            <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="5" checked ></span>
                                                            <%}else{%>
                                                                <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="5" ></span>
                                                                <%}%>
                                                            <span><b><p style="margin-top: -5px;">Informational</p></b>
                                                                <p style="margin-top: -10px; font-size: 0.8rem;">Get to know what's the latest through our newsletters, product updates and more! Sent once in a week.</p></span>
                                                            </div>
                                                            
                                                        
                                                    </div>
                                                <%}else{%>
                                                    <div class="col-md-3 nots-span" style="display: inline-flex;">
                                                        <span style="margin-right: 15px;">
                                                           
                                                            <input type="checkbox" onchange="disableOther(this);" checked class="form-check cb"></span>
                                                        <span><b><p style="margin-top: -5px;">I want to receive:</p></b>
                                                            <p style="margin-top: -10px; font-size: 0.8rem;">You can disable these at any time</p></span>
                                                        
                                                    </div>
                                                    <div class="col-md-5 nots-span" style="display: inline-flex; flex-direction: column;">
                                                        <div style="display:inline-flex; margin-bottom: 30px;">
                                                            <%var flag1 = false,flag2=false,flag3=false,flag4=false,flag5=false;%>
                                                            <%for(let i=0;i<locals.user.nots_settings.phone.length;i++){%>
                                                                <%if(locals.user.nots_settings.phone[i]=='1'){%>
                                                                    <%flag1=true;%>
                                                                   
                                                                <%}%>
                                                                <%if(locals.user.nots_settings.phone[i]=='2'){%>
                                                                    <%flag2=true;%>
                                                                <%}%>
                                                                <%if(locals.user.nots_settings.phone[i]=='3'){%>
                                                                    <%flag3=true;%>
                                                                <%}%>
                                                                <%if(locals.user.nots_settings.phone[i]=='4'){%>
                                                                    <%flag4=true;%>
                                                                <%}%>
                                                                <%if(locals.user.nots_settings.phone[i]=='5'){%>
                                                                    <%flag5=true;%>
                                                                <%}%>
                                                               <%}%>

                                                               <%if(flag1){%>
                                                     <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="1" checked ></span>
                                                     <%}else{%>
                                                        <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="1" ></span>
                                                        <%}%>
                                                     <span><b><p style="margin-top: -5px;">Announcements</p></b>
                                                            <p style="margin-top: -10px; font-size: 0.8rem;">Most important updates on new and exciting products. Sent around once in a month.</p></span></br>
                                                            </div>
                                                            <div style="display:inline-flex;margin-bottom: 30px;">
                                                                <%if(flag2){%>
                                                            <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="2" checked></span>
                                                            <%}else{%>
                                                                <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="2" ></span>
                                                                <%}%>
                                                            <span><b><p style="margin-top: -5px;">Savings</p></b>
                                                                <p style="margin-top: -10px; font-size: 0.8rem;">Get exclusive discounts and offers to save money on your healthcare bill. Sent usually once in 15 days.</p></span>
                                                            </div>
                                                            <div style="display:inline-flex;margin-bottom: 30px;">
                                                                <%if(flag3){%>
                                                                <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="3" checked ></span>
                                                                <%}else{%>
                                                                    <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="3" ></span>
                                                                    <%}%>
                                                                <span><b><p style="margin-top: -5px;">Feedback</p></b>
                                                                    <p style="margin-top: -10px; font-size: 0.8rem;">Get beta invitations, surveys and feedback forms, for sharing your suggestions. Sent once in a month.</p></span>
                                                                </div>
                                                        
                                                    </div>
                                                    <div class="col-md-3 nots-span" style="display: inline-flex; flex-direction: column;">
                                                        <div style="display:inline-flex; margin-bottom: 30px;">
                                                            <%if(flag4){%>
                                                     <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="4" checked ></span>
                                                     <%}else{%>
                                                        <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="4" ></span>
                                                        <%}%>
                                                     <span><b><p style="margin-top: -5px;">Health Tips</p></b>
                                                            <p style="margin-top: -10px; font-size: 0.8rem;">Get the most insightful health tips and articles from verified doctors. Sent 1-2 times per week.</p></span></br>
                                                            </div>
                                                            <div style="display:inline-flex;margin-bottom: 30px;">
                                                                <%if(flag5){%>
                                                            <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="5" checked ></span>
                                                            <%}else{%>
                                                                <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="5" ></span>
                                                                <%}%>
                                                            <span><b><p style="margin-top: -5px;">Informational</p></b>
                                                                <p style="margin-top: -10px; font-size: 0.8rem;">Get to know what's the latest through our newsletters, product updates and more! Sent once in a week.</p></span>
                                                            </div>
                                                            
                                                        
                                                    </div>
                                                    <%}%>
                                                
                                                
                                                <%}%>

                                    <%}else{%>
                                        <div class="col-md-3 nots-span" style="display: inline-flex;">
                                            <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" onchange="disableOther(this);" checked></span>
                                            <span><b><p style="margin-top: -5px;">I want to receive:</p></b>
                                                <p style="margin-top: -10px; font-size: 0.8rem;">You can disable these at any time</p></span>
                                            
                                        </div>
                                        <div class="col-md-5 nots-span" style="display: inline-flex; flex-direction: column;">
                                            <div style="display:inline-flex; margin-bottom: 30px;">
                                         <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="1" checked></span>
                                            <span><b><p style="margin-top: -5px;">Announcements</p></b>
                                                <p style="margin-top: -10px; font-size: 0.8rem;">Most important updates on new and exciting products. Sent around once in a month.</p></span></br>
                                                </div>
                                                <div style="display:inline-flex;margin-bottom: 30px;">
                                                <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="2" checked></span>
                                                <span><b><p style="margin-top: -5px;">Savings</p></b>
                                                    <p style="margin-top: -10px; font-size: 0.8rem;">Get exclusive discounts and offers to save money on your healthcare bill. Sent usually once in 15 days.</p></span>
                                                </div>
                                                <div style="display:inline-flex;margin-bottom: 30px;">
                                                    <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="3" checked></span>
                                                    <span><b><p style="margin-top: -5px;">Feedback</p></b>
                                                        <p style="margin-top: -10px; font-size: 0.8rem;">Get beta invitations, surveys and feedback forms, for sharing your suggestions. Sent once in a month.</p></span>
                                                    </div>
                                            
                                        </div>
                                        <div class="col-md-3 nots-span" style="display: inline-flex; flex-direction: column;">
                                            <div style="display:inline-flex; margin-bottom: 30px;">
                                         <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="4"  checked></span>
                                            <span><b><p style="margin-top: -5px;">Health Tips</p></b>
                                                <p style="margin-top: -10px; font-size: 0.8rem;">Get the most insightful health tips and articles from verified doctors. Sent 1-2 times per week.</p></span></br>
                                                </div>
                                                <div style="display:inline-flex;margin-bottom: 30px;">
                                                <span style="margin-right: 15px;"><input type="checkbox" class="form-check cb2" name="phone" value="5" checked></span>
                                                <span><b><p style="margin-top: -5px;">Informational</p></b>
                                                    <p style="margin-top: -10px; font-size: 0.8rem;">Get to know what's the latest through our newsletters, product updates and more! Sent once in a week.</p></span>
                                                </div>
                                                
                                            
                                        </div>
                                    <%}%>

                                           
                                      
                                        <!-- /Change Password Form -->

                                    </div>

                                   
                                </div>
                               
                            </div>
                            <div class="submit-section">
                                <button type="submit" class="btn btn-primary submit-btn" style="margin-top: 50px;margin-left: 50px;margin-bottom: 50px;">Submit</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->
    <script src="<%=assetPath('js/jquery.min.js')%>"></script>
    <script src="<%=assetPath('js/popper.min.js')%>"></script>

    <script src="<%=assetPath('js/bootstrap.min.js')%>"></script>
   

    <script src="<%=assetPath('plugins/theia-sticky-sidebar/ResizeSensor.js')%>"></script>
    <script src="<%=assetPath('plugins/theia-sticky-sidebar/theia-sticky-sidebar.js')%>"></script>
    <script src="<%=assetPath('js/script.js')%>"></script>

    <script>
       
        function disableOther(element){
            console.log('go')
 
 if(!element.checked){
 
 var checkboxes = document.querySelectorAll('.cb2');
   for(var i=0;i<checkboxes.length;i++){
      if(checkboxes[i]!=element)
        checkboxes[i].checked = false;
   }
   
 }
 
 if(element.checked){
 
 var checkboxes = document.querySelectorAll('.cb2');
   for(var i=0;i<checkboxes.length;i++){
      if(checkboxes[i]!=element)
        checkboxes[i].checked = true;
   }
   
 }
 }
   </script>
    <script>
        function disableOthers(element){

if(!element.checked){

var checkboxes = document.getElementsByClassName('cb');
  for(var i=0;i<checkboxes.length;i++){
     if(checkboxes[i]!=element)
       checkboxes[i].checked = false;
  }
  
}

if(element.checked){

var checkboxes = document.getElementsByClassName('cb');
  for(var i=0;i<checkboxes.length;i++){
     if(checkboxes[i]!=element)
       checkboxes[i].checked = true;
  }
  
}
}

       
  </script>
  
    <script>
        <%if(flash.success && flash.success.length>0){%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.success%>',
            type: 'success',
            layout: 'topRight',
            timeout: 1500
        }).show();
        <%}%>
        <%if(flash.error && flash.error.length>0){%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.error%>',
            type: 'error',
            layout: 'topRight',
            timeout: 3000
        }).show();
        <%}%>
    </script>

</body>

<!-- doccure/doctor-change-password  30 Nov 2019 04:12:36 GMT -->

</html>