<!DOCTYPE html>
<html lang="en">

<!-- doccure/checkout  30 Nov 2019 04:12:16 GMT -->

<head>
    <link rel="stylesheet" href="<%=assetPath('css/bootstrap.min.css')%>">

	<link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/fontawesome.min.css')%>">
    <link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/all.min.css')%>">
    
	<link rel="stylesheet" href="<%=assetPath('css/style1.css')%>">
	<link rel="stylesheet" href="<%=assetPath('css/style.css')%>">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="/js/html5shiv.min.js"></script>
			<script src="/js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->

        <!-- /Header -->

        <!-- Breadcrumb -->

        <div class="breadcrumb-bar lptop" >
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Checkout</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content">
            <div class="container">

                <div class="row">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-body">





                                <div class="info-widget">
                                    <h4 class="card-title">Patient Details</h4>
                                    <div class="row">
                                       
                                    </div>
                                    <%if(type == 'own'){%>
                                    <div class="row" id="ownp">
                                        <h5 style="margin-left: 20px;font-size: 0.9rem;font-weight: 700;margin-bottom: 10px;">Please provide following information about
                                            <%=locals.user.name%>
                                        </h5>
                                        <form action="/user/book-old-appointment" method="POST" style="width: 100%;">
                                            <input type="hidden" name="type" value="own">
                                            <input type="hidden" name="fixed" value="<%=fixed%>">
                                            <input type="hidden" name="doctorid" value="<%=doctor._id%>">
                                            <input type="hidden" name="id" value="<%=id%>">
                                            <input type="hidden" name="booked" value="<%=booked%>">
                                            <input type="hidden" name="available" value="<%=available%>">
                                            <input type="hidden" name="slotindex" value="<%=slotindex%>">
                                            <input type="hidden" name="dayindex" value="<%=dayindex%>">
                                            <input type="hidden" name="date" value="<%=date%>">

                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group card-label">
                                                    <label>Name</label>
                                                    <%if(locals.user.name){%>
                                                        <input class="form-control" type="text" name="name" value="<%=locals.user.name%>" required readonly>
                                                        <%}else{%>
                                                            <input class="form-control" type="text" name="name">

                                                            <%}%>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group card-label">
                                                    <label>Phone</label>
                                                    <%if(locals.user.phone){%>
                                                        <input class="form-control" type="text" name="phone" value="<%=locals.user.phone%>" required readonly>
                                                        <%}else{%>
                                                            <input class="form-control" type="text" name="phone">
                                                            <%}%>

                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group card-label">
                                                    <label>Address</label>
                                                    <%if(locals.user.contacts.address){%>
                                                        <input class="form-control" type="text" name="address" value="<%=locals.user.contacts.address%>" required readonly>
                                                        <%}else{%>
                                                            <input class="form-control" type="text" name="address">
                                                            <%}%>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group card-label">
                                                    <label>Age</label>
                                                    <%if(locals.user.age){%>
                                                        <input class="form-control" type="number" name="age" value="<%=locals.user.age%>" required readonly>
                                                        <%}else{%>
                                                            <input class="form-control" type="number" name="age">
                                                            <%}%>

                                                </div>
                                            </div>
                                            <div class="submit-section mt-4">
                                                <button type="submit" class="btn btn-primary submit-btn" style="margin-left: 10px !important;">Proceed to checkout</button>
                                            </div>
                                        </form>
                                    </div>
                                    <%}else{%>
                                    <div class="row" id="patientp">
                                        <h5 style="margin-left: 20px;font-size: 0.9rem;font-weight: 700;margin-bottom: 10px;">Please provide following information.</h5>
                                        <form action="/user/book-old-appointment" method="POST" style="width: 100%;">
                                            <input type="hidden" name="doctorid" value="<%=doctor._id%>">
                                            <input type="hidden" name="id" value="<%=id%>">
                                            <input type="hidden" name="fixed" value="<%=fixed%>">
                                            <input type="hidden" name="booked" value="<%=booked%>">
                                            <input type="hidden" name="available" value="<%=available%>">
                                            <input type="hidden" name="slotindex" value="<%=slotindex%>">
                                            <input type="hidden" name="dayindex" value="<%=dayindex%>">
                                            <input type="hidden" name="date" value="<%=date%>">
                                            <input type="hidden" name="type" value="other">
                                            <div class="col-md-12 col-sm-12">

                                                <div class="form-group card-label">
                                                    <label>Patients Full Name</label>
                                                    <input class="form-control" type="text" name="pname" value="<%=locals.user.others[n].name%>" placeholder="Enter patient name" required readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group card-label">
                                                    <label>Patient Email (optional) </label>
                                                    <input class="form-control" type="email" name="pemail" value="<%=locals.user.others[n].email%>" placeholder="Enter patient email" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group card-label">
                                                    <label> Patient Phone</label>
                                                    <input class="form-control" type="text" name="pphone" value="<%=locals.user.others[n].phone%>" placeholder="Enter patient phone" required readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group card-label">
                                                    <label> Patient Address</label>
                                                    <input class="form-control" type="text" name="paddress" value="<%=locals.user.others[n].address%>" placeholder="Enter patient address" required readonly >
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group card-label">
                                                    <label> Patient Age</label>
                                                    <input class="form-control" type="text" name="page" value="<%=locals.user.others[n].age%>" placeholder="Enter patient age" required readonly>
                                                </div>
                                            </div>

                                            <div class="submit-section mt-4" style="margin-left: 10px !important;">
                                                <button type="submit" class="btn btn-primary submit-btn ml-4">Procced to checkout</button>
                                            </div>
                                        </form>
                                    </div>
                                    <%}%>
                                </div>






                                <!-- /Personal Information -->


                                <!-- /Checkout Form -->

                            </div>
                        </div>

                    </div>

                    <div class="col-md-5 col-lg-4 theiaStickySidebar">

                        <!-- Booking Summary -->
                        <div class="card booking-card">
                            <div class="card-header">
                                <h4 class="card-title">Booking Appointment</h4>
                            </div>
                            <div class="card-body">

                                <!-- Booking Doctor Info -->
                                <div class="booking-doc-info">
                                    <a href="/doctor-profile" class="booking-doc-img">
                                        <img src="<%=doctor.avatar%>" alt="User Image">
                                    </a>
                                    <div class="booking-info">
                                        <h4>
                                            <a href="/doctor-profile">
                                                <%=doctor.name%>
                                            </a>
                                        </h4>
                                        <%var sum=0,avg,cnt=doctor.reviews.length;%>
                                            <%for(review of doctor.reviews){%>
                                                <%sum+=review.rating;%>
                                                    <%}%>
                                                        <%avg=sum/cnt;%>
                                                            <div class="rating">
                                                                <%if(avg>=1){%>
                                                                    <i class="fas fa-star filled"></i>
                                                                    <%}else{%>
                                                                        <i class="fas fa-star"></i>
                                                                        <%}%>
                                                                            <%if(avg>=2){%>
                                                                                <i class="fas fa-star filled"></i>
                                                                                <%}else{%>
                                                                                    <i class="fas fa-star"></i>
                                                                                    <%}%>
                                                                                        <%if(avg>=3){%>
                                                                                            <i class="fas fa-star filled"></i>
                                                                                            <%}else{%>
                                                                                                <i class="fas fa-star"></i>
                                                                                                <%}%>
                                                                                                    <%if(avg>=4){%>
                                                                                                        <i class="fas fa-star filled"></i>
                                                                                                        <%}else{%>
                                                                                                            <i class="fas fa-star"></i>
                                                                                                            <%}%>
                                                                                                                <%if(avg>=5){%>
                                                                                                                    <i class="fas fa-star filled"></i>
                                                                                                                    <%}else{%>
                                                                                                                        <i class="fas fa-star"></i>
                                                                                                                        <%}%>
                                                                                                                            <span class="d-inline-block average-rating">(<%=doctor.reviews.length%>)</span>
                                                            </div>
                                                            <div class="clinic-details">
                                                                <p class="doc-location"><i class="fas fa-map-marker-alt"></i>
                                                                    <%=doctor.contacts.city%> &nbsp;
                                                                        <%=doctor.contacts.state%>
                                                                </p>
                                                            </div>
                                    </div>
                                </div>
                                <!-- Booking Doctor Info -->

                                <div class="booking-summary">
                                    <div class="booking-item-wrap">
                                        <ul class="booking-date">
                                            <li>Date <span><%=date%></span></li>
                                            <%if(typeof(doctor.schedule_time[dayindex].start) == 'string'){%>
                                                <li>Time <span><%=doctor.schedule_time[dayindex].start.toUpperCase()%></span></li>

                                                <%}else{%>
                                                    <li>Time <span><%=doctor.schedule_time[dayindex].start[slotindex].toUpperCase()%></span></li>
                                                    <%}%>
                                                        <li> Day <span><%=doctor.schedule_time[dayindex].day%></span>
                                        </ul>
                                        <ul class="booking-fee">
                                            <li>Booking Fee <span>Rs <%=doctor.booking_fee%></span></li>
                                            <!-- <li>G.S.T <span>Rs 10</span></li> -->
                                        </ul>
                                        <div class="booking-total">
                                            <ul class="booking-total-list">
                                                <li>
                                                    <span>Total</span>
                                                    <span class="total-cost">Rs <%=doctor.booking_fee%></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Booking Summary -->

                    </div>
                </div>

            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
            <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="<%=assetPath('js/jquery.min.js')%>"></script>
    <script src="<%=assetPath('js/popper.min.js')%>"></script>

    <script src="<%=assetPath('js/bootstrap.min.js')%>"></script>
   

    <script src="<%=assetPath('plugins/theia-sticky-sidebar/ResizeSensor.js')%>"></script>
    <script src="<%=assetPath('plugins/theia-sticky-sidebar/theia-sticky-sidebar.js')%>"></script>
    <script src="<%=assetPath('js/script.js')%>"></script>
    <script>
        var own = document.getElementById('ownp');
        var pat = document.getElementById('patientp');

        function display() {
            own.classList.add('displayNone');
            pat.classList.remove('displayNone');
        }

        function display1() {
            own.classList.remove('displayNone');
            pat.classList.add('displayNone');
        }
    </script>
    <script>
        <%if(flash.success && flash.success.length>0){%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.success%>',
            type: 'success',
            layout: 'topRight',
            timeout: 3000
        }).show();
        <%}%>
        <%if(flash.error && flash.error.length>0){%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.error%>',
            type: 'error',
            layout: 'topRight',
            timeout: 3000
        }).show();
        <%}%>
    </script>

</body>

<!-- doccure/checkout  30 Nov 2019 04:12:16 GMT -->

</html>