<!DOCTYPE html>
<html lang="en">

<!-- doccure/doctor-dashboard  30 Nov 2019 04:12:03 GMT -->

<head>
    <meta charset="utf-8">
    <title>Doccure</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">
    

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/style1.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="/js/html5shiv.min.js"></script>
			<script src="/js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
                <div id="stylenavbar">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
								<span></span>
                        <span></span>
                        <span></span>
                        </span>
                    </a>
                    <a href="/" class="navbar-brand logo">
                        <img src="/img/logo.png" class="img-fluid" alt="Logo">
                    </a>

                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="/" class="menu-logo">
                            <img src="/img/logo.png" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li class="active" style="display: none;">
                            <a href="index" style="font-size: 1.5rem;">Home</a>
                            
                        </li>
                        <li class="mdlist">
                            <a href="/doctors" style="font-size: 1.15rem; margin-top: -5px;font-weight: bold;">Doctors</a>
                            <a href="/doctors" style=" font-size:0.8rem;margin-top: -65px;font-weight: lighter;">Book an appointment</a>
                        </li>

                        <li class="smlist" style="display: none;">
                            <a href="/doctors"><span><i class="fas fa-search" style="margin-right: 15px;"></i></span><b>Doctors</b> - <span>Book an appointment</span></a>
                        </li>
                        <li class="smlist" style="display: none;">
                            <a><span><i class="fas fa-comments" style="margin-right: 15px;"></i></span><b>Consult</b> - <span>Consult with best doctors</span></a>
                        </li>
                        <li class="smlist" style="display: none;">
                            <a><span><i class="fas fa-flask" style="margin-right: 15px;"></i></span><b>Diagonistics</b> - <span>Book tests and checkups</span></a>
                        </li>

                        <li class="mdlist">
                            <a href="#" style="font-size: 1.15rem; margin-top: -5px;font-weight: bold;">Consult</a>
                            <a href="#" style=" font-size:0.8rem;margin-top: -65px;font-weight: lighter;">Consult with best doctors</a>
                        </li>
                        <li class="mdlist">
                            <a href="#" style="font-size: 1.15rem; margin-top: -5px;font-weight: bold;">Diagonistics</a>
                            <a href="#" style=" font-size:0.8rem;margin-top: -65px;font-weight: lighter;">Book tests and checkups</a>
                        </li>
                       



                        <li class="has-submenu" style="display: none;">
                            <a href="#">Pages <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="/voice-call">Voice Call</a></li>
                                <li><a href="/video-call">Video Call</a></li>
                                <li><a href="/consult">consult</a></li>
                                <li><a href="/search">Search Doctors</a></li>
                                <li><a href="/calendar">Calendar</a></li>
                                <li><a href="/components">Components</a></li>
                                <li class="has-submenu">
                                    <a href="invoices">Invoices</a>
                                    <ul class="submenu">
                                        <li><a href="/invoices">Invoices</a></li>
                                        <li><a href="/invoice-view">Invoice View</a></li>
                                    </ul>
                                </li>
                                <li><a href="/blank-page">Starter Page</a></li>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/register">Register</a></li>
                                <li><a href="/forgot-password">Forgot Password</a></li>
                            </ul>
                        </li>

                        <%if(locals.user){%>


                            <%}else{%>
                                <li class="login-link">
                                    <a href="/login">Login / Signup</a>
                                </li>
                                <%}%>
                    </ul>
                </div>
                <ul class="nav header-navbar-rht">
                    <li class="nav-item contact-item">
                        <div class="header-contact-img">
                            <i class="far fa-hospital"></i>
                        </div>
                        <div class="header-contact-detail">
                            <p class="contact-header">Contact</p>
                            <p class="contact-info-header"> +1 315 369 5943</p>
                        </div>
                    </li>
                    <%if(locals.user){%>

                        <%}else{%>
                            <li class="nav-item">
                                <a class="nav-link header-login" href="/login">Login </a>
                            </li>
                            <%}%>
                </ul>
                <%if(locals.user){%>
                    <ul class="nav user-menu mt-md-3">

                        <!-- Notifications -->
                        <li class="nav-item dropdown noti-dropdown bell">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <i class="far fa-bell" style="color: black; "></i> <span class="badge badge-pill">1</span>
                            </a>
                            <div class="dropdown-menu notifications">
                                <div class="topnav-dropdown-header">
                                    <span class="notification-title">Notifications</span>
                                    <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                                </div>
                                <div class="noti-content">
                                    <ul class="notification-list">
                                        <%if(locals.user.approve == true){%>

                                            <li class="notification-message">
                                                <a href="#">
                                                    <div class="media">
                                                        <span class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" alt="User Image" src="<%=locals.user.avatar%>">
                                                    </span>
                                                        <div class="media-body">
                                                            <a href="/doctor-terms-and-condition">
                                                                <p class="noti-details"><span class="noti-title"></span><%=locals.user.name%> <span class="noti-title"> your documents has been verified.</span>
                                                                </p>
                                                            </a>
                                                            <p class="noti-time"><span class="notification-time"></span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="notification-message">
                                                <a href="#">
                                                    <div class="media">
                                                        <span class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" alt="User Image" src="<%=locals.user.avatar%>">
                                                    </span>
                                                        <div class="media-body">
                                                            <a href="/doctor-terms-and-condition">
                                                                <p class="noti-details"><span class="noti-title"></span><%=locals.user.name%> <span class="noti-title"> your documents has been verified.</span>
                                                                </p>
                                                            </a>
                                                            <p class="noti-time"><span class="notification-time"></span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="notification-message">
                                                <a href="#">
                                                    <div class="media">
                                                        <span class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" alt="User Image" src="<%=locals.user.avatar%>">
                                                    </span>
                                                        <div class="media-body">
                                                            <a href="/doctor-terms-and-condition">
                                                                <p class="noti-details"><span class="noti-title"></span><%=locals.user.name%> <span class="noti-title"> your documents has been verified.</span>
                                                                </p>
                                                            </a>
                                                            <p class="noti-time"><span class="notification-time"></span></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <%}%>
                                                <!-- <li class="notification-message">
                                        <a href="#">
                                            <div class="media">
                                                <span class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" alt="User Image" src="//img/patients/patient1.jpg">
                                                    </span>
                                                <div class="media-body">
                                                    <p class="noti-details"><span class="noti-title">Charlene Reed</span> has booked her appointment to <span class="noti-title">Dr. Ruby Perrin</span></p>
                                                    <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="notification-message">
                                        <a href="#">
                                            <div class="media">
                                                <span class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" alt="User Image" src="//img/patients/patient2.jpg">
                                                    </span>
                                                <div class="media-body">
                                                    <p class="noti-details"><span class="noti-title">Travis Trimble</span> sent a amount of $215 for his <span class="noti-title">appointment</span></p>
                                                    <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="notification-message">
                                        <a href="#">
                                            <div class="media">
                                                <span class="avatar avatar-sm">
                                                        <img class="avatar-img rounded-circle" alt="User Image" src="//img/patients/patient3.jpg">
                                                    </span>
                                                <div class="media-body">
                                                    <p class="noti-details"><span class="noti-title">Carl Kelly</span> send a message <span class="noti-title"> to his doctor</span></p>
                                                    <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li> -->
                                    </ul>
                                </div>
                                <div class="topnav-dropdown-footer">
                                    <a href="#">View all Notifications</a>
                                </div>
                            </div>
                        </li>
                        <!-- /Notifications -->

                        <!-- User Menu -->
                        <%if(locals.user.type == 'Doctor'){%>
                            <li class="nav-item dropdown has-arrow">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <span class="user-img"><img class="rounded-circle" src="<%=locals.user.avatar%>" width="31" alt="Ryan Taylor"></span>
                                </a>
                                <div class="dropdown-menu profile-drop">
                                    <div class="user-header">
                                        <div class="avatar avatar-sm">
                                            <img src="<%=locals.user.avatar%>" onerror='this.src="/img/doctors/doctor-01.jpg"' alt="User Image" class="avatar-img rounded-circle">
                                        </div>
                                        <div class="user-text">
                                            <h6>Dr.
                                                <%=locals.user.name%>
                                            </h6>
                                            <p class="text-muted mb-0">Doctor</p>
                                        </div>
                                    </div>
                                    <a class="dropdown-item" href="/doctor-profile-settings">My Profile</a>
                                    <a class="dropdown-item" href="/doctor-dashboard">My Dashboard</a>
                                    <a class="dropdown-item" href="/chat">Messages</a>
                                    <a class="dropdown-item" href="/schedule-timings">Schedule Timing</a>
                                    <a class="dropdown-item" href="/appointments">Appointments</a>
                                    <a class="dropdown-item" href="/my-patients">My Patients</a>
                                    <a class="dropdown-item" href="/invoices">Invoices</a>
                                    <a class="dropdown-item" href="/review">Review</a>
                                    

                                    <a class="dropdown-item" href="/settings">Settings</a>
                                    <a class="dropdown-item" href="/user/logout">Logout</a>
                                </div>
                            </li>
                            <%}%>
                                <%if(locals.user.type == 'Patient'){%>
                                    <li class="nav-item dropdown has-arrow">
                                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                            <span class="user-img"><img class="rounded-circle" src="<%=locals.user.avatar%> " onerror='this.src="/img/doctors/doctor-01.jpg"' width="31" alt="Ryan Taylor"></span>
                                        </a>
                                        <div class="dropdown-menu profile-drop">
                                            <div class="user-header">
                                                <div class="avatar avatar-sm">
                                                    <img src="<%=locals.user.avatar%>" alt="User Image" onerror='this.src="/img/doctors/doctor-01.jpg"' class="avatar-img rounded-circle">
                                                </div>
                                                <div class="user-text">
                                                    <h6>
                                                        <%=locals.user.name%>
                                                    </h6>
                                                    <p class="text-muted mb-0">Patient</p>
                                                </div>
                                            </div>

                                            <a class="dropdown-item" href="/profile-settings">My Profile</a>
                                            <a class="dropdown-item" href="/patient-dashboard">My Dashboard</a>
                                            <a class="dropdown-item" href="/prescription">My Prescriptions</a>
                                            <a class="dropdown-item" href="/medical-records">My Medical records</a>
                                            <a class="dropdown-item" href="/my-billing">My Billings</a>
                                            <a class="dropdown-item" href="/favourites">My Favourites</a>
                                            <a class="dropdown-item" href="/other-patients">Other Patient Appointment</a>
                                            <a class="dropdown-item" href="/chat">Messages</a>
                                         
                                            <a class="dropdown-item" href="/settings">Settings</a>
                                            <a class="dropdown-item" href="/user/logout">Logout</a>
                                        </div>
                                    </li>
                                    <%}%>

                                        <!-- /User Menu -->

                    </ul>
                    <%}%>

                        <!-- <%if(locals.user){%>
                    <%if(locals.user.type == 'Doctor'){%>
                        <div class="hideinphone" style="margin-left: 25px;">
                            <ul class="main-nav amain-nav">

                                        <li class="has-submenu ahas-submenu">
                                            <a href="#">
                                                <span class="user-img">
                                <img class="rounded-circle" src="<%=locals.user.avatar%>" onerror=this.src="/img/profile.png" width="31" alt="Ryan Taylor">
                            </span>
                                        <i class="fas fa-chevron-down"></i>
                                    </a>

                                    <ul class="submenu asubmenun phoneul">
                                        <li><a href="/doctor-dashboard">My Dashboard</a></li>
                                        <li><a href="/appointments">Appointments</a></li>
                                        <li><a href="/schedule-timings">Schedule Timing</a></li>
                                        <li><a href="/chat-doctor">Chat</a></li>
                                        
                                        <li><a href="/doctor-profile-settings">Profile Settings</a></li>
                                        
                                        <li><a href="/user/logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    <%}%>
                <%if(locals.user.type == 'Patient'){%>
                    <div class="main-menu-wrapper hideinphone" style="margin-left: 25px; display: none;">
                        <ul class="main-nav amain-nav">
                            <li class="has-submenu ahas-submenu">
                                <a href="#">
                                    <span class="user-img">
                        <img class="rounded-circle" src="<%=locals.user.avatar%>" onerror=this.src="//img/profile.png" width="31" alt="Ryan Taylor">
                    </span>
                                    <i class="fas fa-chevron-down"></i>
                                </a>

                                <ul class="submenu asubmenu">
                                    <li><a href="/search">Search Doctor</a></li>
                                    <li><a href="/booking">Booking</a></li>
                                    <li><a href="/checkout">Checkout</a></li>
                                    <li><a href="/booking-success">Booking Success</a></li>
                                    <li><a href="/patient-dashboard">My Dashboard</a></li>
                                    <li><a href="/favourites">My Favourites</a></li>
                                    <li><a href="/chat">Messages</a></li>
                                    <li><a href="/profile-settings">Profile Settings</a></li>
                                    <li><a href="/change-password">Change Password</a></li>
                                    <li><a href="/user/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <%}%>
                <%}%> -->
                </div>
            </nav>
        </header>
        <!-- /Header -->

        <!-- Breadcrumb -->
        <%if(locals.user.type == 'Staff'){%>
        <div class="breadcrumb-bar"  style="padding: 10px 0px !important;margin-top: 20px;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6 col-12" style="margin-bottom: 15px;">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Track Patients Online</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Patient Tracking system</h2>
                    </div>
                   
                   
                </div>
            </div>
        </div>
        <%}%>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content" style="padding-top: 0px !important;">
            <div class="container-fluid" style="padding-right: 0px !important;padding-left: 0px !important;">

                <div class="row">
                
                   

                    <div class="col-md-12 col-lg-12 col-xl-12">

                      <%if(locals.user.type == 'Staff'){%>

                        <div class="row" id="patient_track" style="padding-top: 15px;padding-left:10px;">
                            <div class="col-md-12">
                                <h4 class="mb-4">Patient Appoinment</h4>
                                <div class="appointment-tab">

                                    <!-- Appointment Tab -->
                                    <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#upcoming-appointments" data-toggle="tab">Upcoming</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#today-appointments" data-toggle="tab">Today</a>
                                        </li>
                                    </ul>
                                    <!-- /Appointment Tab -->

                                    <%var today = new Date();%>
                                    <%var dd = String(today.getDate()).padStart(2, '0');
                                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                    var yyyy = today.getFullYear();
                                    var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                    var dayOfWeek = weekday[today.getDay()];%>
                                                
                                    <%var slots=0,sindex=0;%>
                                    <%for(let i2 = 0 ; i2< user1.doctorid.schedule_time.length; i2++){%>
                                        <%if(user1.doctorid.schedule_time[i2].day.toUpperCase() == dayOfWeek.toUpperCase()){%>
                                            <%if(typeof(user1.doctorid.schedule_time[i2].start)!='string'){%>
                                            <%slots = user1.doctorid.schedule_time[i2].start.length;sindex=i2%>
                                            <%}%>
                                        <%}%>
                                    
                                    <%}%>

                                    <%if(slots <= 1){%>
                                        <div class="tab-content">

                                       
                                            <div class="tab-pane show active" id="upcoming-appointments">
                                                <div class="card card-table mb-0">
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table table-hover table-center mb-0">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Patient Name</th>
                                                                        <th>Patient Age</th>
                                                                        <th>Patient Phone</th>
                                                                        <th>Patient Address</th>
                                                                        <th>Booking Mode</th>
                                                                        <th class="text-center">Status</th>
                                                                        <th class="text-center">Track</th>
                                                                        <th class=""></th>
                                                                       
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <%var c=1%>
                                                                    <%var b = 0;%>
                                                                    <%for(patients of locals.user.booking){%>
                                                                    <%var today = new Date();
                                                                    var dd = String(today.getDate()).padStart(2, '0');
                                                                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                                    var yyyy = today.getFullYear();
                                                                    var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                                    var dayOfWeek = weekday[today.getDay()];%>
                                                                    <%var today = patients.createdAt;
                                                                    var dd1= String(today.getDate()).padStart(2, '0');
                                                                    var mm1 = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                                    var yyyy1 = today.getFullYear();
                                                                    var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                                    var dayOfWeek = weekday[today.getDay()];%>
                                                                    <%var str1 = dd+'-'+mm+'-'+yyyy;%>
                                                                    <%var str2 = dd1+'-'+mm1+'-'+yyyy1;%>
                                                                    
                                                                    <%if(str1 != str2 || patients.cancel != false){%>
                                                                        <%b++;continue;%>
                                                                    <%}%>
                                                                   
                                                                     
                                                                        <td>
                                                                            <h2 class="table-avatar">
                                                                                
                
                                                                                <a href="#"><%=patients.name%> <span>#PT00<%=c%></span></a>
                                                                            </h2>
                                                                        </td>
                                                                       <td><%=patients.age%></td>
                
                                                                       <td><%=patients.phone%></td>
                
                                                                       <td><%=patients.address%></td>
                                                                       <%if(patients.type=='online'){%>
                                                                       <td><span class="badge badge-pill bg-sucIcess-light"><%=patients.type.toUpperCase()%></span></td>
                                                                       <%}else{%>
                                                                        <td><span class="badge badge-pill bg-danger-light"><%=patients.type.toUpperCase()%></span></td>
                
                                                                        <%}%>
                
                                                                        
                                                                            
                                                                                <%if(patients.cancel == true){%>
                                                                                    <td><span class="badge badge-pill bg-danger-light">Cancelled</span></td>
                                                                                    <%}else{%>
                                                                                      <td><span class="badge badge-pill bg-success-light">Confirm</span></td>
                                                                                      <%}%>
                                                                        <%var tflag = false;%>
                                                                        
                                                                        <%for(track of user.tracked){%>
                                                                                                            
                                                                            <%if(track.tid == patients.id && track.status == 'ongoing'){%>
                                                                                <%console.log(track.tid)%>
                                                                                <%tflag = true;%>
                                                                            <%}%>
                                                                            <%}%> 
                                                                        <%if(!tflag){%>             
                                                                       <td id="updatedStatus1"><a data-count='<%=c++%>' data-mindex='<%=b%>' data-tid='<%=patients._id%>' data-name='<%=patients.name%>' data-waiting='<%=patients.waiting%>' style="padding: 8px;border:1px solid grey;border-radius: 5px; background-color:crimson;color: white;cursor: pointer;width:140px;display: inline-block;text-align: center;" id="updateStatus">Check In</a></td>        
                                                                       <%}else{%>
                                                                        <td id="updatedStatus1" class="displayNone"><a data-count='<%=c++%>'data-mindex='<%=b%>' data-tid='<%=patients._id%>' data-name='<%=patients.name%>' data-waiting='<%=patients.waiting%>' style="padding: 8px;border:1px solid grey;border-radius: 5px; background-color:crimson;color: white;cursor: pointer;width:140px;display: inline-block;text-align: center;" id="updateStatus">Check In</a></td>        
                                                                       <td id="updatedStatus3"><a style="padding: 8px;border:1px solid grey;border-radius: 5px; background-color:forestgreen;color: white;cursor: pointer;width:140px;display: inline-block;text-align: center;"><i class="fas fa-check-square" style="margin-right: 8px;"></i>Checked In</a></td>        
                                                                       <%}%> 
                                                                       <td class="displayNone" id="updatedStatus2"><a style="padding: 8px;border:1px solid grey;border-radius: 5px; background-color:forestgreen;color: white;cursor: pointer;width:140px;display: inline-block;text-align: center;"><i class="fas fa-check-square" style="margin-right: 8px;"></i>Checked In</a></td>        
     
                                                                    </tr>
                                                                    <%b++;%>
                                                                    <%}%>
                                                                   
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          
    
                                        </div> 
                                    <%}else{%>
                                        <%for(let i1 =0 ;i1<slots;i1++){%>
                                              <ul class="nav nav-tabs nav-tabs-solid  text-center">
                                                <li class="nav-item" style="width: 100%;">
                                                    <a class="nav-link active" href="#upcoming-appointments" style="height: 70px !important;padding-top: 12px;font-size: 1.8rem;font-weight: bold;margin-bottom: 10px;" data-toggle="tab" ><span style="margin-right: 30px;"> Slot <%=i1+1%> </span> <span style="font-size: 1.2rem;border:1px solid white;padding: 8px;margin-top: -10px;"><%=user1.doctorid.schedule_time[sindex].start[i1].toUpperCase()%> - <%=user1.doctorid.schedule_time[sindex].end[i1].toUpperCase()%></span></a>
                                                </li>
                                              </ul>
                                              <div class="tab-content">

                                       
                                                <div class="tab-pane show active" id="upcoming-appointments">
                                                    <div class="card card-table mb-0">
                                                        <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-hover table-center mb-0">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Patient Name</th>
                                                                            <th>Patient Age</th>
                                                                            <th>Patient Phone</th>
                                                                            <th>Patient Address</th>
                                                                            <th>Booking Mode</th>
                                                                            <th class="text-center">Status</th>
                                                                            <th class="text-center">Track</th>
                                                                            <th class=""></th>
                                                                           
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <%var c=1%>
                                                                        <%var b = 0;%>
                                                                        <%for(patients of locals.user.booking){%>
                                                                        <%var today = new Date();
                                                                        var dd = String(today.getDate()).padStart(2, '0');
                                                                        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                                        var yyyy = today.getFullYear();
                                                                        var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                                        var dayOfWeek = weekday[today.getDay()];%>
                                                                        <%var today = patients.createdAt;
                                                                        var dd1= String(today.getDate()).padStart(2, '0');
                                                                        var mm1 = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                                        var yyyy1 = today.getFullYear();
                                                                        var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                                        var dayOfWeek = weekday[today.getDay()];%>
                                                                        <%var str1 = dd+'-'+mm+'-'+yyyy;%>
                                                                        <%var str2 = dd1+'-'+mm1+'-'+yyyy1;%>
                                                                        
                                                                        <%if(str1 != str2 || patients.slot != i1){%>
                                                                            <%b++;continue;%>
                                                                        <%}%>
                                                                       
                                                                         
                                                                            <td>
                                                                                <h2 class="table-avatar">
                                                                                    
                    
                                                                                    <a href="#"><%=patients.name%> <span>#PT00<%=c%></span></a>
                                                                                </h2>
                                                                            </td>
                                                                           <td><%=patients.age%></td>
                    
                                                                           <td><%=patients.phone%></td>
                    
                                                                           <td><%=patients.address%></td>
                                                                           <%if(patients.type=='online'){%>
                                                                           <td><span class="badge badge-pill bg-sucIcess-light"><%=patients.type.toUpperCase()%></span></td>
                                                                           <%}else{%>
                                                                            <td><span class="badge badge-pill bg-danger-light"><%=patients.type.toUpperCase()%></span></td>
                    
                                                                            <%}%>
                    
                                                                            
                                                                                
                                                                                    <%if(patients.cancel == true){%>
                                                                                        <td><span class="badge badge-pill bg-danger-light">Cancelled</span></td>
                                                                                        <%}else{%>
                                                                                          <td><span class="badge badge-pill bg-success-light">Confirm</span></td>
                                                                                          <%}%>
                                                                            <%var tflag = false;%>
                                                                            
                                                                            <%for(track of user.tracked){%>
                                                                                                                
                                                                                <%if(track.tid == patients.id && track.status == 'ongoing'){%>
                                                                                    <%console.log(track.tid)%>
                                                                                    <%tflag = true;%>
                                                                                <%}%>
                                                                                <%}%> 
                                                                            <%if(!tflag){%>             
                                                                           <td id="updatedStatus1<%=i1%>"><a data-count='<%=c++%>' data-slot='<%=i1%>' data-mindex='<%=b%>' data-tid='<%=patients._id%>' data-name='<%=patients.name%>' data-waiting='<%=patients.waiting%>' style="padding: 8px;border:1px solid grey;border-radius: 5px; background-color:crimson;color: white;cursor: pointer;width:140px;display: inline-block;text-align: center;" id="updateStatus<%=i1%>">Check In</a></td>        
                                                                           <%}else{%>
                                                                            <td id="updatedStatus1<%=i1%>" class="displayNone"><a data-count='<%=c++%>'data-mindex='<%=b%>' data-tid='<%=patients._id%>' data-name='<%=patients.name%>' data-waiting='<%=patients.waiting%>' style="padding: 8px;border:1px solid grey;border-radius: 5px; background-color:crimson;color: white;cursor: pointer;width:140px;display: inline-block;text-align: center;" id="updateStatus<%=i1%>">Check In</a></td>        
                                                                           <td id="updatedStatus3<%=i1%>"><a style="padding: 8px;border:1px solid grey;border-radius: 5px; background-color:forestgreen;color: white;cursor: pointer;width:140px;display: inline-block;text-align: center;"><i class="fas fa-check-square" style="margin-right: 8px;"></i>Checked In</a></td>        
                                                                           <%}%> 
                                                                           <td class="displayNone" id="updatedStatus2<%=i1%>"><a style="padding: 8px;border:1px solid grey;border-radius: 5px; background-color:forestgreen;color: white;cursor: pointer;width:140px;display: inline-block;text-align: center;"><i class="fas fa-check-square" style="margin-right: 8px;"></i>Checked In</a></td>        
         
                                                                        </tr>
                                                                        <%b++;%>
                                                                        <%}%>
                                                                       
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                              
        
                                            </div> 

                                        <%}%>

                                        <%}%>
                                  
                            
                                 
                                </div>
                            </div>
                        </div>
                        <%}%>
                        <%if(locals.user.type == 'Staff'){%>
                               <%if(slots <= 1){%>
                                    <div class="" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('/img/app.jpeg');min-height: 100vh;height: auto;background-size: cover;background-repeat: no-repeat;padding-bottom: 100px;">
                                        <div id="track_header" style="padding-top: 50px;">
                                            <h2 class="text-center font-weight-bolder"style="font-size:2.8rem;color:white" >Welcome To The Online Patient Tracking System</h2>
                                        </div>
                                        <div class="patient_tracking_display">
                                            <%var last=0;%>
                                            <ul id="patient-ul">
                                                <%for(u of user1.tracked){%>
                                                    <%var today = new Date();
                                                    var dd = String(today.getDate()).padStart(2, '0');
                                                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                    var yyyy = today.getFullYear();
                                                    var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                    var dayOfWeek = weekday[today.getDay()];%>
                                                    <%var today = u.createdAt;
                                                    var dd1= String(today.getDate()).padStart(2, '0');
                                                    var mm1 = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                    var yyyy1 = today.getFullYear();
                                                    var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                    var dayOfWeek = weekday[today.getDay()];%>
                                                    <%var str1 = dd+'-'+mm+'-'+yyyy;%>
                                                    <%var str2 = dd1+'-'+mm1+'-'+yyyy1;%>
                                                    
                                                    <%if(str1 != str2){%>
                                                        <%continue;%>
                                                    <%}%>
                                                    
                                                    <li class="patient-li unique">
                                                        <h4><span><i class="fas fa-user-md"></i></span>Patient No. <%=u.seat%></h4>
                                                        <%last=u.seat%>
                                                        <h5><%=u.name%></h5>
                                                        <a class="displayNone uongoing">Ongoing</a>
                                                        <%if(u.status == 'Waiting'){%>
                                                            <h3 class="b_red uwaiting"><span><i class="fas fa-hourglass" aria-hidden="true" style="margin-right: 8px;"></i></span>Waiting</h3>
                                                            <h3 class="displayNone uvisited"><span><i class="fas fa-child" aria-hidden="true" style="margin-right: 8px;"></i></span>Visited</h3>                                               
                                                        <%}else{%>
                                                            <h3 class="b_red uwaiting displayNone"><span><i class="fas fa-hourglass" aria-hidden="true" style="margin-right: 8px;"></i></span>Waiting</h3>
                                                            <h3 class="uvisited"><span><i class="fas fa-child" aria-hidden="true" style="margin-right: 8px;"></i></span>Visited</h3>
                                                            <%}%> 
                                                        <%var date = u.time.toLocaleTimeString();
                                                        var date1 = date.slice(0,4);
                                                        var date2 = date.slice(8,10);%>
                                                        <p>CheckIn Time : <%=date1%>&nbsp;<%=date2%></p>
                                                    </li>
                                            <%}%>
                                            
                                            </ul>
                                            <%if(last==0){%>
                                                <div id="no_patient">
                                                <h1 class="text-center font-weight-bolder"style="font-size:2rem;color:black"><span><i class="fas fa-search" style="margin-right: 15px;"></i></span>Doctor has not started seeing yet!</h1>
                                                <h2 class="text-center font-weight-bolder"style="font-size:1.5rem;color:black;margin-bottom:30px;">Stay Tuned to see the live tracking.</h2>
                                                </div>
                                                <%}%>
                                            <ul class="nav nav-tabs nav-tabs-solid  text-center">
                                                <li class="nav-item" style="width: 100%;">
                                                    <a class="nav-link active" href="#upcoming-appointments" style="height: 70px !important;padding-top: 15px;font-size: 1.8rem;font-weight: bold;margin-bottom: 30px;" data-toggle="tab" >Upcoming Appointments</a>
                                                </li>
                                            </ul>
                                            <div class="upcoming_patient_display">
                                                <ul id="patient-ul" class="upcoming-ul">
                                                    <%var c=last;%>
                                                    <%for(let i = 0 ; i<user1.booking.length;i++){%>
                                                        <%var today = new Date();
                                                        var dd = String(today.getDate()).padStart(2, '0');
                                                        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                        var yyyy = today.getFullYear();
                                                        var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                        var dayOfWeek = weekday[today.getDay()];%>
                                                        <%var today = user1.booking[i].createdAt;
                                                        var dd1= String(today.getDate()).padStart(2, '0');
                                                        var mm1 = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                        var yyyy1 = today.getFullYear();
                                                        var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                        var dayOfWeek = weekday[today.getDay()];%>
                                                        <%var str1 = dd+'-'+mm+'-'+yyyy;%>
                                                        <%var str2 = dd1+'-'+mm1+'-'+yyyy1;%>
                                                        
                                                        <%if(str1 != str2){%>
                                                            <%continue;%>
                                                        <%}%>

                                                        <%if(user1.booking[i].seat > c){%>
                                                            <%var c1 = user1.booking[i].seat;%>
                                                        <li class="patient-li upcoming-li" data-index="<%=c1%>">
                                                            <h4><span><i class="fas fa-user-md"></i></span>Patient No. <%=user1.booking[i].seat%></h4>
                                                            <h5><%=user1.booking[i].name%></h5>
                                                            
                                                        </li>
                                                        <%}%>
                                                <%}%>
                                                
                                                </ul>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <%}else{%>
                                        <%for(let i1 =0 ;i1<slots;i1++){%>
                                            <div class="" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('/img/app.jpeg');min-height: 100vh;height: auto;background-size: cover;background-repeat: no-repeat;padding-bottom: 100px;">
                                                <div id="track_header" style="padding-top: 50px;">
                                                    <h2 class="text-center font-weight-bolder"style="font-size:2.8rem;color:white" >Welcome To The Online Patient Tracking System</h2>
                                                </div>
                                                <div class="patient_tracking_display">
                                                    <%var last=0;%>
                                                    <ul id="patient-ul<%=i1%>">
                                                        <%for(u of user1.tracked){%>
                                                            <%var today = new Date();
                                                            var dd = String(today.getDate()).padStart(2, '0');
                                                            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                            var yyyy = today.getFullYear();
                                                            var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                            var dayOfWeek = weekday[today.getDay()];%>
                                                            <%var today = u.createdAt;
                                                            var dd1= String(today.getDate()).padStart(2, '0');
                                                            var mm1 = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                            var yyyy1 = today.getFullYear();
                                                            var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                            var dayOfWeek = weekday[today.getDay()];%>
                                                            <%var str1 = dd+'-'+mm+'-'+yyyy;%>
                                                            <%var str2 = dd1+'-'+mm1+'-'+yyyy1;%>
                                                            
                                                            <%if(str1 != str2 || u.slot != i1){%>
                                                                <%continue;%>
                                                            <%}%>
                                                            
                                                            <li class="patient-li unique">
                                                                <h4><span><i class="fas fa-user-md"></i></span>Patient No. <%=u.seat%></h4>
                                                                <%last=u.seat%>
                                                                <h5><%=u.name%></h5>
                                                                <a class="displayNone uongoing<%=i1%>">Ongoing</a>
                                                                <%if(u.status == 'Waiting'){%>
                                                                    <h3 class="b_red uwaiting<%=i1%>"><span><i class="fas fa-hourglass" aria-hidden="true" style="margin-right: 8px;"></i></span>Waiting</h3>
                                                                    <h3 class="displayNone uvisited<%=i1%>"><span><i class="fas fa-child" aria-hidden="true" style="margin-right: 8px;"></i></span>Visited</h3>                                               
                                                                <%}else{%>
                                                                    <h3 class="b_red uwaiting<%=i1%> displayNone"><span><i class="fas fa-hourglass" aria-hidden="true" style="margin-right: 8px;"></i></span>Waiting</h3>
                                                                    <h3 class="uvisited<%=i1%>"><span><i class="fas fa-child" aria-hidden="true" style="margin-right: 8px;"></i></span>Visited</h3>
                                                                    <%}%> 
                                                                <%var date = u.time.toLocaleTimeString();
                                                                var date1 = date.slice(0,4);
                                                                var date2 = date.slice(8,10);%>
                                                                <p>CheckIn Time : <%=date1%>&nbsp;<%=date2%></p>
                                                            </li>
                                                    <%}%>
                                                    
                                                    </ul>
                                                    <%if(last==0){%>
                                                        <div id="no_patient<%=i1%>">
                                                        <h1 class="text-center font-weight-bolder"style="font-size:2rem;color:black"><span><i class="fas fa-search" style="margin-right: 15px;"></i></span>Doctor has not started seeing yet!</h1>
                                                        <h2 class="text-center font-weight-bolder"style="font-size:1.5rem;color:black;margin-bottom:30px;">Stay Tuned to see the live tracking.</h2>
                                                        </div>
                                                        <%}%>
                                                    <ul class="nav nav-tabs nav-tabs-solid  text-center">
                                                        <li class="nav-item" style="width: 100%;">
                                                            <a class="nav-link active" href="#upcoming-appointments" style="height: 70px !important;padding-top: 15px;font-size: 1.8rem;font-weight: bold;margin-bottom: 30px;" data-toggle="tab" >Upcoming Appointments</a>
                                                        </li>
                                                    </ul>
                                                    <div class="upcoming_patient_display">
                                                        <ul id="patient-ul<%=i1%>" class="upcoming-ul<%=i1%>">
                                                            <%var c=last;%>
                                                            <%for(let i = 0 ; i<user1.booking.length;i++){%>
                                                                <%var today = new Date();
                                                                var dd = String(today.getDate()).padStart(2, '0');
                                                                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                                var yyyy = today.getFullYear();
                                                                var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                                var dayOfWeek = weekday[today.getDay()];%>
                                                                <%var today = user1.booking[i].createdAt;
                                                                var dd1= String(today.getDate()).padStart(2, '0');
                                                                var mm1 = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                                var yyyy1 = today.getFullYear();
                                                                var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                                var dayOfWeek = weekday[today.getDay()];%>
                                                                <%var str1 = dd+'-'+mm+'-'+yyyy;%>
                                                                <%var str2 = dd1+'-'+mm1+'-'+yyyy1;%>
                                                                
                                                                <%if(str1 != str2|| user1.booking[i].slot != i1){%>
                                                                    <%continue;%>
                                                                <%}%>
        
                                                                <%if(user1.booking[i].seat > c){%>
                                                                    <%var c1 = user1.booking[i].seat;%>
                                                                <li class="patient-li upcoming-li<%=i1%>" data-index="<%=c1%>">
                                                                    <h4><span><i class="fas fa-user-md"></i></span>Patient No. <%=user1.booking[i].seat%></h4>
                                                                    <h5><%=user1.booking[i].name%></h5>
                                                                    
                                                                </li>
                                                                <%}%>
                                                        <%}%>
                                                        
                                                        </ul>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        <%}%>
                                    <%}%>
                        <%}else{%>
                            <%var slots=0,sindex=0;%>
                            <%var today = new Date();%>
                            <%var dd = String(today.getDate()).padStart(2, '0');
                            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                            var yyyy = today.getFullYear();
                            var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                            var dayOfWeek = weekday[today.getDay()];%>
                            <%for(let i2 = 0 ; i2< user1.doctorid.schedule_time.length; i2++){%>
                                <%if(user1.doctorid.schedule_time[i2].day.toUpperCase() == dayOfWeek.toUpperCase()){%>
                                    <%if(typeof(user1.doctorid.schedule_time[i2].start)!='string'){%>
                                    <%slots = user1.doctorid.schedule_time[i2].start.length;sindex=i2%>
                                    <%}%>
                                <%}%>
                            
                            <%}%>
                            <%if(slots <= 1){%>
                        <div style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('/img/app.jpeg');min-height: 100vh;height: auto;background-size: cover;background-repeat: no-repeat;padding-bottom: 100px;">
                            <div id="track_header" style="padding-top: 50px;">
                                <h2 class="text-center font-weight-bolder"style="font-size:2.8rem;color:white" >Welcome To The Online Patient Tracking System</h2>
                            </div>
                            <div class="patient_tracking_display">
                                <%var last=0;%>
                                <ul id="patient-ul">
                                    <%for(u of user1.tracked){%>
                                        <%var today = new Date();
                                        var dd = String(today.getDate()).padStart(2, '0');
                                        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                        var yyyy = today.getFullYear();
                                        var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                        var dayOfWeek = weekday[today.getDay()];%>
                                        <%var today = u.createdAt;
                                        var dd1= String(today.getDate()).padStart(2, '0');
                                        var mm1 = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                        var yyyy1 = today.getFullYear();
                                        var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                        var dayOfWeek = weekday[today.getDay()];%>
                                        <%var str1 = dd+'-'+mm+'-'+yyyy;%>
                                        <%var str2 = dd1+'-'+mm1+'-'+yyyy1;%>
                                        
                                        <%if(str1 != str2){%>
                                            <%continue;%>
                                        <%}%>
                                        
                                        <li class="patient-li">
                                            <h4><span><i class="fas fa-user-md"></i></span>Patient No. <%=u.seat%></h4>
                                            <%last=u.seat%>
                                            <h5><%=u.name%></h5>
                                            <a class="displayNone uongoing">Ongoing</a>
                                            <%if(u.status == 'Waiting'){%>
                                                <h2 class="b_red uwaiting"><span><i class="fas fa-hourglass" aria-hidden="true" style="margin-right: 8px;"></i></span>Waiting</h3>
                                                <h3 class="displayNone uvisited"><span><i class="fas fa-child" aria-hidden="true" style="margin-right: 8px;"></i></span>Visited</h3>                                               
                                            <%}else{%>
                                                <h2 class="b_red uwaiting displayNone"><span><i class="fas fa-hourglass" aria-hidden="true" style="margin-right: 8px;"></i></span>Waiting</h3>
                                                <h3 class="uvisited"><span><i class="fas fa-child" aria-hidden="true" style="margin-right: 8px;"></i></span>Visited</h3>
                                                <%}%>
                                            <%var date = u.time.toLocaleTimeString();
                                            var date1 = date.slice(0,4);
                                            var date2 = date.slice(8,10);%>
                                            <p>CheckIn Time : <%=date1%>&nbsp;<%=date2%></p>
                                        </li>
                                <%}%>
                                
                                </ul>
                                <%if(last==0){%>
                                    <div id="no_patient">
                                    <h1 class="text-center font-weight-bolder"style="font-size:2rem;color:black"><span><i class="fas fa-search" style="margin-right: 15px;"></i></span>Doctor has not started seeing yet!</h1>
                                    <h2 class="text-center font-weight-bolder"style="font-size:1.5rem;color:black;margin-bottom:30px;">Stay Tuned to see the live tracking.</h2>
                                    </div>
                                    <%}%>
                                <ul class="nav nav-tabs nav-tabs-solid  text-center">
                                    <li class="nav-item" style="width: 100%;">
                                        <a class="nav-link active" href="#upcoming-appointments" style="height: 70px !important;padding-top: 15px;font-size: 1.8rem;font-weight: bold;margin-bottom: 30px;" data-toggle="tab" >Upcoming Appointments</a>
                                    </li>
                                </ul>
                                <div class="upcoming_patient_display">
                                    <ul id="patient-ul" class="upcoming-ul">
                                       <%var c=last;%>
                                        <%for(let i = 0 ; i<user1.booking.length;i++){%>
                                            <%var today = new Date();
                                            var dd = String(today.getDate()).padStart(2, '0');
                                            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                            var yyyy = today.getFullYear();
                                            var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                            var dayOfWeek = weekday[today.getDay()];%>
                                            <%var today = user1.booking[i].createdAt;
                                            var dd1= String(today.getDate()).padStart(2, '0');
                                            var mm1 = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                            var yyyy1 = today.getFullYear();
                                            var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                            var dayOfWeek = weekday[today.getDay()];%>
                                            <%var str1 = dd+'-'+mm+'-'+yyyy;%>
                                            <%var str2 = dd1+'-'+mm1+'-'+yyyy1;%>
                                            
                                            <%if(str1 != str2){%>
                                                <%continue;%>
                                            <%}%>

                                            <%if(user1.booking[i].seat > c){%>
                                                <%var c1 = user1.booking[i].seat;%>
                                            <li class="patient-li upcoming-li" data-index="<%=c1%>">
                                                <h4><span><i class="fas fa-user-md"></i></span>Patient No. <%=user1.booking[i].seat%></h4>
                                                <h5><%=user1.booking[i].name%></h5>
                                                
                                            </li>
                                            <%}%>
                                    <%}%>
                                    
                                    </ul>
                                </div>
                            </div>
                          
                        </div>
                        <%}else{%>
                            <%for(let i1 =0 ;i1<slots;i1++){%>
                                <div style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('/img/app.jpeg');min-height: 100vh;height: auto;background-size: cover;background-repeat: no-repeat;padding-bottom: 100px;">
                                    <div id="track_header" style="padding-top: 50px;">
                                        <h2 class="text-center font-weight-bolder"style="font-size:2.8rem;color:white" >Welcome To The Online Patient Tracking System</h2>
                                    </div>
                                    <div class="patient_tracking_display">
                                        <%var last=0;%>
                                        <ul id="patient-ul<%=i1%>">
                                            <%for(u of user1.tracked){%>
                                                <%var today = new Date();
                                                var dd = String(today.getDate()).padStart(2, '0');
                                                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                var yyyy = today.getFullYear();
                                                var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                var dayOfWeek = weekday[today.getDay()];%>
                                                <%var today = u.createdAt;
                                                var dd1= String(today.getDate()).padStart(2, '0');
                                                var mm1 = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                var yyyy1 = today.getFullYear();
                                                var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                var dayOfWeek = weekday[today.getDay()];%>
                                                <%var str1 = dd+'-'+mm+'-'+yyyy;%>
                                                <%var str2 = dd1+'-'+mm1+'-'+yyyy1;%>
                                                
                                                <%if(str1 != str2 || u.slot != i1 ){%>
                                                    <%continue;%>
                                                <%}%>
                                                
                                                <li class="patient-li">
                                                    <h4><span><i class="fas fa-user-md"></i></span>Patient No. <%=u.seat%></h4>
                                                    <%last=u.seat%>
                                                    <h5><%=u.name%></h5>
                                                    <a class="displayNone uongoing<%=i1%>">Ongoing</a>
                                                    <%if(u.status == 'Waiting'){%>
                                                        <h2 class="b_red uwaiting<%=i1%>"><span><i class="fas fa-hourglass" aria-hidden="true" style="margin-right: 8px;"></i></span>Waiting</h3>
                                                        <h3 class="displayNone uvisited<%=i1%>"><span><i class="fas fa-child" aria-hidden="true" style="margin-right: 8px;"></i></span>Visited</h3>                                               
                                                    <%}else{%>
                                                        <h2 class="b_red uwaiting<%=i1%> displayNone"><span><i class="fas fa-hourglass" aria-hidden="true" style="margin-right: 8px;"></i></span>Waiting</h3>
                                                        <h3 class="uvisited<%=i1%>"><span><i class="fas fa-child" aria-hidden="true" style="margin-right: 8px;"></i></span>Visited</h3>
                                                        <%}%>
                                                    <%var date = u.time.toLocaleTimeString();
                                                    var date1 = date.slice(0,4);
                                                    var date2 = date.slice(8,10);%>
                                                    <p>CheckIn Time : <%=date1%>&nbsp;<%=date2%></p>
                                                </li>
                                        <%}%>
                                        
                                        </ul>
                                        <%if(last==0){%>
                                            <div id="no_patient<%=i1%>">
                                            <h1 class="text-center font-weight-bolder"style="font-size:2rem;color:black"><span><i class="fas fa-search" style="margin-right: 15px;"></i></span>Doctor has not started seeing yet!</h1>
                                            <h2 class="text-center font-weight-bolder"style="font-size:1.5rem;color:black;margin-bottom:30px;">Stay Tuned to see the live tracking.</h2>
                                            </div>
                                            <%}%>
                                        <ul class="nav nav-tabs nav-tabs-solid  text-center">
                                            <li class="nav-item" style="width: 100%;">
                                                <a class="nav-link active" href="#upcoming-appointments" style="height: 70px !important;padding-top: 15px;font-size: 1.8rem;font-weight: bold;margin-bottom: 30px;" data-toggle="tab" >Upcoming Appointments</a>
                                            </li>
                                        </ul>
                                        <div class="upcoming_patient_display">
                                            <ul id="patient-ul<%=i1%>" class="upcoming-ul<%=i1%>">
                                               <%var c=last;%>
                                                <%for(let i = 0 ; i<user1.booking.length;i++){%>
                                                    <%var today = new Date();
                                                    var dd = String(today.getDate()).padStart(2, '0');
                                                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                    var yyyy = today.getFullYear();
                                                    var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                    var dayOfWeek = weekday[today.getDay()];%>
                                                    <%var today = user1.booking[i].createdAt;
                                                    var dd1= String(today.getDate()).padStart(2, '0');
                                                    var mm1 = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                    var yyyy1 = today.getFullYear();
                                                    var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                    var dayOfWeek = weekday[today.getDay()];%>
                                                    <%var str1 = dd+'-'+mm+'-'+yyyy;%>
                                                    <%var str2 = dd1+'-'+mm1+'-'+yyyy1;%>
                                                    
                                                    <%if(str1 != str2 || user1.booking[i].slot != i1){%>
                                                        <%continue;%>
                                                    <%}%>
        
                                                    <%if(user1.booking[i].seat > c){%>
                                                        <%var c1 = user1.booking[i].seat;%>
                                                    <li class="patient-li upcoming-li<%=i1%>" data-index="<%=c1%>">
                                                        <h4><span><i class="fas fa-user-md"></i></span>Patient No. <%=user1.booking[i].seat%></h4>
                                                        <h5><%=user1.booking[i].name%></h5>
                                                        
                                                    </li>
                                                    <%}%>
                                            <%}%>
                                            
                                            </ul>
                                        </div>
                                    </div>
                                  
                                </div>
                                <%}%>
                                <%}%>
                        <%}%>

                    </div>
                </div>

            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <footer class="footer">

            <!-- Footer Top -->
            <div class="footer-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="/img/footer-logo.png" alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Patients</h2>
                                <ul>
                                    <li><a href="/search"><i class="fas fa-angle-double-right"></i> Search for Doctors</a></li>
                                    <li><a href="/login"><i class="fas fa-angle-double-right"></i> Login</a></li>
                                    <li><a href="/register"><i class="fas fa-angle-double-right"></i> Register</a></li>
                                    <li><a href="/booking"><i class="fas fa-angle-double-right"></i> Booking</a></li>
                                    <li><a href="/patient-dashboard"><i class="fas fa-angle-double-right"></i> Patient Dashboard</a></li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Doctors</h2>
                                <ul>
                                    <li><a href="/appointments"><i class="fas fa-angle-double-right"></i> Appointments</a></li>
                                    <li><a href="/chat"><i class="fas fa-angle-double-right"></i> Chat</a></li>
                                    <li><a href="/login"><i class="fas fa-angle-double-right"></i> Login</a></li>
                                    <li><a href="/doctor-register"><i class="fas fa-angle-double-right"></i> Register</a></li>
                                    <li><a href="/doctor-dashboard"><i class="fas fa-angle-double-right"></i> Doctor Dashboard</a></li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contact Us</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p> 3556 Beech Street, San Francisco,<br> California, CA 94108 </p>
                                    </div>
                                    <p>
                                        <i class="fas fa-phone-alt"></i> +1 315 369 5943
                                    </p>
                                    <p class="mb-0">
                                        <i class="fas fa-envelope"></i> doccure@example.com
                                    </p>
                                </div>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                    </div>
                </div>
            </div>
            <!-- /Footer Top -->

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="container-fluid">

                    <!-- Copyright -->
                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="copyright-text">
                                    <p class="mb-0"><a href="/templateshub.net">Templates Hub</a></p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">

                                <!-- Copyright Menu -->
                                <div class="copyright-menu">
                                    <ul class="policy-menu">
                                        <li><a href="/term-condition">Terms and Conditions</a></li>
                                        <li><a href="/privacy-policy">Policy</a></li>
                                    </ul>
                                </div>
                                <!-- /Copyright Menu -->

                            </div>
                        </div>
                    </div>
                    <!-- /Copyright -->

                </div>
            </div>
            <!-- /Footer Bottom -->

        </footer>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Circle Progress JS -->
    <script src="/js/circle-progress.min.js"></script>

    <!-- Custom JS -->
    <script src="/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/js/tracking-engine.js"></script>
    <script>  
        var div = $(".patient_tracking_display");
        div.scrollTop(div.prop('scrollHeight'));</script>
         <script>
            // $( "#patient-ul li a" ).last().removeClass( "displayNone" );
            // $( "#patient-ul li h3" ).last().addClass( "displayNone" );
            new PatientTracking('patient_track','<%=user._id%>','<%=user.name%>','<%=slots%>');
    
        </script>  
    

</body> 

<!-- doccure/doctor-dashboard  30 Nov 2019 04:12:09 GMT -->

</html>