<!DOCTYPE html>
<html lang="en">

<!-- doccure/register  30 Nov 2019 04:12:20 GMT -->

<head>
    

    <link rel="stylesheet" href="<%=assetPath('css/bootstrap.min.css')%>">

	<link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/fontawesome.min.css')%>">
    <link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/all.min.css')%>">
    
	<link rel="stylesheet" href="<%=assetPath('css/style1.css')%>">
	<link rel="stylesheet" href="<%=assetPath('css/style.css')%>">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
</head>

<body class="account-page">

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <%-include('header');%>
        <!-- Header -->
    
        <!-- /Header -->

        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid" style="margin-top: 70px;">

                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <%var booked,id,doctorid,available,slotindex,dayindex,flag,type,date;%>
                        <!-- Register Content -->
                        <div class="account-content">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-md-7 col-lg-6 login-left">
                                    <img src="<%=assetPath('img/login-banner.png')%>" class="img-fluid" alt="AarogyaHub Register">
                                </div>
                                <div class="col-md-12 col-lg-6 login-right" style="padding-left:0px;padding-right:0px;">
                                    <div class="login-header" style="display: inline-flex; width: 100%;padding:0px 100px;border-bottom:1px solid rgba(128, 128, 128, 0.452);margin-bottom: 40px;;">
                                        <a style="font-size:1rem;color:black;" href="/login">Login</a>
                                        <a style="font-size:1rem;margin-left:50px;font-weight:bold;font-size:1.1rem;color:#478e8e;border-bottom: 2px solid #478e8e;" href="/register">Register</a>
                                        <!-- <a class="btn btn-primary btn-block login-btn" href="/staff-login-page" style="width: 120px;color:white"> Staff Login</a> -->
                                    </div>
                                   <div style="padding-left: 15px;padding-right: 15px;">
                                    <!-- Register Form -->
                                    <form action="/verify-new/?service=sms" method="POST">

                                        <div class="form-group form-focus">
                                            <input type="text" name="phone" class="form-control floating">
                                            <input type="hidden" name="doctorid" value="<%=doctorid%>">
                                            <input type="hidden" name="id" value="<%=id%>">
                                            <input type="hidden" name="booked" value="<%=booked%>">
                                            <input type="hidden" name="available" value="<%=available%>">
                                            <input type="hidden" name="slotindex" value="<%=slotindex%>">
                                            <input type="hidden" name="dayindex" value="<%=dayindex%>">
                                            <input type="hidden" name="flag" value="<%=flag%>">
                                            <input type="hidden" name="date" value="<%=date%>">
                                            <input type="hidden" name="type" value="<%=type%>">
                                            <label class="focus-label">Mobile Number</label>
                                        </div>

                                        <div class="text-right">
                                            <a class="forgot-link" href="login">Already have an account?</a>
                                        </div>
                                        <button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Continue</button>
                                        <div class="login-or">
                                            <span class="or-line"></span>
                                            <span class="span-or">or</span>
                                        </div>
                                        <div class="row form-row social-login">
                                            <!-- <div class="col-6">
                                                <a href="/user/auth/facebook" class="btn btn-facebook btn-block"><i class="fab fa-facebook-f mr-1"></i> Login</a>
                                            </div> -->
                                            <div class="col-12">
                                                <a href="/user/auth/google" class="btn btn-google btn-block"><i class="fab fa-google mr-1"></i> Login</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                    <!-- /Register Form -->

                                </div>
                            </div>
                        </div>
                        <!-- /Register Content -->

                    </div>
                </div>

            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="<%=assetPath('js/jquery.min.js')%>"></script>
    <script src="<%=assetPath('js/popper.min.js')%>"></script>

    <script src="<%=assetPath('js/bootstrap.min.js')%>"></script>
   

  
    <script src="<%=assetPath('js/script.js')%>"></script>
    <script>
        <%if(flash.success && flash.success.length>0){%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.success%>',
            type: 'success',
            layout: 'topRight',
            timeout: 3000
        }).show();
        <%}%>
        <%if(flash.error && flash.error.length>0){%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.error%>',
            type: 'error',
            layout: 'topRight',
            timeout: 3000
        }).show();
        <%}%>
    </script>

</body>

<!-- doccure/register  30 Nov 2019 04:12:20 GMT -->

</html>