<!DOCTYPE html>
<html lang="en">

<!-- doccure/locals.user-dashboard  30 Nov 2019 04:12:16 GMT -->



<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
     
        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar setting-bread" style="margin-top: 20px;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Prescriptions</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Prescriptions</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content" style="min-height: 400px;">
            <div class="container-fluid">

                <div class="row">

                    <!-- Profile Sidebar -->
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar no-show-mobile">
                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content">
                                <div class="profile-info-widget">
                                    <a href="#" class="booking-doc-img">
                                        <img src="<%=locals.user.avatar%> " alt="User Image" onerror=this.src="/img/profile.png">
                                    </a>
                                    <div class="profile-det-info">
                                        <h3>
                                            <%=locals.user.name%>
                                        </h3>
                                       
                                        <div class="locals.user-details">
                                            <%if(locals.user.dob){var newDateObject = new Date();

                                                var newObjectCurrentYear = newDateObject.getFullYear();
                                                
                                                var userDateObject = locals.user.dob;
                                                
                                                var userDateObjectPieces = userDateObject.split("/");
                                                
                                                var userObjectYear = userDateObjectPieces[2];
                                                
                                                var age = parseInt(newObjectCurrentYear) - parseInt(userObjectYear);

                                                %>
                                            <h5 style="font-size: 0.85rem;"><i class="fas fa-birthday-cake"></i>
                                                <%=locals.user.dob%> , <%=age%> Years

                                            </h5>
                                            <%}%>
                                            <%if(locals.user.city){%>
                                            <h5 class="mb-0" style="font-size: 0.85rem;"><i class="fas fa-map-marker-alt"></i>
                                                <%=locals.user.city%> 
                                                    <%=locals.user.state%>
                                            </h5>
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-widget">
                                <nav class="dashboard-menu">
                                    <ul>
                                       
                                        <li>
                                            <a href="/my-appointments">
                                                <i class="fas fa-calendar-alt"></i>
                                                <span>My Appointments</span>
                                            </a>
                                        </li>
                                        <li class="active">
                                            <a href="/prescription">
                                                <i class="fas fa-newspaper"></i>
                                                <span>My prescriptions</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/medical-records">
                                                <i class="fas fa-medkit"></i>
                                                <span>My Medical records</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/my-billing">
                                                <i class="fas fa-credit-card"></i>
                                                <span>My Billings</span>
                                            </a>
                                        </li>
                                       
                                        <li>
                                            <a href="/favourites">
                                                <i class="fas fa-bookmark"></i>
                                                <span>Favourites</span>
                                            </a>
                                        </li>
                                       
                                       
                                       
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                    <!-- / Profile Sidebar -->

                    <div class="col-md-7 col-lg-8 col-xl-9">
                        
                        <%if(locals.user.prescriptions == ''){%>
                            <h2 class="text-center no-file" style="margin-top: 100px;"><span style="margin-right: 20px;"><i class="fas fa-folder-open"></i></span><span>No Prescriptions Available !</span></h2>
                            <%}else{%>
                        <div class="card">
                            <div class="card-body pt-0">

                                <!-- Tab Menu -->
                                <nav class="user-tabs mb-4">
                                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                                        <li class="nav-item">
                                            <a class="nav-link active pall-10" href="#pat_prescriptions" data-toggle="tab">Prescriptions</a>
                                        </li>
                                       
                                    </ul>
                                </nav>
                                <!-- /Tab Menu -->

                                <!-- Tab Content -->
                                <div class="tab-content pt-0">

                                    <!-- Appointment Tab -->
                                   
                                    <!-- /Appointment Tab -->

                                    <!-- Prescription Tab -->
                                    
                                    <div class="tab-content" id="pat_prescriptions show active">
                                        <nav class="user-tabs mb-4 new_tab" style="margin-top: -40px;height: 50px !important;padding:0px !important;">
                                            <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                                                <li class="nav-item">
                                                    <a class="nav-link active pall" id="mpbtn" data-toggle="tab" style="padding:10px !important;cursor: pointer;">My Prescriptions</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link pall" id="opbtn" data-toggle="tab" style="padding:10px !important;cursor: pointer;">My Other Patients Prescriptions</a>
                                                </li>
                                                
                                            </ul>
                                        </nav>
                                        <div class="card card-table mb-0" id="mpl">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>Date </th>
                                                                <th>Name</th>
                                                                <th>Created by </th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>14 Nov 2019</td>
                                                                <td>Prescription 1</td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a href="/doctor-profile" class="avatar avatar-sm mr-2">
                                                                            <img class="avatar-img rounded-circle" src="img/doctors/doctor-thumb-01.jpg" alt="User Image">
                                                                        </a>
                                                                        <a href="/doctor-profile">Dr. Ruby Perrin <span>Dental</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td class="text-right">
                                                                    <div class="table-action">
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                            <i class="fas fa-print"></i> Print
                                                                        </a>
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                            <i class="far fa-eye"></i> View
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>13 Nov 2019</td>
                                                                <td>Prescription 2</td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a href="/doctor-profile" class="avatar avatar-sm mr-2">
                                                                            <img class="avatar-img rounded-circle" src="img/doctors/doctor-thumb-02.jpg" alt="User Image">
                                                                        </a>
                                                                        <a href="/doctor-profile">Dr. Darren Elder <span>Dental</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td class="text-right">
                                                                    <div class="table-action">
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                            <i class="fas fa-print"></i> Print
                                                                        </a>
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                            <i class="far fa-eye"></i> View
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>12 Nov 2019</td>
                                                                <td>Prescription 3</td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a href="/doctor-profile" class="avatar avatar-sm mr-2">
                                                                            <img class="avatar-img rounded-circle" src="img/doctors/doctor-thumb-03.jpg" alt="User Image">
                                                                        </a>
                                                                        <a href="/doctor-profile">Dr. Deborah Angel <span>Cardiology</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td class="text-right">
                                                                    <div class="table-action">
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                            <i class="fas fa-print"></i> Print
                                                                        </a>
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                            <i class="far fa-eye"></i> View
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>11 Nov 2019</td>
                                                                <td>Prescription 4</td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a href="/doctor-profile" class="avatar avatar-sm mr-2">
                                                                            <img class="avatar-img rounded-circle" src="img/doctors/doctor-thumb-04.jpg" alt="User Image">
                                                                        </a>
                                                                        <a href="/doctor-profile">Dr. Sofia Brient <span>Urology</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td class="text-right">
                                                                    <div class="table-action">
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                            <i class="fas fa-print"></i> Print
                                                                        </a>
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                            <i class="far fa-eye"></i> View
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>10 Nov 2019</td>
                                                                <td>Prescription 5</td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a href="/doctor-profile" class="avatar avatar-sm mr-2">
                                                                            <img class="avatar-img rounded-circle" src="img/doctors/doctor-thumb-05.jpg" alt="User Image">
                                                                        </a>
                                                                        <a href="/doctor-profile">Dr. Marvin Campbell <span>Dental</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td class="text-right">
                                                                    <div class="table-action">
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                            <i class="fas fa-print"></i> Print
                                                                        </a>
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                            <i class="far fa-eye"></i> View
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>9 Nov 2019</td>
                                                                <td>Prescription 6</td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a href="/doctor-profile" class="avatar avatar-sm mr-2">
                                                                            <img class="avatar-img rounded-circle" src="img/doctors/doctor-thumb-06.jpg" alt="User Image">
                                                                        </a>
                                                                        <a href="/doctor-profile">Dr. Katharine Berthold <span>Orthopaedics</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td class="text-right">
                                                                    <div class="table-action">
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                            <i class="fas fa-print"></i> Print
                                                                        </a>
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                            <i class="far fa-eye"></i> View
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>8 Nov 2019</td>
                                                                <td>Prescription 7</td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a href="/doctor-profile" class="avatar avatar-sm mr-2">
                                                                            <img class="avatar-img rounded-circle" src="img/doctors/doctor-thumb-07.jpg" alt="User Image">
                                                                        </a>
                                                                        <a href="/doctor-profile">Dr. Linda Tobin <span>Neurology</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td class="text-right">
                                                                    <div class="table-action">
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                            <i class="fas fa-print"></i> Print
                                                                        </a>
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                            <i class="far fa-eye"></i> View
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>7 Nov 2019</td>
                                                                <td>Prescription 8</td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a href="/doctor-profile" class="avatar avatar-sm mr-2">
                                                                            <img class="avatar-img rounded-circle" src="img/doctors/doctor-thumb-08.jpg" alt="User Image">
                                                                        </a>
                                                                        <a href="/doctor-profile">Dr. Paul Richard <span>Dermatology</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td class="text-right">
                                                                    <div class="table-action">
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                            <i class="fas fa-print"></i> Print
                                                                        </a>
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                            <i class="far fa-eye"></i> View
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>6 Nov 2019</td>
                                                                <td>Prescription 9</td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a href="/doctor-profile" class="avatar avatar-sm mr-2">
                                                                            <img class="avatar-img rounded-circle" src="img/doctors/doctor-thumb-09.jpg" alt="User Image">
                                                                        </a>
                                                                        <a href="/doctor-profile">Dr. John Gibbs <span>Dental</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td class="text-right">
                                                                    <div class="table-action">
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                            <i class="fas fa-print"></i> Print
                                                                        </a>
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                            <i class="far fa-eye"></i> View
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>5 Nov 2019</td>
                                                                <td>Prescription 10</td>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a href="/doctor-profile" class="avatar avatar-sm mr-2">
                                                                            <img class="avatar-img rounded-circle" src="img/doctors/doctor-thumb-10.jpg" alt="User Image">
                                                                        </a>
                                                                        <a href="/doctor-profile">Dr. Olga Barlow <span>Dental</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td class="text-right">
                                                                    <div class="table-action">
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                            <i class="fas fa-print"></i> Print
                                                                        </a>
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                            <i class="far fa-eye"></i> View
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="displayNone" id="opl">ppp</div>
                                    </div>
                                   
                                    <!-- /Prescription Tab -->

                
                                </div>
                                <!-- Tab Content -->

                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>

            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
   

</body>
<script>
        var mpbtn = document.getElementById('mpbtn');
        var opbtn = document.getElementById('opbtn');
        var mpl = document.getElementById('mpl');
        var opl = document.getElementById('opl');
        opbtn.addEventListener('click',function()
        {
            
            mpl.classList.add('displayNone');
            opl.classList.remove('displayNone');

        })
        mpbtn.addEventListener('click',function()
        {
            opl.classList.add('displayNone');
            mpl.classList.remove('displayNone');

        }) 
</script>

<!-- doccure/locals.user-dashboard  30 Nov 2019 04:12:16 GMT -->

</html>