<!DOCTYPE html>
<html lang="en">

<!-- doccure/doctor-change-password  30 Nov 2019 04:12:36 GMT -->

<head>
    <link rel="stylesheet" href="<%=assetPath('css/bootstrap.min.css')%>">

	<link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/fontawesome.min.css')%>">
    <link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/all.min.css')%>">
    <link rel="stylesheet" href="<%=assetPath('plugins/select2/css/select2.min.css')%>">

	<link rel="stylesheet" href="<%=assetPath('css/style1.css')%>">
	<link rel="stylesheet" href="<%=assetPath('css/style.css')%>">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
    
        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Bank Details</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Bank Details</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                        <!-- Profile Sidebar -->
                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content">
                                <div class="profile-info-widget">
                                    <a href="#" class="booking-doc-img">
                                        <img src="<%=locals.user.avatar%>" onerror='this.src="<%=assetPath('img/profile.png')%>"'  alt="User Image">
                                    </a>
                                    <div class="profile-det-info">
                                        <h3>Dr.
                                            <%=locals.user.name%> r</h3>

                                        <div class="patient-details">
                                            <h5 class="mb-0">
                                                <%=locals.user.department%>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-widget">
                                <nav class="dashboard-menu">
                                    <ul>
                                        <li>
                                            <a href="/doctor-dashboard">
                                                <i class="fas fa-columns"></i>
                                                <span>Dashboard</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/upload-documents">
                                                <i class="fas fa-file"></i>
                                                <span>Upload Documents</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/schedule-timings">
                                                <i class="fas fa-hourglass-start"></i>
                                                <span>Schedule Timings</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/bank-details">
                                                <i class="fas fa-university"></i>
                                                <span>Add Bank Account</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/preview-profile">
                                                <i class="fas fa-id-badge"></i>
                                                <span>Preview profile</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/doctor-terms-and-condition">
                                                <i class="fas fa-id-card"></i>
                                                <span>Terms and Conditions</span>
                                            </a>
                                        </li>








                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- /Profile Sidebar -->

                    </div>

                    <div class="col-md-10 col-lg-8 col-xl-9" style="margin-top: -50px;">
                        <div class="content">
                            <div class="container">


                                <!-- Doctor Details Tab -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title d-flex justify-content-between">
                                                    <span>Personal Details</span>
                                                    <!-- <a class="edit-link" data-toggle="modal" href="#edit_personal_details"><i class="fa fa-edit mr-1"></i>Edit</a> -->
                                                </h5>
                                                <%if(locals.user.name != ''){%>
                                                    <div class="row">
                                                        <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">Name</p>
                                                        <p class="col-sm-10">
                                                            <%=locals.user.name%>
                                                        </p>
                                                    </div>
                                                    <%}%>
                                                        <%if(locals.user.education  != ''){%>
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <p class="text-muted text-sm-right mb-0 mb-sm-3">Education</p>
                                                                </div>
                                                                <div class="col-md-4 ml-n3">
                                                                    <%for(temp of locals.user.education){%>
                                                                        <p class="col-sm-10"><span><%=temp.degree%> </span><span><%=temp.yoc%></span></p>
                                                                        <%}%>
                                                                </div>
                                                            </div>
                                                            <%}%>
                                                                <%if(locals.user.experience != ''){%>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <p class="text-muted text-sm-right mb-0 mb-sm-3">Experience</p>
                                                                        </div>
                                                                        <div class="col-md-4 ml-n3">
                                                                            <%for(temp of locals.user.experience){%>
                                                                                <p class="col-sm-10"><span><%=temp.institutionname%> </span><span><%=temp.from%> </span><span><%=temp.to%></span></p>
                                                                                <%}%>
                                                                        </div>
                                                                    </div>
                                                                    <%}%>
                                                                        <%if(locals.user.awards != ''){%>
                                                                            <div class="row">
                                                                                <div class="col-md-2">
                                                                                    <p class="text-muted text-sm-right mb-0 mb-sm-3">Awards</p>
                                                                                </div>
                                                                                <div class="col-md-4 ml-n3">
                                                                                    <%for(temp of locals.user.awards){%>
                                                                                        <p class="col-sm-10"><span><%=temp.award%> </span><span><%=temp.year%> </span></p>
                                                                                        <%}%>
                                                                                </div>
                                                                            </div>
                                                                            <%}%>
                                                                                <%if(locals.user.department != ''){%>
                                                                                    <div class="row">
                                                                                        <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">Department</p>
                                                                                        <p class="col-sm-10">
                                                                                            <%=locals.user.department%>
                                                                                        </p>
                                                                                    </div>
                                                                                    <%}%>
                                                                                        <%if(locals.user.city != ''){%>
                                                                                            <div class="row">
                                                                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">City</p>
                                                                                                <p class="col-sm-10">
                                                                                                    <%=locals.user.contacts.city%>
                                                                                                </p>
                                                                                            </div>
                                                                                            <%}%>
                                                                                                <%if(locals.user.state != ''){%>
                                                                                                    <div class="row">
                                                                                                        <p class="col-sm-2 text-muted text-sm-right mb-0">State</p>
                                                                                                        <p class="col-sm-10 mb-0">
                                                                                                            <%=locals.user.contacts.state%>
                                                                                                        </p>
                                                                                                    </div>
                                                                                                    <%}%>
                                                                                                        <%if(locals.user.clinicname != ''){%>
                                                                                                            <div class="row">
                                                                                                                <p class="col-sm-2 text-muted text-sm-right mb-0">Clinic Name</p>
                                                                                                                <p class="col-sm-10 mb-0">
                                                                                                                    <%=locals.user.clinicname%>
                                                                                                                </p>
                                                                                                            </div>
                                                                                                            <%}%>
                                                                                                                <%if(locals.user.clinicaddr != ''){%>
                                                                                                                    <div class="row">
                                                                                                                        <p class="col-sm-2 text-muted text-sm-right mb-0">Clinic Address</p>
                                                                                                                        <p class="col-sm-10 mb-0">
                                                                                                                            <%=locals.user.clinicaddr%>
                                                                                                                        </p>
                                                                                                                    </div>
                                                                                                                    <%}%>
                                                                                                                        <%if(locals.user.clinicphoto != ''){%>
                                                                                                                            <div class="row mt-3">
                                                                                                                                <div class="col-md-2">
                                                                                                                                    <p class="text-muted text-sm-right mb-0">Clinic Photo</p>
                                                                                                                                </div>
                                                                                                                                <div class="col-md-10 ml-n2" style="display: inline-flex;overflow-x: auto;">
                                                                                                                                    <%for(temp of locals.user.clinicphoto){%>
                                                                                                                                        <img src="<%=temp%>" style="height: 100px;width: 100px;margin-left: 10px;">
                                                                                                                                        <%}%>
                                                                                                                                            </p>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                            <%}%>
                                                                                                                                <%if(locals.user.specialisation != ''){%>
                                                                                                                                    <div class="row">
                                                                                                                                        <p class="col-sm-2 text-muted text-sm-right mb-0">Specialisation</p>
                                                                                                                                        <p class="col-sm-10 mb-0">
                                                                                                                                            <%=locals.user.specialisation%>
                                                                                                                                        </p>
                                                                                                                                    </div>
                                                                                                                                    <%}%>
                                                                                                                                        <%if(locals.user.services != ''){%>
                                                                                                                                            <div class="row">
                                                                                                                                                <p class="col-sm-2 text-muted text-sm-right mb-0">Services</p>
                                                                                                                                                <p class="col-sm-10 mb-0">
                                                                                                                                                    <%=locals.user.services%>
                                                                                                                                                </p>
                                                                                                                                            </div>
                                                                                                                                            <%}%>

                                            </div>

                                        </div>


                                    </div>
                                    <!-- /Doctor Details Tab -->

                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                <strong>Note!</strong> Please fill all the fields so that your profile should look informative to the patients<a href="#" class="alert-link">.</a>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <%if(locals.user.name && locals.user.education && locals.user.experience &&locals.user.awards &&locals.user.department&&locals.user.city&&locals.user.state&&locals.user.clinicname&&locals.user.clinicaddr&&locals.user.clinicphoto&&locals.user.specialisation&&locals.user.services){%>
                                <%}else{%>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title"><span>Update Profile</span><span class="ml-5" style="font-size:0.7rem;text-decoration:underline;"><a href="/doctor-profile-settings">Profile Settings</a></span></h5>

                                            <ul>
                                                <%if(locals.user.name == ''){%>
                                                    <li> Name</li>
                                                    <%}%>

                                                        <%if(locals.user.education == ''){%>
                                                            <li>Education</li>
                                                            <%}%>

                                                                <%if(locals.user.experience == ''){%>
                                                                    <li>Experience</li>
                                                                    <%}%>

                                                                        <%if(locals.user.awards == ''){%>
                                                                            <li> Awards </li>
                                                                            <%}%>

                                                                                <%if(locals.user.department == ''){%>
                                                                                    <li> Department</li>
                                                                                    <%}%>

                                                                                        <%if(locals.user.city == ''){%>
                                                                                            <li> City</li>
                                                                                            <%}%>

                                                                                                <%if(locals.user.state == ''){%>
                                                                                                    <li> State </li>
                                                                                                    <%}%>


                                                                                                        <%if(locals.user.clinicname == ''){%>
                                                                                                            <li> Clinic Name </li>
                                                                                                            <%}%>


                                                                                                                <%if(locals.user.clinicaddr == ''){%>
                                                                                                                    <li> Clinic Address</li>
                                                                                                                    <%}%>


                                                                                                                        <%if(locals.user.clinicphoto == ''){%>
                                                                                                                            <li> Clinic Photo</li>
                                                                                                                            <%}%>

                                                                                                                                <%if(locals.user.specialisation == ''){%>
                                                                                                                                    <li> Specialisation</li>
                                                                                                                                    <%}%>

                                                                                                                                        <%if(locals.user.services == ''){%>
                                                                                                                                            <li> Services</li>
                                                                                                                                            <%}%>


                                            </ul>



                                        </div>
                                    </div>
                                    <%}%>
                        </div>
                    </div>

                </div>
                <!-- /Page Content -->

                <!-- Footer -->
                <%-include('footer');%>
                <!-- /Footer -->

            </div>
            <!-- /Main Wrapper -->

            <!-- jQuery -->
            <script src="<%=assetPath('js/jquery.min.js')%>"></script>
            <script src="<%=assetPath('js/popper.min.js')%>"></script>
        
            <script src="<%=assetPath('js/bootstrap.min.js')%>"></script>
           
        
            <script src="<%=assetPath('plugins/theia-sticky-sidebar/ResizeSensor.js')%>"></script>
            <script src="<%=assetPath('plugins/theia-sticky-sidebar/theia-sticky-sidebar.js')%>"></script>
            <script src="<%=assetPath('js/script.js')%>"></script> 

            <script>
                document.getElementById("imageUpload").onchange = function() {
                    document.getElementById("edit_form").submit();
                };
            </script>
            <script>
                document.getElementById("imageUpload1").onchange = function() {
                    document.getElementById("edit_form1").submit();
                };
            </script>

            <script>
                <%if(flash.success && flash.success.length>0){%>
                new Noty({
                    theme: 'metroui',
                    text: '<%=flash.success%>',
                    type: 'success',
                    layout: 'topRight',
                    timeout: 1500
                }).show();
                <%}%>
                <%if(flash.error && flash.error.length>0){%>
                new Noty({
                    theme: 'metroui',
                    text: '<%=flash.error%>',
                    type: 'error',
                    layout: 'topRight',
                    timeout: 3000
                }).show();
                <%}%>
            </script>

</body>

<!-- doccure/doctor-change-password  30 Nov 2019 04:12:36 GMT -->

</html>