<!DOCTYPE html>
<html lang="en">

<!-- AarogyaHub/booking-success  30 Nov 2019 04:12:16 GMT -->
<html>
    <link rel="stylesheet" href="<%=assetPath('css/bootstrap.min.css')%>">

	<link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/fontawesome.min.css')%>">
    <link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/all.min.css')%>">
    
	<link rel="stylesheet" href="<%=assetPath('css/style1.css')%>">
	<link rel="stylesheet" href="<%=assetPath('css/style.css')%>">
</html>


<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <%-include('header');%>
        <!-- Header -->

        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar lptop" >
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Cancellation</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Success</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content success-page-cont">

            <div class="container-fluid">

                <div class="row justify-content-center">
                    <div class="col-lg-6">

                        <!-- Success Card -->
                        <div class="card success-card">
                            <div class="card-body">
                                <div class="success-cont">
                                    <i class="fas fa-check"></i>
                                    <h3>Appointment cancelled Successfully!</h3>
                                    <%if(typeof(doctor.schedule_time[dayindex].start) == 'string'){%>
                                        <p>Appointment cancelled with <strong><%=doctor.name%></strong><br> on <strong><%=doctor.schedule_time[dayindex].start.toUpperCase()%> </strong></p>

                                        <%}else{%>
                                            <p>Appointment cancelled with <strong>Dr.<%=doctor.name%></strong><br> on <strong><%=doctor.schedule_time[dayindex].start[slotindex].toUpperCase()%> </strong></p>
                                            <%}%>
                                                <!-- <p style="font-size: 0.78rem; font-weight: bold;">You are going to recieve the money in your bank account within 4-5 working days.</p> -->

                                </div>
                            </div>
                        </div>
                        <!-- /Success Card -->

                    </div>
                </div>

            </div>
        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
            <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
 
    <script src="<%=assetPath('js/jquery.min.js')%>"></script>
    <script src="<%=assetPath('js/popper.min.js')%>"></script>

    <script src="<%=assetPath('js/bootstrap.min.js')%>"></script>
   

   
    <script src="<%=assetPath('js/script.js')%>"></script>
</body>

<!-- AarogyaHub/booking-success  30 Nov 2019 04:12:16 GMT -->

</html>