<!DOCTYPE html>
<html lang="en">

<!-- AarogyaHub/search  30 Nov 2019 04:12:16 GMT -->



<body>

    <!-- Main Wrapper -->
    <section class="speciality-all">
        <div class="main-wrapper">

            <!-- Header -->

            <!-- /Header -->

            <!-- Breadcrumb -->
            <div class="search-box" style="margin-bottom:4px !important;">

                <div class="form- search-info msearch">
                    <input type="text" name="keyword" class="form-control" placeholder="Search Doctors, Clinics, Hospitals, Diseases Etc" required>

                </div>
            </div>
            <div style="background-color: white;">
                <div>
                    <h4 style="margin-left: 9px;
                margin-top: 14px;
                font-weight: 700;
                color: #757575;
                padding-top: 8px;">
                        Search All Speciality
                    </h4>
                </div>
                <div style="width: 100%; display: inline-flex;">
                    <div style="width: 50%;background-color: #f0f0f0; height: 66px; margin: 8px; display: inline-flex;">
                        <div>
                            <a href="/specialist/?dep=Ophthalmology">
                            <img src="<%=assetPath('img/specialities/eye.png')%>" style="border-radius: 50%;
                            height: 40px;
                            margin-left: 9px;
                            margin-top: 14px;" class="img-fluid" alt="Speciality">
                            
                        </a>

                        </div>
                        <a href="/specialist/?dep=Ophthalmology">
                            <div style=" margin-top: 22px;
                    margin-left: 8px;">
                                <h4 style="font-weight: 700;
                        font-family: unset;
                        font-size: 1rem;">
                                    Eye Specialist
                                </h4>
                            </div>
                        </a>
                        <div>

                        </div>

                    </div>
                    <div style="width: 50%; background-color: #f0f0f0; height: 66px;margin: 8px; display: inline-flex;">
                        <div>
                            <a href="/specialist/?dep=Dermatology">
                            <img src="<%=assetPath('img/specialities/hair.jpg')%>" style="border-radius: 50%;
                            height: 40px;
                            margin-left: 9px;
                            margin-top: 14px;" class="img-fluid" alt="Speciality">
                            
                        </a>

                        </div>
                        <a href="/specialist/?dep=Dermatology">
                            <div style=" margin-top: 22px;
                    margin-left: 8px;">
                                <h4 style="font-weight: 700;
                        font-family: unset;
                        font-size: 1rem;">
                                    Hair Specialist
                                </h4>
                            </div>
                        </a>

                    </div>
                </div>
                <div style="width: 100%; display: inline-flex;">
                    <div style="width: 50%;background-color: #f0f0f0; height: 66px; margin: 8px; display: inline-flex;">
                        <div>
                            <a href="">
                            <img src="<%=assetPath('img/specialities/pregnacy.jpg')%>" style="border-radius: 50%;
                            height: 40px;
                            margin-left: 9px;
                            margin-top: 14px;" class="img-fluid" alt="Speciality">
                            
                        </a>

                        </div>
                        <div style=" margin-top: 22px;
                    margin-left: 8px;">
                            <h4 style="font-weight: 700;
                        font-family: unset;
                        font-size: 1rem;
                        margin-left: 5px;">
                                Women's Health
                            </h4>
                        </div>
                        <div>

                        </div>

                    </div>
                    <div style="width: 50%; background-color: #f0f0f0; height: 66px;margin: 8px; display: inline-flex;">
                        <div>
                            <a href="/specialist/?dep=Paediatrics">
                            <img src="<%=assetPath('img/specialities/child.png')%>" style="border-radius: 50%;
                            height: 40px;
                            margin-left: 9px;
                            margin-top: 14px;" class="img-fluid" alt="Speciality">
                            
                        </a>

                        </div>
                        <a href="/specialist/?dep=Paediatrics">
                            <div style=" margin-top: 22px;
                    margin-left: 8px;">
                                <h4 style="font-weight: 700;
                        font-family: unset;
                        font-size: 1rem;
                        ">
                                    Child Specialist
                                </h4>
                            </div>
                        </a>

                    </div>
                </div>
                <div style="width: 100%; display: inline-flex;">
                    <div style="width: 50%;background-color: #f0f0f0; height: 66px; margin: 8px; display: inline-flex;">
                        <div>
                            <a href="/specialist/?dep=Urology">
                            <img src="<%=assetPath('img/specialities/urology.png')%>" style="border-radius: 50%;
                            height: 40px;
                            margin-left: 9px;
                            margin-top: 14px;" class="img-fluid" alt="Speciality">
                            
                        </a>

                        </div>
                        <a href="/specialist/?dep=Urology">
                            <div style=" margin-top: 22px;
                    margin-left: 8px;">
                                <h4 style="font-weight: 700;
                        font-family: unset;
                        font-size: 1rem;
                        margin-left: 5px;">
                                    Urinary Specialist
                                </h4>
                            </div>
                        </a>
                        <div>

                        </div>

                    </div>
                    <div style="width: 50%; background-color: #f0f0f0; height: 66px;margin: 8px; display: inline-flex;">
                        <div>
                            <a href="/specialist/?dep=Neurology">
                            <img src="<%=assetPath('img/specialities/brain.png')%>" style="border-radius: 50%;
                            height: 40px;
                            margin-left: 9px;
                            margin-top: 14px;" class="img-fluid" alt="Speciality">
                            
                        </a>

                        </div>
                        <a href="/specialist/?dep=Neurology">
                            <div style=" margin-top: 22px;
                    margin-left: 8px;">
                                <h4 style="font-weight: 700;
                        font-family: unset;
                        font-size: 1rem;
                        margin-left: 7px;">
                                    Brain & Nerve Specialist
                                </h4>
                            </div>
                        </a>

                    </div>
                </div>
                <div style="width: 100%; display: inline-flex;">
                    <div style="width: 50%;background-color: #f0f0f0; height: 66px; margin: 8px; display: inline-flex;">
                        <div>
                            <a href="/specialist/?dep=General Physician">
                            <img src="<%=assetPath('img/specialities/physical.jfif')%>" style="border-radius: 50%;
                            height: 40px;
                            margin-left: 9px;
                            margin-top: 14px;" class="img-fluid" alt="Speciality">
                            
                        </a>

                        </div>
                        <a href="/specialist/?dep=General Physician">
                            <div style=" margin-top: 22px;
                    margin-left: 8px;">
                                <h4 style="font-weight: 700;
                        font-family: unset;
                        font-size: 1rem;
                        margin-left: 5px;">
                                    General Physician
                                </h4>
                            </div>
                        </a>
                        <div>

                        </div>

                    </div>
                    <div style="width: 50%; background-color: #f0f0f0; height: 66px;margin: 8px; display: inline-flex;">
                        <div>
                            <a href="/specialist/?dep=Orthopedic">
                            <img src="<%=assetPath('img/specialities/bone.jpg')%>" style="border-radius: 50%;
                            height: 40px;
                            margin-left: 9px;
                            margin-top: 14px;" class="img-fluid" alt="Speciality">
                            
                        </a>

                        </div>
                        <a href="/specialist/?dep=Orthopedic">
                            <div style=" margin-top: 22px;
                    margin-left: 8px;">
                                <h4 style="font-weight: 700;
                        font-family: unset;
                        font-size: 1rem;
                        ">
                                    Bone Specialist
                                </h4>
                            </div>
                        </a>

                    </div>
                </div>
                <div style="width: 100%; display: inline-flex;">
                    <div style="width: 50%;background-color: #f0f0f0; height: 66px; margin: 8px; display: inline-flex;">
                        <div>
                            <a href="/specialist/?dep=Cardiologist">
                            <img src="<%=assetPath('img/specialities/heart.jpg')%>" style="border-radius: 50%;
                            height: 40px;
                            margin-left: 9px;
                            margin-top: 14px;" class="img-fluid" alt="Speciality">
                            
                        </a>

                        </div>
                        <a href="/specialist/?dep=Cardiologist">
                            <div style=" margin-top: 22px;
                    margin-left: 8px;">
                                <h4 style="font-weight: 700;
                        font-family: unset;
                        font-size: 1rem;">
                                    Heart Specialist
                                </h4>
                            </div>
                        </a>
                        <div>

                        </div>

                    </div>
                    <div style="width: 50%; background-color: #f0f0f0; height: 66px;margin: 8px; display: inline-flex;">
                        <div>
                            <a href="/specialist/?dep=Dentist">
                            <img src="<%=assetPath('img/specialities/teeth.png')%>" style="border-radius: 50%;
                            height: 40px;
                            margin-left: 9px;
                            margin-top: 14px;" class="img-fluid" alt="Speciality">
                            
                        </a>

                        </div>
                        <a href="/specialist/?dep=Dentist">
                            <div style=" margin-top: 22px;
                    margin-left: 8px;">
                                <h4 style="font-weight: 700;
                        font-family: unset;
                        font-size: 1rem;">
                                    Dentist
                                </h4>
                            </div>
                        </a>

                    </div>
                </div>

            </div>

            <!-- Footer -->
            <%-include('footer');%>
                <!-- /Footer -->

        </div>
    </section>
    <!-- /Main Wrapper -->

    <!-- jQuery -->

    <script>
        var filter = document.getElementById('filter');
        var fbox = document.getElementById('filter_box');
        var close_btn = document.getElementById('close_btn');
        close_btn.addEventListener('click', function() {
            fbox.classList.add('displayNone');
        })
        filter.addEventListener('click', function(e) {
            e.preventDefault();
            fbox.classList.remove('displayNone');
            //     var count = 0;
            //    setInterval(function(){
            //        if(count<=-540)
            //        {
            //            return;
            //        }
            //        fbox.style.transform = `translateY(${count}px)`;
            //        count-=3;
            //    },1)



        })
    </script>

</body>

<!-- AarogyaHub/search  30 Nov 2019 04:12:16 GMT -->

</html>