<!DOCTYPE html>
<html lang="en">

<!-- AarogyaHub/search  30 Nov 2019 04:12:16 GMT -->

<head>
    <meta charset="utf-8">
    <title>AarogyaHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">

    <!-- Fancybox CSS -->
    <link rel="stylesheet" href="/plugins/fancybox/jquery.fancybox.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="/js/html5shiv.min.js"></script>
			<script src="/js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->

        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar paddingt">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-8 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Search</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Doctors-Specialist</h2>
                    </div>
                    <div class="col-md-4 col-12 d-md-block d-none">
                        <div class="sort-by">
                            <span class="sort-title">Sort by</span>
                            <span class="sortby-fliter">
									<select class="select">
										<option>Select</option>
										<option class="sorting">Rating</option>
										<option class="sorting">Popular</option>
										<option class="sorting">Latest</option>
										<option class="sorting">Free</option>
									</select>
								</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">

                        <!-- Search Filter -->
                        <div class="card search-filter">
                            <form action="/user/filter" method="POST">
                                <div class="card-body">


                                    <div class="filter-widget">
                                        <h4>Gender</h4>
                                        <div>
                                            <label class="custom_check">
											<input type="checkbox" name="gender_type" value="Male">
											<span class="checkmark"></span> Male Doctor
										</label>
                                        </div>
                                        <div>
                                            <label class="custom_check">
											<input type="checkbox" name="gender_type" value="Female">
											<span class="checkmark"></span> Female Doctor
										</label>
                                        </div>
                                    </div>
                                    <div class="filter-widget">
                                        <h4>Select Specialist</h4>
                                        <div>
                                            <label class="custom_check">
											<input type="checkbox" name="select_specialist" value="Urology">
											<span class="checkmark"></span> Urology (Kidney)
                                        </label>
                                            <div>
                                                <label class="custom_check">
											<input type="checkbox" name="select_specialist" value="Neurology">
											<span class="checkmark"></span> General Physician
										</label>
                                            </div>
                                        </div>
                                        <div>
                                            <label class="custom_check">
											<input type="checkbox" name="select_specialist" value="Neurology">
											<span class="checkmark"></span> Neurology (Nerve)
										</label>
                                        </div>
                                        <div>
                                            <label class="custom_check">
											<input type="checkbox" name="select_specialist" value="Dentist">
											<span class="checkmark"></span> Dentist
										</label>
                                        </div>
                                        <div>
                                            <label class="custom_check">
											<input type="checkbox" name="select_specialist" value="Orthopedic">
											<span class="checkmark"></span> Orthopedic (Bone)
										</label>
                                        </div>
                                        <div>
                                            <label class="custom_check">
											<input type="checkbox" name="select_specialist" value="Cardiologist">
											<span class="checkmark"></span> Cardiologist (Heart)
										</label>
                                        </div>
                                        <div>
                                            <label class="custom_check">
											<input type="checkbox" name="select_specialist" value="Paediatrics">
											<span class="checkmark"></span> Paediatrics (Child Doctor)
										</label>
                                        </div>
                                        <div>
                                            <label class="custom_check">
											<input type="checkbox" name="select_specialist" value="Ophthalmology">
											<span class="checkmark"></span> Ophthalmology (Eye Doctor)
										</label>
                                        </div>
                                        <div>
                                            <label class="custom_check">
											<input type="checkbox" name="select_specialist" value="Dermatology">
											<span class="checkmark"></span> Dermatology (Hair Doctor)
										</label>
                                        </div>
                                    </div>
                                    <div class="btn-search">
                                        <button type="submit" class="btn btn-block">Search</button>
                                    </div>

                                </div>
                            </form>
                        </div>

                        <!-- /Search Filter -->

                    </div>
                    <div class="sscreen col-sm-12" style="padding-left: 0px;padding-right: 0px;">
                        <div style="top:62px;z-index:400;height:65px;width:100%;background-color: white;margin-top:-15px;border-top:1px solid rgb(245, 244, 244);padding-top:10px;margin-bottom: 20px;display: inline-flex;padding-bottom: 10px;">
                            <h5 id="filter" style="font-size: 1rem;text-align: left;margin-left:20px;border-radius: 3px;width:45%;height:45px;padding:12px 15px;" class="btn-primary"><i class="fas fa-sliders-h" style="margin-left: 10px;margin-right:5px;"></i><span>Filter</span></h5>
                            <div class="btn-group position-absolute" style="right: 20px;width:42%;height:45px;">
                                <button type="button" style="padding: 8px !important;" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Sort By
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Rating</a>
                                    <a class="dropdown-item" href="#">Popular</a>
                                    <a class="dropdown-item" href="#">Latest</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="" class="sscreen">
                        <div class="displayNone" id="filter_box" style="overflow:auto;margin-top:63px;margin-left:10px;margin-right:10px;border-top-left-radius:5px;border-top-right-radius:5px;border:1px solid #dee2e6;bottom: -540px;z-index:500;background-color: white; position: fixed;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        visibility: visible;
        opacity: 1;">
                            <div id="header_filter" style="padding:10px ;">
                                <i class="fas fa-times" style="font-size: 2.2rem;color:grey;" id="close_btn"></i>
                            </div>
                            <div class="card search-filter" style="display: block;">
                                <form action="/user/filter" method="POST">

                                    <div class="card-body">


                                        <div class="filter-widget">
                                            <h4>Gender</h4>
                                            <div>
                                                <label class="custom_check">
											<input type="checkbox" name="gender_type" value="Male">
											<span class="checkmark"></span> Male Doctor
										</label>
                                            </div>
                                            <div>
                                                <label class="custom_check">
											<input type="checkbox" name="gender_type" value="Female">
											<span class="checkmark"></span> Female Doctor
										</label>
                                            </div>
                                        </div>
                                        <div class="filter-widget">
                                            <h4>Select Specialist</h4>
                                            <div>
                                                <label class="custom_check">
											<input type="checkbox" name="select_specialist" value="Urology">
											<span class="checkmark"></span> Urology (Kidney)
                                        </label>
                                                <div>
                                                    <label class="custom_check">
											<input type="checkbox" name="select_specialist" value="Neurology">
											<span class="checkmark"></span> General Physician
										</label>
                                                </div>
                                            </div>
                                            <div>
                                                <label class="custom_check">
											<input type="checkbox" name="select_specialist" value="Neurology">
											<span class="checkmark"></span> Neurology (Nerve)
										</label>
                                            </div>
                                            <div>
                                                <label class="custom_check">
											<input type="checkbox" name="select_specialist" value="Dentist">
											<span class="checkmark"></span> Dentist
										</label>
                                            </div>
                                            <div>
                                                <label class="custom_check">
											<input type="checkbox" name="select_specialist" value="Orthopedic">
											<span class="checkmark"></span> Orthopedic (Bone)
										</label>
                                            </div>
                                            <div>
                                                <label class="custom_check">
											<input type="checkbox" name="select_specialist" value="Cardiologist">
											<span class="checkmark"></span> Cardiologist (Heart)
										</label>
                                            </div>
                                            <div>
                                                <label class="custom_check">
											<input type="checkbox" name="select_specialist" value="Paediatrics">
											<span class="checkmark"></span> Paediatrics (Child Doctor)
										</label>
                                            </div>
                                            <div>
                                                <label class="custom_check">
											<input type="checkbox" name="select_specialist" value="Ophthalmology">
											<span class="checkmark"></span> Ophthalmology (Eye Doctor)
										</label>
                                            </div>
                                            <div>
                                                <label class="custom_check">
											<input type="checkbox" name="select_specialist" value="Dermatology">
											<span class="checkmark"></span> Dermatology (Hair Doctor)
										</label>
                                            </div>
                                        </div>
                                        <div class="btn-search">
                                            <button type="submit" class="btn btn-block">Search</button>
                                        </div>

                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-12 col-lg-8 col-xl-9 p-0">

                        <!-- Doctor Widget -->
                        <div class="card" id="doctorsm">
                            <div class="card-body p-0" style="min-height: 50vh;height:auto;">
                                <% if (doctors.length==0) {%>
                                    <h2 class="text-center" style="margin-top: 100px;font-size: 2rem;"><span style="margin-right: 10px;"><i class="fas fa-user-md"></i></span>No Doctor Available!</h2>
                                    <% }else{ %>


                                        <%for(doctor of doctors){%>
                                            <div class="col-md-6 col-lg-4 col-xl-3 sscreen p-0" style="margin-top: -30px;">
                                                <div class="profile-widget">
                                                    <div style="display: inline-flex;">
                                                        <div class="doc-img" style="width:40%;">
                                                            <a href="/doctor-profile/?id=<%=doctor._id%>">
                                                    <img class="img-fluid" alt="User Image" src="<%=doctor.avatar%>" style="height:150px;width:100%">
                                                </a>

                                                        </div>
                                                        <div style="width: 60%;padding:10px">
                                                            <h3 class="title">
                                                                <a href="/doctor-profile/?id=<%=doctor._id%>" style="font-size: 1.5rem;">Dr.<%=doctor.name%></a>
                                                                <i class="fas fa-check-circle verified"></i>
                                                            </h3>
                                                            <p class="speciality">
                                                                <%=doctor.department%>
                                                            </p>
                                                            <%var flag = false;%>
                                                                <%if(locals.user){%>
                                                                    <%for(fav of locals.user.favourites){
                                                    
                                                   
                                                if(fav.toString() == doctor._id)flag = true;%>

                                                                        <%}%>
                                                                            <%}%>

                                                                                <%if(!flag){%>
                                                                                    <a href="/user/add-favourite/?id=<%=doctor._id%>" style="background-color: white;color:black;display: block;
                                                        margin-top: -24px;
                                                        margin-bottom: 15px;padding:8px;margin-top:-30px;margin-left:-5px;">
                                                                                        <i class="far fa-bookmark" style="margin-right: 5px;"></i>Add Favourite
                                                                                    </a>
                                                                                    <%}else{%>
                                                                                        <a style="color:black;padding:8px;margin-top:-30px;display: block;margin-left:-5px; margin-bottom: 15px;">
                                                                                            <i class="far fa-bookmark" style="margin-right: 5px;color: red;"></i>Favourite
                                                                                        </a>
                                                                                        <%}%>
                                                                                            <%var sum=0,avg,cnt=doctor.reviews.length;%>
                                                                                                <%for(review of doctor.reviews){%>
                                                                                                    <%sum+=review.rating;%>
                                                                                                        <%}%>
                                                                                                            <%avg=sum/cnt;%>
                                                                                                                <div class="rating" style="margin-top: -15px;">
                                                                                                                    <%if(avg>=1){%>
                                                                                                                        <i class="fas fa-star filled"></i>
                                                                                                                        <%}else{%>
                                                                                                                            <i class="fas fa-star"></i>
                                                                                                                            <%}%>
                                                                                                                                <%if(avg>=2){%>
                                                                                                                                    <i class="fas fa-star filled"></i>
                                                                                                                                    <%}else{%>
                                                                                                                                        <i class="fas fa-star"></i>
                                                                                                                                        <%}%>
                                                                                                                                            <%if(avg>=3){%>
                                                                                                                                                <i class="fas fa-star filled"></i>
                                                                                                                                                <%}else{%>
                                                                                                                                                    <i class="fas fa-star"></i>
                                                                                                                                                    <%}%>
                                                                                                                                                        <%if(avg>=4){%>
                                                                                                                                                            <i class="fas fa-star filled"></i>
                                                                                                                                                            <%}else{%>
                                                                                                                                                                <i class="fas fa-star"></i>
                                                                                                                                                                <%}%>
                                                                                                                                                                    <%if(avg>=5){%>
                                                                                                                                                                        <i class="fas fa-star filled"></i>
                                                                                                                                                                        <%}else{%>
                                                                                                                                                                            <i class="fas fa-star"></i>
                                                                                                                                                                            <%}%>
                                                                                                                                                                                <span class="d-inline-block average-rating">(<%=doctor.reviews.length%>)</span>
                                                                                                                </div>


                                                        </div>
                                                    </div>
                                                    <div class="pro-content">
                                                        <div class="clinic-details">
                                                            <p><i class="fas fa-hospital"></i><span style="font-weight: 600;margin-left: 10px;"><%=doctor.clinicname%></span> &nbsp;<span style="font-size: 0.8rem;">  |   &nbsp; <%=doctor.clinicaddr%></span></p>

                                                        </div>


                                                        <ul class="available-info" style="margin-top: -8px;">
                                                            <li>
                                                                <i class="fas fa-map-marker-alt"></i>
                                                                <%=doctor.contacts.city%>
                                                                    <%=doctor.contacts.state%>
                                                            </li>
                                                            <%var a = new Date();%>
                                                                <li>
                                                                    <i class="far fa-clock"></i> Available Today :
                                                                    <%=a.toDateString()%>
                                                                </li>



                                                                <li>
                                                                    <i class="far fa-money-bill-alt"></i> Rs
                                                                    <%=doctor.booking_fee%><i class="fas fa-info-circle ml-2" data-toggle="tooltip"></i>
                                                                </li>


                                                        </ul>
                                                        <div class="row row-sm">
                                                            <div class="col-6">
                                                                <a href="doctor-profile/?id=<%=doctor._id%>" class="btn view-btn">View Profile</a>
                                                            </div>
                                                            <div class="col-6">
                                                                <a href="/booking/?id=<%=doctor._id%>" class="btn book-btn">Book Now</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="doctor-widget pb-4 mb-2 pt-2 lscreen" style="border-bottom: 1px solid lightgrey;">
                                                <div class="doc-info-left">
                                                    <div class="doctor-img">
                                                        <a href="doctor-profile/?id=<%=doctor._id%>">
                                                <img src="<%=doctor.avatar%>" class="img-fluid"  style="width: 100%;height: 100%;"onerror='this.src="/img/profile.png"' alt="User Image">
                                            </a>
                                                    </div>
                                                    <div class="doc-info-cont">
                                                        <div id="depinline" style="display: inline-flex;">
                                                            <div style="margin-right: 40px;">
                                                                <h4 class="doc-name">
                                                                    <a href="doctor-profile/?id=<%=doctor._id%>">
                                                                        <%=doctor.name%>
                                                                    </a>
                                                                </h4>
                                                                <p class="doc-speciality">
                                                                    <%=doctor.department%>

                                                                </p>
                                                            </div>
                                                            <div>
                                                                <p class="doc-department">
                                                                    <% if(doctor.department== "General Physician"){ %>

                                                                        <img src="/img/specialities/physical.jfif" class="img-fluid" alt="Speciality">
                                                                        <% } %>

                                                                            <% if(doctor.department== "Ophthalmology"){ %>

                                                                                <img src="/img/specialities/eye.png" class="img-fluid" alt="Speciality">
                                                                                <% } %>
                                                                                    <% if(doctor.department== "Dermatology"){ %>

                                                                                        <img src="/img/specialities/hair.jpg" class="img-fluid" alt="Speciality">
                                                                                        <% } %>
                                                                                            <% if(doctor.department== "Paediatrics"){ %>

                                                                                                <img src="/img/specialities/child.jpg" class="img-fluid" alt="Speciality">
                                                                                                <% } %>
                                                                                                    <% if(doctor.department== "Urology"){ %>

                                                                                                        <img src="/img/specialities/brain.png" class="img-fluid" alt="Speciality">
                                                                                                        <% } %>
                                                                                                            <% if(doctor.department== "Neurology"){ %>

                                                                                                                <img src="/img/specialities/specialities-03.png" class="img-fluid" alt="Speciality">
                                                                                                                <% } %>
                                                                                                                    <% if(doctor.department== "Orthopedic"){ %>

                                                                                                                        <img src="/img/specialities/specialities.png" class="img-fluid" alt="Speciality">
                                                                                                                        <% } %>
                                                                                                                            <% if(doctor.department== "Cardiologist"){ %>

                                                                                                                                <img src="/img/specialities/heart.jpg" class="img-fluid" alt="Speciality">
                                                                                                                                <% } %>
                                                                                                                                    <% if(doctor.department== "Dentist"){ %>

                                                                                                                                        <img src="/img/specialities/teeth.png" class="img-fluid" alt="Speciality">
                                                                                                                                        <% } %>
                                                                                                                                            <%=doctor.department%>

                                                                </p>
                                                                <%var sum=0,avg,cnt=doctor.reviews.length;%>
                                                                    <%for(review of doctor.reviews){%>
                                                                        <%sum+=review.rating;%>
                                                                            <%}%>
                                                                                <%avg=sum/cnt;%>
                                                                                    <div class="rating">
                                                                                        <%if(avg>=1){%>
                                                                                            <i class="fas fa-star filled"></i>
                                                                                            <%}else{%>
                                                                                                <i class="fas fa-star"></i>
                                                                                                <%}%>
                                                                                                    <%if(avg>=2){%>
                                                                                                        <i class="fas fa-star filled"></i>
                                                                                                        <%}else{%>
                                                                                                            <i class="fas fa-star"></i>
                                                                                                            <%}%>
                                                                                                                <%if(avg>=3){%>
                                                                                                                    <i class="fas fa-star filled"></i>
                                                                                                                    <%}else{%>
                                                                                                                        <i class="fas fa-star"></i>
                                                                                                                        <%}%>
                                                                                                                            <%if(avg>=4){%>
                                                                                                                                <i class="fas fa-star filled"></i>
                                                                                                                                <%}else{%>
                                                                                                                                    <i class="fas fa-star"></i>
                                                                                                                                    <%}%>
                                                                                                                                        <%if(avg>=5){%>
                                                                                                                                            <i class="fas fa-star filled"></i>
                                                                                                                                            <%}else{%>
                                                                                                                                                <i class="fas fa-star"></i>
                                                                                                                                                <%}%>
                                                                                                                                                    <span class="d-inline-block average-rating">(<%=doctor.reviews.length%>)</span>
                                                                                    </div>

                                                            </div>
                                                        </div>
                                                        <div class="clinic-details">
                                                            <!-- <p class="doc-location"><i class="fas fa-map-marker-alt"></i>
                                                        <%=doctor.contacts.city%>
                                                            <%=doctor.contacts.country%>
                                                    </p> -->

                                                            <ul class="clinic-gallery" style="margin-top: 15px;">
                                                                <%for(doctorsclinic of doctor.clinicphoto){%>
                                                                    <li>
                                                                        <a href="<%=doctorsclinic%>" data-fancybox="gallery">
                                                                    <img src="<%=doctorsclinic%> " alt="Feature" height="50px">
                                                                </a>
                                                                    </li>
                                                                    <%}%>


                                                            </ul>
                                                        </div>
                                                        <%if(doctor.services){%>
                                                            <div class="clinic-services">
                                                                <%var service = doctor.services.toString().split(',')%>
                                                                    <%for(temp of service){%>
                                                                        <span><%=temp%></span>
                                                                        <%}%>

                                                            </div>
                                                            <%}%>
                                                    </div>
                                                </div>
                                                <div class="doc-info-right">
                                                    <div class="clini-infos">

                                                        <ul>
                                                            <li><i class="fas fa-map-marker-alt"></i>
                                                                <%=doctor.contacts.city%>&nbsp;&nbsp;
                                                                    <%=doctor.contacts.state%>
                                                            </li>
                                                            <li><i class="far fa-money-bill-alt"></i>RS
                                                                <%=doctor.booking_fee%>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="doctor-action clinic-booking">
                                                        <%var flag = false;%>
                                                            <%if(locals.user){%>
                                                                <%for(fav of locals.user.favourites){
                                                        
                                                       
                                                    if(fav.toString() == doctor._id)flag = true;%>

                                                                    <%}%>
                                                                        <%}%>

                                                                            <%if(flag){%>
                                                                                <a href="/user/add-favourite/?id=<%=doctor._id%>" class="btn btn-white fav-btn" style="background-color: red;width:18% !important;height:50px;margin-top: 15px;border: none;">
                                                                                    <i class="far fa-bookmark" style="color:white;"></i>
                                                                                </a>
                                                                                <%}else{%>
                                                                                    <a href="/user/add-favourite/?id=<%=doctor._id%>" style="width:18%;height:50px;margin-top: 15px;" class="btn btn-white fav-btn">
                                                                                        <i class="far fa-bookmark"></i>
                                                                                    </a>
                                                                                    <%}%>
                                                                                        <a class="view-pro-btn" href="doctor-profile/?id=<%=doctor._id%>" style="width:78%;">View Profile</a>
                                                                                        <!-- <a href="/chat" class="btn btn-white msg-btn">
                                                                                    <i class="far fa-comment-alt"></i>
                                                                                </a>
                                                                                <a href="javascript:void(0)" class="btn btn-white call-btn" data-toggle="modal" data-target="#voice_call">
                                                                                    <i class="fas fa-phone"></i>
                                                                                </a>
                                                                                <a href="javascript:void(0)" class="btn btn-white call-btn" data-toggle="modal" data-target="#video_call">
                                                                                    <i class="fas fa-video"></i>
                                                                                </a> -->
                                                    </div>
                                                    <div class="clinic-booking">
                                                        <!-- <a class="view-pro-btn" href="doctor-profile/?id=<%=doctor._id%>">View Profile</a> -->
                                                        <a class="apt-btn" href="/booking/?id=<%=doctor._id%>">Book Appointment</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}%>
                                                <%}%>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
            <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Select2 JS -->
    <script src="/plugins/select2/js/select2.min.js"></script>

    <!-- Datetimepicker JS -->
    <script src="/js/moment.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Fancybox JS -->
    <script src="/plugins/fancybox/jquery.fancybox.min.js"></script>

    <!-- Custom JS -->
    <script src="/js/script.js"></script>
    <script>
        var filter = document.getElementById('filter');
        var fbox = document.getElementById('filter_box');
        var close_btn = document.getElementById('close_btn');
        close_btn.addEventListener('click', function() {
            fbox.classList.add('displayNone');
        })
        filter.addEventListener('click', function(e) {
            e.preventDefault();
            fbox.classList.remove('displayNone');
            //     var count = 0;
            //    setInterval(function(){
            //        if(count<=-540)
            //        {
            //            return;
            //        }
            //        fbox.style.transform = `translateY(${count}px)`;
            //        count-=3;
            //    },1)



        })
    </script>

</body>

<!-- AarogyaHub/search  30 Nov 2019 04:12:16 GMT -->

</html>