<!DOCTYPE html>
<html lang="en">

<!-- AarogyaHub/doctor-dashboard  30 Nov 2019 04:12:03 GMT -->
<head>
    <link rel="stylesheet" href="<%=assetPath('css/bootstrap.min.css')%>">
    <link rel="stylesheet" href="<%=assetPath('css/bootstrap-datetimepicker.min.css')%>">

	<link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/fontawesome.min.css')%>">
    <link rel="stylesheet" href="<%=assetPath('plugins/fontawesome/css/all.min.css')%>">
    
	<link rel="stylesheet" href="<%=assetPath('css/style1.css')%>">
	<link rel="stylesheet" href="<%=assetPath('css/style.css')%>">
</head>


<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->

        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar" style="padding: 10px 0px !important;margin-top: 20px;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12 position-relative" style="margin-bottom: 15px;">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            </ol>
                        </nav>
                         <nav aria-label="breadcrumb" class="page-breadcrumb position-absolute" style="right:3% !important;top:20px;">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/staff-login" style="padding:8px;background-color:white;color:black;border-radius:5px;border:1px solid grey;font-size:1rem;">Add Doctor</a></li>
                               
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Dashboard</h2>
                    </div>

                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-3 col-lg-3 col-xl-3 theiaStickySidebar ">

                        <!-- Profile Sidebar -->
                        <h2 class="text-center">Our Doctors</h2>
                        <div class="profile-sidebar">
                          
                            <div class="dashboard-widget lscreen">
                             
                                <nav class="dashboard-menu">
                                    <ul>
                                        <%if(locals.user.doctorids.length == 0){%>
                                            <li>
                                                <a href="/doctor-dashboard">
                                                    <i class="fas fa-user-md"></i>
                                                    <span>Dr. <%=allpatients.doctorid.name%></span>
                                                </a>
                                            </li>
                                            <%}else{%>
                                                <%var i=0;%>
                                             <%for(pat of allpatients.doctorids){%>
                                        <li style="display: inline-flex;position: relative;width:100%;">
                                            <a href="/staff-dashboard/?id=<%=pat.doctorid._id %>">
                                                <i class="fas fa-user-md"></i>
                                                <span>Dr. <%=pat.doctorid.name%></span>
                                            </a>
                                            <a href="#popup<%=i%>" style="margin-top: 10px;position: absolute;right:10px;" class="btn btn-icon btn-danger btn-sm"><i class="far fa-trash-alt" style="color:white !important;margin-top: -10px;margin-left: -8px;"></i></a>
                                            <div id='popup<%=i%>' class="overlay">
                                                <div class="popup">
                                                    <form action="/user/remove-doctor" id="form<%=i%>" method="POST">
                                                        <div class="col-12 col-md-12" style="margin-left: -15px;margin-top:20px;margin-bottom: 20px;">
                                                            <div class="form-group">
                                                                <label style="color: rgb(138, 138, 138);">Do you really want to remove the doctor?</label></br>

                                                                <input type="hidden" name="did" value="<%=pat.doctorid._id%>">
                                                                <input type="hidden" name="id" value="<%=pat._id%>">
                                                                <input type="radio" name="flag" value="yes" style="margin-right: 10px;">Yes</br>
                                                                <input type="radio" name="flag" value="no" style="margin-right: 10px;">No
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-primary btn-block btn-lg login-btn" type="submit" id="form-btns">Continue</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </li>
                                        <%i++;%>
                                        <%}%>  
                                        
                                        <%}%>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- /Profile Sidebar -->

                    </div>

                    <div class="col-md-9 col-lg-9 col-xl-9 position-relative">
                        <%if(locals.user.doctorids.length>0){%>
                            <div class="col-md-12" style="width:100%;">
                                <div class="card">
                                            <div class="card-body">
                                                <div class="booking-doc-info">
                                                    <a href="/doctor-profile/?id=<%=user1._id%>" class="booking-doc-img">
            <img src="<%=user1.avatar%>" alt="User Image">
            </a>
                                                    <div class="booking-info">
                                                        <h4>
                                                            <a href="/doctor-profile/?id=<%=user1._id%>">
                                                                <%=user1.name%>
                                                            </a>
                                                        </h4>
                                                        <p class="doc-department">
                                                            <% if(user1.department== "General Physician"){ %>
                                                                <img src="<%=assetPath('img/specialities/physical.jfif')%>" class="img-fluid" alt="Speciality">
                                                                <% } %>
            
                                                                    <% if(user1.department== "Ophthalmology"){ %>
                                                                        <img src="<%=assetPath('img/specialities/eye.png')%>" class="img-fluid" alt="Speciality">
                                                                        <% } %>
                                                                            <% if(user1.department== "Dermatology"){ %>
                                                                                <img src="<%=assetPath('img/specialities/hair.jpg')%>" class="img-fluid" alt="Speciality">
                                                                                <% } %>
                                                                                    <% if(user1.department== "Paediatrics"){ %>
                                                                                        <img src="<%=assetPath('img/specialities/child.jpg')%>" class="img-fluid" alt="Speciality">
                                                                                        <% } %>
                                                                                            <% if(user1.department== "Urology"){ %>
                                                                                                <img src="<%=assetPath('img/specialities/brain.png')%>" class="img-fluid" alt="Speciality">
                                                                                                <% } %>
                                                                                                    <% if(user1.department== "Neurology"){ %>
                                                                                                        <img src="<%=assetPath('img/specialities/specialities-03.png')%>" class="img-fluid" alt="Speciality">
                                                                                                        <% } %>
                                                                                                        <% if(user1.department== "Orthopedic"){ %>
            
                                                                                                            <img src="<%=assetPath('img/specialities/bone.jpg')%>" class="img-fluid" alt="Speciality">
                                                                                                            <% } %>
                                                                                                            <% if(user1.department== "Gynaecology"){ %>
                                                                                                        
                                                                                                                <img src="<%=assetPath('img/specialities/pregnacy.jpg')%>" class="img-fluid" alt="Speciality">
                                                                                                                <% } %>
                                                                                                                    <% if(user1.department== "Cardiologist"){ %>
                                                                                                                        <img src="<%=assetPath('img/specialities/heart.jpg')%>" class="img-fluid" alt="Speciality">
                                                                                                                        <% } %>
                                                                                                                            <% if(user1.department== "Dentist"){ %>
                                                                                                                                <img src="<%=assetPath('img/specialities/teeth.png')%>" class="img-fluid" alt="Speciality">
                                                                                                                                <% } %>
                                                                                                                                    <%=user1.department%>
            
                                                        </p>
                                                        <div class="rating">
                                                            <i class="fas fa-star filled"></i>
                                                            <i class="fas fa-star filled"></i>
                                                            <i class="fas fa-star filled"></i>
                                                            <i class="fas fa-star filled"></i>
                                                            <i class="fas fa-star"></i>
                                                            <span class="d-inline-block average-rating">35</span>
                                                        </div>
                                                        <p class="text-muted mb-0"><i class="far fa-money-bill-alt"></i>&nbsp;&nbsp; RS
                                                            <%=user1.booking_fee%>
                                                        </p>
            
            
                                                        <p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i>
                                                            <%=user1.contacts.city%>&nbsp;
                                                                <%=user1.contacts.state%>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        <%}%>
                        <%if(locals.user.doctorids.length>0){%>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card dash-card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-4">
                                                <div class="dash-widget dct-border-rht">
                                                    <%var counts=0;%>
                                                            <%for(let i1=0;i1<allpatients.booking.length;i1++){%>
                                                               
                                                                <%if(allpatients.booking[i1].did == user1.id){%>
                                                                    <%console.log(allpatients.booking[i1].did,user1.id)%>
                                                                    <%counts++%>
                                                                <%}%>
                                                                <%}%>
                                                    <div class="circle-bar circle-bar1">
                                                        <div class="circle-graph1" data-percent="<%=counts%>">
                                                            <img src="<%=assetPath('img/icon-01.png')%>" class="img-fluid" alt="patient">
                                                        </div>
                                                    </div>
                                                    <%var today = new Date();%>
                                                        <%var dd = String(today.getDate()).padStart(2, '0');
                                                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                    var yyyy = today.getFullYear();
                                                    var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                    var dayOfWeek = weekday[today.getDay()];
                                                    var n1  = dd +'-'+mm+'-'+yyyy%> %>
                                                            <%var count = 0;%>
                                                                <%for(patients of allpatients.booking){%>
                                                                    <%var today = patients.createdAt;%>
                                                                        <%var dd1 = String(today.getDate()).padStart(2, '0');
                                                        var mm1 = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                        var yyyy1 = today.getFullYear();
                                                        var weekday1 = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                        var dayOfWeek1 = weekday[today.getDay()];
                                                        var n2 = dd1 +'-'+mm1+'-'+yyyy1%>
                                                                            <%if(n1 == n2 && patients.did == user1.id){%>

                                                                                <%count++;%>
                                                                                    <%}%>

                                                                                        <%}%>
                                                                                            <div class="dash-widget-info">
                                                                                                <h6>Total Patient</h6>
                                                                                                <h3>
                                                                                                    <%=counts%>
                                                                                                </h3>
                                                                                                <p class="text-muted">Till Today</p>
                                                                                            </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-lg-4">
                                                <div class="dash-widget dct-border-rht">
                                                    <div class="circle-bar circle-bar2">
                                                        <div class="circle-graph2" data-percent="<%=count%>">
                                                            <img src="<%=assetPath('img/icon-02.png')%>" class="img-fluid" alt="Patient">
                                                        </div>
                                                    </div>
                                                    <div class="dash-widget-info">
                                                        <h6>Today Patient</h6>
                                                        <h3>
                                                            <%=count%>
                                                        </h3>
                                                        <p class="text-muted">
                                                            <%=dd%>-
                                                                <%=mm%>-
                                                                    <%=yyyy%>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-lg-4">
                                                <div class="dash-widget">
                                                    <div class="circle-bar circle-bar3">
                                                        <div class="circle-graph3" data-percent="<%=allpatients.booking.length%>">
                                                            <img src="<%=assetPath('img/icon-03.png')%>" class="img-fluid" alt="Patient">
                                                        </div>
                                                    </div>
                                                    <div class="dash-widget-info">
                                                        <h6>Appointments</h6>
                                                        <h3>
                                                            <%=counts%>
                                                        </h3>
                                                        <p class="text-muted">
                                                            <%=dd%>-
                                                                <%=mm%>-
                                                                    <%=yyyy%>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}else{%>
                          <div class="row">
                            <div class="col-md-12">
                                <div class="card dash-card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-4">
                                                <div class="dash-widget dct-border-rht">
                                                    <div class="circle-bar circle-bar1">
                                                        <div class="circle-graph1" data-percent="<%=allpatients.booking.length%>">
                                                            <img src="<%=assetPath('img/icon-01.png')%>" class="img-fluid" alt="patient">
                                                        </div>
                                                    </div>
                                                    <%var today = new Date();%>
                                                        <%var dd = String(today.getDate()).padStart(2, '0');
                                                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                    var yyyy = today.getFullYear();
                                                    var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                    var dayOfWeek = weekday[today.getDay()];
                                                    var n1  = dd +'-'+mm+'-'+yyyy%> %>
                                                            <%var count = 0;%>
                                                                <%for(patients of allpatients.booking){%>
                                                                    <%var today = patients.createdAt;%>
                                                                        <%var dd1 = String(today.getDate()).padStart(2, '0');
                                                        var mm1 = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                        var yyyy1 = today.getFullYear();
                                                        var weekday1 = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
                                                        var dayOfWeek1 = weekday[today.getDay()];
                                                        var n2 = dd1 +'-'+mm1+'-'+yyyy1%>
                                                                            <%if(n1 == n2){%>

                                                                                <%count++;%>
                                                                                    <%}%>

                                                                                        <%}%>
                                                                                            <div class="dash-widget-info">
                                                                                                <h6>Total Patient</h6>
                                                                                                <h3>
                                                                                                    <%=allpatients.booking.length%>
                                                                                                </h3>
                                                                                                <p class="text-muted">Till Today</p>
                                                                                            </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-lg-4">
                                                <div class="dash-widget dct-border-rht">
                                                    <div class="circle-bar circle-bar2">
                                                        <div class="circle-graph2" data-percent="<%=count%>">
                                                            <img src="<%=assetPath('img/icon-02.png')%>" class="img-fluid" alt="Patient">
                                                        </div>
                                                    </div>
                                                    <div class="dash-widget-info">
                                                        <h6>Today Patient</h6>
                                                        <h3>
                                                            <%=count%>
                                                        </h3>
                                                        <p class="text-muted">
                                                            <%=dd%>-
                                                                <%=mm%>-
                                                                    <%=yyyy%>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-lg-4">
                                                <div class="dash-widget">
                                                    <div class="circle-bar circle-bar3">
                                                        <div class="circle-graph3" data-percent="<%=allpatients.booking.length%>">
                                                            <img src="<%=assetPath('img/icon-03.png')%>" class="img-fluid" alt="Patient">
                                                        </div>
                                                    </div>
                                                    <div class="dash-widget-info">
                                                        <h6>Appointments</h6>
                                                        <h3>
                                                            <%=allpatients.booking.length%>
                                                        </h3>
                                                        <p class="text-muted">
                                                            <%=dd%>-
                                                                <%=mm%>-
                                                                    <%=yyyy%>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <%}%>

                       

                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="mb-4">Patient Appoinment</h4>
                                <div class="col-12 col-md-12">
                                    <form action="/user/sort-by-date/?id=<%=user1._id%>" method="POST">
                                        <div class="form-group" style="display: inline-flex;width: 100%;">
                                            <label class="mslabel" style="font-size: 1.1rem;margin-top: 8px;font-weight: bold;">Sort By Date</label>
                                            <div class="cal-icon col-md-3" style="padding-right: 15px;">
                                                <input type="text" placeholder="<%=date%>" name="date" class="form-control datetimepicker">

                                            </div>
                                            <button type="submit" class="btn btn-primary submit-btn msbtn">Sort</button>


                                        </div>
                                    </form>
                                </div>

                                <div class="appointment-tab">

                                    <!-- Appointment Tab -->

                                    <!-- /Appointment Tab -->
                                    <%if(allpatients.booking == ''){%>
                                        <h2 class="text-center" style="margin-top: 100px;"><span style="margin-right: 20px;"><i class="fas fa-folder-open"></i></span><span>No Appointment Available !</span></h2>
                                        <%}else{%>
                                            <div class="tab-content">
                                                <div class="tab-pane show active" id="upcoming-appointments">
                                                    <div class="card card-table mb-0">
                                                        <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-hover table-center mb-0 stable">
                                                                    <thead class="sthead">
                                                                        <tr class="str">
                                                                            <th class="sth">Patient Name</th>
                                                                            <th class="sth">Patient Phone</th>
                                                                            <th class="sth">Patient Address</th>
                                                                            <th class="sth">Appt Date</th>
                                                                            <th class="sth">Booking Date</th>
                                                                           
                                                                            <th class="text-center sth">Status</th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody class="stbody">
                                                                        <%var c=0,z=0;%>
                                                                            <%var date;%>
                                                                                <%for(patients of allpatients.booking){%>
                                                                                    <%if(date != undefined){%>
                                                                                        <%console.log(date)%>
                                                                                        <%if(date != patients.date || patients.did != user1.id){%>
                                                                                            <%console.log(date, patients.date)%>
                                                                                            <%z++;continue;%>
                                                                                                <%}%>
                                                                                               
                                                                                                    <%}else{%>
                                                                                                        <%if(patients.did != user1.id){%>
                                                                                                            <%z++;continue;%>
                                                                                                        <%}%>
                                                                                                       
                                                                                                        <%}%>
                                                                                                        <%console.log(patients.did, user1.id)%>
                                                                                                        <tr class="str">
                                                                                                            <td class="std1">
                                                                                                                <h2 class="table-avatar">



                                                                                                                    <a href="#">
                                                                                                                        <%=patients.name%> <span>#PT00<%=++c%></span></a>
                                                                                                                </h2>
                                                                                                            </td>
                                                                                                            <td class="std1">
                                                                                                                <%=patients.phone%>
                                                                                                            </td>
                                                                                                            <td class="std1">
                                                                                                                <%=patients.address%>
                                                                                                            </td>
                                                                                                            <td class="std1">
                                                                                                                <%=patients.date%><span class="d-block text-info"><%=patients.time%></span></td>
                                                                                                                <td class="std1">
                                                                                                                    <%=patients.createdAt.toDateString()%></td>



                                                                                                            


                                                                                                            <%if(patients.cancel == true){%>
                                                                                                                <td class="std1"><span class="badge badge-pill bg-danger-light">Cancelled</span></td>
                                                                                                                <%}else{%>
                                                                                                                    <td class="std1"><span class="badge badge-pill bg-success-light">Confirm</span></td>
                                                                                                                    <%}%>



                                                                                                        </tr>
                                                                                                        <%}%>

                                                                    </tbody>


                                                                </table>
                                                                <%if(z==allpatients.booking.length){%>
                                                                    <h2 style="margin-top: 50px;margin-bottom: 50px;text-align: center;">No patients visited on this date.</h2>
                                                                    <%}%>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <%}%>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
            <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="<%=assetPath('js/jquery.min.js')%>"></script>
    <script src="<%=assetPath('js/popper.min.js')%>"></script>

    <script src="<%=assetPath('js/bootstrap.min.js')%>"></script>
   
    
    <script src="<%=assetPath('plugins/theia-sticky-sidebar/ResizeSensor.js')%>"></script>
    <script src="<%=assetPath('plugins/theia-sticky-sidebar/theia-sticky-sidebar.js')%>"></script>
    <script src="<%=assetPath('js/moment.min.js')%>"></script>
    <script src="<%=assetPath('js/bootstrap-datetimepicker.min.js')%>"></script>
    <script src="<%=assetPath('js/circle-progress.min.js')%>"></script>

    <script src="<%=assetPath('js/script.js')%>"></script>  
</body>

<!-- AarogyaHub/doctor-dashboard  30 Nov 2019 04:12:09 GMT -->

</html>