<!DOCTYPE html>
<html lang="en">

<!-- AarogyaHub/profile-settings  30 Nov 2019 04:12:18 GMT -->

<head>
   
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
        <![endif]-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->

        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar setting-bread" style="margin-top: 20px;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Profile Settings</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Profile Settings</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <!-- Profile Sidebar -->

                    <!-- /Profile Sidebar -->

                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="card">
                            <div class="card-body">


                                <form action="/user/profile/update" id="edit_form" method="POST" enctype="multipart/form-data">
                                    <div class="row form-row">
                                        <div class="col-12 col-md-12">
                                            <div class="form-group">
                                                <div class="change-avatar">
                                                    <div class="profile-img">
                                                        <img src="<%=locals.user.avatar%>" alt="User Image" onerror='this.src="<%=assetPath('img/profile.png')%>"'>
                                                    </div>
                                                    <div class="upload-img">
                                                        <div class="change-photo-btn">
                                                            <span><i class="fa fa-upload"></i> Upload Photo</span>
                                                            <input type="file" class="upload" id="imageUpload" name="avatar">
                                                        </div>
                                                        <small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label> Name</label>
                                                <input type="text" placeholder="Enter Your Name" name="name" class="form-control" value="<%=locals.user.name%>">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label>Gender</label>
                                                <select name="gender" class="form-control select">
                                                    <%if(locals.user.gender == 'Male '){%><option selected>Male</option><%}else{%>
                                                    <option>Male</option><%}%>
                                                    <%if(locals.user.gender == 'Female '){%><option selected>Female</option><%}else{%>
                                                    <option>Female</option><%}%>
                                                    <%if(locals.user.gender == 'Others '){%><option selected>Others</option><%}else{%>
                                                    <option>Others</option><%}%>
													</select>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label>Date of Birth</label>
                                                <div class="cal-icon">
                                                    <input type="text" placeholder="Enter Your Date of Birth" name="dob" class="form-control datetimepicker" value="<%=locals.user.dob%>">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label>Blood Group</label>
                                                <select name="bloodgroup" class="form-control select">
                                                        <%if(locals.user.bloodgroup == 'A-'){%><option selected>A-</option><%}else{%>
                                                        <option>A-</option><%}%>
                                                        <%if(locals.user.bloodgroup == 'A+'){%><option selected>A+</option><%}else{%>
                                                        <option>A+</option><%}%>
                                                        <%if(locals.user.bloodgroup == 'B-'){%><option selected>B-</option><%}else{%>
                                                        <option>B-</option><%}%>
                                                        <%if(locals.user.bloodgroup == 'B-'){%><option selected>B-</option><%}else{%>
                                                        <option>B-</option><%}%>
                                                        <%if(locals.user.bloodgroup == 'AB-'){%><option selected>AB-</option><%}else{%>
                                                        <option>AB-</option><%}%>
                                                        <%if(locals.user.bloodgroup == 'AB+'){%><option selected>AB+</option><%}else{%>
                                                        <option>AB+</option><%}%>
                                                        <%if(locals.user.bloodgroup == 'O-'){%><option selected>O-</option><%}else{%>
                                                        <option>O-</option><%}%>
                                                        <%if(locals.user.bloodgroup == 'O+'){%><option selected>O+</option><%}else{%>
                                                        <option>O+</option><%}%>
													</select>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label>Mobile</label>
                                                <input type="Number" placeholder="Enter your Mobile Number" name="phone" value="<%=locals.user.phone%>" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" class="form-control" name="address" placeholder="Enter your Addresss" value="<%=locals.user.contacts.address%>">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control" name="city" placeholder="Enter your City" value="<%=locals.user.contacts.city%>">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label>State</label>
                                                <input type="text" class="form-control" name="state" placeholder="Enter your State" value="<%=locals.user.contacts.state%>">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label>Pin Code</label>
                                                <input type="text" class="form-control" name="pincode" placeholder="Enter your Pin code" value="<%=locals.user.contacts.pincode%>">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <input type="text" class="form-control" name="country" placeholder="Enter your Country" value="<%=locals.user.contacts.country%>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="submit-section">
                                        <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
            <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

 
    <script>
        document.getElementById("imageUpload").onchange = function() {
            document.getElementById("edit_form").submit();
        };
    </script>
    <script>
        <%if(flash.success && flash.success.length>0){%>
        new Noty({
            theme: 'metroui ',
            text: '<%=flash.success%>',
            type: 'success',
            layout: 'topRight',
            timeout: 3000
        }).show();
        <%}%>
        <%if(flash.error && flash.error.length>0){%>
        new Noty({
                    theme: 'metroui',
                    text: '
                    <%=flash.error%>
                    ', type: '
                    error ', layout: '
                    topRight ', timeout: 3000 }).show();
                    <%}%>
    </script>

</body>


</html>