<!DOCTYPE html>
<html lang="en">

<!-- doccure/doctor-change-password  30 Nov 2019 04:12:36 GMT -->

<head>
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->

        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index-2">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Change Password</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                        <!-- Profile Sidebar -->
                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content">
                                <div class="profile-info-widget">
                                    <a href="#" class="booking-doc-img">
                                        <img src="<%=locals.user.avatar%>" onerror='this.src="/img/profile.png"'  alt="User Image">
                                    </a>
                                    <div class="profile-det-info">
                                        <h3>
                                            <%=locals.user.name%>
                                        </h3>

                                        <div class="patient-details">
                                            <h5 class="mb-0">
                                                <%=locals.user.department%>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-widget">
                                <nav class="dashboard-menu">
                                    <ul>
                                        <li>
                                            <a href="/doctor-dashboard">
                                                <i class="fas fa-columns"></i>
                                                <span>Dashboard</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/doctor-profile-settings">
                                                <i class="fas fa-columns"></i>
                                                <span>Profile Information</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/upload-documents">
                                                <i class="fas fa-file"></i>
                                                <span>Upload Documents</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/schedule-timings">
                                                <i class="fas fa-hourglass-start"></i>
                                                <span>Schedule Timings</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/bank-details">
                                                <i class="fas fa-university"></i>
                                                <span>Add Bank Account</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/preview-profile">
                                                <i class="fas fa-id-badge"></i>
                                                <span>Preview profile</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/doctor-terms-and-condition">
                                                <i class="fas fa-id-card"></i>
                                                <span>Terms and Conditions</span>
                                            </a>
                                        </li>








                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- /Profile Sidebar -->

                    </div>

                    <div class="col-md-7 col-lg-8 col-xl-9">
                        <%if(!locals.user.idproof){%>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Note!</strong> Please verify your documents to start your <a href="#" class="alert-link">online booking appointment services.</a>.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <%}%>
                                <%if(locals.user.idproof && locals.user.degreephoto){%>
                                    <%if(locals.user.approve == true){%>
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <strong>Note!</strong> Your document is <a href="#" class="alert-link">verifed.</a>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <%}else{%>
                                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                                <strong>Note!</strong> Your document will be soon <a href="#" class="alert-link">verifed.</a>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>

                                            <%}%>

                                                <%}%>
                                                    <form action="/user/upload-id" method="POST" enctype="multipart/form-data" id="edit_form">
                                                        <!-- Basic Information -->
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <h4 class="card-title">Verify Identity Proof</h4>
                                                                <div class="row form-row">
                                                                    <div class="col-sm-12 col-md-6">
                                                                        <div class="form-group">
                                                                            <label>Identity Proof</label>
                                                                            <select name="idproofname" class="form-control">
                                                    <%if(locals.user.idproofname == 'Aadhaar card'){%><option selected>Aadhaar card</option><%}else{%>
                                                    <option>Aadhaar card</option><%}%>
                                                    <%if(locals.user.idproofname == 'PAN card'){%><option selected>PAN card</option><%}else{%>
                                                    <option>PAN card</option><%}%>
                                                    <%if(locals.user.idproofname == 'Driving license'){%><option selected>Driving license</option><%}else{%>
                                                    <option>Driving license</option><%}%>
                                                    <%if(locals.user.idproofname == 'Birth certificate'){%><option selected>Birth certificate</option><%}else{%>
                                                    <option>Birth certificate</option><%}%>
                                                    <%if(locals.user.idproofname == 'Transfer/School leaving/Matriculation Certificate'){%><option selected>Transfer/School leaving/Matriculation Certificate</option><%}else{%>
                                                    <option>Transfer/School leaving/Matriculation Certificate</option><%}%>
                                                    <%if(locals.user.idproofname == 'Ration card'){%><option selected>Ration card</option><%}else{%>
                                                    <option>Ration card</option><%}%>
                                                    <%if(locals.user.idproofname == 'Indian passport'){%><option selected>Indian passport</option><%}else{%>
                                                    <option>Indian passport</option><%}%>
                                                    </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4 ml-lg-5">
                                                                        <div class="form-group">
                                                                            <div class="change-avatar">
                                                                                <div class="profile-img">
                                                                                    <img src="<%=locals.user.idproof%>" onerror="src='/img/features/feature-06.jpg'" alt="User Image">
                                                                                </div>
                                                                                <div class="upload-img">
                                                                                    <div class="change-photo-btn">
                                                                                        <span><i class="fa fa-upload"></i> Upload Photo</span>
                                                                                        <input type="file" class="upload" name="avatar" id="imageUpload">
                                                                                    </div>
                                                                                    <small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </form>
                                                    <form action="/user/upload-degree" method="POST" enctype="multipart/form-data" id="edit_form1">
                                                        <div class="card">
                                                            <div class="card-body">

                                                                <h4 class="card-title">Verify Educational Degree</h4>
                                                                <h4 class="card-title"></h4>
                                                                <div class="row form-row">
                                                                    <div class="col-sm-12 col-md-6">
                                                                        <div class="form-group">
                                                                            <label>Degree</label>
                                                                            <select name="degreeproof" class="form-control">
                                                    <%if(locals.user.degreeproof == 'MBBS – Bachelor of Medicine, Bachelor of Surgery'){%><option selected>MBBS – Bachelor of Medicine, Bachelor of Surgery</option><%}else{%>
                                                    <option>MBBS – Bachelor of Medicine, Bachelor of Surgery</option><%}%>
                                                    <%if(locals.user.degreeproof == 'BDS – Bachelor of Dental Surgery'){%><option selected>BDS – Bachelor of Dental Surgery</option><%}else{%>
                                                    <option>BDS – Bachelor of Dental Surgery</option><%}%>
                                                    <%if(locals.user.degreeproof == 'BAMS – Bachelor of Ayurvedic Medicine and Surgery'){%><option selected>BAMS – Bachelor of Ayurvedic Medicine and Surgery</option><%}else{%>
                                                    <option>BAMS – Bachelor of Ayurvedic Medicine and Surgery</option><%}%>
                                                    <%if(locals.user.degreeproof == 'BUMS – Bachelor of Unani Medicine and Surgery'){%><option selected>BUMS – Bachelor of Unani Medicine and Surgery</option><%}else{%>
                                                    <option>BUMS – Bachelor of Unani Medicine and Surgery</option><%}%>
                                                    <%if(locals.user.degreeproof == 'BHMS – Bachelor of Homeopathy Medicine and Surgery'){%><option selected>Bachelor of Homeopathy Medicine and Surgery</option><%}else{%>
                                                    <option>BHMS – Bachelor of Homeopathy Medicine and Surgery</option><%}%>
                                                    <%if(locals.user.degreeproof == 'BYNS- Bachelor of Yoga and Naturopathy Sciences'){%><option selected>BYNS- Bachelor of Yoga and Naturopathy Sciences</option><%}else{%>
                                                    <option>BYNS- Bachelor of Yoga and Naturopathy Sciences</option><%}%>
                                                    <%if(locals.user.degreeproof == 'B.V.Sc & AH- Bachelor of Veterinary Sciences and Animal Husbandry'){%><option selected>B.V.Sc & AH- Bachelor of Veterinary Sciences and Animal Husbandry</option><%}else{%>
                                                    <option>B.V.Sc & AH- Bachelor of Veterinary Sciences and Animal Husbandry</option><%}%>
                                                    </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4 ml-lg-5">
                                                                        <div class="form-group">
                                                                            <div class="change-avatar">
                                                                                <div class="profile-img">
                                                                                    <img src="<%=locals.user.degreephoto%>" onerror="src='/img/features/feature-06.jpg'" alt="User Image">
                                                                                </div>
                                                                                <div class="upload-img">
                                                                                    <div class="change-photo-btn">
                                                                                        <span><i class="fa fa-upload"></i> Upload Photo</span>
                                                                                        <input type="file" class="upload" name="avatar" id="imageUpload1">
                                                                                    </div>
                                                                                    <small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                    </div>
                </div>

            </div>
            <!-- /Page Content -->

            <!-- Footer -->
            <%-include('footer');%>
                <!-- /Footer -->

        </div>
        <!-- /Main Wrapper -->

    

        <script>
            document.getElementById("imageUpload").onchange = function() {
                document.getElementById("edit_form").submit();
            };
        </script>
        <script>
            document.getElementById("imageUpload1").onchange = function() {
                document.getElementById("edit_form1").submit();
            };
        </script>

        <script>
            <%if(flash.success && flash.success.length>0){%>
            new Noty({
                theme: 'metroui',
                text: '<%=flash.success%>',
                type: 'success',
                layout: 'topRight',
                timeout: 1500
            }).show();
            <%}%>
            <%if(flash.error && flash.error.length>0){%>
            new Noty({
                theme: 'metroui',
                text: '<%=flash.error%>',
                type: 'error',
                layout: 'topRight',
                timeout: 3000
            }).show();
            <%}%>
        </script>

</body>

<!-- doccure/doctor-change-password  30 Nov 2019 04:12:36 GMT -->

</html>