<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#f7f9fc">
    <tbody>
    <tr>
    <td height="30">&nbsp;</td>
    </tr>
    <tr>
    <td align="center">
    <table style="min-width: 500px; width: 500px;" border="0" width="500" cellspacing="0" cellpadding="0" bgcolor="#eeeeee">
    <tbody>
    <tr>
    <td bgcolor="#EEEEEE" width="4">&nbsp;</td>
    <td bgcolor="#EEEEEE" width="30" height="36"><img style="display: block;" src="/img/aalogo/.png" alt="" /></td>
    <td style="font-size: 16px; vertical-align: middle; color: #f9922b; padding-top: 2px; line-height: 20px;" align="left" bgcolor="#EEEEEE"><strong>Covid-19 Vaccine Registration Form</strong></td>
    </tr>
    </tbody>
    </table>
    <table style="min-width: 500px; width: 500px;" border="0" width="500" cellspacing="0" cellpadding="0" bgcolor="#eeeeee">
    <tbody>
    <tr>
    <td bgcolor="#EEEEEE" width="4">&nbsp;</td>
    <td align="center" bgcolor="#FFFFFF">
    <table id="emailFieldsTable" class="mceNonEditable" border="0" width="100%" cellspacing="0" cellpadding="5">
    <tbody id="emailFieldsTableBody">
    <tr id="row_3" class="questionRow">
    <td id="question_3" class="questionColumn" style="padding: 5px !important;" valign="top" bgcolor="white" width="170">Name</td>
    <td id="value_3" class="valueColumn" style="padding: 5px !important;" bgcolor="white"><%=name%></td>
    </tr>
    <tr id="row_13" class="questionRow">
    <td id="question_13" class="questionColumn" style="padding: 5px !important;" valign="top" bgcolor="#f3f3f3" width="170">Aadhar Number</td>
    <td id="value_13" class="valueColumn" style="padding: 5px !important;" bgcolor="#f3f3f3"><%=aadhar%></td>
    </tr>
    <tr id="row_8" class="questionRow">
    <td id="question_8" class="questionColumn" style="padding: 5px !important;" valign="top" bgcolor="white" width="170">Birth Date</td>
    <td id="value_8" class="valueColumn" style="padding: 5px !important;" bgcolor="white"><%=dob%></td>
    </tr>
    <tr id="row_9" class="questionRow">
    <td id="question_9" class="questionColumn" style="padding: 5px !important;" valign="top" bgcolor="#f3f3f3" width="170">Gender</td>
    <td id="value_9" class="valueColumn" style="padding: 5px !important;" bgcolor="#f3f3f3"><%=gender%></td>
    </tr>
    <tr id="row_4" class="questionRow">
    <td id="question_4" class="questionColumn" style="padding: 5px !important;" valign="top" bgcolor="white" width="170">Email</td>
    <td id="value_4" class="valueColumn" style="padding: 5px !important;" bgcolor="white"><%=email%></td>
    </tr>
    <tr id="row_5" class="questionRow">
    <td id="question_5" class="questionColumn" style="padding: 5px !important;" valign="top" bgcolor="#f3f3f3" width="170">Phone Number</td>
    <td id="value_5" class="valueColumn" style="padding: 5px !important;" bgcolor="#f3f3f3"><%=phone%></td>
    </tr>
    <tr id="row_6" class="questionRow">
    <td id="question_6" class="questionColumn" style="padding: 5px !important;" valign="top" bgcolor="white" width="170">Address</td>
    <td id="value_6" class="valueColumn" style="padding: 5px !important;" bgcolor="white"><%=address%></td>
    </tr>
    <tr id="row_15" class="questionRow">
    <td id="question_15" class="questionColumn" style="padding: 5px !important;" valign="top" bgcolor="#f3f3f3" width="170">Do you have any chronic health condition?</td>
    <td id="value_15" class="valueColumn" style="padding: 5px !important;" bgcolor="#f3f3f3"><%=chronic%></td>
    </tr>
    <tr id="row_16" class="questionRow">
    <td id="question_16" class="questionColumn" style="padding: 5px !important;" valign="top" bgcolor="white" width="170">Please list your current medication</td>
    <td id="value_16" class="valueColumn" style="padding: 5px !important;" bgcolor="white"><%=medication%></td>
    </tr>
   
    <tr id="row_19" class="questionRow">
    <td id="question_19" class="questionColumn" style="padding: 5px !important;" valign="top" bgcolor="white" width="170">Please check the symptoms that apply</td>
    <td id="value_19" class="valueColumn" style="padding: 5px !important;" bgcolor="white"><%=symptoms%></td>
    </tr>
    <tr id="row_20" class="questionRow">
    <td id="question_20" class="questionColumn" style="padding: 5px !important;" valign="top" bgcolor="#f3f3f3" width="170">Have you been diagnosed with COVID-19?</td>
    <td id="value_20" class="valueColumn" style="padding: 5px !important;" bgcolor="#f3f3f3"><%=past%></td>
    </tr>
  
    </tbody>
    </table>
    </td>
    <td bgcolor="#EEEEEE" width="4">&nbsp;</td>
    </tr>
    <tr>
    <td style="font-size: 4px;" bgcolor="#EEEEEE" height="4">&nbsp;</td>
    <td style="font-size: 4px;" bgcolor="#EEEEEE">&nbsp;</td>
    <td style="font-size: 4px;" bgcolor="#EEEEEE">&nbsp;</td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    <tr>
    <td height="20">&nbsp;</td>
    </tr>
    <tr>
    <td align="center">
    </td>
    </tr>
    <tr>
    <td height="30">&nbsp;</td>
    </tr>
    </tbody>
    </table>